[Desktop Entry]
Name=Date Frames
Name[ca]=Marcs de data
Name[cs]=Rámce dat
Name[es]=Marcos de fecha
Name[nl]=Datumframes
Name[pt]=Molduras de Datas
Name[sv]=Datumramar
Name[uk]=Рамки дат
Name[x-test]=xxDate Framesxx
Comment=A frame theme based on Ruediger Bente's frame theme
Comment[ca]=Un tema de marcs basat en el tema de marcs del Ruediger Bente
Comment[cs]=Motiv rámce založený na motivu Ruediger Bente
Comment[es]=Un tema de marcos basado en el tema de Ruediger Bente
Comment[nl]=Een framethema gebaseerd op het framethema van Ruediger Bente'
Comment[pt]=Um tema de moldura baseado no tema de Ruediger Bente
Comment[sv]=Ett ramtema baserat på Ruediger Bentes ramtema.
Comment[uk]=Тема рамок на основі теми Ruediger Bente
Comment[x-test]=xxA frame theme based on Ruediger Bente's frame themexx

[X-HTMLExport Author]
Name=Elizabeth Marmorstein
Name[ca]=Elizabeth Marmorstein
Name[cs]=Elizabeth Marmorstein
Name[es]=Elizabeth Marmorstein
Name[nl]=Elizabeth Marmorstein
Name[pt]=Elizabeth Marmorstein
Name[sv]=Elizabeth Marmorstein
Name[uk]=Elizabeth Marmorstein
Name[x-test]=xxElizabeth Marmorsteinxx
Url=mailto:purplegamba@cox.net

[X-HTMLExport Preview]
Name=Date Frames
Name[ca]=Marcs de data
Name[cs]=Rámce dat
Name[es]=Marcos de fecha
Name[nl]=Datumframes
Name[pt]=Molduras de Datas
Name[sv]=Datumramar
Name[uk]=Рамки дат
Name[x-test]=xxDate Framesxx
Url=preview.png

[X-HTMLExport Parameter color1]
Name=Thumbnail Background
Name[ca]=Fons de miniatures
Name[cs]=Pozadí náhledu
Name[es]=Fondo de las miniaturas
Name[nl]=Achtergrond van miniaturen
Name[pt]=Fundo das Miniaturas
Name[sv]=Miniatyrbildsbakgrund
Name[uk]=Тло мініатюр
Name[x-test]=xxThumbnail Backgroundxx
Type=color
Default=#FFFFFF

[X-HTMLExport Parameter color2]
Name=Image Background (contrasting)
Name[ca]=Fons d'imatges (amb contrast)
Name[cs]=Pozadí obrázku (kontrastní)
Name[es]=Fondo de las imágenes (con contraste)
Name[nl]=Achtergrond van afbeeldingen (contrasterend)
Name[pt]=Fundo da Imagem (com contraste)
Name[sv]=Bildbakgrund (kontrasterande)
Name[uk]=Тло зображення (контрастність)
Name[x-test]=xxImage Background (contrasting)xx
Type=color
Default=#000055

[X-HTMLExport Parameter color3]
Name=Nav Bar Background (dark)
Name[ca]=Fons de la barra de navegació (fosc)
Name[cs]=Pozadí navigačního panelu (tmavé)
Name[es]=Fondo de la barra de navegación (oscuro)
Name[nl]=Achtergrond nav. balk (donker)
Name[pt]=Fundo da Barra de Navegação (escuro)
Name[sv]=Navigeringsradens bakgrund (mörk)
Name[uk]=Тло панелі навігації (темне)
Name[x-test]=xxNav Bar Background (dark)xx
Type=color
Default=#000011

[X-HTMLExport Parameter intro]
Name=Gallery Introduction
Name[ca]=Introducció a galeries
Name[cs]=Představení galerie
Name[es]=Introducción a la galería
Name[nl]=Introductie tot de galerij
Name[pt]=Introdução à Galeria
Name[sv]=Introduktion till Galleri
Name[uk]=Вступ до галереї
Name[x-test]=xxGallery Introductionxx
Type=string
Default=Welcome to my web gallery!

[X-HTMLExport Parameter longformat]
Name=Caption Date Format (see http://xsltsl.sourceforge.net/date-time.html)
Name[ca]=Format de la data del títol (vegeu http://xsltsl.sourceforge.net/date-time.html)
Name[cs]=Formát data titulku (viz http://xsltsl.sourceforge.net/date-time.html)
Name[es]=Formato de fecha del título (consulte http://xsltsl.sourceforge.net/date-time.html)
Name[nl]=Datumopmaak in titel (zie http://xsltsl.sourceforge.net/date-time.html)
Name[pt]=Formato das Datas da Legenda (ver em http://xsltsl.sourceforge.net/date-time.html)
Name[sv]=Datumformat för rubrik (se http://xsltsl.sourceforge.net/date-time.html)
Name[uk]=Формат підпису-дати (див. http://xsltsl.sourceforge.net/date-time.html)
Name[x-test]=xxCaption Date Format (see http://xsltsl.sourceforge.net/date-time.html)xx
Type=string
Default=%A, %b %e, %Y   %i:%M%P
Comment=XSL Date Format String: Use the syntax given at http://xsltsl.sourceforge.net/date-time.html
Comment[ca]=Cadena de format de les dates en XSL: empreu la sintaxi indicada a http://xsltsl.sourceforge.net/date-time.html
Comment[cs]=Řetězec formátu data XSL: Použijte syntaxi určenou na http://xsltsl.sourceforge.net/date-time.html
Comment[es]=Cadena de formato de fecha XSL: Use la sintaxis que se proporciona en http://xsltsl.sourceforge.net/date-time.html
Comment[nl]=XSL-datumopmaaktekstreeks: Gebruik de syntax uit http://xsltsl.sourceforge.net/date-time.html
Comment[pt]=Texto de Formato das Datas em XSL. Use a sintaxe indicada em http://xsltsl.sourceforge.net/date-time.html
Comment[sv]=Sträng med XSL-datumformat: Använd syntaxen som anges i http://xsltsl.sourceforge.net/date-time.html
Comment[uk]=Рядок форматування дати XSL: використовуйте синтаксис, описаний на http://xsltsl.sourceforge.net/date-time.html
Comment[x-test]=xxXSL Date Format String: Use the syntax given at http://xsltsl.sourceforge.net/date-time.htmlxx

[X-HTMLExport Parameter shortformat]
Name=Image List Date Format
Name[ca]=Format de la data de la llista d'imatges
Name[cs]=Formát data seznamu obrázků
Name[es]=Formato de fecha de la lista de imágenes
Name[nl]=Datumopmaak van afbeeldingenlijst
Name[pt]=Formato das Datas da Lista de Imagens
Name[sv]=Bildlistans datumformat
Name[uk]=Формат дати у списку зображень
Name[x-test]=xxImage List Date Formatxx
Type=string
Default=%m-%d-%Y
Comment=XSL Date Format String: Use the syntax given at http://xsltsl.sourceforge.net/date-time.html
Comment[ca]=Cadena de format de les dates en XSL: empreu la sintaxi indicada a http://xsltsl.sourceforge.net/date-time.html
Comment[cs]=Řetězec formátu data XSL: Použijte syntaxi určenou na http://xsltsl.sourceforge.net/date-time.html
Comment[es]=Cadena de formato de fecha XSL: Use la sintaxis que se proporciona en http://xsltsl.sourceforge.net/date-time.html
Comment[nl]=XSL-datumopmaaktekstreeks: Gebruik de syntax uit http://xsltsl.sourceforge.net/date-time.html
Comment[pt]=Texto de Formato das Datas em XSL. Use a sintaxe indicada em http://xsltsl.sourceforge.net/date-time.html
Comment[sv]=Sträng med XSL-datumformat: Använd syntaxen som anges i http://xsltsl.sourceforge.net/date-time.html
Comment[uk]=Рядок форматування дати XSL: використовуйте синтаксис, описаний на http://xsltsl.sourceforge.net/date-time.html
Comment[x-test]=xxXSL Date Format String: Use the syntax given at http://xsltsl.sourceforge.net/date-time.htmlxx
