[Desktop Entry]
Name=Simple
Name[bg]=Опростено
Name[bs]=Jednostavno
Name[ca]=Simple
Name[ca@valencia]=Simple
Name[cs]=Jednoduchý
Name[da]=Simple
Name[de]=Einfach
Name[el]=Απλό
Name[en_GB]=Simple
Name[eo]=Simpla
Name[es]=Sencillo
Name[et]=Lihtne
Name[eu]=Bakuna
Name[fr]=Simple
Name[ga]=Simplí
Name[gl]=Simple
Name[he]=פשוט
Name[hne]=सादा
Name[hu]=Egyszerű
Name[is]=Einfalt
Name[it]=Semplice
Name[ja]=シンプル
Name[km]=​ធម្មតា
Name[ko]=간단한 테마
Name[lt]=Paprasta
Name[lv]=Vienkārša
Name[mai]=सरल
Name[mr]=साधी
Name[nb]=Enkel
Name[nds]=Eenfach
Name[nl]=Simple
Name[oc]=Simple
Name[pa]=ਸੈਂਪਲ
Name[pl]=Prosty
Name[pt]=Simples
Name[pt_BR]=Simples
Name[ro]=Simplă
Name[ru]=Простое
Name[sk]=Jednoduchá
Name[sl]=Preprosta
Name[sq]=Thjesht
Name[sv]=Enkel
Name[th]=รูปแบบเรียบง่าย
Name[tr]=Basit
Name[ug]=ئاددىي
Name[uk]=Проста
Name[x-test]=xxSimplexx
Name[zh_CN]=简洁
Name[zh_TW]=簡單
Comment=A simple and light theme
Comment[bg]=Опростен и лек изглед
Comment[bs]=Jednostavna i svijetla tema
Comment[ca]=Un tema simple i lluminós
Comment[ca@valencia]=Un tema simple i lluminós
Comment[cs]=Jednoduchý světlý motiv
Comment[da]=Et enkelt og lyst tema
Comment[de]=Ein einfaches und leichtes Design
Comment[el]=Απλό και ανοιχτής απόχρωσης θέμα
Comment[en_GB]=A simple and light theme
Comment[es]=Un tema sencillo y ligero
Comment[et]=Lihtne hele teema
Comment[eu]=Gai bakuna eta arina
Comment[fr]=Un thème simple et léger
Comment[ga]=Téama simplí éadrom
Comment[gl]=Un tema simple e lixeiro
Comment[he]=ערכה פשוטה וקלה
Comment[hne]=सादा अउ हल्का थीम
Comment[hu]=Egy egyszerű és világos téma
Comment[is]=Einfalt og létt þema
Comment[it]=Un tema semplice e leggero
Comment[ja]=シンプルで軽いテーマ
Comment[km]=ស្បែក​ភ្លឺ និង​ធម្មតា
Comment[ko]=간단하고 가벼운 테마
Comment[lt]=Paprasta ir šviesi tema
Comment[lv]=Vienkārša un viegla tēma
Comment[nb]=Et enkelt og lett tema
Comment[nds]=En eenfach un licht Muster
Comment[nl]=Een eenvoudig en licht thema
Comment[pa]=ਇੱਕ ਸੈਂਪਲ ਅਤੇ ਹਲਕਾ ਥੀਮ
Comment[pl]=Prosty i lekki wystrój
Comment[pt]=Um tema simples e leve
Comment[pt_BR]=Um tema simples e leve
Comment[ro]=O tematică simplă și lejeră
Comment[ru]=Простая и легкая тема
Comment[sk]=Jednoduchá svetlá téma
Comment[sl]=Preprosta in lahka tema
Comment[sq]=Një temë e thjeshtë dhe e lehtë
Comment[sv]=Ett enkelt och lättsamt tema
Comment[th]=ชุดตกแต่งที่เรียบง่ายและเบาบาง
Comment[tr]=Sade ve hafif bir tema
Comment[uk]=Проста і легка тема
Comment[x-test]=xxA simple and light themexx
Comment[zh_CN]=简洁明快的主题
Comment[zh_TW]=一款簡單且明亮的主題

[X-HTMLExport Author]
Name=Aurélien Gâteau
Name[bg]=Aurélien Gâteau
Name[bs]=Aurélien Gâteau
Name[ca]=Aurélien Gâteau
Name[ca@valencia]=Aurélien Gâteau
Name[cs]=Aurélien Gâteau
Name[da]=Aurélien Gâteau
Name[de]=Aurélien Gâteau
Name[el]=Aurélien Gâteau
Name[en_GB]=Aurélien Gâteau
Name[eo]=Aurélien Gâteau
Name[es]=Aurélien Gâteau
Name[et]=Aurélien Gâteau
Name[eu]=Aurélien Gâteau
Name[fi]=Aurélien Gâteau
Name[fr]=Aurélien Gâteau
Name[ga]=Aurélien Gâteau
Name[gl]=Aurélien Gâteau
Name[he]=אורליאן גאטו
Name[hne]=आरेलियन गातेवू
Name[hu]=Aurélien Gâteau
Name[is]=Aurélien Gâteau
Name[it]=Aurélien Gâteau
Name[ja]=Aurélien Gâteau
Name[km]=Aurélien Gâteau
Name[ko]=Aurélien Gâteau
Name[lt]=Aurélien Gâteau
Name[lv]=Aurélien Gâteau
Name[mr]=ओरेलीन गेत्यू
Name[nb]=Aurélien Gâteau
Name[nds]=Aurélien Gâteau
Name[nl]=Aurélien Gâteau
Name[pa]=Aurélien Gâteau
Name[pl]=Aurélien Gâteau
Name[pt]=Aurélien Gâteau
Name[pt_BR]=Aurélien Gâteau
Name[ro]=Aurélien Gâteau
Name[ru]=Aurélien Gâteau
Name[sk]=Aurélien Gâteau
Name[sl]=Aurélien Gâteau
Name[sq]=Aurélien Gâteau
Name[sv]=Aurélien Gâteau
Name[th]=Aurélien Gâteau
Name[tr]=Aurélien Gâteau
Name[ug]=Aurélien Gâteau
Name[uk]=Aurélien Gâteau
Name[x-test]=xxAurélien Gâteauxx
Name[zh_CN]=Aurélien Gâteau
Name[zh_TW]=Aurélien Gâteau
Url=mailto:aurelien.gateau@free.fr

[X-HTMLExport Parameter style]
Name=Style
Name[bg]=Изглед
Name[bs]=Stil
Name[ca]=Estil
Name[ca@valencia]=Estil
Name[cs]=Styl
Name[da]=Stil
Name[de]=Stil
Name[el]=Στιλ
Name[en_GB]=Style
Name[eo]=Stilo
Name[es]=Estilo
Name[et]=Stiil
Name[eu]=Estiloa
Name[fi]=Tyyli
Name[fr]=Style
Name[ga]=Stíl
Name[gl]=Estilo
Name[he]=סגנון
Name[hne]=सैली
Name[hu]=Stílus
Name[is]=Stíll
Name[it]=Stile
Name[ja]=スタイル
Name[km]=រចនាប័ទ្ម
Name[ko]=스타일
Name[lt]=Stilius
Name[lv]=Stils
Name[mai]=शैली
Name[mr]=शैली
Name[nb]=Stil
Name[nds]=Stil
Name[nl]=Stijl
Name[oc]=Estil
Name[pa]=ਸਟਾਈਲ
Name[pl]=Styl
Name[pt]=Estilo
Name[pt_BR]=Estilo
Name[ro]=Stil
Name[ru]=Цветовая гамма
Name[sk]=Štýl
Name[sl]=Slog
Name[sq]=Stili
Name[sv]=Stil
Name[th]=ลักษณะ
Name[tr]=Biçim
Name[ug]=ئۇسلۇب
Name[uk]=Стиль
Name[x-test]=xxStylexx
Name[zh_CN]=风格
Name[zh_TW]=樣式
Type=list
Default=natural.css
Value_0=natural.css
Caption_0=Natural
Value_1=dark.css
Caption_1=Dark

[X-HTMLExport Preview]
Name=Simple
Name[bg]=Опростено
Name[bs]=Jednostavno
Name[ca]=Simple
Name[ca@valencia]=Simple
Name[cs]=Jednoduchý
Name[da]=Simple
Name[de]=Einfach
Name[el]=Απλό
Name[en_GB]=Simple
Name[eo]=Simpla
Name[es]=Sencillo
Name[et]=Lihtne
Name[eu]=Bakuna
Name[fr]=Simple
Name[ga]=Simplí
Name[gl]=Simple
Name[he]=פשוט
Name[hne]=सादा
Name[hu]=Egyszerű
Name[is]=Einfalt
Name[it]=Semplice
Name[ja]=シンプル
Name[km]=​ធម្មតា
Name[ko]=간단한 테마
Name[lt]=Paprasta
Name[lv]=Vienkārša
Name[mai]=सरल
Name[mr]=साधी
Name[nb]=Enkel
Name[nds]=Eenfach
Name[nl]=Simple
Name[oc]=Simple
Name[pa]=ਸੈਂਪਲ
Name[pl]=Prosty
Name[pt]=Simples
Name[pt_BR]=Simples
Name[ro]=Simplă
Name[ru]=Простое
Name[sk]=Jednoduchá
Name[sl]=Preprosta
Name[sq]=Thjesht
Name[sv]=Enkel
Name[th]=รูปแบบเรียบง่าย
Name[tr]=Basit
Name[ug]=ئاددىي
Name[uk]=Проста
Name[x-test]=xxSimplexx
Name[zh_CN]=简洁
Name[zh_TW]=簡單
Url=preview.png
