[Desktop Entry]
Name=Simple
Comment=A simple and light theme

[X-HTMLExport Author]
Name=Aurélien Gâteau
Url=mailto:aurelien.gateau@free.fr

[X-HTMLExport Parameter style]
Name=Style
Type=list
Default=natural.css
Value_0=natural.css
Caption_0=Natural
Value_1=dark.css
Caption_1=Dark

[X-HTMLExport Preview]
Name=Simple
Url=preview.png
