[Desktop Entry]
# Base type of RAW images supported by dcraw program
Name=RAW image
Name[bg]=Необработена (RAW) снимка
Name[da]=RAW-billede
Name[de]=RAW-Bild
Name[el]=Εικόνα RAW
Name[et]=Toorpilt
Name[nl]=RAW-afbeelding
Name[pt]=Imagem RAW
Name[sv]=Obehandlad bild
Name[xx]=xxRAW imagexx
Comment=RAW image file format
Comment[bg]=Файлов формат за необработени (RAW) снимки
Comment[da]=RAW billedfilformat
Comment[de]=RAW Bildformat
Comment[el]=Τύπος αρχείου εικόνας RAW
Comment[es]=archivo con el format de la imagen en bruto (RAW)
Comment[et]=Toorpildi failivorming (RAW)
Comment[nl]=Afbeeldingsformaat RAW
Comment[pt]=Um 'plugin' do digiKam para reduzir o ruído da imagem
Comment[sv]=Obehandlat bildfilformat
Comment[xx]=xxRAW image file formatxx
Encoding=UTF-8
Icon=raw
MimeType=image/x-raw
Patterns=*.bay;*.bmq;*.cr2;*.crw;*.cs1;*.dc2;*.dcr;*.dng;*.erf;*.fff;*.hdr;*.k25;*.kdc;*.mdc;*.mos;*.mrw;*.nef;*.orf;*.pef;*.pxn;*.raf;*.raw;*.rdc;*.sr2;*.srf;*.tif;*.x3f;;*.DDS;*.PBM;*.PCX;*.PGM;*.XBM;*.XCF;*.TGA;*.PPM;*.PSD;*.XPM;*.EPS;*.TIFF;*.EXR;*.JP2;*.RGB;*.TIF;*.BAY;*.BMQ;*.CR2;*.CRW;*.CS1;*.DC2;*.DCR;*.DNG;*.ERF;*.FFF;*.HDR;*.K25;*.KDC;*.MDC;*.MOS;*.MRW;*.NEF;*.ORF;*.PEF;*.PXN;*.RAF;*.RAW;*.RDC;*.SR2;*.SRF;*.TIF;*.X3F
Type=MimeType
Exec=showfoto %F
