[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=image/x-raw
Icon=raw
Patterns=*.bay;*.bmq;*.cr2;*.crw;*.cs1;*.dc2;*.dcr;*.dng;*.erf;*.fff;*.hdr;*.k25;*.kdc;*.mdc;*.mos;*.mrw;*.nef;*.orf;*.pef;*.pxn;*.raf;*.raw;*.rdc;*.sr2;*.srf;*.x3f;*.BAY;*.BMQ;*.CR2;*.CRW;*.CS1;*.DC2;*.DCR;*.DNG;*.ERF;*.FFF;*.HDR;*.K25;*.KDC;*.MDC;*.MOS;*.MRW;*.NEF;*.ORF;*.PEF;*.PXN;*.RAF;*.RAW;*.RDC;*.SR2;*.SRF;*.X3F;
Comment[da]=Ubehandlet billede fra kamera
Comment[de]=Kamera RAW-Bild
Comment[es]=Imagen RAW de cámara
Comment[et]=Kaamera toorpilt
Comment[is]=RAW mynd frá myndavél
Comment[it]=Immagine in formato grezzo di macchina fotografica
Comment[ja]=カメラ RAW画像
Comment[nl]=Camera RAW afbeelding
Comment[pt]=Imagem RAW da Máquina
Comment[pt_BR]=Imagem RAW da Máquina
Comment[sr]=RAW слика камере
Comment[sr@Latn]=RAW slika kamere
Comment[sv]=Obehandlad bild från kamera
Comment[xx]=xxCamera RAW imagexx
Comment[zh_CN]=相机 RAW 图像
