[Desktop Entry]
Name=Classic
Name[bg]=Класически
Name[bs]=Klasično
Name[ca]=Clàssic
Name[ca@valencia]=Clàssic
Name[cs]=Klasický
Name[da]=Classic
Name[de]=Klassisch
Name[el]=Κλασικό
Name[en_GB]=Classic
Name[eo]=Klasika
Name[es]=Clásico
Name[et]=Klassikaline
Name[eu]=Klasikoa
Name[fi]=Perinteinen
Name[fr]=Classique
Name[ga]=Clasaiceach
Name[gl]=Clásico
Name[he]=קלאסי
Name[hne]=क्लासिक
Name[hu]=Klasszikus
Name[is]=Hefðbundið
Name[it]=Classico
Name[ja]=クラシック
Name[km]=បុរាណ
Name[ko]=고전
Name[lt]=Klasikinė
Name[lv]=Klasisks
Name[mai]=क्लासिक
Name[nb]=Klassisk
Name[nds]=Klass'sch
Name[nl]=Classic
Name[oc]=Classic
Name[pa]=ਟਕਸਾਲੀ
Name[pl]=Klasyczny
Name[pt]=Clássico
Name[pt_BR]=Clássico
Name[ro]=Clasic
Name[ru]=Классическая
Name[sk]=Klasika
Name[sl]=Klasično
Name[sq]=Klasik
Name[sv]=Klassiskt
Name[th]=คลาสสิค
Name[tr]=Klasik
Name[ug]=كلاسسىك
Name[uk]=Класичний
Name[x-test]=xxClassicxx
Name[zh_CN]=经典
Name[zh_TW]=經典
Comment=A port of the old HTML Export plugin theme
Comment[bg]=Вариант на предишния изглед за изнасяне в HTML
Comment[bs]=Konverzija stare teme za izvoz u HTML
Comment[ca]=Un port de l'antic tema del connector d'exportació a HTML
Comment[ca@valencia]=Un port de l'antic tema del connector d'exportació a HTML
Comment[cs]=Port starého motivu pro modul HTML export
Comment[da]=En port af det gamle HTML-eksports plugin-tema
Comment[de]=Eine Portierung des alten Designs des HTML-Export-Moduls
Comment[el]=Μια μεταφορά του παλιού θέματος εξαγωγής σε HTML
Comment[en_GB]=A port of the old HTML Export plugin theme
Comment[es]=Migración del antiguo tema del complemento de exportación a HTML
Comment[et]=Vana HTML ekspordi plugina teema port
Comment[eu]=HTMLra esportatzeko pluginaren gai zaharraren moldaketa bat
Comment[fr]=Un portage de l'ancien thème du module externe d'export en HTML
Comment[gl]=Un porte do tema vello da engadido de exportación a HTML
Comment[he]=הסבה של הערכה הישנה של יצוא HTML
Comment[hne]=पुराना एचटीएमएल निर्यात प्लगइन थीम के एक पोर्ट
Comment[hu]=Egy régi HTML exportáló bővítménytéma átirata
Comment[is]=Endurnýting á gamla HTML-útflutningsþemanu
Comment[it]=Un trasferimento del vecchio tema di esportazione HTML
Comment[ja]=以前の HTML エクスポートプラグインから移植したテーマ
Comment[km]=នាំចូល​ស្បែក​កម្មវិធី​ជំនួយ​នាំចេញ​របស់ HTML ចាស់ៗ
Comment[ko]=HTML 내보내기 플러그인 포팅
Comment[lv]=Vecā HTML eksportēšanas dzinēja pielāgojums
Comment[nb]=En portering av det gamle HTML-eksporttemaet
Comment[nds]=En Porteren vun't Muster vun't ole HTML-Exportmoduul
Comment[nl]=Een port van het thema van de oude HTML-export
Comment[pl]=Przeniesienie starego wystroju wtyczki eksportu HTML
Comment[pt]=Uma versão do tema do 'plugin' de Exportação para HTML
Comment[pt_BR]=Uma versão do tema antigo do plugin de exportação para HTML
Comment[ro]=Un port al extensiei de exportat imagini într-o galerie HTML 
Comment[ru]=Старое оформления для экспорта в HTML
Comment[sk]=Stará téma zo zásuvného modulu HTML export
Comment[sl]=Predelava stare teme vstavka za izvoz v HTML
Comment[sq]=Një port për temën e vjetër HTML Export
Comment[sv]=Överföring av det gamla temat för insticksprogrammet HTML-export
Comment[th]=พอร์ตมาจากชุดตกแต่งส่วนเสริมการส่งออกเป็น HTML
Comment[tr]=Eski HTML Aktarma eklentisinin bir portu
Comment[uk]=Портування старої теми додатка експорту HTML
Comment[x-test]=xxA port of the old HTML Export plugin themexx
Comment[zh_CN]=旧版 HTML 导出插件主题的移植
Comment[zh_TW]=舊 HTML 匯出外掛程式佈景主題的移植

[X-HTMLExport Preview]
Name=Classic
Name[bg]=Класически
Name[bs]=Klasično
Name[ca]=Clàssic
Name[ca@valencia]=Clàssic
Name[cs]=Klasický
Name[da]=Classic
Name[de]=Klassisch
Name[el]=Κλασικό
Name[en_GB]=Classic
Name[eo]=Klasika
Name[es]=Clásico
Name[et]=Klassikaline
Name[eu]=Klasikoa
Name[fi]=Perinteinen
Name[fr]=Classique
Name[ga]=Clasaiceach
Name[gl]=Clásico
Name[he]=קלאסי
Name[hne]=क्लासिक
Name[hu]=Klasszikus
Name[is]=Hefðbundið
Name[it]=Classico
Name[ja]=クラシック
Name[km]=បុរាណ
Name[ko]=고전
Name[lt]=Klasikinė
Name[lv]=Klasisks
Name[mai]=क्लासिक
Name[nb]=Klassisk
Name[nds]=Klass'sch
Name[nl]=Classic
Name[oc]=Classic
Name[pa]=ਟਕਸਾਲੀ
Name[pl]=Klasyczny
Name[pt]=Clássico
Name[pt_BR]=Clássico
Name[ro]=Clasic
Name[ru]=Классическая
Name[sk]=Klasika
Name[sl]=Klasično
Name[sq]=Klasik
Name[sv]=Klassiskt
Name[th]=คลาสสิค
Name[tr]=Klasik
Name[ug]=كلاسسىك
Name[uk]=Класичний
Name[x-test]=xxClassicxx
Name[zh_CN]=经典
Name[zh_TW]=經典
Url=preview.png

[X-HTMLExport Author]
Name=Aurélien Gâteau
Name[bg]=Aurélien Gâteau
Name[bs]=Aurélien Gâteau
Name[ca]=Aurélien Gâteau
Name[ca@valencia]=Aurélien Gâteau
Name[cs]=Aurélien Gâteau
Name[da]=Aurélien Gâteau
Name[de]=Aurélien Gâteau
Name[el]=Aurélien Gâteau
Name[en_GB]=Aurélien Gâteau
Name[eo]=Aurélien Gâteau
Name[es]=Aurélien Gâteau
Name[et]=Aurélien Gâteau
Name[eu]=Aurélien Gâteau
Name[fi]=Aurélien Gâteau
Name[fr]=Aurélien Gâteau
Name[ga]=Aurélien Gâteau
Name[gl]=Aurélien Gâteau
Name[he]=אורליאן גאטו
Name[hne]=आरेलियन गातेवू
Name[hu]=Aurélien Gâteau
Name[is]=Aurélien Gâteau
Name[it]=Aurélien Gâteau
Name[ja]=Aurélien Gâteau
Name[km]=Aurélien Gâteau
Name[ko]=Aurélien Gâteau
Name[lt]=Aurélien Gâteau
Name[lv]=Aurélien Gâteau
Name[mr]=ओरेलीन गेत्यू
Name[nb]=Aurélien Gâteau
Name[nds]=Aurélien Gâteau
Name[nl]=Aurélien Gâteau
Name[pa]=Aurélien Gâteau
Name[pl]=Aurélien Gâteau
Name[pt]=Aurélien Gâteau
Name[pt_BR]=Aurélien Gâteau
Name[ro]=Aurélien Gâteau
Name[ru]=Aurélien Gâteau
Name[sk]=Aurélien Gâteau
Name[sl]=Aurélien Gâteau
Name[sq]=Aurélien Gâteau
Name[sv]=Aurélien Gâteau
Name[th]=Aurélien Gâteau
Name[tr]=Aurélien Gâteau
Name[ug]=Aurélien Gâteau
Name[uk]=Aurélien Gâteau
Name[x-test]=xxAurélien Gâteauxx
Name[zh_CN]=Aurélien Gâteau
Name[zh_TW]=Aurélien Gâteau
Url=mailto:aurelien.gateau@free.fr

[X-HTMLExport Parameter thumbnailPerRow]
Name=Thumbnails per row
Name[bg]=Умалени копия на ред
Name[bs]=Sličice po redovima
Name[ca]=Miniatures per fila
Name[ca@valencia]=Miniatures per fila
Name[cs]=Náhledy na řádek
Name[da]=Miniaturer pr række
Name[de]=Vorschaubilder pro Reihe
Name[el]=Επισκοπήσεις ανά γραμμή
Name[en_GB]=Thumbnails per row
Name[es]=Miniaturas por fila
Name[et]=Pisipilte reas
Name[eu]=Koadro txikiak errenkadako
Name[fi]=Näyttökuvia per rivi
Name[fr]=Vignettes par ligne
Name[gl]=Miniaturas por fila
Name[he]=תמונות ממוזערות לשורה
Name[hne]=हर पंक्ति मं छोटेफोटू
Name[hu]=Bélyegképek soronként
Name[is]=Smámyndir í hverri röð:
Name[it]=Miniature per riga
Name[ja]=横一列あたりのサムネイル数
Name[km]=រូបភាព​តូចៗ​ក្នុង​ជួរដេក
Name[ko]=한 줄당 표시할 미리 보기 그림
Name[lt]=Miniatiūrų eilėje
Name[lv]=Sīktēli rindā
Name[nb]=Miniatyrer pr. rad
Name[nds]=Vöransichtbiller per Reeg
Name[nl]=Miniaturen per rij
Name[pa]=ਪ੍ਰਤੀ ਕਤਾਰ ਵਿੱਚ ਥੰਮਨੇਲ
Name[pl]=Miniatur na wiersz
Name[pt]=Miniaturas por linha
Name[pt_BR]=Miniaturas por linha
Name[ro]=Miniaturi pe rând
Name[ru]=Миниатюр в ряду
Name[sk]=Náhľady pre riadok
Name[sl]=Sličic na vrstico
Name[sq]=Minipamje për rresht
Name[sv]=Miniatyrbilder per rad
Name[th]=จำนวนภาพตัวอย่างต่อแถว
Name[tr]=Satır başına küçük resimler
Name[uk]=Мініатюр на ряд
Name[x-test]=xxThumbnails per rowxx
Name[zh_CN]=每行缩略图
Name[zh_TW]=每行縮圖數量
Type=int
Default=4
Min=1
Max=100

[X-HTMLExport Parameter bgColor]
Name=Background Color
Name[bg]=Фонов цвят
Name[bs]=Boja pozadine
Name[ca]=Color de fons
Name[ca@valencia]=Color de fons
Name[cs]=Barva pozadí
Name[da]=Baggrundsfarve
Name[de]=Hintergrundfarbe
Name[el]=Χρώμα φόντου
Name[en_GB]=Background Colour
Name[eo]=Fonkoloro
Name[es]=Color del fondo
Name[et]=Taustavärv
Name[eu]=Atzeko planoaren kolorea
Name[fi]=Taustaväri
Name[fr]=Couleur d'arrière plan
Name[gl]=Cor de fondo
Name[he]=צבע רקע
Name[hne]=पिछोत अंगना रंग
Name[hu]=Háttérszín
Name[is]=Bakgrunnslitur
Name[it]=Colore di sfondo
Name[ja]=背景色
Name[km]=ពណ៌​ផ្ទៃខាង​ក្រោយ
Name[ko]=배경색
Name[lt]=Fono spalva
Name[lv]=Fona krāsa
Name[mai]=पृष्ठभूमि रँग
Name[mr]=पार्श्वभूमीचा रंग
Name[nb]=Bakgrunnsfarge
Name[nds]=Achtergrundklöör
Name[nl]=Achtergrondkleur
Name[oc]=Color de fons
Name[pa]=ਬੈਕਗਰਾਊਂਡ ਰੰਗ
Name[pl]=Kolor tła
Name[pt]=Cor de Fundo
Name[pt_BR]=Cor do plano de fundo
Name[ro]=Culoare fundal
Name[ru]=Цвет фона
Name[sk]=Farba pozadia
Name[sl]=Barva ozadja
Name[sq]=Ngjyra e Sfondit
Name[sv]=Bakgrundsfärg
Name[th]=สีพื้นหลัง
Name[tr]=Arkaplan Rengi 
Name[ug]=تەگلىك رەڭگى
Name[uk]=Колір тла
Name[x-test]=xxBackground Colorxx
Name[zh_CN]=背景颜色
Name[zh_TW]=背景顏色
Type=color
Default=#333333

[X-HTMLExport Parameter fgColor]
Name=Foreground Color
Name[bg]=Цвят на преден план
Name[bs]=Boja teksta
Name[ca]=Color de primer pla
Name[ca@valencia]=Color de primer pla
Name[cs]=Barva popředí
Name[da]=Forgrundsfarve
Name[de]=Vordergrundfarbe
Name[el]=Χρώμα προσκηνίου
Name[en_GB]=Foreground Colour
Name[eo]=Malfona Koloro
Name[es]=Color del primer plano
Name[et]=Esiplaani värv
Name[eu]=Aurreko planoaren kolorea
Name[fi]=Edustan väri
Name[fr]=Couleur de premier plan
Name[gl]=Cor principal
Name[he]=צבע קדמה
Name[hne]=आगू के रंग
Name[hu]=Előtérszín
Name[is]=Forgrunnslitur
Name[it]=Colore di primo piano
Name[ja]=前景色
Name[km]=ពណ៌​ផ្ទៃខាង​មុខ
Name[ko]=전경색
Name[lt]=Priekinio plano spalva
Name[lv]=Priekšplāna krāsa
Name[mai]=अग्रभूमि रँग
Name[mr]=पृष्ठभूमी रंग
Name[nb]=Forgrunnsfarge
Name[nds]=Vörgrundklöör
Name[nl]=Voorgrondkleur
Name[pa]=ਫਾਰਗਰਾਊਂਡ ਰੰਗ
Name[pl]=Kolor pierwszoplanowy
Name[pt]=Cor Principal
Name[pt_BR]=Cor do primeiro plano
Name[ro]=Culoare prim-plan
Name[ru]=Цвет текста
Name[sk]=Farba písma
Name[sl]=Barva ospredja
Name[sq]=Ngjyrë e Përparme
Name[sv]=Förgrundsfärg
Name[th]=สีพื้นหน้า
Name[tr]=Önplan Rengi 
Name[ug]=ئالدى رەڭ
Name[uk]=Колір переднього плану
Name[x-test]=xxForeground Colorxx
Name[zh_CN]=前景颜色
Name[zh_TW]=前景顏色
Type=color
Default=#d0ffd0

[X-HTMLExport Parameter fontSize]
Name=Font Size
Name[bg]=Размер на шрифт
Name[bs]=Veličina slova
Name[ca]=Mida del tipus de lletra
Name[ca@valencia]=Mida del tipus de lletra
Name[cs]=Velikost písma
Name[da]=Skrifttype-størrelse
Name[de]=Schriftgröße
Name[el]=Μέγεθος γραμματοσειράς
Name[en_GB]=Font Size
Name[eo]=Tiparogrando
Name[es]=Tamaño de letra
Name[et]=Fondi suurus
Name[eu]=Letra-tamaina
Name[fi]=Fonttikoko
Name[fr]=Taille de la police
Name[ga]=Clómhéid
Name[gl]=Tamaño da letra
Name[he]=גודל גופן
Name[hne]=फोंट आकार
Name[hu]=Betűméret
Name[is]=Leturstærð
Name[it]=Dimensione dei caratteri
Name[ja]=フォントサイズ
Name[km]=ទំហំ​ពុម្ពអក្សរ
Name[ko]=글꼴 크기
Name[lt]=Šrifto dydis
Name[lv]=Fonta izmērs
Name[mai]=फाँट आकार
Name[mr]=फॉन्ट आकार
Name[nb]=Skriftstørrelse
Name[nds]=Schriftgrött
Name[nl]=Lettergrootte
Name[oc]=Talha de poliça
Name[pa]=ਫੋਂਟ ਸਾਈਜ਼
Name[pl]=Rozmiar czcionki
Name[pt]=Tamanho do Texto
Name[pt_BR]=Tamanho da fonte
Name[ro]=Dimensiune font
Name[ru]=Размер шрифта
Name[sk]=Veľkosť písma
Name[sl]=Velikost pisave
Name[sq]=Përmasa e Fontit
Name[sv]=Teckenstorlek
Name[th]=ขนาดแบบอักษร
Name[tr]=Yazı Tipi Boyutu
Name[ug]=خەت چوڭلۇقى
Name[uk]=Розмір шрифту
Name[x-test]=xxFont Sizexx
Name[zh_CN]=字体大小
Name[zh_TW]=字型大小
Type=int
Default=14
Min=1
Max=100

[X-HTMLExport Parameter imgBorderSize]
Name=Image Border Size
Name[bg]=Размер на рамката на изображението
Name[bs]=Veličina ivice slike
Name[ca]=Mida de la vora de la imatge
Name[ca@valencia]=Mida de la vora de la imatge
Name[cs]=Velikost rámečku obrázku
Name[da]=Billedkant-størrelse
Name[de]=Größe des Bildrahmens
Name[el]=Μέγεθος περιθωρίου εικόνας
Name[en_GB]=Image Border Size
Name[es]=Tamaño del borde de la imagen
Name[et]=Pildi piirde suurus
Name[eu]=Irudiaren ertzaren tamaina
Name[fi]=Kuvareunuksen koko
Name[fr]=Taille de la bordure de l'image
Name[gl]=Tamaño do bordo da imaxe
Name[he]=גודל מסגרת התמונה
Name[hne]=फोटू किनारा आकार
Name[hu]=Képszegély mérete
Name[is]=Stærð jaðars myndar
Name[it]=Dimensione del bordo delle immagini
Name[ja]=画像の縁取りの幅
Name[km]=ទំហំ​ស៊ុម​រូបភាព
Name[ko]=그림 경계선 크기
Name[lt]=Paveikslėlio rėmo dydis
Name[lv]=Attēla robežas izmērs
Name[nb]=Bilderammens størrelse
Name[nds]=Bildrand-Grött
Name[nl]=Afbeeldingrandgrootte
Name[pa]=ਚਿੱਤਰ ਬਾਰਡਰ ਸਾਈਜ਼
Name[pl]=Rozmiar obramowania obrazu
Name[pt]=Tamanho do Contorno da Imagem
Name[pt_BR]=Tamanho da borda da imagem
Name[ro]=Dimensiunea bordurii imaginii
Name[ru]=Размер границы изображения
Name[sk]=Veľkosť okraja obrázku
Name[sl]=Velikost obrobe slike
Name[sq]=Përmasa e Kufirit të Imazhit
Name[sv]=Bildernas kantstorlek
Name[th]=ขนาดของกรอบภาพ
Name[tr]=Görüntü Kenarlık Boyutu
Name[uk]=Розмір рамки зображення
Name[x-test]=xxImage Border Sizexx
Name[zh_CN]=图像边框大小
Name[zh_TW]=影像邊框大小
Type=int
Default=1
Min=1
Max=50

[X-HTMLExport Parameter imgBorderColor]
Name=Image Border Color
Name[bg]=Цвят на рамката на изображението
Name[bs]=Boja ivice slike
Name[ca]=Color de la vora de la imatge
Name[ca@valencia]=Color de la vora de la imatge
Name[cs]=Barva rámečku obrázku
Name[da]=Billedkant-farve
Name[de]=Farbe des Bildrahmens
Name[el]=Χρώμα περιθωρίου εικόνας
Name[en_GB]=Image Border Colour
Name[es]=Color del borde de la imagen
Name[et]=Pildi piirde värv
Name[eu]=Irudiaren ertzaren kolorea
Name[fi]=Kuvareunuksen väri
Name[fr]=Couleur de la bordure de l'image
Name[gl]=Cor do bordo da imaxe
Name[he]=צבע מסגרת התמונה
Name[hne]=फोटू किनारा रंग
Name[hu]=Képszegély színe
Name[is]=Litur á jaðri myndar
Name[it]=Colore del bordo delle immagini
Name[ja]=画像の縁取りの色
Name[km]=ពណ៌​ស៊ុម​រូបភាព
Name[ko]=그림 경계선 색
Name[lt]=Paveikslėlio rėmo spalva
Name[lv]=Attēla robežas krāsa
Name[nb]=Bilderammens farge
Name[nds]=Bildrand-Klöör
Name[nl]=Afbeeldingrandkleur
Name[pa]=ਚਿੱਤਰ ਬਾਰਡਰ ਰੰਗ
Name[pl]=Kolor obramowania obrazu
Name[pt]=Cor do Contorno da Imagem
Name[pt_BR]=Cor da borda da imagem
Name[ro]=Culoarea bordurii imaginii
Name[ru]=Цвет границы изображения
Name[sk]=Farba okraja obrázku
Name[sl]=Barva obrobe slike
Name[sq]=Ngjyra e Kufirit të Imazhit
Name[sv]=Bildernas kantfärg
Name[th]=สีของกรอบภาพ
Name[tr]=Görüntü Kenarlığı Rengi
Name[uk]=Колір рамки зображення
Name[x-test]=xxImage Border Colorxx
Name[zh_CN]=图像边框颜色
Name[zh_TW]=影像邊框顏色
Type=color
Default=#d0ffd0

[X-HTMLExport Parameter linkColor]
Name=Link Color
Name[bg]=Цвят на препратка
Name[bs]=Boja veze
Name[ca]=Color d'enllaç
Name[ca@valencia]=Color d'enllaç
Name[cs]=Barva odkazu
Name[da]=Farve på link
Name[de]=Farbe von Verknüpfungen
Name[el]=Χρώμα συνδέσμου
Name[en_GB]=Link Colour
Name[es]=Color del enlace
Name[et]=Lingi värv
Name[eu]=Estekaren kolorea
Name[fi]=Linkin väri
Name[fr]=Couleur du lien
Name[gl]=Cor das ligazóns
Name[he]=צבע קישור
Name[hne]=संकली रंग
Name[hu]=Hivatkozás színe
Name[is]=Litur tengils
Name[it]=Colore dei collegamenti
Name[ja]=リンクの色
Name[km]=ពណ៌តំណ
Name[ko]=링크 색
Name[lt]=Nuorodų spalva
Name[lv]=Saites krāsa
Name[nb]=Farge på lenker
Name[nds]=Linkklöör
Name[nl]=Linkkleur
Name[pa]=ਲਿੰਕ ਰੰਗ
Name[pl]=Kolor odnośnika
Name[pt]=Cor da Ligação
Name[pt_BR]=Cor do link
Name[ro]=Culoare legătură
Name[ru]=Цвет ссылки
Name[sk]=Farba odkazu
Name[sl]=Barva povezave
Name[sq]=Ngjyra e Lidhjes
Name[sv]=Länkfärg
Name[th]=สีส่วนเชื่อมโยง
Name[tr]=Bağlantı Rengi
Name[uk]=Колір посилання
Name[x-test]=xxLink Colorxx
Name[zh_CN]=链接颜色
Name[zh_TW]=連結顏色
Type=color
Default=#b3b3b3

[X-HTMLExport Parameter visitedLinkColor]
Name=Visited Link Color
Name[bg]=Цвят на посетена препратка
Name[bs]=Boja posjećene veze
Name[ca]=Color d'enllaç visitat
Name[ca@valencia]=Color d'enllaç visitat
Name[cs]=Barva navštíveného odkazu
Name[da]=Farve på besøgte link
Name[de]=Farbe von besuchten Verknüpfungen
Name[el]=Χρώμα επισκεπτόμενου συνδέσμου
Name[en_GB]=Visited Link Colour
Name[es]=Color de los enlaces visitados
Name[et]=Külastatud lingi värv
Name[eu]=Bisitatutako esteken kolorea
Name[fi]=Vieraillun linkin väri
Name[fr]=Couleur de lien visité
Name[gl]=Cor das ligazóns visitadas
Name[he]=צבע קישור שביקרו בו
Name[hne]=भ्रमन करे वाले संकली के रंग
Name[hu]=Látogatott hivatkozás színe
Name[is]=Litur heimsótts tengils
Name[it]=Colore dei collegamenti visitati
Name[ja]=訪問済みリンクの色
Name[km]=ពណ៌​តំណ​ដែល​បាន​ទស្សនា
Name[ko]=방문한 링크 색
Name[lt]=Aplankytų saitų spalva
Name[lv]=Apmeklētas saites krāsa
Name[mai]=देखल लिंक रँग
Name[nb]=Farge på besøkte lenker
Name[nds]=Klöör för opropen Links
Name[nl]=Bezochte linkkleur
Name[pa]=ਖੋਲ੍ਹੇ ਲਿੰਕ ਰੰਗ
Name[pl]=Kolor odwiedzonego odnośnika
Name[pt]=Cor da Ligação Visitada
Name[pt_BR]=Cor do link visitado
Name[ro]=Culoare legătură vizitată
Name[ru]=Цвет посещённой ссылки
Name[sk]=Farba navštíveného odkazu
Name[sl]=Barva obiskane povezave
Name[sq]=Ngjyra e lidhjeve të vizituara
Name[sv]=Besökt länkfärg
Name[th]=สีส่วนเชื่อมโยงที่ไปชมมาแล้ว
Name[tr]=Tıklanmış Bağlantı Rengi
Name[ug]=زىيارەت قىلىنغان ئۇلانما رەڭگى
Name[uk]=Колір відвіданого посилання
Name[x-test]=xxVisited Link Colorxx
Name[zh_CN]=已访问的链接颜色
Name[zh_TW]=可見的連結顏色
Type=color
Default=#b3b3b3
