[Desktop Entry]
Name=Classic
Comment=A port of the old HTML Export plugin theme

[X-HTMLExport Preview]
Name=Classic
Url=preview.png

[X-HTMLExport Author]
Name=Aurélien Gâteau
Url=mailto:aurelien.gateau@free.fr

[X-HTMLExport Parameter thumbnailPerRow]
Name=Thumbnails per row
Type=int
Default=4
Min=1
Max=100

[X-HTMLExport Parameter bgColor]
Name=Background Color
Type=color
Default=#333333

[X-HTMLExport Parameter fgColor]
Name=Foreground Color
Type=color
Default=#d0ffd0

[X-HTMLExport Parameter fontSize]
Name=Font Size
Type=int
Default=14
Min=1
Max=100

[X-HTMLExport Parameter imgBorderSize]
Name=Image Border Size
Type=int
Default=1
Min=1
Max=50

[X-HTMLExport Parameter imgBorderColor]
Name=Image Border Color
Type=color
Default=#d0ffd0

[X-HTMLExport Parameter linkColor]
Name=Link Color
Type=color
Default=#b3b3b3

[X-HTMLExport Parameter visitedLinkColor]
Name=Visited Link Color
Type=color
Default=#b3b3b3
