[Desktop Entry]
Name=ImagePlugin_InsertText
Name[bg]=Приставка за снимки - Добавяне на текст
Name[da]=Plugin til at indsætte tekst
Name[el]=ΠρόσθετοΕικόνας_ΕισαγωγήΚειμένου
Name[hr]=Tekst
Name[it]=PluginImmagini_InserisciTesto
Name[ms]=ImagePlugin_SisipanTeks
Name[nl]=Afbeeldingsplugin_TekstInvoegen
Name[pt_BR]=Plug-in de inserção de texto
Name[sr]=Убаци текст
Name[sr@Latn]=Ubaci tekst
Name[sv]=Insticksprogram för infoga text
Name[tr]=ResimEklentisi_MetinEkle
Name[xx]=xxImagePlugin_InsertTextxx
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Insert text to image plugin for digiKam
Comment[bg]=Приставка на digiKam за добавяне на текст към снимки
Comment[da]=Digikam plugin til at indsætte tekst i billeder
Comment[de]=digiKam-Modul zum Hinzufügen von Text zu einem Bild
Comment[el]=Πρόσθετο εισαγωγής κειμένου σε εικόνα για το digiKam
Comment[es]=Plugin para insertar texto en una imagen para digiKam
Comment[et]=DigiKami pildile teksti lisamise plugin
Comment[fr]=Module externe pour insérer un texte dans une image
Comment[gl]=Un plugin de digiKam para inserir texto na imaxe
Comment[hr]=digiKam dodatak za umetanje teksta
Comment[is]=Íforrit fyrir digiKam sem setur texta inn á mynd
Comment[it]=Plugin per l'aggiunta di testo nell'immagire per digiKam
Comment[ja]=digiKam テキスト挿入プラグイン
Comment[ms]=Plugin sisipan teks ke imej untuk digiKam
Comment[nl]=Digikam-plugin voor het invoegen van tekst
Comment[pa]=ਚਿੱਤਰ ਉੱਤੇ ਪਾਠ ਲਿਖਣ ਲਈ ਪਲੱਗਿੰਨ ਹੈ।
Comment[pl]=Wtyczka do programu digiKam dodająca tekst do zdjęcia
Comment[pt]=Um 'plugin' do digiKam para inserir texto na imagem
Comment[pt_BR]=Plug-in para inserção de texto em Imagens do digikam
Comment[ru]=Модуль digiKam наложения текста на изображения 
Comment[sk]=digiKam plugin pre vkladanie textu do obrázku
Comment[sr]=digiKam-ов прикључак за убацивање текста у слику
Comment[sr@Latn]=digiKam-ov priključak za ubacivanje teksta u sliku
Comment[sv]=Digikam insticksprogram för att infoga text i bilder
Comment[tr]=digiKam için resme metin ekleme eklentisi
Comment[vi]=Bổ sung chèn chữ vào ảnh cho digiKam
Comment[xx]=xxInsert text to image plugin for digiKamxx

X-KDE-Library=digikamimageplugin_inserttext
author=Gilles Caulier, caulier dot gilles at free dot fr
