[Desktop Entry]
Name=ImagePlugin_FxFilters
Name[ast]=ImagePlugin_FxFilters
Name[bg]=Приставка за снимки - Филтри за ефекти
Name[bs]=ImagePugin_FxFilteri
Name[ca]=ImagePlugin_FxFilters
Name[ca@valencia]=ImagePlugin_FxFilters
Name[cs]=ImagePlugin_FxFilters
Name[da]=ImagePlugin_FxFilters
Name[de]=Bildmodul Effekte
Name[el]=ImagePlugin_FxFilters
Name[en_GB]=ImagePlugin_FxFilters
Name[es]=ImagePlugin_FxFilters
Name[et]=ImagePlugin_FxFilters
Name[eu]=ImagePlugin_FxFilters
Name[fi]=ImagePlugin_FxFilters
Name[fr]=ImagePlugin_FxFilters
Name[ga]=ImagePlugin_FxFilters
Name[gl]=ImagePlugin_FxFilters
Name[hr]=ImagePlugin_FxFilters
Name[hu]=ImagePlugin_FxFilters
Name[is]=ImagePlugin_FxFilters
Name[it]=Estensione Filtri Fx
Name[km]=ImagePlugin_FxFilters
Name[ko]=그림 플러그인_특수 효과 필터
Name[lt]=ImagePlugin_FxFilters
Name[nb]=ImagePlugin_FxFilters
Name[nds]=Bildmoduul_Effekten
Name[nl]=Afbeeldingsplugin_Fx-filters
Name[pa]=ImagePlugin_FxFilters
Name[pl]=WtyczkaObrazów_FiltryFx
Name[pt]=ImagePlugin_FxFilters
Name[pt_BR]=ImagePlugin_FxFilters
Name[ro]=ImagePlugin_FiltreEfecte
Name[ru]=ImagePlugin_FxFilters
Name[sk]=ImagePlugin_FxFiltre
Name[sl]=ImagePlugin_FxFilters
Name[sv]=Bildinsticksprogram för effektfilter
Name[th]=ImagePlugin_FxFilters
Name[tr]=ImagePlugin_FxFilters
Name[uk]=ImagePlugin_FxFilters
Name[x-test]=xxImagePlugin_FxFiltersxx
Name[zh_CN]=ImagePlugin_FxFilters
Name[zh_TW]=影像外掛程式_效果濾鏡
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Special effect filters plugin for digiKam
Comment[ast]=Complementu de peñeres d'efeutos especiales pa digiKam
Comment[bg]=Приставка на digiKam с филтри за специални ефекти
Comment[bs]=Dodatak filtera specijalnih efekata za digiKam
Comment[ca]=Connector pel digiKam de filtres d'efectes especials
Comment[ca@valencia]=Connector pel digiKam de filtres d'efectes especials
Comment[cs]=Modul filtrů speciálních efektů digiKamu
Comment[da]=digiKam-plugin med filtre med specialeffekter
Comment[de]=digiKam-Modul für Spezialeffekte
Comment[el]=Πρόσθετο ειδικών εφέ για το digiKam
Comment[en_GB]=Special effect filters plugin for digiKam
Comment[es]=Complemento de digiKam con filtros de efectos especiales
Comment[et]=DigiKami eriefektifiltrite plugin
Comment[eu]=digiKam-en plugina efektu bereziak iragazteko
Comment[fi]=dikiKamin erikoistehosteliitännäinen
Comment[fr]=Module externe d'effets spéciaux pour digiKam
Comment[gl]=Engadido de filtros de efectos especiais para digiKam
Comment[hr]=Priključak za digiKam sa filtrima za specijalne efekte
Comment[hu]=Speciális hatásszűrő bővítmény digiKamhoz
Comment[is]=Íforrit fyrir digiKam fyrir sérstök myndáhrif
Comment[it]=Estensione di digiKam per gli effetti speciali
Comment[km]=កម្មវិធី​ជំនួយ​តម្រង​បែប​ផែន​ពិសេស​សម្រាប់​ digiKam
Comment[ko]=digiKam용 특수 효과 필터
Comment[lt]=Ypatingų efektų filtrų papildinys digiKam programai
Comment[nb]=digiKam programtillegg for spesialeffekter
Comment[nds]=En digiKam-Filtermoduul för besünner Effekten
Comment[nl]=digiKam-plugin voor speciale effectfilters
Comment[pa]=ਡਿਜਿਕੈਮ ਲਈ ਖਾਸ ਪਰਭਾਵ ਫਿਲਟਰ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka filtrów efektów specjalnych dla digiKam
Comment[pt]=Um 'plugin' do de efeitos especiais para o digiKam
Comment[pt_BR]=Plugin de filtros de efeitos especiais para o digiKam
Comment[ro]=Extensie digiKam cu filtre de efecte speciale
Comment[ru]=Модуль digiKam со специальными фильтрами-эффектами
Comment[sk]=Plugin filtrov špeciálnych efektov pre digiKam
Comment[sl]=Vstavek s filtri posebnih učinkov
Comment[sv]=Digikam insticksprogram med specialeffektfilter
Comment[th]=ส่วนเสริมของ digiKam สำหรับลูกเล่นฟิลเตอร์ต่าง ๆ
Comment[tr]=digiKam için özel efekt filtreleri eklentisi
Comment[uk]=Додаток фільтрів спеціальних ефектів digiKam
Comment[x-test]=xxSpecial effect filters plugin for digiKamxx
Comment[zh_CN]=digiKam 特效滤镜插件
Comment[zh_TW]=digiKam 的特效濾鏡外掛程式

X-KDE-Library=digikamimageplugin_fxfilters
author=Caulier Gilles, caulier dot gilles at gmail dot com
