[Desktop Entry]
Name=ImagePlugin_FxFilters
Name[ca]=ImagePlugin_FxFilters
Name[ca@valencia]=ImagePlugin_FxFilters
Name[cs]=ImagePlugin_FxFilters
Name[da]=ImagePlugin_FxFilters
Name[en_GB]=ImagePlugin_FxFilters
Name[et]=ImagePlugin_FxFilters
Name[is]=ImagePlugin_FxFilters
Name[nb]=ImagePlugin_FxFilters
Name[nds]=Bildmoduul_Effekten
Name[nl]=Afbeeldingsplugin_Fx-filters
Name[pt]=ImagePlugin_FxFilters
Name[pt_BR]=ImagePlugin_FxFilters
Name[sv]=Bildinsticksprogram för effektfilter
Name[th]=ImagePlugin_FxFilters
Name[uk]=ImagePlugin_FxFilters
Name[x-test]=xxImagePlugin_FxFiltersxx
Name[zh_CN]=ImagePlugin_FxFilters
Name[zh_TW]=影像外掛程式_效果濾鏡
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Special effect filters plugin for digiKam
Comment[ca]=Connector pel digiKam de filtres d'efectes especials
Comment[ca@valencia]=Connector pel digiKam de filtres d'efectes especials
Comment[cs]=Modul filtrů speciálních efektů digiKamu
Comment[da]=digiKam-plugin med filtre med specialeffekter
Comment[de]=digiKam-Modul für Spezialeffekte
Comment[en_GB]=Special effect filters plugin for digiKam
Comment[et]=DigiKami eriefektifiltrite plugin
Comment[is]=Íforrit fyrir digiKam fyrir sérstök myndáhrif
Comment[nb]=digiKam programtillegg for spesialeffekter
Comment[nl]=digiKam-plugin voor speciale effectfilters
Comment[pt]=Um 'plugin' do de efeitos especiais para o digiKam
Comment[pt_BR]=Plug-in do digiKam de filtros de efeitos especiais
Comment[sv]=Digikam insticksprogram med specialeffektfilter
Comment[th]=ส่วนเสริมของ digiKam สำหรับลูกเล่นฟิลเตอร์ต่าง ๆ
Comment[uk]=Додаток фільтрів спеціальних ефектів digiKam
Comment[x-test]=xxSpecial effect filters plugin for digiKamxx
Comment[zh_CN]=digiKam 特效滤镜插件
Comment[zh_TW]=digiKam 的特效濾鏡外掛程式

X-KDE-Library=digikamimageplugin_fxfilters
author=Caulier Gilles, caulier dot gilles at gmail dot com
