[Desktop Entry]
Name=ImagePlugin_WhiteBalance
Name[bg]=Приставка за снимки - Баланс на бялото
Name[el]=ΠρόσθετοΕικόνας_ΙσορροπίαΛευκού
Name[hr]=Bijeli balans
Name[it]=PluginImmagini_BilanciamentoDelBianco
Name[nl]=Afbeeldingsplugin_Witbalans
Name[pt_BR]=Plug-in de balanço do branco
Name[sr]=Баланс белог
Name[sr@Latn]=Balans belog
Name[sv]=Insticksprogram för vitbalans
Name[tr]=ResimEklentisi_BeyazDengesi
Name[xx]=xxImagePlugin_WhiteBalancexx

Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=White balance correction plugin for digiKam
Comment[bg]=Приставка на digiKam за промяна баланса на бялото
Comment[da]=Hvid balance rettelsesplugin for digiKam
Comment[de]=digiKam-Modul zur Korrektur des Weißabgleichs
Comment[el]=Πρόσθετο διόρθωσης ισορροπίας λευκού για το digiKam
Comment[es]=Plugin de corrección de equilibrio de blancos para digiKam
Comment[et]=DigiKami valge tasakaalu korrigeerimise plugin
Comment[fr]=Module externe pour corriger l'équilibre des blancs d'une image
Comment[gl]=Un plugin de digiKam para corrixir o balance do branco
Comment[hr]=digiKam dodatak za ispravljanje bijelog balansa
Comment[is]=Íforrit fyrir digiKam sem breytir hvítvægi mynda
Comment[it]=Plugin di correzione del bilanciamento del bianco per digiKam
Comment[ja]=digiKam ホワイトバランス補正プラグイン
Comment[nl]=Digikam-plugin voor het corrigeren van de witbalans
Comment[pl]=Wtyczka do programu digiKam korygująca balans bieli
Comment[pt]=Um 'plugin' do digiKam para corrigir o balanceamento de branco
Comment[pt_BR]=Plug-in de correção de balanço branco para o digiKam
Comment[ru]=Модуль коррекции баланса белого для digiKam
Comment[sk]=digiKam plugin na korekciu vyváženia bielej
Comment[sr]=digiKam-ов прикључак исправку баланса белог
Comment[sr@Latn]=digiKam-ov priključak ispravku balansa belog
Comment[sv]=Digikam insticksprogram för korrigering av vitbalans
Comment[tr]=digiKam için beyaz dengesi düzeltme eklentisi
Comment[vi]=Bổ sung sửa cân bằng trắng cho digiKam
Comment[xx]=xxWhite balance correction plugin for digiKamxx
Comment[zh_CN]=digiKam 的白平衡纠正插件

X-KDE-Library=digikamimageplugin_whitebalance
author=Gilles Caulier, caulier dot gilles at free dot fr
