[Desktop Entry]
Name=ImagePlugin_Core
Name[bg]=Приставка за снимки - Основна приставка
Name[ca]=ImagePlugin_Core
Name[cs]=ImagePlugin_Core
Name[da]=ImagePlugin_Core
Name[de]=Bildmodul_Kern
Name[el]=ΠρόσθετοΕικόνας_Πυρήνας
Name[en_GB]=ImagePlugin_Core
Name[es]=ImagePlugin_Core
Name[et]=ImagePlugin_Core
Name[fi]=Liitännäisten ydin
Name[fr]=ImagePlugin_Core
Name[ga]=ImagePlugin_Core
Name[gl]=ImagePlugin_Core
Name[he]=תוסף תמונה מובנה
Name[hne]=इमेज-प्लगइन_कोर
Name[it]=Nucleo
Name[ja]=ImagePlugin_Core
Name[km]=ImagePlugin_Core
Name[lt]=ImagePlugin_Core
Name[lv]=ImagePlugin_Core
Name[nb]=ImagePlugin_Core
Name[nds]=ImagePlugin_Core
Name[ne]=ImagePlugin_Core
Name[nl]=Afbeeldingsplugin_Kern
Name[pa]=ImagePlugin_Core
Name[pl]=ImagePlugin_Core
Name[pt]=ImagePlugin_Core
Name[pt_BR]=ImagePlugin_Core
Name[ro]=ImagePlugin_Core
Name[sk]=ObrazovýModul_Hlavný
Name[sv]=Insticksprogram med bildkärna
Name[th]=ImagePlugin_Core
Name[tr]=GörüntüEklentisi_Çekirdek
Name[uk]=ImagePlugin_Core
Name[vi]=ImagePlugin_Core
Name[x-test]=xxImagePlugin_Corexx
Name[zh_CN]=ImagePlugin_Core
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=digiKam Core Image Plugin
Comment[bg]=Основна приставка за снимки на digiKam
Comment[ca]=Connector d'imatge bàsic del digiKam
Comment[cs]=Hlavní modul digiKamu pro obrázky
Comment[da]=Grundlæggende digiKam billed-plugin
Comment[de]=digiKam-Kernmodul
Comment[el]=Πρόσθετο εικόνων πυρήνα digiKam
Comment[en_GB]=digiKam Core Image Plugin
Comment[es]=Complemento fundamental de digiKam de imágenes
Comment[et]=DigiKami peamine pildiplugin
Comment[fa]=وصلۀ تصویر هستۀ digiKam
Comment[fi]=digiKamin liitännäisten ydin
Comment[fr]=Module principal de Digikam
Comment[gl]=Engadido básico de digiKam para imaxes
Comment[he]=תוסף תמונה מובנה עבור Digikam
Comment[hne]=डिजीकैम कोर इमेज प्लगइन
Comment[it]=Estensione centrale di digiKam
Comment[ja]=digiKam コア画像プラグイン
Comment[km]=កម្មវិធី​ជំនួយ​រូបភាព​ស្នូល digiKam
Comment[lt]=digiKam paveikslėlių rodytuvė (programos branduolys)
Comment[lv]=DigiKam pamata attēlu spraudnis
Comment[nb]=digiKam kjernebilde programtillegg
Comment[nds]=Karn-Bildmoduul vun digiKam
Comment[ne]=डिजिक्याम कोर छवि प्लगइन
Comment[nl]=Digikam kernafbeeldingsplugin
Comment[pa]=ਡਿਜਿਕੈਮ ਕੋਰ ਚਿੱਤਰ ਪਲੱਗਇਨ
Comment[pl]=Podstawowa wtyczka obrazu digiKama
Comment[pt]='Plugin' de Imagem Básico do digiKam
Comment[pt_BR]=Plug-in de imagem básico do digiKam
Comment[ro]=Modulul principal al lui digiKam
Comment[sk]=Základný obrázkový plugin digiKamu
Comment[sv]=Insticksprogram med bildkärna för Digikam
Comment[th]=ส่วนเสริมหลักของ digiKam สำหรับจัดการภาพ
Comment[tr]=digiKam Çekirdek Görüntü Eklentisi
Comment[uk]=Основна втулка зображень digiKam
Comment[vi]=Bổ sung ảnh lõi digiKam
Comment[x-test]=xxdigiKam Core Image Pluginxx
Comment[zh_CN]=digiKam 核心图像插件

X-KDE-Library=digikamimageplugin_core
author=Caulier Gilles, caulier dot gilles at gmail dot com
