[Desktop Entry]
Name=ImagePlugin_AdjustCurves
Name[nl]=Afbeeldingplugin_HoekenBijstellen
Name[pt]='Plugin' Ajustar Curvas
Name[pt_BR]='Plugin' Ajustar Curvas
Name[sv]=Insticksprogram för justering av kurvor
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8

Comment=Image histogram adjust curves plugin for digiKam
Comment[nl]=Digikam-plugin voor hoekenbijstelling van afbeeldinghistogram
Comment[pt]='Plugin' de ajustar as curvas do histograma para o digiKam
Comment[pt_BR]='Plugin' de ajustar as curvas do histograma para o digiKam

X-KDE-Library=digikamimageplugin_adjustcurves
author=Caulier Gilles, caulier dot gilles at free dot fr
