[Desktop Entry]
Name=ImagePlugin_AdjustCurves
Name[pt]='Plugin' Ajustar Curvas
Name[pt_BR]='Plugin' Ajustar Curvas
Name[sv]=Insticksprogram för justering av kurvor
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8

Comment=Image histogram adjust curves plugin for digiKam
Comment[fr]=Module externe de digiKam pour l'ajustement par courbes d'une image
Comment[pt]='Plugin' de ajustar as curvas do histograma para o digikam
Comment[pt_BR]='Plugin' de ajustar as curvas do histograma para o digikam
Comment[sv]=Digikam insticksprogram för justering av kurvor i bildhistogram

X-KDE-Library=digikamimageplugin_adjustcurves
author=Caulier Gilles, caulier dot gilles at free dot fr
