[Desktop Entry]
Name=Date Frames
Name[bg]=Рамки на датите
Name[bs]=Okviri za datum
Name[ca]=Marcs de data
Name[ca@valencia]=Marcs de data
Name[cs]=Rámce dat
Name[da]=Datér rammer
Name[de]=Datum-Rahmen
Name[el]=Πλαίσια ημερομηνίας
Name[en_GB]=Date Frames
Name[es]=Marco de fechas
Name[et]=Kuupäevapaneelid
Name[eu]=Dataren markoak
Name[fr]=Cadres de date
Name[gl]=Molduras de datas
Name[hu]=Keretek keltezése
Name[is]=Dagsetningarammar
Name[it]=Riquadri di data
Name[km]=ស៊ុម​កាល​បរិច្ឆេទ
Name[ko]=날짜 프레임
Name[lt]=Datos kadrai
Name[lv]=Datumu ietvari
Name[nb]=Datorammer
Name[nds]=Datenrahmens
Name[nl]=Datumframes
Name[pa]=ਡਾਟਾ ਫਰੇਮ
Name[pl]=Ramki daty
Name[pt]=Molduras de Datas
Name[pt_BR]=Molduras de datas
Name[ro]=Datează cadrele
Name[ru]=С фреймами и датами
Name[sk]=Dátumové snímky
Name[sl]=Okvirji z datumom
Name[sq]=Kornizat e Datës
Name[sv]=Datumramar
Name[th]=กรอบวันที่
Name[tr]=Tarih Çerçeveleri
Name[uk]=Рамки дат
Name[x-test]=xxDate Framesxx
Name[zh_CN]=日期框
Name[zh_TW]=日期框
Comment=A frame theme based on Ruediger Bente's frame theme
Comment[bg]=Изглед с рамки, основан на изгледа с рамки на Ruediger Bente
Comment[bs]=Tema okvira bazirana na Ruediger Bente-ovoj temi okvira
Comment[ca]=Un tema de marcs basat en el tema de marcs del Ruediger Bente
Comment[ca@valencia]=Un tema de marcs basat en el tema de marcs del Ruediger Bente
Comment[cs]=Motiv rámce založený na motivu Ruediger Bente
Comment[da]=Et ramme-tema baseret på Ruediger Bente's ramme-tema
Comment[de]=Ein Rahmendesign, das auf Rüdiger Bentes Rahmendesign basiert
Comment[el]=Ένα θέμα πλαισίων βασισμένο στο θέμα του Ruediger Bente
Comment[en_GB]=A frame theme based on Ruediger Bente's frame theme
Comment[es]=Un tema con marcos basado en el tema de marcos de Ruediger Bente
Comment[et]=Ruediger Bente raamiteemal põhinev raamiteema
Comment[eu]=Ruediger Bente-ren marko-gaian oinarritutako marko-gaia
Comment[fr]=Un thème de cadre utilisant celui de Ruediger Bente
Comment[gl]=Un tema de molduras baseado no de Ruediger Bente
Comment[he]=ערכת מסגרות המבוססת על ערכת המסגרות של רודיגר בנטה
Comment[hu]=Ruediger Bente kerettémáján alapuló kerettéma
Comment[is]=Rammaþema byggt á þema eftir Ruediger Bente
Comment[it]=Un tema a riquadri basato sul tema a riquadri di Rüdiger Bente
Comment[ja]=Ruediger Bente のフレームテーマに基づくフレームテーマ
Comment[km]=ស្បែក​ស៊ុម​មាន​មូលដ្ឋាន​លើ​ស្បែក​ស៊ុម​របស់ Ruediger Bente
Comment[ko]=Ruediger Bente의 프레임 테마를 기반으로 한 테마
Comment[lv]=Ietvaru tēma, balstīta uz  Ruediger Bente ietvaru tēmas
Comment[nb]=Et rammetema bygget på Ruediger Bebtes rammetema
Comment[nds]=En Rahmenmuster, opbuut op Ruediger Bente sien Rahmenmuster
Comment[nl]=Een framethema gebaseerd op het framethema van Ruediger Bente'
Comment[pl]=Wystrój ramki oparty na wystroju ramki autorstwa Ruediger Bente
Comment[pt]=Um tema de moldura baseado no tema de Ruediger Bente
Comment[pt_BR]=Um tema de moldura baseado no tema de Ruediger Bente
Comment[ro]=O tematică de cadru bazată pe tematica lui Ruediger Bente
Comment[ru]=Оформление, основанное на оформлении от Ruediger Bente
Comment[sk]=Téma rámčekov založená na téme od Ruediger Bente
Comment[sl]=Tema z okvirji, ki temelji na temi z okvirji avtorja Ruedigerja Benteja
Comment[sq]=Një temë e bazuar në kornizë sipas asaj të Ruediger Bente
Comment[sv]=Ett ramtema baserat på Ruediger Bentes ramtema
Comment[th]=ชุดตกแต่งกรอบภาพ อิงพื้นฐานจากชุดตกแต่งกรอบภาพของ Ruediger Bente'
Comment[tr]=Ruediger Bente'nin çerçeve teması tabanlı bir  tema
Comment[uk]=Тема рамок на основі теми Ruediger Bente
Comment[x-test]=xxA frame theme based on Ruediger Bente's frame themexx
Comment[zh_CN]=基于 Ruediger Bente 边框主题的边框主题
Comment[zh_TW]=基於 Ruediger Bente 外框主題的主題

[X-HTMLExport Author]
Name=Elizabeth Marmorstein
Name[bg]=Elizabeth Marmorstein
Name[bs]=Elizabeth Marmorstein
Name[ca]=Elizabeth Marmorstein
Name[ca@valencia]=Elizabeth Marmorstein
Name[cs]=Elizabeth Marmorstein
Name[da]=Elizabeth Marmorstein
Name[de]=Elizabeth Marmorstein
Name[el]=Elizabeth Marmorstein
Name[en_GB]=Elizabeth Marmorstein
Name[eo]=Elizabeth Marmorstein
Name[es]=Elizabeth Marmorstein
Name[et]=Elizabeth Marmorstein
Name[eu]=Elizabeth Marmorstein
Name[fi]=Elizabeth Marmorstein
Name[fr]=Elizabeth Marmorstein
Name[gl]=Elizabeth Marmorstein
Name[he]=אליזבת מרמורשטיין
Name[hne]=एलिजाबेथ मारमोर्स्टीन
Name[hu]=Elizabeth Marmorstein
Name[is]=Elizabeth Marmorstein
Name[it]=Elizabeth Marmorstein
Name[ja]=Elizabeth Marmorstein
Name[km]=Elizabeth Marmorstein
Name[ko]=Elizabeth Marmorstein
Name[lt]=Elizabeth Marmorstein
Name[lv]=Elizabeth Marmorstein
Name[nb]=Elizabeth Marmorstein
Name[nds]=Elizabeth Marmorstein
Name[nl]=Elizabeth Marmorstein
Name[pa]=ਏਲੀਜ਼ਬੈਥ ਮਾਰਮੋਰਸਟਿਨ
Name[pl]=Elizabeth Marmorstein
Name[pt]=Elizabeth Marmorstein
Name[pt_BR]=Elizabeth Marmorstein
Name[ro]=Elizabeth Marmorstein
Name[ru]=Elizabeth Marmorstein
Name[sk]=Elizabeth Marmorstein
Name[sl]=Elizabeth Marmorstein
Name[sq]=Elizabeth Marmorstein
Name[sv]=Elizabeth Marmorstein
Name[th]=Elizabeth Marmorstein
Name[tr]=Elizabeth Marmorstein
Name[uk]=Elizabeth Marmorstein
Name[x-test]=xxElizabeth Marmorsteinxx
Name[zh_CN]=Elizabeth Marmorstein
Name[zh_TW]=Elizabeth Marmorstein
Url=mailto:purplegamba@cox.net

[X-HTMLExport Preview]
Name=Date Frames
Name[bg]=Рамки на датите
Name[bs]=Okviri za datum
Name[ca]=Marcs de data
Name[ca@valencia]=Marcs de data
Name[cs]=Rámce dat
Name[da]=Datér rammer
Name[de]=Datum-Rahmen
Name[el]=Πλαίσια ημερομηνίας
Name[en_GB]=Date Frames
Name[es]=Marco de fechas
Name[et]=Kuupäevapaneelid
Name[eu]=Dataren markoak
Name[fr]=Cadres de date
Name[gl]=Molduras de datas
Name[hu]=Keretek keltezése
Name[is]=Dagsetningarammar
Name[it]=Riquadri di data
Name[km]=ស៊ុម​កាល​បរិច្ឆេទ
Name[ko]=날짜 프레임
Name[lt]=Datos kadrai
Name[lv]=Datumu ietvari
Name[nb]=Datorammer
Name[nds]=Datenrahmens
Name[nl]=Datumframes
Name[pa]=ਡਾਟਾ ਫਰੇਮ
Name[pl]=Ramki daty
Name[pt]=Molduras de Datas
Name[pt_BR]=Molduras de datas
Name[ro]=Datează cadrele
Name[ru]=С фреймами и датами
Name[sk]=Dátumové snímky
Name[sl]=Okvirji z datumom
Name[sq]=Kornizat e Datës
Name[sv]=Datumramar
Name[th]=กรอบวันที่
Name[tr]=Tarih Çerçeveleri
Name[uk]=Рамки дат
Name[x-test]=xxDate Framesxx
Name[zh_CN]=日期框
Name[zh_TW]=日期框
Url=preview.png

[X-HTMLExport Parameter color1]
Name=Thumbnail Background
Name[bg]=Фон на умалените копия
Name[bs]=Sličice u pozadini
Name[ca]=Fons de miniatures
Name[ca@valencia]=Fons de miniatures
Name[cs]=Pozadí náhledu
Name[da]=Miniaturebaggrund
Name[de]=Hintergrund der Vorschaubilder
Name[el]=Φόντο επισκόπησης
Name[en_GB]=Thumbnail Background
Name[es]=Fondo de miniaturas
Name[et]=Pisipiltide taust
Name[eu]=Koadro txikien atzeko planoa
Name[fr]=Arrière-plan de vignette
Name[gl]=Fondo das miniaturas
Name[hu]=Bélyegkép háttere
Name[is]=Bakgrunnur smámynda
Name[it]=Sfondo delle miniature
Name[km]=ផ្ទៃ​ខាង​ក្រោយ​របស់​រូបភាព​តូច​ៗ
Name[ko]=미리 보기 그림 배경
Name[lt]=Miniatiūros fonas
Name[lv]=Sīktēlu fons
Name[nb]=Minibilde-bakgrunn
Name[nds]=Vöransicht-Achtergrund
Name[nl]=Achtergrond van miniaturen
Name[pa]=ਥੰਮਨੇਲ ਬੈਕਗਰਾਊਂਡ
Name[pl]=Tło miniaturki
Name[pt]=Fundo das Miniaturas
Name[pt_BR]=Plano de fundo das miniaturas
Name[ro]=Fundal miniatură
Name[ru]=Фон под миниатюрами
Name[sk]=Pozadie miniatúry
Name[sl]=Ozadje sličice
Name[sq]=Sfond Miniaturë
Name[sv]=Miniatyrbildernas bakgrund
Name[th]=พื้นหลังภาพตัวอย่าง
Name[tr]=Küçük Resim Arkaplanı
Name[uk]=Тло мініатюр
Name[x-test]=xxThumbnail Backgroundxx
Name[zh_CN]=缩略图背景
Name[zh_TW]=縮圖背景
Type=color
Default=#FFFFFF

[X-HTMLExport Parameter color2]
Name=Image Background (contrasting)
Name[bg]=Фон на изображенията (контрастен)
Name[bs]=Slika za pozadinu (kontrasti)
Name[ca]=Fons d'imatges (amb contrast)
Name[ca@valencia]=Fons d'imatges (amb contrast)
Name[cs]=Pozadí obrázku (kontrastní)
Name[da]=Billedbaggrund (med kontrast)
Name[de]=Bildhintergrund (Kontrastreich)
Name[el]=Εικόνα φόντου (αντίθεση)
Name[en_GB]=Image Background (contrasting)
Name[es]=Fondo de imagen (con contrastre)
Name[et]=Piltide taust (kontrastis)
Name[eu]=Irudien atzeko planoa (kontrastearekin)
Name[fr]=Arrière-plan d'image (contraste)
Name[gl]=Fondo das imaxes (contraste)
Name[hu]=Kép háttérere (elütő)
Name[is]=Bakgrunnur mynda (mótstæður)
Name[it]=Sfondo dell'immagine (contrastante)
Name[km]=ផ្ទៃ​ខាង​ក្រោយ​របស់​រូបភាព​ (កម្រិត​ពណ៌)
Name[ko]=그림 배경(명도 차이)
Name[lv]=Attēla fons (kontrastējošs)
Name[nb]=Bildebakgrunn (for kontrast)
Name[nds]=Bildachtergrund (afheevt Kontrast)
Name[nl]=Achtergrond van afbeeldingen (contrasterend)
Name[pl]=Tło obrazu (kontrastujące)
Name[pt]=Fundo da Imagem (com contraste)
Name[pt_BR]=Plano de fundo da imagem (com contraste)
Name[ro]=Fundal imagine (contrastare)
Name[ru]=Фон под изображением
Name[sk]=Pozadie obrázku (kontrastné)
Name[sl]=Ozadje slike (kontrastno)
Name[sq]=Imazh Sfondi (në kontrast)
Name[sv]=Bildens bakgrund (avvikande)
Name[th]=พื้นหลังของภาพ (ให้มีความเปรียบต่างมาก)
Name[tr]=Resim Arkaplanı (karşıt renk)
Name[uk]=Тло зображення (контрастність)
Name[x-test]=xxImage Background (contrasting)xx
Name[zh_CN]=图像背景(对比)
Name[zh_TW]=影像背景 (對比化)
Type=color
Default=#000055

[X-HTMLExport Parameter color3]
Name=Nav Bar Background (dark)
Name[bg]=Фон на лентата за управление (тъмен)
Name[bs]=Nav Bar Pozadina (tamna)
Name[ca]=Fons de la barra de navegació (fosc)
Name[ca@valencia]=Fons de la barra de navegació (fosc)
Name[cs]=Pozadí navigačního panelu (tmavé)
Name[da]=Nav.-linjebaggrund (mørk)
Name[de]=Hintergrund der Navigationsleiste (Dunkel)
Name[el]=Φόντο γραμμής πλοήγησης (σκούρο)
Name[en_GB]=Nav Bar Background (dark)
Name[es]=Fondo de la barra de navegación (oscuro)
Name[et]=Liikumisriba taust (tume)
Name[eu]=Nabigazio-barraren atzeko planoa (iluna)
Name[fr]=Arrière plan de barre de navigation (noir)
Name[gl]=Fondo da barra de navegación (escuro)
Name[hu]=Navigációsáv háttere (sötét)
Name[is]=Bakgrunnur leiðsögusláar (dökkur)
Name[it]=Sfondo della barra di navigazione (scuro)
Name[km]=ពណ៌​ផ្ទៃ​ខាង​ក្រោយ​របស់​របារ​រុក​រក​ (ខ្មៅ​)
Name[ko]=탐색 표시줄 배경(어두움)
Name[lv]=Navigācijas joslas fons (tumšs)
Name[nb]=Nav. linje-bakgrunn (mørk)
Name[nds]=Stüerbalken-Achtergrund (düüster)
Name[nl]=Achtergrond nav. balk (donker)
Name[pl]=Tło paska sterowania (ciemne)
Name[pt]=Fundo da Barra de Navegação (escuro)
Name[pt_BR]=Plano de fundo da barra de navegação (escuro)
Name[ro]=Fundal bară de navigare (întunecat)
Name[ru]=Фон панели навигации
Name[sk]=Pozadie navigačnej lišty (tmavé)
Name[sl]=Ozadje vrstice za krmarjenje (temno)
Name[sq]=Sfond Nav Bar (i errët)
Name[sv]=Navigeringsradens bakgrund (mörk)
Name[th]=พื้นหลังของแถบนำทาง (โทนมืด)
Name[tr]=Gezinme Çubuğu Arkaplanı (koyu)
Name[uk]=Тло панелі навігації (темне)
Name[x-test]=xxNav Bar Background (dark)xx
Name[zh_CN]=导航栏背景(暗)
Name[zh_TW]=導覽列背景 (暗色)
Type=color
Default=#000011

[X-HTMLExport Parameter intro]
Name=Gallery Introduction
Name[bg]=Въведение на галерията
Name[bs]=Uvod u galeriju
Name[ca]=Introducció a galeries
Name[ca@valencia]=Introducció a galeries
Name[cs]=Představení galerie
Name[da]=Galleri-introduktion
Name[de]=Galerie-Einführung
Name[el]=Εισαγωγή στην πινακοθήκη
Name[en_GB]=Gallery Introduction
Name[es]=Introducción a Gallery
Name[et]=Galerii sissejuhatus
Name[eu]=Galeriaren sarrera
Name[fr]=Introduction de collection
Name[gl]=Introdución á galería
Name[hu]=Galéria bevezetés
Name[is]=Inngangur að myndasafni
Name[it]=Introduzione alla galleria
Name[km]=ការណែនាំ​អំពី​វិចិត្រសាល
Name[ko]=갤러리 소개
Name[lt]=Galerijos pristatymas
Name[lv]=Galerijas ievads
Name[nb]=Introduksjon til Gallery
Name[nds]=Bildsammeln-Inföhren
Name[nl]=Introductie tot de galerij
Name[pl]=Wprowadzenie do galerii
Name[pt]=Introdução à Galeria
Name[pt_BR]=Introdução à galeria
Name[ro]=Introducție la Gallery
Name[ru]=Приветствие при открытии галереи
Name[sk]=Úvod galérie
Name[sl]=Predstavitev galerije
Name[sq]=Hyrje në Galeri
Name[sv]=Inledning till galleri
Name[th]=แนะนำแกลเลอรี
Name[tr]=Galeriye Giriş
Name[uk]=Вступ до галереї
Name[x-test]=xxGallery Introductionxx
Name[zh_CN]=画册介绍
Name[zh_TW]=藝廊介紹
Type=string
Default=Welcome to my web gallery!

[X-HTMLExport Parameter longformat]
Name=Caption Date Format (see http://xsltsl.sourceforge.net/date-time.html)
Name[bg]=Формат на датата в заглавията (вижте http://xsltsl.sourceforge.net/date-time.html)
Name[bs]=Format naslovnog datuma (see http://xsltsl.sourceforge.net/date-time.html)
Name[ca]=Format de la data del títol (vegeu http://xsltsl.sourceforge.net/date-time.html)
Name[ca@valencia]=Format de la data del títol (vegeu http://xsltsl.sourceforge.net/date-time.html)
Name[cs]=Formát data titulku (viz http://xsltsl.sourceforge.net/date-time.html)
Name[da]=Datoformat til billedtekst (se http://xsltsl.sourceforge.net/date-time.html)
Name[de]=Datumsformat des Titels (see http://xsltsl.sourceforge.net/date-time.html)
Name[el]=Μορφή ημερομηνίας στον τίτλο (δείτε http://xsltsl.sourceforge.net/date-time.html)
Name[en_GB]=Caption Date Format (see http://xsltsl.sourceforge.net/date-time.html)
Name[es]=Formato de la fecha de las leyendas (ver http://xsltsl.sourceforge.net/date-time.html)
Name[et]=Allkirja kuupäevavorming (vt. http://xsltsl.sourceforge.net/date-time.html)
Name[eu]=Epigrafeko dataren formatua (ikus http://xsltsl.sourceforge.net/date-time.html)
Name[fr]=Format de date de la légende (voir « http://xsltsl.sourceforge.net/date-time.html »)
Name[gl]=Formato das notas de datas (vexa http://xsltsl.sourceforge.net/date-time.html)
Name[hu]=Felirat dátumformátum (lásd: http://xsltsl.sourceforge.net/date-time.html)
Name[is]=Dagsetningasnið fyrirsagna (sjá http://xsltsl.sourceforge.net/date-time.html)
Name[it]=Formato della data delle didascalie (vedi http://xsltsl.sourceforge.net/date-time.html)
Name[km]=ទ្រង់​ទ្រាយ​កាល​បរិច្ឆេទ​របស់​ចំណង​ជើង​ (មើល​ http://xsltsl.sourceforge.net/date-time.html)
Name[ko]=캡션 날짜 형식(http://xsltsl.sourceforge.net/date-time.html 참조)
Name[lv]=Datuma formāts uzrakstā (skatiet http://xsltsl.sourceforge.net/date-time.html)
Name[nb]=Format for dato i bildetekst (se http://xsltsl.sourceforge.net/date-time.html)
Name[nds]=Titel-Datumformaat (kiek op http://xsltsl.sourceforge.net/date-time.html)
Name[nl]=Datumopmaak in titel (zie http://xsltsl.sourceforge.net/date-time.html)
Name[pl]=Format podpisu daty (zobacz http://xsltsl.sourceforge.net/date-time.html)
Name[pt]=Formato das Datas da Legenda (ver em http://xsltsl.sourceforge.net/date-time.html)
Name[pt_BR]=Formato de datas da legenda (ver em http://xsltsl.sourceforge.net/date-time.html)
Name[ro]=Formatul datei legendei (vedeți http://xsltsl.sourceforge.net/date-time.html)
Name[ru]=Формат даты заголовка (смотрите http://xsltsl.sourceforge.net/date-time.html)
Name[sk]=Formát dátumu popisu (pozri http://xsltsl.sourceforge.net/date-time.html)
Name[sl]=Oblika datuma napisa (oglejte si http://xsltsl.sourceforge.net/date-time.html)
Name[sq]=Format i Datës së Kapur (shikoni http://xsltsl.sourceforge.net/date-time.html)
Name[sv]=Bildtextens datumformat (se http://xsltsl.sourceforge.net/date-time.html)
Name[th]=รูปแบบคำอธิบายวัน (ดูได้ที่ http://xsltsl.sourceforge.net/date-time.html)
Name[tr]=Başlık Tarihi Biçimi (http://xsltsl.sourceforge.net/date-time.html adresine bakın)
Name[uk]=Формат підпису-дати (див. http://xsltsl.sourceforge.net/date-time.html)
Name[x-test]=xxCaption Date Format (see http://xsltsl.sourceforge.net/date-time.html)xx
Name[zh_CN]=标题日期格式(参见 http://xsltsl.sourceforge.net/date-time.html)
Name[zh_TW]=標題日期格式 (詳見 http://xsltsl.sourceforge.net/date-time.html)
Type=string
Default=%A, %b %e, %Y   %i:%M%P
Comment=XSL Date Format String: Use the syntax given at http://xsltsl.sourceforge.net/date-time.html
Comment[bg]=Формат на датата в XSL: използвайте синтаксиса, даден в http://xsltsl.sourceforge.net/date-time.html
Comment[bs]=XSL format datuma: Koristite sintaksu datu na http://xsltsl.sourceforge.net/date-time.html
Comment[ca]=Cadena de format de les dates en XSL: empreu la sintaxi indicada a http://xsltsl.sourceforge.net/date-time.html
Comment[ca@valencia]=Cadena de format de les dates en XSL: empreu la sintaxi indicada a http://xsltsl.sourceforge.net/date-time.html
Comment[cs]=Řetězec formátu data XSL: Použijte syntaxi určenou na http://xsltsl.sourceforge.net/date-time.html
Comment[da]=XSL datoformat-streng: Brug den syntaks der oplyses på http://xsltsl.sourceforge.net/date-time.html
Comment[de]=XSL-Datumsformat: Auf der Webseite http://xsltsl.sourceforge.net/date-time.html kann die Syntax nachgeschaut werden.
Comment[el]=Συμβολοσειρά μορφής ημερομηνίας XSL: Χρησιμοποιήστε τη σύνταξη που δίνεται στο http://xsltsl.sourceforge.net/date-time.html
Comment[en_GB]=XSL Date Format String: Use the syntax given at http://xsltsl.sourceforge.net/date-time.html
Comment[es]=Texto del formato de las fechas en XSL. Use la sintaxis indicada en http://xsltsl.sourceforge.net/date-time.html
Comment[et]=XSL kuupäevavormingu string: kasuta süntaksit, mille toob ära http://xsltsl.sourceforge.net/date-time.html
Comment[eu]=XSL dataren formatuaren katea: erabili http://xsltsl.sourceforge.net/date-time.html webean emandako sintaxia
Comment[fr]=Chaîne « XSL » de format de date : utiliser la syntaxe fournie à l'adresse « http://xsltsl.sourceforge.net/date-time.html »
Comment[gl]=Cadea de formato de datas XSL: Empregue a sintaxe que se indica en http://xsltsl.sourceforge.net/date-time.html
Comment[hu]=XSL dátumformátum karakterlánc: Használja a http://xsltsl.sourceforge.net/date-time.html oldalon megadott szintaxist
Comment[is]=XSL dagsetningasnið: Notaðu samhengi eins og gefið er upp á http://xsltsl.sourceforge.net/date-time.html
Comment[it]=Stringa del formato di data XSL: usa la sintassi indicata a http://xsltsl.sourceforge.net/date-time.html
Comment[km]=ខ្សែ​អក្សរ​ទ្រង់​ទ្រាយ​កាល​បរិច្ឆេទ​ XSL ​​៖ ប្រើ​វាក្យសម្ព័ន្ធ​ដែល​​​ផ្តល់​តាម​ http://xsltsl.sourceforge.net/date-time.html
Comment[ko]=XSL 날짜 형식 문자열: http://xsltsl.sourceforge.net/date-time.html 사이트의 문법 참조
Comment[lv]=XSL datuma formāta virkne: lietojiet sintaksi, kas norādīta http://xsltsl.sourceforge.net/date-time.html
Comment[nb]=XSL formatstreng for dato: Bruk syntaksen beskrevet på http://xsltsl.sourceforge.net/date-time.html
Comment[nds]=XSL-Datumformaat-Angaav: Bruuk de op http://xsltsl.sourceforge.net/date-time.html angeven Schriefwies.
Comment[nl]=XSL-datumopmaaktekstreeks: Gebruik de syntax uit http://xsltsl.sourceforge.net/date-time.html
Comment[pl]=Ciąg znaków formatu daty XSL: Use the syntax given at http://xsltsl.sourceforge.net/date-time.html
Comment[pt]=Texto de Formato das Datas em XSL. Use a sintaxe indicada em http://xsltsl.sourceforge.net/date-time.html
Comment[pt_BR]=String do formato de datas em XSL. Use a sintaxe indicada em http://xsltsl.sourceforge.net/date-time.html
Comment[ro]=Formatul datei șirului XSL: Utilizați sintaxa indicată pe http://xsltsl.sourceforge.net/date-time.html
Comment[ru]=Строковый формат даты XLS: используйте синтаксис, описанный по адресуhttp://xsltsl.sourcefourge.net/date-time.html
Comment[sk]=Reťazec formátu dátumu XSL: Použite syntax danú na http://xsltsl.sourceforge.net/date-time.html
Comment[sl]=Niz za obliko datuma XSL: uporabite skladnjo podano na http://xsltsl.sourceforge.net/date-time.html
Comment[sq]=Format i Shiritit të Datës XSL: Përdorni sintaksën e dhënë tek http://xsltsl.sourceforge.net/date-time.html
Comment[sv]=XSL-datumformatsträng. Använd syntaxen angiven på http://xsltsl.sourceforge.net/date-time.html
Comment[th]=ข้อความรูปแบบวันที่ของ XSL: ใช้ไวยากรณ์ตามที่ให้มาที่ http://xsltsl.sourceforge.net/date-time.html
Comment[tr]=XSL Tarih Biçimi Dizgisi: http://xsltsl.sourceforge.net/date-time.html adresinde verilen yazım şeklini kullanın
Comment[uk]=Рядок форматування дати XSL: використовуйте синтаксис, описаний на http://xsltsl.sourceforge.net/date-time.html
Comment[x-test]=xxXSL Date Format String: Use the syntax given at http://xsltsl.sourceforge.net/date-time.htmlxx
Comment[zh_CN]=XSL 日期格式字符串：使用 http://xsltsl.sourceforge.net/date-time.html 给出的语法
Comment[zh_TW]=XSL 日期格式字串：使用於 http://xsltsl.sourceforge.net/date-time.html 取得的 syntax

[X-HTMLExport Parameter shortformat]
Name=Image List Date Format
Name[bg]=Формат на датата за списъка с изображения
Name[bs]=Format datuma liste slika
Name[ca]=Format de la data de la llista d'imatges
Name[ca@valencia]=Format de la data de la llista d'imatges
Name[cs]=Formát data seznamu obrázků
Name[da]=Datoformat for billedliste
Name[de]=Datumsformat der Bilderliste
Name[el]=Μορφή ημερομηνίας λίστας εικόνων
Name[en_GB]=Image List Date Format
Name[es]=Formato de las fechas de la lista de imágenes
Name[et]=Pildiloendi kuupäevavorming
Name[eu]=Irudien zerrendako dataren formatua
Name[fr]=Format de dates pour liste d'images
Name[gl]=Formato de datas das listas de imaxes
Name[hu]=Képlista dátumformátum
Name[is]=Dagsetningasnið mundalista
Name[it]=Formato della data dell'elenco delle immagini
Name[km]=ទ្រង់​ទ្រាយ​កាល​បរិច្ឆេទ​របស់​បញ្ជី​រូបភាព
Name[ko]=그림 목록 날짜 형식
Name[lt]=Paveikslėlių sąrašo datos formatas
Name[lv]=Attēlu saraksta datuma formāts
Name[nb]=Datoformat i bildeliste
Name[nds]=Billerlist-Datumformaat
Name[nl]=Datumopmaak van afbeeldingenlijst
Name[pa]=ਚਿੱਤਰ ਲਿਸਟ ਡਾਟਾ ਫਾਰਮੈਟ
Name[pl]=Format daty listy obrazów
Name[pt]=Formato das Datas da Lista de Imagens
Name[pt_BR]=Formato de datas da lista de imagens
Name[ro]=Formatul datei listei de imagini
Name[ru]=Формат даты списка изображений
Name[sk]=Formát dátumu zoznamu obrázkov
Name[sl]=Oblika datuma seznama slik
Name[sq]=Formati i Listimit të Datës së Imazhit
Name[sv]=Bildlistans datumformat
Name[th]=รูปแบบวันที่รายการภาพ
Name[tr]=Resim Listesi Tarih Biçimi
Name[uk]=Формат дати у списку зображень
Name[x-test]=xxImage List Date Formatxx
Name[zh_CN]=图像列表日期格式
Name[zh_TW]=影像清單日期格式
Type=string
Default=%m-%d-%Y
Comment=XSL Date Format String: Use the syntax given at http://xsltsl.sourceforge.net/date-time.html
Comment[bg]=Формат на датата в XSL: използвайте синтаксиса, даден в http://xsltsl.sourceforge.net/date-time.html
Comment[bs]=XSL format datuma: Koristite sintaksu datu na http://xsltsl.sourceforge.net/date-time.html
Comment[ca]=Cadena de format de les dates en XSL: empreu la sintaxi indicada a http://xsltsl.sourceforge.net/date-time.html
Comment[ca@valencia]=Cadena de format de les dates en XSL: empreu la sintaxi indicada a http://xsltsl.sourceforge.net/date-time.html
Comment[cs]=Řetězec formátu data XSL: Použijte syntaxi určenou na http://xsltsl.sourceforge.net/date-time.html
Comment[da]=XSL datoformat-streng: Brug den syntaks der oplyses på http://xsltsl.sourceforge.net/date-time.html
Comment[de]=XSL-Datumsformat: Auf der Webseite http://xsltsl.sourceforge.net/date-time.html kann die Syntax nachgeschaut werden.
Comment[el]=Συμβολοσειρά μορφής ημερομηνίας XSL: Χρησιμοποιήστε τη σύνταξη που δίνεται στο http://xsltsl.sourceforge.net/date-time.html
Comment[en_GB]=XSL Date Format String: Use the syntax given at http://xsltsl.sourceforge.net/date-time.html
Comment[es]=Texto del formato de las fechas en XSL. Use la sintaxis indicada en http://xsltsl.sourceforge.net/date-time.html
Comment[et]=XSL kuupäevavormingu string: kasuta süntaksit, mille toob ära http://xsltsl.sourceforge.net/date-time.html
Comment[eu]=XSL dataren formatuaren katea: erabili http://xsltsl.sourceforge.net/date-time.html webean emandako sintaxia
Comment[fr]=Chaîne « XSL » de format de date : utiliser la syntaxe fournie à l'adresse « http://xsltsl.sourceforge.net/date-time.html »
Comment[gl]=Cadea de formato de datas XSL: Empregue a sintaxe que se indica en http://xsltsl.sourceforge.net/date-time.html
Comment[hu]=XSL dátumformátum karakterlánc: Használja a http://xsltsl.sourceforge.net/date-time.html oldalon megadott szintaxist
Comment[is]=XSL dagsetningasnið: Notaðu samhengi eins og gefið er upp á http://xsltsl.sourceforge.net/date-time.html
Comment[it]=Stringa del formato di data XSL: usa la sintassi indicata a http://xsltsl.sourceforge.net/date-time.html
Comment[km]=ខ្សែ​អក្សរ​ទ្រង់​ទ្រាយ​កាល​បរិច្ឆេទ​ XSL ​​៖ ប្រើ​វាក្យសម្ព័ន្ធ​ដែល​​​ផ្តល់​តាម​ http://xsltsl.sourceforge.net/date-time.html
Comment[ko]=XSL 날짜 형식 문자열: http://xsltsl.sourceforge.net/date-time.html 사이트의 문법 참조
Comment[lv]=XSL datuma formāta virkne: lietojiet sintaksi, kas norādīta http://xsltsl.sourceforge.net/date-time.html
Comment[nb]=XSL formatstreng for dato: Bruk syntaksen beskrevet på http://xsltsl.sourceforge.net/date-time.html
Comment[nds]=XSL-Datumformaat-Angaav: Bruuk de op http://xsltsl.sourceforge.net/date-time.html angeven Schriefwies.
Comment[nl]=XSL-datumopmaaktekstreeks: Gebruik de syntax uit http://xsltsl.sourceforge.net/date-time.html
Comment[pl]=Ciąg znaków formatu daty XSL: Use the syntax given at http://xsltsl.sourceforge.net/date-time.html
Comment[pt]=Texto de Formato das Datas em XSL. Use a sintaxe indicada em http://xsltsl.sourceforge.net/date-time.html
Comment[pt_BR]=String do formato de datas em XSL. Use a sintaxe indicada em http://xsltsl.sourceforge.net/date-time.html
Comment[ro]=Formatul datei șirului XSL: Utilizați sintaxa indicată pe http://xsltsl.sourceforge.net/date-time.html
Comment[ru]=Строковый формат даты XLS: используйте синтаксис, описанный по адресуhttp://xsltsl.sourcefourge.net/date-time.html
Comment[sk]=Reťazec formátu dátumu XSL: Použite syntax danú na http://xsltsl.sourceforge.net/date-time.html
Comment[sl]=Niz za obliko datuma XSL: uporabite skladnjo podano na http://xsltsl.sourceforge.net/date-time.html
Comment[sq]=Format i Shiritit të Datës XSL: Përdorni sintaksën e dhënë tek http://xsltsl.sourceforge.net/date-time.html
Comment[sv]=XSL-datumformatsträng. Använd syntaxen angiven på http://xsltsl.sourceforge.net/date-time.html
Comment[th]=ข้อความรูปแบบวันที่ของ XSL: ใช้ไวยากรณ์ตามที่ให้มาที่ http://xsltsl.sourceforge.net/date-time.html
Comment[tr]=XSL Tarih Biçimi Dizgisi: http://xsltsl.sourceforge.net/date-time.html adresinde verilen yazım şeklini kullanın
Comment[uk]=Рядок форматування дати XSL: використовуйте синтаксис, описаний на http://xsltsl.sourceforge.net/date-time.html
Comment[x-test]=xxXSL Date Format String: Use the syntax given at http://xsltsl.sourceforge.net/date-time.htmlxx
Comment[zh_CN]=XSL 日期格式字符串：使用 http://xsltsl.sourceforge.net/date-time.html 给出的语法
Comment[zh_TW]=XSL 日期格式字串：使用於 http://xsltsl.sourceforge.net/date-time.html 取得的 syntax
