[Desktop Entry]
Name=ImagePlugin_Infrared
Name[bg]=Приставка за снимки - Инфрачервен филм
Name[de]=Bildmodul_Infrarot
Name[el]=ΠρόσθετοΕικόνας_Υπέρυθρο
Name[fi]=Infrapuna
Name[he]=תוסף תמונה - תת-אדום
Name[it]=Infrarosso
Name[nl]=Afbeeldingsplugin_Infrarood
Name[sv]=Insticksprogram för infrarött
Name[tr]=GörüntüEklentisi_Kızılötesi
Name[x-test]=xxImagePlugin_Infraredxx

Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Simulate infrared film plugin for digiKam
Comment[bg]=Приставка на digiKam за наподобяване на снимка с инфрачервен филм
Comment[ca]=Connector pel digiKam de simulació de pel·lícula d'infraroigs
Comment[da]=digiKam-plugin til simulering af infrarød film
Comment[de]=digiKam-Modul zur Simulation eines Infrarotfilms
Comment[el]=Πρόσθετο εξομοίωσης υπέρυθρου φιλμ για το digiKam
Comment[es]=Complemento para digiKam para simular la película infrarroja
Comment[et]=DigiKami infrapunafilmi matkimise plugin
Comment[fa]=شبیه‌سازی وصلۀ فیلم مادون قرمز برای digiKam
Comment[fi]=Jäljittelee infrapunafilmiä
Comment[fr]=Module simulant un film infrarouge pour Digikam
Comment[gl]=Unha extensión de digiKam para simular filme de infravermellos
Comment[he]=תוסף Digikam להדמיית תצוגה תת-אדומה של התמונה
Comment[it]=Estensione di digiKam per la simulazione della pellicola infrarossa
Comment[ja]=digiKam 赤外線フィルム効果プラグイン
Comment[km]=កម្មវិធី​ជំនួយ​ក្លែង​អ៊ីនហ្វ្រារ៉េដ​សម្រាប់ digiKam
Comment[lv]=DigiKam spraudnis infrasarkanās filmas imitēšanai
Comment[nb]=digiKam programtillegg for infrarød effekt
Comment[nds]=digiKam-Moduul för't Simuleren vun Infraroot-Filmen
Comment[ne]=डिजिक्यामका लागि नक्कली इन्फ्रारेड फिल्म प्लगइन
Comment[nl]=Digikam-plugin voor infraroodfilm-effect
Comment[pl]=Comment=Wtyczka do programu digiKam symulujÄca efekt podczerwonej kliszy
Comment[pt]=Um 'plugin' do digiKam para simulação de infravermelhos
Comment[pt_BR]=Plug-in do digiKam para simulação de filme infravermelho
Comment[ro]=Modul digiKam pentru simulare film infraroșu
Comment[ru]=Модуль имитирующий инфракрасную плёнку для digiKam
Comment[sv]=Digikam insticksprogram för att simulera infraröd film
Comment[th]=ปลั๊กอินลูกเล่นเลียนแบบฟิล์มอินฟาเรดสำหรับ digiKam
Comment[tr]=digiKam için kızılötesi filme benzetim eklentisi
Comment[uk]=Втулка симуляції інфрачервоної плівки digiKam
Comment[vi]=Bổ sung mô phỏng mảng thuốc hồng ngoại cho digiKam
Comment[x-test]=xxSimulate infrared film plugin for digiKamxx
Comment[zh_CN]=digiKam 红外胶片模拟插件

X-KDE-Library=digikamimageplugin_infrared
author=Gilles Caulier, caulier dot gilles at gmail dot com
