[Desktop Entry]
Name=ImagePlugin_Infrared
Name[bg]=Приставка за снимки - Инфрачервен филм
Name[ca]=ImagePlugin_Infrared
Name[cs]=ImagePlugin_Infrared
Name[da]=ImagePlugin_Infrared
Name[de]=Bildmodul_Infrarot
Name[el]=ΠρόσθετοΕικόνας_Υπέρυθρο
Name[en_GB]=ImagePlugin_Infrared
Name[es]=ImagePlugin_Infrared
Name[et]=ImagePlugin_Infrared
Name[fi]=Infrapuna
Name[fr]=ImagePlugin_Infrared
Name[ga]=ImagePlugin_Infrared
Name[gl]=ImagePlugin_Infrared
Name[he]=תוסף תמונה - תת-אדום
Name[hne]=इमेज-प्लगइन_इन्फ्रारेड
Name[it]=Infrarosso
Name[ja]=ImagePlugin_Infrared
Name[km]=ImagePlugin_Infrared
Name[lv]=ImagePlugin_Infrared
Name[nb]=ImagePlugin_Infrared
Name[nds]=ImagePlugin_Infrared
Name[ne]=ImagePlugin_Infrared
Name[nl]=Afbeeldingsplugin_Infrarood
Name[pa]=ImagePlugin_Infrared
Name[pl]=ImagePlugin_Infrared
Name[pt]=ImagePlugin_Infrared
Name[pt_BR]=ImagePlugin_Infrared
Name[ro]=ImagePlugin_Infrared
Name[sk]=ObrazovýModul_Infračervené
Name[sv]=Insticksprogram för infrarött
Name[th]=ImagePlugin_Infrared
Name[tr]=GörüntüEklentisi_Kızılötesi
Name[uk]=ImagePlugin_Infrared
Name[vi]=ImagePlugin_Infrared
Name[x-test]=xxImagePlugin_Infraredxx
Name[zh_CN]=ImagePlugin_Infrared

Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Simulate infrared film plugin for digiKam
Comment[bg]=Приставка на digiKam за наподобяване на снимка с инфрачервен филм
Comment[ca]=Connector pel digiKam de simulació de pel·lícula d'infraroigs
Comment[da]=digiKam-plugin til simulering af infrarød film
Comment[de]=digiKam-Modul zur Simulation eines Infrarotfilms
Comment[el]=Πρόσθετο εξομοίωσης υπέρυθρου φιλμ για το digiKam
Comment[en_GB]=Simulate infrared film plugin for digiKam
Comment[es]=Complemento para digiKam para simular la película infrarroja
Comment[et]=DigiKami infrapunafilmi matkimise plugin
Comment[fa]=شبیه‌سازی وصلۀ فیلم مادون قرمز برای digiKam
Comment[fi]=Jäljittelee infrapunafilmiä
Comment[fr]=Module simulant un film infrarouge pour Digikam
Comment[gl]=Un engadido de digiKam para simular filme de infravermellos
Comment[he]=תוסף Digikam להדמיית תצוגה תת-אדומה של התמונה
Comment[hne]=डिजीकैम बर सिमुलेट इन्फ्रारेड फिल्म प्लगइन
Comment[it]=Estensione di digiKam per la simulazione della pellicola infrarossa
Comment[ja]=digiKam 赤外線フィルム効果プラグイン
Comment[km]=កម្មវិធី​ជំនួយ​ក្លែង​អ៊ីនហ្វ្រារ៉េដ​សម្រាប់ digiKam
Comment[lv]=DigiKam spraudnis infrasarkanās filmas imitēšanai
Comment[nb]=digiKam programtillegg for infrarød effekt
Comment[nds]=digiKam-Moduul för't Simuleren vun Infraroot-Filmen
Comment[ne]=डिजिक्यामका लागि नक्कली इन्फ्रारेड फिल्म प्लगइन
Comment[nl]=Digikam-plugin voor infraroodfilm-effect
Comment[pl]=Comment=Wtyczka do programu digiKam symulujÄca efekt podczerwonej kliszy
Comment[pt]=Um 'plugin' do digiKam para simulação de infravermelhos
Comment[pt_BR]=Plug-in do digiKam para simulação de filme infravermelho
Comment[ro]=Modul digiKam pentru simulare de film infraroșu
Comment[ru]=Модуль имитирующий инфракрасную плёнку для digiKam
Comment[sk]=Zásuvný modul digiKam - Napodobenie infračerveného filmu
Comment[sv]=Digikam insticksprogram för att simulera infraröd film
Comment[th]=ส่วนเสริมของ digiKam สำหรับลูกเล่นเลียนแบบฟิล์มอินฟราเรด
Comment[tr]=digiKam için kızılötesi filme benzetim eklentisi
Comment[uk]=Втулка симуляції інфрачервоної плівки digiKam
Comment[vi]=Bổ sung mô phỏng mảng thuốc hồng ngoại cho digiKam
Comment[x-test]=xxSimulate infrared film plugin for digiKamxx
Comment[zh_CN]=digiKam 红外胶片模拟插件

X-KDE-Library=digikamimageplugin_infrared
author=Gilles Caulier, caulier dot gilles at gmail dot com
