[Desktop Entry]
Name=ImagePlugin_Infrared
Name[bg]=Приставка за снимки - Инфрачервен филм
Name[da]=Plugin for infrarødt
Name[el]=ΠρόσθετοΕικόνας_Υπέρυθρο
Name[it]=PluginImmagini_Infrarosso
Name[nl]=Afbeeldingsplugin_Infrarood
Name[pt_BR]=Plug-in de infravermelho
Name[sr]=Инфрацрвено
Name[sr@Latn]=Infracrveno
Name[sv]=Insticksprogram för infrarött
Name[tr]=ResimEklentisi_Kızılötesi
Name[xx]=xxImagePlugin_Infraredxx

Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Simulate infrared film plugin for digiKam
Comment[bg]=Приставка на digiKam за наподобяване на инфрачервен филм
Comment[da]=Digikam plugin for at simulere infrarød film
Comment[de]=digiKam-Modul zum Simulieren von Infrarotfilm
Comment[el]=Πρόσθετο εξομοίωσης υπέρυθρου φιλμ για το digiKam
Comment[es]=Plugin para simular una película de infrarrojos para digiKam
Comment[et]=DigiKami infrapunafilmi matkimise plugin
Comment[fr]=Module externe pour ajouter un effet de film infrarouge dans une image
Comment[it]=Plugin di simulazione di pellicola infrarossa per digiKam
Comment[ja]=digiKam 赤外線フィルム効果プラグイン
Comment[nl]=digiKam-plugin voor infraroodeffect
Comment[pl]=Wtyczka do programu digiKam symulująca efekt podczerwonej kliszy
Comment[pt]=Um 'plugin' do digiKam para simulação de infravermelhos
Comment[pt_BR]=Plug-in de simulação de filme infravermelho para o digikam
Comment[sr]=digiKam-ов прикључак који симулира инфрацрвени филм
Comment[sr@Latn]=digiKam-ov priključak koji simulira infracrveni film
Comment[sv]=Digikam insticksprogram för att simulera infraröd film
Comment[tr]=digiKam için kızılötesi film benzetme eklentisi
Comment[xx]=xxSimulate infrared film plugin for digiKamxx

X-KDE-Library=digikamimageplugin_infrared
author=Gilles Caulier, caulier dot gilles at free dot fr
