[Desktop Entry]
Name=ImagePlugin_BlowUp

Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=digiKam plugin to blowup a photograph

X-KDE-Library=digikamimageplugin_blowup
author=Gilles Caulier, caulier dot gilles at free dot fr
