[Desktop Entry]
Name=ImagePlugin_BlowUp
Name[el]=ΠρόσθετοΕικόνας_Αστάθεια
Name[it]=PluginImmagini_Espansione
Name[ms]=ImagePlugin_Meletup
Name[nl]=Afbeeldingsplugin_Opblazen
Name[pt_BR]=Plug-in de explosão
Name[sr]=Разнеси
Name[sr@Latn]=Raznesi
Name[sv]=Insticksprogram för förstoring
Name[tr]=ResimEklentisi_Büyüt

Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=digiKam plugin to blowup a photograph
Comment[da]=Digikam plugin til at forstørre et fotografi
Comment[de]=Ein digiKam-Modul zum Vergrößern von Bildern.
Comment[el]=Πρόσθετο αστάθειας μιας φωτογραφίας για το digiKam
Comment[es]=Plugin de digiKam para ampliar una fotografía
Comment[et]=DigiKami foto suurendamise plugin
Comment[fr]=Module externe pour agrandir une image
Comment[it]=Plugin di digiKam per espandere una fotografia
Comment[ja]=digiKam 写真引き伸ばしプラグイン
Comment[ms]=Plugin digiKam untuk memperbesarkan gambar
Comment[nl]=digiKam-pluin voor het opblazen van een foto
Comment[pl]=Wtyczka do programu digiKam służąca do powiększania zdjęć
Comment[pt]=Um 'plugin' do digiKam para explodir uma fotografia
Comment[pt_BR]=Plug-in do efeito de explosão de fotografia do digiKam
Comment[sr]=digiKam-ов прикључак за разбијање фотографије
Comment[sr@Latn]=digiKam-ov priključak za razbijanje fotografije
Comment[sv]=Digikam insticksprogram för att förstora ett fotografi
Comment[tr]=Fotoğraf büyütmek için digiKam eklentisi
Comment[uk]=Втулок збільшення фотографій для digiKam для

X-KDE-Library=digikamimageplugin_blowup
author=Gilles Caulier, caulier dot gilles at free dot fr
