[Desktop Entry]
Name=ImagePlugin_Color
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=A tool to correct colors of image

X-KDE-Library=digikamimageplugin_color
author=Caulier Gilles, caulier dot gilles at gmail dot com
