<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<!-- NOTE: don't forget to increase version ID when this file is modified -->
<gui version="35" name="digikamimageplugin_color" >

 <MenuBar>

   <Menu name="Color"><text>&amp;Color</text>
      <Action name="imageplugin_autocorrection" />
      <Action name="imageplugin_bcg" />
      <Action name="imageplugin_hsl" />
      <Action name="imageplugin_rgb" />
      <Separator />
      <Action name="imageplugin_adjustlevels" />
      <Action name="imageplugin_adjustcurves" />
      <Separator />
      <Action name="imageplugin_invert" />
      <Action name="imageplugin_film" />
      <Action name="imageplugin_blackwhite" />
      <Action name="imageplugin_channelmixer" />
      <Action name="imageplugin_whitebalance" />
      <Separator />
      <Menu name="Depth"><text>&amp;Depth</text>
          <Action name="imageplugin_convertto8bits" />
          <Action name="imageplugin_convertto16bits" />
      </Menu>
      <Action name="imageplugin_colormanagement" />
      <Separator />
   </Menu>

</MenuBar>

 <ToolBar name="mainToolBar" >
      <text>Main Toolbar</text>
 </ToolBar>

</gui>
