[Desktop Entry]
Name=ImagePlugin_Color
Name[ast]=ImagePlugin_Color
Name[bg]=Приставка за снимки - Цветове
Name[bs]=ImagePlugin_Color
Name[ca]=ImagePlugin_Color
Name[ca@valencia]=ImagePlugin_Color
Name[cs]=ImagePlugin_Color
Name[da]=ImagePlugin_Color
Name[de]=Bildmodul Farbeffekte
Name[el]=ImagePlugin_Color
Name[en_GB]=ImagePlugin_Colour
Name[es]=ImagePlugin_Color
Name[et]=ImagePlugin_Color
Name[eu]=ImagePlugin_Color
Name[fi]=ImagePlugin_Color
Name[fr]=ImagePlugin_Color
Name[ga]=ImagePlugin_Color
Name[gl]=ImagePlugin_Color
Name[hr]=ImagePlugin_Color
Name[hu]=ImagePlugin_Color
Name[is]=ImagePlugin_Color
Name[it]=Effetti colore
Name[km]=ImagePlugin_Color
Name[ko]=그림 플러그인_색
Name[lt]=ImagePlugin_Color
Name[nb]=ImagePlugin_Color
Name[nds]=Bildmoduul_Klöör
Name[nl]=Afbeeldingsplugin_kleur
Name[pa]=ImagePlugin_Color
Name[pl]=WtyczkaObrazów_Koloruj
Name[pt]=ImagePlugin_Color
Name[pt_BR]=ImagePlugin_Color
Name[ro]=ImagePlugin_Culoare
Name[ru]=ImagePlugin_Color
Name[sk]=ImagePlugin_Farba
Name[sl]=ImagePlugin_Color
Name[sv]=Färginsticksprogram
Name[th]=ImagePlugin_Color
Name[tr]=ImagePlugin_Color
Name[uk]=ImagePlugin_Color
Name[x-test]=xxImagePlugin_Colorxx
Name[zh_CN]=ImagePlugin_Color
Name[zh_TW]=影像外掛程式_顏色
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=A tool to correct colors of image
Comment[ast]=Una ferramienta pa iguar colores de la imaxe
Comment[bg]=Инструмент за поправяне на цветове в снимките
Comment[bs]=Alat za ispravljanje boja na slici
Comment[ca]=Una eina per corregir els colors de les imatges
Comment[ca@valencia]=Una eina per corregir els colors de les imatges
Comment[cs]=Nástroj pro opravu barev obrázku
Comment[da]=Et værktøj til at korrigere et billedes farver
Comment[de]=Korrigiert Farben von Bildern
Comment[el]=Εργαλείο για διόρθωση των χρωμάτων της εικόνας
Comment[en_GB]=A tool to correct colours of image
Comment[es]=Una herramienta para corregir los colores de las imágenes
Comment[et]=Tööriist pildi värvide parandamiseks
Comment[eu]=Irudiaren koloreak zuzentzeko tresna bat
Comment[fi]=Työkalun kuvan värien korjaamiseen
Comment[fr]=Un outil pour corriger les couleurs d'une image
Comment[gl]=Unha ferramenta para corrixir as cores das imaxes
Comment[hr]=Alat za ispravljanje boja na slici
Comment[hu]=Egy eszköz a képek színeinek kiigazításához
Comment[is]=Verkfæri til að lagfæra liti í myndum
Comment[it]=Uno strumento per correggere i colori dell'immagine
Comment[km]=ឧបករណ៍​សម្រាប់​កែខៃ​ពណ៌​រូបភាព​
Comment[ko]=그림의 색을 보정하는 도구
Comment[lt]=Įrankis koreguoti paveikslėlio spalvas
Comment[nb]=Et verktøy for å korrigere fargene i bildet
Comment[nds]=En Warktüüch, mit dat sik de Bildklören richten laat
Comment[nl]=Een hulpmiddel voor het corrigeren van kleuren in een afbeelding
Comment[pa]=ਚਿੱਤਰ ਦੇ ਰੰਗ ਠੀਕ ਕਰਨ ਲਈ ਟੂਲ
Comment[pl]=Narzędzie do korekcji kolorów obrazu
Comment[pt]=Uma ferramenta para corrigir as cores de uma imagem
Comment[pt_BR]=Ferramenta para corrigir as cores das imagens
Comment[ro]=O unealtă pentru corectarea culorilor unei imagini
Comment[ru]=Инструмент для цветовой коррекции изображений
Comment[sk]=Nástroj na opravu farieb obrázku
Comment[sl]=Orodje za popravilo barv slike
Comment[sv]=Ett verktyg för att korrigera färger i bilder
Comment[th]=เครื่องมือปรับแก้สีของภาพ
Comment[tr]=Renk düzeltmek için bir araç
Comment[uk]=Інструмент для виправлення кольорів зображення
Comment[x-test]=xxA tool to correct colors of imagexx
Comment[zh_CN]=一个校正图像颜色的工具
Comment[zh_TW]=修正影像色彩的工具

X-KDE-Library=digikamimageplugin_color
author=Caulier Gilles, caulier dot gilles at gmail dot com
