<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui version="2" name="digikamimageplugin_solarize" >

 <MenuBar>

  <Menu name="Filters" >
   <text>Fi&amp;lters</text>
   <Action name="imageplugin_solarize" /> 
  </Menu>

 </MenuBar>
 
 <ToolBar name="ToolBar" >
  <text>Main Toolbar</text>
 </ToolBar>
 
 <ActionProperties>
  <Action shortcut="" name="imageplugin_solarize" />
 </ActionProperties>

</kpartgui>
