[Desktop Entry]
Name=ImagePlugin_ColorFx
Name[bg]=Приставка за снимки - Поправяне на цветове
Name[ca]=ImagePlugin_ColorFx
Name[cs]=ImagePlugin_Core
Name[da]=ImagePlugin_ColorFx
Name[de]=Bildmodul_Farbeffekte
Name[el]=ImagePlugin_ColorFx
Name[en_GB]=ImagePlugin_ColourFx
Name[es]=ImagePlugin_ColorFx
Name[et]=ImagePlugin_ColorFx
Name[fi]=Väriefektit
Name[fr]=ImagePlugin_ColorFx
Name[gl]=ImagePlugin_ColorFx
Name[he]=תוסף תמונה - צבעים
Name[hne]=इमेज-प्लगइन_कलरएफएक्स
Name[it]=Effetti dei colori
Name[ja]=ImagePlugin_ColorFx
Name[km]=ImagePlugin_ColorFx
Name[lt]=ImagePlugin_ColorFx
Name[lv]=ImagePlugin_ColorFx
Name[nb]=ImagePlugin_ColorFx
Name[nds]=ImagePlugin_ColorFx
Name[ne]=ImagePlugin_ColorFx
Name[nl]=Afbeeldingsplugin_Kleureffecten
Name[pa]=ImagePlugin_ColorFx
Name[pl]=ImagePlugin_ColorFx
Name[pt]=ImagePlugin_ColorFx
Name[pt_BR]=ImagePlugin_ColorFx
Name[ro]=ImagePlugin_ColorFx
Name[sk]=ObrazovýModul_FarebnéEfekty
Name[sv]=Insticksprogram med färgeffekter
Name[th]=ImagePlugin_ColorFx
Name[tr]=GörüntüEklentisi_Renklendirme
Name[uk]=ImagePlugin_ColorFx
Name[vi]=ImagePlugin_ColorFx
Name[x-test]=xxImagePlugin_ColorFxxx
Name[zh_CN]=ImagePlugin_ColorFx
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Color special effects plugin for digiKam
Comment[bg]=Приставка на digiKam с ефекти за замъгляване на снимки
Comment[ca]=Connector pel digiKam d'efectes especials de color
Comment[cs]=Efektový modul digiKamu pro barvy
Comment[da]=digiKam-plugin med specielle farveeffekter
Comment[de]=digiKam-Modul für spezielle Farbeffekte
Comment[el]=Πρόσθετο ειδικών εφέ χρώματος για το digiKam
Comment[en_GB]=Colour special effects plugin for digiKam
Comment[es]=Complemento para digiKam con efectos especiales de color
Comment[et]=DigiKami värvieriefektide plugin
Comment[fa]=وصلۀ جلوه‌های ویژۀ رنگ برای digiKam
Comment[fi]=Erikoisia väritehosteita
Comment[fr]=Module des effets spéciaux de couleur pour Digikam
Comment[gl]=Un engadido de digiKam para efectos especiais nas cores
Comment[he]=תוסף Digikam לאפקטי צבע מיוחדים בתמונה
Comment[hne]=डिजीकैम बर रंग विसिस्ट प्रभाव प्लगइन
Comment[it]=Estensione di digiKam per gli effetti speciali dei colori
Comment[ja]=digiKam 色特殊効果プラグイン
Comment[km]=កម្មវិធី​ជំនួយ​បែបផែន​ពណ៌​ពិសេស​សម្រាប់ digiKam
Comment[lt]=digiKam skirtas specialiųjų spalvų efektų priedas
Comment[lv]=DigiKam spraudnis attēlu krāsu specefektiem
Comment[nb]=digKam programtillegg for spesielle fargeeffekter
Comment[nds]=digiKam-Moduul för Klöör-Effekten
Comment[ne]=डिजिक्यामका लागि ब्लर विशेष प्रभाव प्लगइन
Comment[nl]=Digikam-plugin voor kleureffecten
Comment[pl]=Wtyczka specjalnych efektów do programu digiKam
Comment[pt]=Um 'plugin' do digiKam para efeitos especiais de cores
Comment[pt_BR]=Plug-in do digiKam para efeitos especiais de cores
Comment[ro]=Modul digiKam pentru efecte speciale ale culorii
Comment[sk]=Zásuvný modul digiKam - Špeciálne farebné efekty
Comment[sv]=Digikam insticksprogram med specialeffekter för färg
Comment[th]=ส่วนเสริมของ digiKam สำหรับลูกเล่นพิเศษต่าง ๆ
Comment[tr]=digiKam için özel renk efektleri eklentisi
Comment[uk]=Втулка спеціальних ефектів кольорів digiKam
Comment[vi]=Bổ sung hiệu ứng đặc biệt màu sắc cho digiKam
Comment[x-test]=xxColor special effects plugin for digiKamxx
Comment[zh_CN]=digiKam 色彩特效插件
Comment[zh_TW]=digiKam的色彩特效外掛程式

X-KDE-Library=digikamimageplugin_colorfx
author=Caulier Gilles, caulier dot gilles at gmail dot com
