[Desktop Entry]
Name=ImagePlugin_ColorFx
Name[xx]=xxImagePlugin_ColorFxxx
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Color special effects plugin for digiKam
Comment[ca]=Connector pel digiKam d'efectes especials de color
Comment[de]=digiKam-Modul für spezielle Farbeffekte
Comment[is]=Íforrit fyrir digiKam sem litmeðhöndlar sérstaklega myndir
Comment[ja]=digiKam 色特殊効果プラグイン
Comment[nds]=digiKam-Moduul för Klöör-Effekten
Comment[nl]=digiKam-plugin voor kleureffecten
Comment[pt]=Um 'plugin' do digiKam para efeitos especiais de cores
Comment[pt_BR]=Um 'plugin' do digiKam para efeitos especiais de cores
Comment[sk]=digiKam plugin pre špeciálne farebné efekty
Comment[sv]=Digikam insticksprogram med specialeffekter för färg

X-KDE-Library=digikamimageplugin_colorfx
author=Caulier Gilles, caulier dot gilles at gmail dot com
