[Desktop Entry]
Name=ImagePlugin_Decorate
Name[pt]=ImagePlugin_Decorate
Name[sv]=Bildinsticksprogram för dekoration
Name[uk]=ImagePlugin_Decorate
Name[x-test]=xxImagePlugin_Decoratexx
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=A tool to decorate image
Comment[pt]=Uma ferramenta para decorar imagens
Comment[sv]=Ett verktyg för att dekorera bilder
Comment[uk]=Інструмент для декорування зображень
Comment[x-test]=xxA tool to decorate imagexx

X-KDE-Library=digikamimageplugin_decorate
author=Gilles Caulier, caulier dot gilles at gmail dot com
