<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<!-- NOTE: don't forget to increase version ID when this file is modified -->
<gui version="13" name="digikamimageplugin_decorate" >

 <MenuBar>

  <Menu name="Decorate" ><text>&amp;Decorate</text>
   <Action name="imageplugin_inserttext" />
   <Action name="imageplugin_border" />
   <Action name="imageplugin_texture" />
  </Menu>

 </MenuBar>

 <ToolBar name="mainToolBar" >
  <text>Main Toolbar</text>
 </ToolBar>

 <ActionProperties>
  <Action name="imageplugin_inserttext" />
  <Action name="imageplugin_border" />
  <Action name="imageplugin_texture" />
 </ActionProperties>

</gui>
