<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui version="7" name="digikamimageplugin_inserttext" >

 <MenuBar>

  <Menu name="Decorate" ><text>&amp;Decorate</text>
   <Action name="imageplugin_inserttext" />
  </Menu>

 </MenuBar>

 <ToolBar name="mainToolBar" >
  <text>Main Toolbar</text>
 </ToolBar>

 <ActionProperties>
  <Action name="imageplugin_inserttext" />
 </ActionProperties>

</gui>
