[Desktop Entry]
Name=ImagePlugin_Emboss
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Emboss image effect plugin for digiKam

X-KDE-Library=digikamimageplugin_emboss
author=Gilles Caulier, caulier dot gilles at free dot fr
