[Desktop Entry]
Name=ImagePlugin_Emboss
Name[da]=Relief
Name[it]=PluginImmagini_Rilievo
Name[nl]=Afbeeldingplugin_Reliëf
Name[pt]='Plugin' de Elevar
Name[pt_BR]='Plugin' de Elevar
Name[sr]=Сликовни прикључак — рељеф
Name[sv]=Insticksprogram för reliefeffekt
Name[ta]=பிம்பசொருகுப்பொருள்_எம்போஸ்
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Emboss image effect plugin for digiKam
Comment[nl]=Digikam-effectplugin voor reliëf-afbeeldingen
Comment[pt]='Plugin' de efeito de elevar imagem para o digiKam
Comment[pt_BR]='Plugin' de efeito de elevar imagem para o digiKam

X-KDE-Library=digikamimageplugin_emboss
author=Gilles Caulier, caulier dot gilles at free dot fr
