[Desktop Entry]
Name=ImagePlugin_Emboss
Name[da]=Billedplugin_Præg i relief
Name[it]=PluginImmagini_Rilievo
Name[nl]=Afbeeldingsplugin_Reliëf
Name[sr]=Сликовни прикључак — рељеф
Name[sr@Latn]=Slikovni priključak — reljef
Name[sv]=Insticksprogram för reliefeffekt
Name[ta]=பிம்பசொருகுப்பொருள்_எம்போஸ்
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Emboss image effect plugin for digiKam
Comment[da]=Reliefprægnings-plugin til Digikam
Comment[de]=digiKam Plugin zum Erzeugen eines Gravureffektes
Comment[es]=Complemento de efecto de imagen en relieve para digiKam
Comment[et]=Digikami kohrutuse pildiefektiplugin
Comment[fr]=Module externe de digiKam pour mettre en relief une image
Comment[it]=Plugin di effetto di rilievo delle immagini per digiKam
Comment[nl]=digiKam-plugin voor reliëf-afbeeldingen
Comment[pt]='Plugin' de efeito de elevar imagem para o digiKam
Comment[pt_BR]='Plugin' de efeito de elevar imagem para o digiKam
Comment[sv]=Digikam insticksprogram för reliefbildeffekt
Comment[ta]=டிஜிகாமிற்கான மேல்தூக்கி நிற்கும் பிம்ப விளைவு செருகுபொருள்

X-KDE-Library=digikamimageplugin_emboss
author=Gilles Caulier, caulier dot gilles at free dot fr
