[Desktop Entry]
Name=Floating Cards
Name[ca]=Targetes flotants
Name[ca@valencia]=Targetes flotants
Name[cs]=Plovoucí karty
Name[de]=Schwebende Karten
Name[el]=Αιωρούμενες κάρτες
Name[en_GB]=Floating Cards
Name[es]=Cartas flotantes
Name[fr]=Cartes flottantes
Name[is]=Flotspjöld
Name[it]=Carte mobili
Name[nb]=Flytende kort
Name[nl]=Drijvende kaarten
Name[nn]=Flytande kort
Name[pl]=Pływające karty
Name[pt]=Cartas Flutuantes
Name[ru]=Всплывающие миниатюры
Name[sv]=Fria kort
Name[tr]=Yüzen Kartlar
Name[uk]=Картки, що плавають
Name[x-test]=xxFloating Cardsxx
Name[zh_CN]=浮动卡片
Comment=A dark theme with floating thumbnail/description cards. Fast navigation through the gallery.
Comment[ca]=Un tema fosc amb targetes de miniatures/descripcions flotants. Navegació ràpida per la galeria.
Comment[ca@valencia]=Un tema fosc amb targetes de miniatures/descripcions flotants. Navegació ràpida per la galeria.
Comment[cs]=Tmavý motiv s plovoucími kartami s náhledem / popisem. Rychlé prohledávání sbírky.
Comment[de]=Ein dunkles Design mit schwebenden Vorschaubilder und Beschreibungen. Schnelle Navigation durch die Galerie.
Comment[el]=ένα σκούρο θέμα με αιωρούμενες κάρτες προεπισκόπησης/περιγραφής. Γρήγορη πλοήγηση στη συλλογή.
Comment[en_GB]=A dark theme with floating thumbnail/description cards. Fast navigation through the gallery.
Comment[es]=Un tema oscuro con cartas flotantes de miniaturas/descripción. Navegación rápida a través de la galería.
Comment[fr]=Un thème sombre avec des vignettes flottantes / cartes descriptives. Navigation rapide à la travers de la collection
Comment[is]=Dökkt þema með smámyndum og lýsingum á fljótandi spjöldum. Hröð fletting í gegnum myndasafn.
Comment[it]=Tema scuro con carte descrittive/miniature mobili. Navigazione veloce nella galleria.
Comment[nb]=Et mørkt tema med flytende kort med minibilder/beskrivelser. Rask navigering gjennom galleriet.
Comment[nl]=Een donket thema met drijvende miniatuur/beschrijvingskaarten. Snelle navigatie door de galerij.
Comment[nn]=Eit mørkt tema med flytande miniatyrbilete- og skildringskort. Rask navigering gjennom galleriet.
Comment[pl]=Ciemny wygląd z pływającymi miniaturkami/kartami opisu. Szybkie poruszanie się po galerii.
Comment[pt]=Um tema escuro com cartões com miniaturas/descrições. Navegação rápida pela galeria.
Comment[ru]=Тёмное оформление со всплывающими панелями миниатюр, обеспечивающими быструю навигацию по галерее.
Comment[sv]=Ett mörkt tema med fria miniatyrbilder och beskrivningskort. Fast navigering genom galleriet.
Comment[tr]=Yüzen küçük resim/açıklama kartları ile koyu bir tema. Galeri içerisinde hızlı gezinme.
Comment[uk]=Темна тема з картками мініатюр або описів, що неначебто плавають панеллю. Пришвидшує орієнтування у галереї.
Comment[x-test]=xxA dark theme with floating thumbnail/description cards. Fast navigation through the gallery.xx
Comment[zh_CN]=带有浮动缩略图/描述卡片的暗色调主题。快速导航画册。

[X-HTMLExport Author]
Name=Jiří Boháč
Name[ca]=Jiří Boháč
Name[ca@valencia]=Jiří Boháč
Name[cs]=Jiří Boháč
Name[de]=Jiří Boháč
Name[el]=Jiří Boháč
Name[en_GB]=Jiří Boháč
Name[es]=Jiří Boháč
Name[fr]=Jiří Boháč
Name[is]=Jiří Boháč
Name[it]=Jiří Boháč
Name[nb]=Jiří Boháč
Name[nl]=Jiří Boháč
Name[nn]=Jiří Boháč
Name[pl]=Jiří Boháč
Name[pt]=Jiří Boháč
Name[ru]=Jiří Boháč
Name[sv]=Jiří Boháč
Name[tr]=Jiří Boháč
Name[uk]=Jiří Boháč
Name[x-test]=xxJiří Boháčxx
Url=mailto:jiri@boha.cz

[X-HTMLExport Preview]
Name=Floating Cards
Name[ca]=Targetes flotants
Name[ca@valencia]=Targetes flotants
Name[cs]=Plovoucí karty
Name[de]=Schwebende Karten
Name[el]=Αιωρούμενες κάρτες
Name[en_GB]=Floating Cards
Name[es]=Cartas flotantes
Name[fr]=Cartes flottantes
Name[is]=Flotspjöld
Name[it]=Carte mobili
Name[nb]=Flytende kort
Name[nl]=Drijvende kaarten
Name[nn]=Flytande kort
Name[pl]=Pływające karty
Name[pt]=Cartas Flutuantes
Name[ru]=Всплывающие миниатюры
Name[sv]=Fria kort
Name[tr]=Yüzen Kartlar
Name[uk]=Картки, що плавають
Name[x-test]=xxFloating Cardsxx
Name[zh_CN]=浮动卡片
Url=preview.png

[X-HTMLExport Options]
Allow non-square thumbnails=true

[X-HTMLExport Parameter keyboard_navigation]
Name=Keyboard & swipe navigation
Name[ca]=Navegació amb el teclat i lliscament
Name[ca@valencia]=Navegació amb el teclat i lliscament
Name[cs]=Animace posunem klávesnicí nebo táhnutím
Name[el]=Πλοήγηση με πληκτρολόγιο & αποτύπωση
Name[en_GB]=Keyboard & swipe navigation
Name[es]=Navegación con el teclado y con deslizamiento
Name[fr]=Navigation au clavier et au doigt
Name[is]=Rötun á lyklaborði og &snertiskjám
Name[it]=Navigazione a scorrimento e tramite tastiera
Name[nl]=Navigatie met het toetsenbord en met vegen
Name[nn]=Navigering med tastatur og sveiping
Name[pl]=Porusznie się klawiaturą i przeciągnięciami
Name[pt]=Navegação com o teclado & gestos
Name[ru]=Навигация с клавиатуры и пролистыванием
Name[sv]=Tangentbords- och svepnavigering
Name[tr]=Klavye & kaydırma gezintisi
Name[uk]=Навігація за допомогою клавіатури і дотику
Name[x-test]=xxKeyboard & swipe navigationxx
Type=list
Default=1
Value_0=1
Caption_0=On
Caption_0[en_GB]=On
Caption_0[en_US]=On
Caption_0[cz]=Zapnuto
Caption_0[de]=Ein
Value_1=0
Caption_1=Off
Caption_1[en_GB]=Off
Caption_1[en_US]=Off
Caption_1[cz]=Vypnuto
Caption_1[de]=Aus

[X-HTMLExport Parameter preload]
Name=Preload
Name[ca]=Càrrega prèvia
Name[ca@valencia]=Càrrega prèvia
Name[cs]=Předem načíst
Name[el]=Προφόρτωση
Name[en_GB]=Preload
Name[es]=Precargar
Name[fr]=Préchargement
Name[is]=Forhlaða
Name[it]=Precarica
Name[nl]=vooraf laden
Name[nn]=Førehandslasting
Name[pl]=Wstępne wczytanie
Name[pt]=Pré-Carregar
Name[ru]=Предварительная загрузка
Name[sv]=Läs in i förväg
Name[tr]=Önyükleme
Name[uk]=Попереднє завантаження
Name[x-test]=xxPreloadxx
Name[zh_CN]=预加载
Type=list
Default=1
Value_0=1
Caption_0=Yes
Caption_0[en_GB]=Yes
Caption_0[en_US]=Yes
Caption_0[cz]=Ano
Caption_0[de]=Ja
Value_1=0
Caption_1=No
Caption_1[en_GB]=No
Caption_1[en_US]=No
Caption_1[cz]=Ne
Caption_1[de]=Nein
