[Desktop Entry]
Name=13x18 cm (2 photos)
Name[ca]=13x18 cm (2 fotografies)
Name[ca@valencia]=13x18 cm (2 fotografies)
Name[cs]=13x18 cm (2 fotografie)
Name[el]=13x18 cm (2 φωτογραφίες)
Name[en_GB]=13x18 cm (2 photos)
Name[es]=13x18 cm (2 fotos)
Name[fr]=13 x 18 cm (2 photos)
Name[is]=13x18 cm (2 myndir)
Name[it]=13x18 cm (2 foto)
Name[nb]=13x18 cm (2 bilder)
Name[nl]=13x18 cm (2 foto's)
Name[pl]=13x18 cm (2 zdjęcia)
Name[pt]=13x18 cm (2 fotografias)
Name[ru]=13×18 см (2 фотографии)
Name[sv]=13 x 18 cm (2 foton)
Name[tr]=13x18 cm (2 fotoğraf)
Name[uk]=13×18 см (2 фотографії)
Name[x-test]=xx13x18 cm (2 photos)xx
Name[zh_CN]=13x18 cm (2 张照片)

