[Desktop Entry]
Name=10x13.33 cm (4 photos)
Name[ca]=10x13,33 cm (4 fotografies)
Name[ca@valencia]=10x13,33 cm (4 fotografies)
Name[cs]=10x13.33 cm (4 fotografie)
Name[el]=10x13.33 cm (4 φωτογραφίες)
Name[en_GB]=10x13.33 cm (4 photos)
Name[es]=10x13,33 cm (4 fotos)
Name[fr]=10 x 13.33 cm (4 photos)
Name[is]=10x13.33 cm (4 myndir)
Name[it]=10x13,33 cm (4 foto)
Name[nb]=10x13.33 cm (4 bilder)
Name[nl]=10x13.33 cm (4 foto's)
Name[pl]=10x13.33 cm (4 zdjęcia)
Name[pt]=10x13,33 cm (4 fotografias)
Name[ru]=10×13,33 см (4 фотографии)
Name[sv]=10 x 13,33 cm (4 foton)
Name[tr]=10x13.33 cm (4 fotoğraf)
Name[uk]=10×13,33 см (4 фотографії)
Name[x-test]=xx10x13.33 cm (4 photos)xx
Name[zh_CN]=10x13.33 cm (4 张照片)

