[Desktop Entry]
Name=4 x 6" Album
Name[ca]=Àlbum de 4 x 6"
Name[ca@valencia]=Àlbum de 4 x 6"
Name[cs]=4 x 6" Album
Name[el]=4 x 6" άλμπουμ
Name[en_GB]=4 x 6" Album
Name[es]=Álbum 4x6"
Name[fr]=Album 4 x 6 pouces
Name[is]=4 x 6" albúm
Name[it]= Album 4 x 6"
Name[nb]=4 x 6" Album
Name[nl]=4 x 6" Album
Name[pl]=4 x 6" Album
Name[pt]=Álbum de 4 x 6"
Name[ru]=Альбом из фотографий 4×6 дюймов
Name[sv]=4 x 6 tum album
Name[tr]=4 x 6" Albüm
Name[uk]=4×6" альбом
Name[x-test]=xx4 x 6" Albumxx
Name[zh_CN]=4 x 6" 相册

