[Desktop Entry]
Name=10x15 cm Album
Name[ca]=Àlbum de 10x15 cm
Name[ca@valencia]=Àlbum de 10x15 cm
Name[cs]=10x15 cm Album
Name[el]=10x15 cm άλμπουμ
Name[en_GB]=10x15 cm Album
Name[es]=Álbum 10x15 cm
Name[fr]=Album 10 x 15 cm
Name[is]=10x15 cm albúm
Name[it]=Album 10x15 cm
Name[nb]=10x15 cm Album
Name[nl]=10x15 cm Album
Name[pl]=10x15 cm Album
Name[pt]=Álbum de 10x15 cm
Name[ru]=Альбом из фотографий 10×15 см
Name[sv]=10 x 15 cm album
Name[tr]=10x15 cm Albüm
Name[uk]=10×15 см альбом
Name[x-test]=xx10x15 cm Albumxx
Name[zh_CN]=10x15 cm 相册

