[Desktop Entry]
Name=Thumbnails 5x4 photos
Name[ca]=Fotografies 5x4 miniatures
Name[ca@valencia]=Fotografies 5x4 miniatures
Name[cs]=Náhledy - 5x4 fotografie
Name[el]=Προεπισκόπηση 5x4 φωτογραφίες
Name[en_GB]=Thumbnails 5x4 photos
Name[es]=Miniaturas 5x4 fotos
Name[fr]=Photos en vignettes 5 x 4
Name[is]=Smámyndir 5x4 myndir
Name[it]=Miniature 5x4
Name[nb]=Miniatyrer 5×4 bilder
Name[nl]=Miniaturen 5x4 foto's
Name[pl]=Miniaturki 5x4 zdjęć
Name[pt]=5x4 fotografias em miniatura
Name[ru]=Миниатюры (5×4 штук)
Name[sv]=Miniatyrbilder 5 x 4 foton
Name[tr]=5x4 küçük resimler
Name[uk]=Мініатюри фотографій 5x4
Name[x-test]=xxThumbnails 5x4 photosxx
Name[zh_CN]=缩略图 5x4 照片

