[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=Digikam/ImagePlugin
X-KDE-DerivedName=Digikam ImagePlugin
Comment=A digiKam Image Plugin
Comment[bg]=Приставка за снимки в digiKam
Comment[bn]=একটি ডিজিক্যাম ছবি প্লাগিন
Comment[br]=Ul lugent skeudenn digiKam
Comment[ca]=Un connector d'imatges del digiKam
Comment[cs]=Modul pro digiKam
Comment[da]=Et Digikam billed-plugin
Comment[de]=Ein Bild-Modul von digiKam
Comment[el]=Ένα πρόσθετο εικόνας digiKam
Comment[es]=un plugin de digiKam para imagenes
Comment[et]=DigiKami pildiplugin
Comment[eu]=digiKam-en irudien plugin-a
Comment[fa]=یک وصلۀ تصویر digiKam
Comment[fr]=Un module externe pour digiKam
Comment[gl]=Un plugin de Imaxe de digiKam
Comment[hr]=digiKam dodatak za slike
Comment[hu]=Egy digiKam Képbővítmény
Comment[is]=digiKam ljósmynda-íforrit
Comment[it]=Un plugin per le immagini di digiKam
Comment[ja]=digiKam 画像プラグイン
Comment[ka]=digiKam გამოსახულების მოდული
Comment[km]=កម្មវិធី​ជំនួយ​រូបភាព​របស់ digiKam
Comment[lt]=digiKam paveikslėlių peržiūros priedas
Comment[mk]=Приклучок за слики од дигиКам
Comment[ms]=Plugin Imej digiKam
Comment[nds]=En digiKam-Bildmoduul
Comment[ne]=डिजिक्याम छवि प्लगइन
Comment[nl]=Een plugin voor Digikam
Comment[nn]=Eit programtillegg for digiKam
Comment[pa]=ਇੱਕ ਡਿਜ਼ੀਕੈਮ ਚਿੱਤਰ ਪਲੱਗਿੰਨ
Comment[pl]=Wtyczka obrazu digiKama
Comment[pt]=Um 'Plugin' de Imagem do digiKam
Comment[pt_BR]=Um Plug-in de Imagem para o digiKam
Comment[ru]=Модуль изображений digiKam
Comment[sk]=DigiKam obrázkový plugin
Comment[sr]=digiKam-ов сликовни прикључак
Comment[sr@Latn]=digiKam-ov slikovni priključak
Comment[sv]=Ett bildinsticksprogram för Digikam
Comment[tr]=Bir digiKam Resim Eklentisi
Comment[uk]=Втулок зображень digiKam
Comment[vi]=Một bổ sung ảnh digiKam
Comment[wa]=On tchôke-divins d' imådje digiKam
