[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=Digikam/ImagePlugin
X-KDE-DerivedName=Digikam ImagePlugin
Comment=A digiKam Image Plugin
Comment[bg]=Приставка за снимки в digiKam
Comment[br]=Ul lugent skeudenn digiKam
Comment[ca]=Un connector d'imatges del digiKam
Comment[cs]=Modul pro digiKam
Comment[da]=Et Digikam billed-plugin
Comment[de]=Ein Bild-Modul von digiKam
Comment[el]=Ένα πρόσθετο εικόνας digiKam
Comment[es]=Plugin de digiKam para imagenes
Comment[et]=DigiKami pildiplugin
Comment[fa]=یک وصلۀ تصویر digiKam
Comment[fi]=digiKam-liitännäinen
Comment[gl]=Un plugin de Imaxe de digiKam
Comment[hr]=digiKam dodatak za slike
Comment[is]=digiKam ljósmynda-íforrit
Comment[it]=Un plugin per le immagini di digiKam
Comment[ja]=digiKam 画像プラグイン
Comment[nds]=En digiKam-Bildmoduul
Comment[nl]=Een plugin voor Digikam
Comment[pa]=ਇੱਕ ਡਿਜ਼ੀਕੈਮ ਚਿੱਤਰ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka obrazu digiKama
Comment[pt]=Um 'Plugin' de Imagem do digiKam
Comment[ru]=Модуль изображений digiKam
Comment[sk]=DigiKam obrázkový plugin
Comment[sr]=digiKam-ов сликовни прикључак
Comment[sr@Latn]=digiKam-ov slikovni priključak
Comment[sv]=Ett bildinsticksprogram för Digikam
Comment[tr]=Bir digiKam Resim Eklentisi
Comment[uk]=Втулок зображень digiKam
Comment[vi]=Một bổ sung ảnh digiKam
Comment[xx]=xxA digiKam Image Pluginxx
