[Desktop Entry]
Name=ImagePlugin_Enhance
Name[ast]=ImagePlugin_Enhance
Name[bg]=Приставка за снимки - Дорисуване
Name[bs]=ImagePlugin_Enhance
Name[ca]=ImagePlugin_Enhance
Name[ca@valencia]=ImagePlugin_Enhance
Name[cs]=ImagePlugin_Enhance
Name[da]=ImagePlugin_Enhance
Name[de]=Bildmodul Verbesserung
Name[el]=ImagePlugin_Enhance
Name[en_GB]=ImagePlugin_Enhance
Name[es]=ImagePlugin_Enhance
Name[et]=ImagePlugin_Enhance
Name[eu]=ImagePlugin_Enhance
Name[fi]=ImagePlugin_Enhance
Name[fr]=ImagePlugin_Enhance
Name[ga]=ImagePlugin_Enhance
Name[gl]=ImagePlugin_Enhance
Name[hr]=ImagePlugin_Enhance
Name[hu]=ImagePlugin_Enhance
Name[is]=ImagePlugin_Enhance
Name[it]=Estensione Migliora
Name[km]=ImagePlugin_Enhance
Name[ko]=그림 플러그인_향상
Name[lt]=ImagePlugin_Enhance
Name[nb]=ImagePlugin_Enhance
Name[nds]=Bildmoduul_Verbetern
Name[nl]=Afbeeldingsplugin_verbeteren
Name[pa]=ImagePlugin_Enhance
Name[pl]=WtyczkaObrazów_Polepsz
Name[pt]=ImagePlugin_Enhance
Name[pt_BR]=ImagePlugin_Enhance
Name[ro]=ImagePlugin_Îmbunătățește
Name[ru]=ImagePlugin_Enhance
Name[sk]=ImagePlugin_Rozšíriť
Name[sl]=ImagePlugin_Enhance
Name[sv]=Förbättringsinsticksprogram
Name[th]=ImagePlugin_Enhance
Name[tr]=ImagePlugin_Enhance
Name[uk]=ImagePlugin_Enhance
Name[x-test]=xxImagePlugin_Enhancexx
Name[zh_CN]=ImagePlugin_Enhance
Name[zh_TW]=影像外掛程式_增強

Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=digiKam plugin to enhance photograph
Comment[ast]=Complementu digikam pa meyorar semeyes
Comment[bg]=Приставка на digiKam за дорисуване на повредени или липсващи области от снимки
Comment[bs]=digiKam dodatak za pojačavanje fotografije
Comment[ca]=Connector pel digiKam per realçar una fotografia
Comment[ca@valencia]=Connector pel digiKam per realçar una fotografia
Comment[cs]=Modul digiKamu pro vylepšování fotografií
Comment[da]=digiKam-plugin til forbedring af fotografier
Comment[de]=digiKam-Modul zur Bildverbesserung
Comment[el]=Πρόσθετο digiKam για βελτίωση φωτογραφίας
Comment[en_GB]=digiKam plugin to enhance photograph
Comment[es]=Complemento de digiKam para mejorar las fotografías
Comment[et]=DigiKami plugin foto parandamiseks
Comment[eu]= digiKam-en plugin bat argazkiak hobetzeko
Comment[fi]=digiKam-liitännäinen kuvien ehostamiseen
Comment[fr]=Module externe digiKam pour améliorer une photographie
Comment[gl]=Un engadido do digikam para mellorar as fotografías
Comment[hu]=digiKam bővítmény fényképek javításához
Comment[is]=Íforrit fyrir digiKam til að bæta myndir
Comment[it]=Estensione di digiKam per migliorare una fotografia
Comment[km]=កម្មវិធី​ជំនួយ​ digiKam ​សម្រាប់​ធ្វើ​ឲ្យ​រូប​ថត​ប្រសើរ
Comment[ko]=digiKam용 사진 향상 플러그인
Comment[lt]=digiKam papildinys pagerinti fotografiją
Comment[nb]=digiKam programtillegg for forbedring av bildet
Comment[nds]=En digiKam-Moduul, mit dat sik Fotos verbetern laat
Comment[nl]=digiKam-plugin voor het verbeteren van een foto
Comment[pa]=ਫੋਟੋਗਰਾਫ਼ ਨੂੰ ਵਧੀਆ ਬਣਾਉਣ ਲਈ ਡਿਜਿਕੈਮ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka digiKam do polepszania fotografii
Comment[pt]=Um 'plugin' do digiKam para melhorar as fotografias
Comment[pt_BR]=Plugin do digiKam para melhorar as fotografias
Comment[ro]=Extensie digiKam pentru îmbunătățirea fotografiei
Comment[ru]=Модуль digiKam для коррекции фотографий
Comment[sk]=digiKam plugin na rozšírenie fotografie
Comment[sl]=Vstavek za digiKam za izboljšavo fotografije
Comment[sv]=Digikam insticksprogram för att förbättra ett fotografi
Comment[th]=ส่วนเสริมของ digiKam สำหรับปรับแก้ภาพถ่าย
Comment[tr]=Fotoğrafları iyileştirmek için bir digiKam eklentisi
Comment[ug]=digiKam
Comment[uk]=Додаток покращення якості фотографії для digiKam
Comment[x-test]=xxdigiKam plugin to enhance photographxx
Comment[zh_CN]=digiKam 优化照片插件
Comment[zh_TW]=增強相片的 digiKam 外掛程式

X-KDE-Library=digikamimageplugin_enhance
author=Gilles Caulier, caulier dot gilles at gmail dot com
