<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui version="11" name="digikamimageplugin_enhance" >

 <MenuBar>

  <Menu name="Enhance" ><text>Enh&amp;ance</text>
      <Action name="imageplugin_restoration" />
      <Action name="imageplugin_blur" />
      <Action name="imageplugin_sharpen" />      
  </Menu>

 </MenuBar>

 <ToolBar name="mainToolBar" >
  <text>Main Toolbar</text>
 </ToolBar>

 <ActionProperties>
      <Action shortcut="" name="imageplugin_restoration" />
      <Action shortcut="" name="imageplugin_blur" />
      <Action shortcut="" name="imageplugin_sharpen" />     
 </ActionProperties>

</gui>
