<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<!-- NOTE: don't forget to increase version ID when this file is modified -->
<gui version="22" name="digikamimageplugin_enhance" >

 <MenuBar>

  <Menu name="Enhance" ><text>Enh&amp;ance</text>
      <Action name="imageplugin_restoration" />
      <Action name="imageplugin_blur" />
      <Action name="imageplugin_sharpen" />
      <Action name="imageplugin_noisereduction" />
      <Action name="imageplugin_localcontrast" />
      <Action name="imageplugin_inpainting" />
      <Action name="imageplugin_hotpixels" />
      <Separator />
      <Action name="imageplugin_redeye" />

      <Menu name="Lens" ><text>&amp;Lens</text>
          <Action name="imageplugin_lensautofix" />
          <Action name="imageplugin_antivignetting" />
          <Action name="imageplugin_lensdistortion" />
      </Menu>
  </Menu>

 </MenuBar>

 <ToolBar name="mainToolBar" >
  <text>Main Toolbar</text>
 </ToolBar>

 <ActionProperties>
      <Action shortcut="" name="imageplugin_restoration" />
      <Action shortcut="" name="imageplugin_blur" />
      <Action shortcut="" name="imageplugin_sharpen" />
      <Action shortcut="" name="imageplugin_noisereduction" />
      <Action shortcut="" name="imageplugin_localcontrast" />
      <Action shortcut="" name="imageplugin_redeye" />
      <Action shortcut="" name="imageplugin_inpainting" />
      <Action shortcut="" name="imageplugin_lensautofix" />
      <Action shortcut="" name="imageplugin_antivignetting" />
      <Action shortcut="" name="imageplugin_lensdistortion" />
      <Action shortcut="" name="imageplugin_hotpixels" />
 </ActionProperties>

</gui>
