[Desktop Entry]
Name=Despeckle Filter Image Plugin
Comment=Despeckle image filter plugin for digikam
Type=Service
ServiceTypes=Digikam/ImagePlugin
X-KDE-Library=digikamimageplugin_despeckle
author=Caulier Gilles, caulier dot gilles at free dot fr
