[Desktop Entry]
Name=ImagePlugin_Despeckle
Name[da]=Billedplugin_Pletfjerning
Name[it]=PluginImmagini_Smacchia
Name[nl]=Afbeeldingsplugin_RuisReductie
Name[sr]=Сликовни прикључак — отклањање флека
Name[sr@Latn]=Slikovni priključak — otklanjanje fleka
Name[sv]=Insticksprogram för ytutjämning
Name[ta]=பிம்பசொருகுப்பொருள்_ 
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Despeckle image filter plugin for digiKam
Comment[da]=Pletfjernings-plugin til Digikam
Comment[de]=digiKam Plugin zum Entfernen von Flecken
Comment[es]=Complemento de filtro de reducción de ruido de la imagen para digiKam
Comment[et]=Digikami pildi punktitasandusfilter
Comment[fr]=Module externe de digiKam pour réduire le bruit d'une image
Comment[it]=Plugin filtro di smacchiatura delle immagini per digiKam
Comment[nl]=digiKam-filterplugin voor afbeeldingen ontspikkelen
Comment[pt]='Plugin' de filtro de redução de ruído da imagem para o digiKam
Comment[pt_BR]='Plugin' de filtro de redução de ruído da imagem para o digiKam
Comment[sv]=Digikam insticksprogram för ytutjämningsbildfilter
Comment[ta]=டிஜிக்காமிற்கான மங்கலான படிம வடிகட்டி சொருகுபொருள்

X-KDE-Library=digikamimageplugin_despeckle
author=Caulier Gilles, caulier dot gilles at free dot fr
