[Desktop Entry]
Name=ImagePlugin_InPainting
Name[da]=Plugin for indfyldning
Name[it]=PluginImmagini_Reintegrazione
Name[nl]=Afbeeldingsplugin_Inkleuren
Name[pt_BR]=Plug-in de coloração de imagens 
Name[sr]=Пребојавање
Name[sr@Latn]=Slikovni priključak — Prebojavanje
Name[sv]=Insticksprogram för ifyllnad
Name[xx]=xxImagePlugin_InPaintingxx

Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=digiKam plugin to inpaint a photograph
Comment[da]=Digikam plugin for at indfylde i et fotografi
Comment[de]=Ein digiKam-Modul um Inpainting Operationen auf ein Bild auszuführen.
Comment[es]=Plugin de digiKam para restaurar una foto
Comment[et]=DigiKami foto objektide kaotamise plugin
Comment[it]=Plugin di digiKam per reintegrare una fotografia
Comment[nl]=digiKam-pluin voor het inkleuren van een foto
Comment[pt]=Um 'plugin' do digiKam para pintar por dentro uma fotografia
Comment[pt_BR]=Plug-in de coloração de fotos do digiKam
Comment[sr]=digiKam-ов прикључак за пребојавање фотографије
Comment[sr@Latn]=digiKam-ov priključak za prebojavanje fotografije
Comment[sv]=Digikam insticksprogram för att fylla i ett fotografi
Comment[xx]=xxdigiKam plugin to inpaint a photographxx

X-KDE-Library=digikamimageplugin_inpainting
author=Gilles Caulier, caulier dot gilles at free dot fr
