<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui version="7" name="digikamimageplugin_inpainting" >

 <MenuBar>

  <Menu name="Enhance" ><text>Enh&amp;ance</text>
      <Action name="imageplugin_inpainting" />
  </Menu>

 </MenuBar>

 <ToolBar name="mainToolBar" >
  <text>Main Toolbar</text>
 </ToolBar>

 <ActionProperties>
  <Action name="imageplugin_inpainting" />
 </ActionProperties>

</gui>
