[Desktop Entry]
Name=ImagePlugin_InPainting
Name[el]=ΠρόσθετοΕικόνας_Αποζωγραφισμός

Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=digiKam plugin to inpaint a photograph
Comment[el]=Πρόσθετο αποζωγραφισμού μιας φωτογραφίας μέσα για το digiKam

X-KDE-Library=digikamimageplugin_inpainting
author=Gilles Caulier, caulier dot gilles at free dot fr
