[Desktop Entry]
Name=ImagePlugin_RainDrop
Name[it]=PluginImmagini_GocciaDiPioggia
Name[nl]=Afbeeldingplugin_regendruppels
Name[pt]='Plugin' de Gota de Chuva
Name[pt_BR]='Plugin' de Gota de Chuva
Name[sv]=Insticksprogram för regndroppar
Name[ta]=பிம்பசொருகுப்பொருள்_மழைத்துளி
Type=Service
ServiceTypes=Digikam/ImagePlugin

Comment=Rain dropping image effect plugin for digikam
Comment[de]=Digikam Plugin zum Erzeugen eines Regentropfeneffektes
Comment[fr]=Module externe de Digikam pour simuler des gouttes de pluies
Comment[it]=Plugin per l'effetto a goccia di pioggia delle immagini per Digikam
Comment[nl]=Digikam-effectplugin voor regendruppels
Comment[pt]='Plugin' de efeito de gotas de chuva para o digikam
Comment[pt_BR]='Plugin' de efeito de gotas de chuva para o digikam
Comment[sv]=Digikam insticksprogram för regndroppsbildeffekt
Comment[ta]=டிஜிகாமிற்கான மழைத்துளி விழுவதுபோன்ற பிம்ப விளைவு சொருகுப்பொருள்

X-KDE-Library=digikamimageplugin_raindrop
author=Gilles Caulier, caulier dot gilles at free dot fr
