[Desktop Entry]
Name=ImagePlugin_RainDrop
Name[bg]=Приставка за снимки - Дъждовни капки
Name[ca]=ImagePlugin_RainDrop
Name[cs]=ImagePlugin_RainDrop
Name[da]=ImagePlugin_RainDrop
Name[de]=Bildmodul_Regentropfen
Name[el]=ΠροσθετοΕικόνας_Βροχή
Name[en_GB]=ImagePlugin_RainDrop
Name[es]=ImagePlugin_RainDrop
Name[et]=ImagePlugin_RainDrop
Name[fi]=Sadepisarat
Name[fr]=ImagePlugin_RainDrop
Name[ga]=ImagePlugin_RainDrop
Name[gl]=ImagePlugin_RainDrop
Name[he]=תוסף תמונה - טיפות גשם
Name[hne]=इमेज-प्लगइन_रेन-ड्राप
Name[it]=Gocce di pioggia
Name[ja]=ImagePlugin_RainDrop
Name[km]=ImagePlugin_RainDrop
Name[lv]=ImagePlugin_RainDrop
Name[nb]=ImagePlugin_RainDrop
Name[nds]=ImagePlugin_RainDrop
Name[ne]=ImagePlugin_RainDrop
Name[nl]=Afbeeldingsplugin_Regendruppels
Name[pa]=ImagePlugin_RainDrop
Name[pl]=ImagePlugin_RainDrop
Name[pt]=ImagePlugin_RainDrop
Name[pt_BR]=ImagePlugin_RainDrop
Name[ro]=ImagePlugin_RainDrop
Name[sk]=ObrazovýModul_DažďovéKvapky
Name[sv]=Insticksprogram för regndroppar
Name[th]=ImagePlugin_RainDrop
Name[tr]=GörüntüEklentisi_YağmurDamlası
Name[uk]=ImagePlugin_RainDrop
Name[vi]=ImagePlugin_RainDrop
Name[x-test]=xxImagePlugin_RainDropxx
Name[zh_CN]=ImagePlugin_RainDrop
Name[zh_TW]=影像特效_雨滴
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Rain dropping image effect plugin for digiKam
Comment[bg]=Приставка на digiKam за добавяне на дъждовни капки
Comment[ca]=Connector pel digiKam d'efecte d'imatge de gotes de pluja
Comment[cs]=Modul digiKamu pro efekt vodních kapek
Comment[da]=digiKam-plugin til regndråbeeffekt på billeder
Comment[de]=digiKam-Modul zur Erzeugung eines Regentropfeneffektes
Comment[el]=Πρόσθετο εφέ πτώσης βροχής για το digiKam
Comment[en_GB]=Rain dropping image effect plugin for digiKam
Comment[es]=Complemento para digiKam de efectos de gotas de lluvia
Comment[et]=DigiKami vihmapiiskade pildiefektiplugin
Comment[fa]=وصلۀ جلوۀ تصویر بارش باران برای digiKam
Comment[fi]=Lisää kuvan pintaan sadepisaroita
Comment[fr]=Module d'effet goûte d'eau pour Digikam
Comment[gl]=Un engadido de digiKam para crear un efecto de pingas de chuvia
Comment[he]=תוסף Digikam להוספת טיפות גשם על תמונה קיימת
Comment[hne]=डिजीकैम बर बारिस के बूंदें इमेज इफेक्ट प्लगइन
Comment[it]=Estensione di digiKam per l'effetto a pioggia
Comment[ja]=digiKam 雨滴効果プラグイン
Comment[km]=កម្មវិធី​ជំនួយ​បែបផែន​រូបភាព​ដំណក់​ទឹក​សម្រាប់ digiKam
Comment[lv]=DigiKam spraudnis lietus lāšu pievienošanai attēliem
Comment[nb]=digiKam programtillegg for regndråpeeffekter
Comment[nds]=digiKam-Moduul för Regendrüppeneffekten
Comment[ne]=डिजिक्यामका लागि रेनड्रप छवि प्रभाव
Comment[nl]=Digikam-plugin voor regendruppels
Comment[pa]=ਡਿਜਿਕੈਮ ਲਈ ਮੀਂਹ ਦੀ ਕਣੀ ਚਿੱਤਰ ਪਰਭਾਵ ਪਲੱਗਇਨ
Comment[pl]=Comment=Wtyczka do programu digiKam dodajÄca efekt kropel deszczu na obrazie
Comment[pt]=Um 'plugin' do digiKam para criar um efeito de pingos de chuva
Comment[pt_BR]=Plug-in do digiKam para criar efeito de imagem com pingos de chuva
Comment[ro]=Modul digiKam de efect de picături de ploaie pe imagine
Comment[ru]=Расширение digiKam для создания эффекта дождевых капель
Comment[sk]=Zásuvný modul digiKam - Efekt padajúcich kvapiek
Comment[sv]=Digikam insticksprogram för regndroppsbildeffekt
Comment[th]=ส่วนเสริมของ digiKam สำหรับลูกเล่นสร้างหยดน้ำฝนบนภาพ
Comment[tr]=digiKam için yağmur damlası görüntü efekti  eklentisi
Comment[uk]=Втулка ефекту імітації крапель дощу на зображенні digiKam
Comment[vi]=Bổ sung hiệu ứng ảnh giọt mưa cho digiKam
Comment[x-test]=xxRain dropping image effect plugin for digiKamxx
Comment[zh_CN]=digiKam 雨滴图像效果插件
Comment[zh_TW]=digiKam 使用的雨滴特效外掛程式

X-KDE-Library=digikamimageplugin_raindrop
author=Gilles Caulier, caulier dot gilles at gmail dot com
