[Desktop Entry]
Name=ImagePlugin_RainDrop
Name[da]=Billedplugin_Regndråber
Name[it]=PluginImmagini_GocciaDiPioggia
Name[nl]=Afbeeldingsplugin_regendruppels
Name[sv]=Insticksprogram för regndroppar
Name[ta]=பிம்பசொருகுப்பொருள்_மழைத்துளி
Name[tr]=ResimEklentisi_YağmurDamlaları
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Rain dropping image effect plugin for digiKam
Comment[da]=Plugin til regndråbeeffekt på billeder i Digikam
Comment[de]=digiKam Plugin zum Erzeugen eines Regentropfeneffektes
Comment[es]=Complemento de efecto de gotas de lluvia para digiKam
Comment[et]=Digikami vihmapiisa pildiefektiplugin
Comment[fr]=Module externe de digiKam pour simuler des gouttes de pluies
Comment[it]=Plugin per l'effetto a goccia di pioggia delle immagini per digiKam
Comment[nl]=digiKam-plugin voor regendruppels
Comment[pt]='Plugin' de efeito de gotas de chuva para o digiKam
Comment[pt_BR]='Plugin' de efeito de gotas de chuva para o digiKam
Comment[sv]=Digikam insticksprogram för regndroppsbildeffekt
Comment[ta]=டிஜிகாமிற்கான மழைத்துளி விழுவதுபோன்ற படிம விளைவு சொருகுப்பொருள்
Comment[tr]=digiKam için yağmur damlaları eklentisi

X-KDE-Library=digikamimageplugin_raindrop
author=Gilles Caulier, caulier dot gilles at free dot fr
