[Desktop Entry]
Name=ImagePlugin_Unsharp
Name[bg]=Приставка за снимки - Изостряне с контурно маскиране
Name[da]=Billedplugin_Uskarphedsmaske
Name[el]=ΠρόσθετοΕικόνας_Εξομάλυνση
Name[hr]=Maskiranje oštrinom
Name[it]=PluginImmagini_MascheraContrasto
Name[ms]=ImagePlugin_Kabur
Name[nl]=Afbeeldingsplugin_Onscherp
Name[pt_BR]=Plug-in de efeito unsharp
Name[sr]=Ублажавање
Name[sr@Latn]=Ublažavanje
Name[sv]=Insticksprogram för oskarp mask
Name[tr]=ResimEklentisi_Yumuşat
Name[xx]=xxImagePlugin_Unsharpxx
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Unsharp mask image filter plugin for digiKam
Comment[bg]=Приставка на digiKam за изостряне на снимки с нерязко (контурно) маскиране
Comment[ca]=Connector pel digiKam de filtre per emmascarar els desenfocaments
Comment[da]=Plugin til forbedring af skarphed med uskarphedsfilter i Digikam
Comment[de]=digiKam-Modul zum Filtern des Bildes mit einer Unschärfemaske
Comment[el]=Πρόσθετο φίλτρο εξομάλυνσης εικόνας για το digiKam
Comment[es]=Plugin para digiKam con un filtro para imágenes de máscara de desenfoque
Comment[et]=DigiKami pildi teravustamise maski filter
Comment[fr]=Module externe pour rendre une image nette (Unsharp Mask)
Comment[gl]=Un plugin de digiKam para un filtro de máscara non-afiada
Comment[hr]=digiKam dodatak filtra maskiranja oštrinom
Comment[is]=Íforrit fyrir digiKam sem lagar skerpu mynda
Comment[it]=Plugin di effetto di maschera di contrasto delle immagini per digiKam
Comment[ja]=digiKam アンシャープマスク画像フィルタプラグイン
Comment[ms]=Plugin penapis  untuk digiKam
Comment[nl]=Digikam-plugin voor onscherp-masker-filter
Comment[pl]=Wtyczka do programu digiKam umożliwiająca maskowanie nieostrości
Comment[pt]=Um 'plugin' do digiKam para um filtro de máscara não-afiada
Comment[pt_BR]=Plug-in para efeito de máscara unsharp para o digiKam
Comment[sk]=digiKam plugin pre maskovanie neostrosti obrázku
Comment[sr]=digiKam-ов прикључак за ублажавање маске слике
Comment[sr@Latn]=digiKam-ov priključak za ublažavanje maske slike
Comment[sv]=Digikam insticksprogram för bildfiltrering med oskarp mask
Comment[tr]=digiKam için resim bulanıklaştırma filtresi eklentisi
Comment[uk]=Фільтр зміни різкості зображення для digiKam
Comment[vi]=Bổ sung lọc ảnh mặt nạ giảm độ sắc cho digiKam
Comment[xx]=xxUnsharp mask image filter plugin for digiKamxx

X-KDE-Library=digikamimageplugin_unsharp
author=Caulier Gilles, caulier dot gilles at free dot fr
