[Desktop Entry]
Name=ImagePlugin_Emboss
Name[bg]=Приставка за снимки - Релефни изображения
Name[da]=Billedplugin_Præg i relief
Name[el]=ΠρόσθετοΕικόνας_Εμβάθυνση
Name[fi]=Kohokuvio
Name[hr]=Reljef
Name[it]=PluginImmagini_Rilievo
Name[ms]=ImagePlugin_UkirTimbul
Name[nl]=Afbeeldingsplugin_Reliëf
Name[pt_BR]=Plug-in de relevo
Name[sr]=Рељеф
Name[sr@Latn]=Reljef
Name[sv]=Insticksprogram för reliefeffekt
Name[ta]=பிம்பசொருகுப்பொருள்_எம்போஸ்
Name[tr]=ResimEklentisi_Kabart
Name[xx]=xxImagePlugin_Embossxx
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Emboss image effect plugin for digiKam
Comment[bg]=Приставка на digiKam за добавяне на релефни изображения в снимки
Comment[da]=Reliefprægnings-plugin for Digikam
Comment[de]=digiKam-Modul zum Erzeugen eines Gravureffektes
Comment[el]=Πρόσθετο εφέ εμβάθυνσης για το digiKam
Comment[es]=Plugin de efecto de imagen en relieve para digiKam
Comment[et]=DigiKami kohrutuse pildiefektiplugin
Comment[fi]=Muokkaa kohteiden ääriviivoista kohokuvioefektin
Comment[fr]=Module externe pour ajouter un effet de bas-relief dans une image
Comment[gl]=Un plugin de digiKam para dar-lle relevo á imaxe
Comment[hr]=digiKam dodatak za efekt reljefa
Comment[is]=Íforrit fyrir digiKam sem framkallar upphleypingaráhrif
Comment[it]=Plugin di effetto di rilievo delle immagini per digiKam
Comment[ja]=digiKam エンボス効果プラグイン
Comment[ms]=Plugin kesan imej ukir timbul untuk digiKam
Comment[nl]=Digikam-plugin voor reliëf-afbeeldingen
Comment[pl]=Wtyczka do programu digiKam oferująca efekt wytłoczenia obrazu
Comment[pt]=Um 'plugin' do digiKam para gravar em relevo a imagem
Comment[pt_BR]=Plug-in para efeito de relevo na imagem para o digiKam
Comment[sk]=digiKam plugin pre efekt reliéfu
Comment[sr]=digiKam-ов прикључак за ефекат рељефа на сликама
Comment[sr@Latn]=digiKam-ov priključak za efekat reljefa na slikama
Comment[sv]=Digikam insticksprogram för reliefbildeffekt
Comment[ta]=டிஜிகாமிற்கான மேல்தூக்கி நிற்கும் பிம்ப விளைவு செருகுபொருள்
Comment[tr]=digiKam için resim kabartma etkisi eklentisi
Comment[vi]=Bổ sung hiệu ứng chạm nổi ảnh cho digiKam
Comment[xx]=xxEmboss image effect plugin for digiKamxx

X-KDE-Library=digikamimageplugin_emboss
author=Gilles Caulier, caulier dot gilles at free dot fr
