[Desktop Entry]
Name=ImagePlugin_Emboss
Name[da]=Billedplugin_Præg i relief
Name[it]=PluginImmagini_Rilievo
Name[nl]=Afbeeldingsplugin_Reliëf
Name[pt_BR]=Plug-in de relevo
Name[sr]=Сликовни прикључак — Рељеф
Name[sr@Latn]=Slikovni priključak — Reljef
Name[sv]=Insticksprogram för reliefeffekt
Name[ta]=பிம்பசொருகுப்பொருள்_எம்போஸ்
Name[tr]=ResimEklentisi_Kabart
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Emboss image effect plugin for digiKam
Comment[da]=Reliefprægnings-plugin til Digikam
Comment[de]=digiKam Plugin zum Erzeugen eines Gravureffektes
Comment[es]=Plugin de efecto de imagen en relieve para digiKam
Comment[et]=DigiKami kohrutuse pildiefektiplugin
Comment[fr]=Module externe de digiKam pour mettre en relief une image
Comment[it]=Plugin di effetto di rilievo delle immagini per digiKam
Comment[nl]=digiKam-plugin voor reliëf-afbeeldingen
Comment[pt]=Um 'plugin' do digiKam para gravar em relevo a imagem
Comment[pt_BR]=Plug-in para efeito de relevo na imagem para o digiKam
Comment[sr]=digiKam-ов прикључак за ефекат рељефа на сликама
Comment[sr@Latn]=digiKam-ov priključak za efekat reljefa na slikama
Comment[sv]=Digikam insticksprogram för reliefbildeffekt
Comment[ta]=டிஜிகாமிற்கான மேல்தூக்கி நிற்கும் பிம்ப விளைவு செருகுபொருள்
Comment[tr]=digiKam için resim kabartma etkisi eklentisi

X-KDE-Library=digikamimageplugin_emboss
author=Gilles Caulier, caulier dot gilles at free dot fr
