<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui version="68" name="digikam" >

 <MenuBar>

  <Menu name="Album" >
   <text>&amp;Album</text>
     <Action name="album_back" />
     <Action name="album_forward" />
   <Separator/>
     <Action name="album_new" />
     <Action name="album_propsEdit" />
     <Action name="album_refresh" />
     <Action name="album_openinkonqui" />
   <Separator/>
     <Action name="album_write_metadata" />
     <Action name="album_read_metadata" />
   <Separator/>
     <Action name="album_remove" />
     <Action name="album_delete" />
   <Separator/>
     <Action name="app_exit" />
  </Menu>

  <Menu name="Tag" >
   <text>T&amp;ag</text>
     <Action name="tag_new" />
     <Action name="tag_edit" />
   <Separator/>
     <Action name="tag_delete" />
  </Menu>

  <Menu name="Image" >
   <text>&amp;Image</text>
     <Action name="image_view" />
     <Action name="image_edit" />
   <Separator />
     <Action name="image_lighttable" />
     <Action name="image_add_to_lighttable" />
   <Separator />
     <Action name="image_add_to_current_queue" />
     <Action name="image_add_to_new_queue" />
   <Separator />
     <Action name="image_write_metadata" />
     <Action name="image_read_metadata" />
   <Separator />
     <Action name="image_find_similar" />
     <Action name="image_set_exif_orientation"/>
   <Separator />
     <ActionList name="image_kipi_actions"/>
   <Separator />
     <Action name="image_rename" />
     <Action name="image_delete" />
  </Menu>

  <Menu name="Edit" >
   <text>&amp;Edit</text>
     <Action name="selectAll" />
     <Action name="selectNone" />
     <Action name="selectInvert" />
  </Menu>

  <Menu name="View" >
   <text>&amp;View</text>
     <Action name="full_screen" />
     <Action name="slideshow" />
     <Separator/>
     <Action name="album_zoomin" />
     <Action name="album_zoomout" />
     <Action name="album_zoomto100percents" />
     <Action name="album_zoomfit2window" />
     <Separator />
     <Action name="showthumbs" />
     <Separator />
     <Action name="album_sort" />
     <Action name="image_sort" />
     <Action name="image_sort_order" />
     <Action name="image_group" />
     <Action name="albums_recursive" />
     <Action name="tags_recursive" />
  </Menu>

  <Menu name="Tools"><text>&amp;Tools</text>
        <Action name="search_quick" />
        <Action name="search_advanced" />
        <Action name="find_duplicates" />
      <Separator/>
        <Action name="light_table" />
        <Action name="queue_manager" />
      <Separator/>
        <Action name="database_rescan" />
        <Action name="thumbnails_rebuild" />
        <Action name="fingerprints_rebuild" />
        <Action name="sync_metadata" />
      <Separator/>
        <ActionList name="album_kipi_actions"/>
      <Separator/>
        <ActionList name="tool_kipi_actions"/>
      <Separator/>
        <ActionList name="batch_kipi_actions"/>
  </Menu>

  <Menu name="Import"><text>I&amp;mport</text>
      <Action name="cameras" />
      <Action name="usb_media" />
      <Action name="card_reader" />
      <Separator/>
      <Action name="import_addImages" />
      <Action name="import_addFolders" />
      <Separator/>
      <ActionList name="import_kipi_actions"/>
  </Menu>

   <Menu name="Export"><text>&amp;Export</text>
        <ActionList name="export_kipi_actions"/>
   </Menu>

  <Menu name="settings" noMerge="1"><Text>&amp;Settings</Text>
     <Merge name="StandardToolBarMenuHandler" />
     <Action name="options_show_menubar"/>
     <Action name="options_show_statusbar"/>
     <Action name="options_show_toolbar"/>
     <Separator/>
     <Action name="theme_menu" />
     <Action name="options_configure_keybinding"/>
     <Action name="options_configure_toolbars"/>
     <Action name="options_configure"/>
  </Menu>

  <Menu name="help"><Text>&amp;Help</Text>
    <Action name="help_rawcameralist"/>
    <Action name="help_librariesinfo"/>
    <Action name="help_dbstat"/>
    <Action name="help_kipi"/>
    <Action name="help_tipofday"/>
    <Separator/>
    <Action name="help_donatemoney"/>
    <Action name="help_contribute"/>
  </Menu>

  <Merge/>

 </MenuBar>

 <ToolBar noMerge="1" name="ToolBar" >
  <text>Main Toolbar</text>
  <Action name="album_back" />
  <Action name="album_forward" />
  <Action name="album_new" />
  <Action name="album_addImages" />
  <Action name="album_propsEdit" />
  <Separator/>
  <Action name="search_quick" />
  <Separator/>
  <Action name="image_view" />
  <Action name="image_edit" />
  <Action name="image_rename" />
  <Separator/>
  <Action name="full_screen" />
  <Action name="slideshow" />
  <WeakSeparator/>
  <Action name="logo_action" />
 </ToolBar>

 <MainWindow>
  <Action name="exit_preview_mode"/>
  <Action name="next_image"/>
  <Action name="previous_image"/>
  <Action name="first_image"/>
  <Action name="last_image"/>
  <Action name="copy_album_selection"/>
  <Action name="paste_album_selection"/>
 </MainWindow>

 <ActionProperties/>

</gui>
