[Desktop Entry]
Name=ImagePlugin_NoiseReduction
Name[da]=Plugin for støjreducering
Name[el]=ΠρόσθετοΕικόνας_ΜείωσηΘορύβου
Name[fi]=Kohinanpoisto
Name[hr]=Uklanjanje šuma
Name[it]=PluginImmagini_RiduzioneDisturbi
Name[nl]=Afbeeldingsplugin_Ruisreductie
Name[pt]=ImagePlugin_Restoration
Name[sr]=Смањење шума
Name[sr@Latn]=Smanjenje šuma
Name[sv]=Insticksprogram för brusreducering
Name[tr]=ResimEklentisi_Onarım
Name[vi]=ImagePlugin_Restoration
Name[xx]=xxImagePlugin_NoiseReductionxx
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Noise Reduction plugin for digiKam
Comment[bg]=Приставка на digiKam за намаляване шума в снимки
Comment[ca]=Connector pel digiKam de reducció de soroll
Comment[da]=Plugin til støjreduktion for DigiKam
Comment[de]=digiKam-Modul zum Entfernen von Rauschen
Comment[el]=Πρόσθετο μείωσης θορύβου για το digiKam
Comment[es]=Plugin para digiKam de reducción de ruido
Comment[et]=DigiKami müra vähendamise plugin
Comment[fa]=وصلۀ کاهش نوفه برای digiKam
Comment[fi]=Vähentää kuvan kohinaa
Comment[fr]=Module externe pour réduire le bruit numérique dans digiKam
Comment[gl]=Un plugin de digiKam para a reduzón de ruído
Comment[hr]=digiKam dodatak za uklanjanje šuma
Comment[is]=Íforrit fyrir digiKam sem minnkar truflanir (noise) í mynd
Comment[it]=Plugin di riduzione dei disturbi per digiKam
Comment[ja]=digiKam ノイズ低減プラグイン
Comment[ms]=Plugin Pengurangan Bising untuk digiKam
Comment[nds]=digiKam-Moduul för Ruusminnern
Comment[nl]=Digikam-plugin voor ruisreductie
Comment[pa]=ਡਿਜ਼ੀਕੈਮ ਲਈ ਗੜਬੜ ਘਟਾਉਣ ਲਈ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka do programu digiKam zmniejszająca szum
Comment[pt]=Um 'plugin' do digiKam para a redução de ruído
Comment[pt_BR]=Plugin de redução de ruidos
Comment[ru]=Модуль уменьшения шума для digiKam
Comment[sk]=digiKam plugin na potlačenie šumu
Comment[sr]=digiKam-ов прикључак за смањење шума
Comment[sr@Latn]=digiKam-ov priključak za smanjenje šuma
Comment[sv]=Digikam insticksprogram för brusreducering
Comment[tr]=digiKam için Parazit Azaltma eklentisi
Comment[uk]=Втулок зменшення шуму для digiKam
Comment[vi]=Phần bổ sung giảm nhiễu cho digiKam
Comment[xx]=xxNoise Reduction plugin for digiKamxx

X-KDE-Library=digikamimageplugin_noisereduction
author=Caulier Gilles, caulier dot gilles at gmail dot com
