[Desktop Entry]
Name=ImagePlugin_Despeckle
Name[da]=Billedplugin_Pletfjerning
Name[el]=ΠρόσθετοΕικόνας_ΑφαίρεσηΚουκίδων
Name[hr]=Uklanjanje mrlja
Name[it]=PluginImmagini_Smacchia
Name[km]=កម្មវិធី​ជំនួយ​រូបភាព_បំបាត់​ស្នាម
Name[ms]=ImagePlugin_NyahBintik
Name[nl]=Afbeeldingsplugin_RuisReductie
Name[pt_BR]=Plug-in de redução
Name[sr]=Отклањање флека
Name[sr@Latn]=Otklanjanje fleka
Name[sv]=Insticksprogram för ytutjämning
Name[ta]=பிம்பசொருகுப்பொருள்_ 
Name[tr]=ResimEklentisi_NoktacıkGider
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Noise Reduction plugin for digiKam
Comment[da]=Plugin til støjreduktion for DigiKam
Comment[de]=Ein digiKam-Modul zum Verringern von Bildrauschen.
Comment[el]=Πρόσθετο μείωσης θορύβου για το digiKam
Comment[es]=Plugin de reducción del ruido de fondo en una imagen
Comment[et]=DigiKami müra vähendamise plugin
Comment[eu]=Zarata murrizteko digiKam plugina
Comment[fr]=Module externe pour réduire le bruit d'une image
Comment[hr]=digiKam dodatak za uklanjanje šuma
Comment[it]=Plugin di riduzione dei disturbi per digiKam
Comment[ja]=digiKam ノイズ低減プラグイン
Comment[km]=កម្មវិធី​ជំនួយ digiKam ដើម្បី​បន្ថយ​ភាព​មិន​ច្បាស់
Comment[ms]=plugin pengurangan gangguan untuk digiKam
Comment[nl]=digiKam-plugin voor ruisreductie
Comment[pa]=ਗੜਬੜ ਘਟਾਉਣ ਲਈ ਡਿਜ਼ੀਕੈਮ ਪਲੱਗਿੰਨ
Comment[pl]=Wtyczka do programu digiKam zmniejszająca szum
Comment[pt]=Um 'plugin' do digiKam para a redução de ruído
Comment[pt_BR]=Plug-in de redução de ruído para o digiKam
Comment[sr]=digiKam-ов прикључак за смањење шума
Comment[sr@Latn]=digiKam-ov priključak za smanjenje šuma
Comment[sv]=Digikam insticksprogram för brusreducering
Comment[tr]=digiKam için Parazit Azaltma eklentisi

X-KDE-Library=digikamimageplugin_despeckle
author=Caulier Gilles, caulier dot gilles at free dot fr
