[Desktop Entry]
Name=ImagePlugin_Despeckle
Name[da]=Billedplugin_Pletfjerning
Name[it]=PluginImmagini_Smacchia
Name[nl]=Afbeeldingsplugin_RuisReductie
Name[pt_BR]=Plug-in de redução
Name[sr]=Сликовни прикључак — отклањање флека
Name[sr@Latn]=Slikovni priključak — otklanjanje fleka
Name[sv]=Insticksprogram för ytutjämning
Name[ta]=பிம்பசொருகுப்பொருள்_ 
Name[tr]=ResimEklentisi_NoktacıkGider
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Noise Reduction plugin for digiKam
Comment[de]=Ein digiKam-Modul zum Verringern von Bildrauschen.
Comment[et]=DigiKami müra vähendamise plugin
Comment[nl]=digiKam-plugin voor ruisreductie
Comment[pt]=Um 'plugin' do digiKam para a redução de ruído
Comment[pt_BR]=Um 'plugin' do digiKam para a redução de ruído
Comment[sr]=digiKam-ов прикључак за смањење шума
Comment[sr@Latn]=digiKam-ов прикључак за смањење шума
Comment[sv]=Digikam insticksprogram för brusreducering
Comment[tr]=digiKam için Parazit Azaltma eklentisi

X-KDE-Library=digikamimageplugin_despeckle
author=Caulier Gilles, caulier dot gilles at free dot fr
