[Desktop Entry]
Name=ImagePlugin_DistortionFX
Name[bg]=Приставка за снимки - Изкривяващи ефекти
Name[ca]=ImagePlugin_DistortionFX
Name[cs]=ImagePlugin_DistortionFX
Name[da]=ImagePlugin_DistortionFX
Name[de]=Bildmodul_Verzerrungseffekte
Name[el]=ΠρόσθετοΕικόνας_ΕφέΠαραμόρφωσης
Name[en_GB]=ImagePlugin_DistortionFX
Name[es]=ImagePlugin_DistortionFX
Name[et]=ImagePlugin_DistortionFX
Name[fi]=Vääristymä
Name[fr]=ImagePlugin_DistortionFX
Name[ga]=ImagePlugin_DistortionFX
Name[gl]=ImagePlugin_DistortionFX
Name[he]=תוסף תמונה - עיוות
Name[hne]=इमेज-प्लगइन_डिस्टार्सनवाफएक्स
Name[it]=Effetti di distorsione
Name[ja]=ImagePlugin_DistortionFX
Name[km]=ImagePlugin_DistortionFX
Name[lt]=ImagePlugin_DistortionFX
Name[lv]=ImagePlugin_DistortionFX
Name[nb]=ImagePlugin_DistortionFX
Name[nds]=ImagePlugin_DistortionFX
Name[ne]=ImagePlugin_DistortionFX
Name[nl]=Afbeeldingsplugin_Vervormingseffect
Name[pa]=ImagePlugin_DistortionFX
Name[pl]=ImagePlugin_DistortionFX
Name[pt]=ImagePlugin_DistortionFX
Name[pt_BR]=ImagePlugin_DistortionFX
Name[ro]=ImagePlugin_DistortionFX
Name[sk]=ObrazovýModul_EfektyRozostrenia
Name[sv]=Insticksprogram för förvrängningseffekt
Name[th]=ImagePlugin_DistortionFX
Name[tr]=GörüntüEklentisi_Bozulma
Name[uk]=ImagePlugin_DistortionFX
Name[vi]=ImagePlugin_DistortionFX
Name[x-test]=xxImagePlugin_DistortionFXxx
Name[zh_CN]=ImagePlugin_DistortionFX
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Distortion special effects plugin for digiKam
Comment[bg]=Приставка на digiKam с изкривяващи снимките ефекти
Comment[ca]=Connector pel DigiKam d'efectes especials de distorsió
Comment[da]=digiKam-plugin med specielle forvrængningseffekter
Comment[de]=digiKam-Modul für spezielle Verzerrungseffekte
Comment[el]=Πρόσθετο ειδικών εφέ παραμόρφωσης για το digiKam
Comment[en_GB]=Distortion special effects plugin for digiKam
Comment[es]=Complemento para digiKam con efectos de distorsión especiales
Comment[et]=DigiKami spetsiaalsete moonutusefektide plugin
Comment[fa]=وصلۀ جلوه‌های ویژۀ اعواج برای digiKam
Comment[fi]=Vääristymäerikoistehosteita
Comment[fr]=Module des effets spéciaux de distorsion pour Digikam
Comment[gl]=Un engadido de digiKam para efectos especiais de distorsión
Comment[he]=תוסף Digikam לעיוות תמונה מיוחד
Comment[hne]=डिजीकैम बर डिस्टार्सन विसिस्ट प्रभाव प्लगइन
Comment[it]=Estensione di digiKam per gli effetti speciali di distorsione
Comment[ja]=digiKam ゆがめ特殊効果プラグイン
Comment[km]=កម្មវិធី​ជំនួយ​បែបផែន​បង្ខូច​ទ្រង់ទ្រាយ​ពិសេស​សម្រាប់ digiKam
Comment[lt]=digiKam programai skirtas specialiųjų iškraipymų efektų priedas
Comment[lv]=DigiKam spraudnis attēlu deformēšanas efektiem
Comment[nb]=digiKam programtillegg for forvrengning
Comment[nds]=digiKam-Moduul för Vertarren-Effekten
Comment[ne]=डिजिक्यामका लागि विशेष विकृत प्रभाव प्लगइन
Comment[nl]=Digikam-plugin voor vervormingseffect
Comment[pl]=Wtyczka do programu digiKam oferujÄca efekty znieksztaÅceÅ
Comment[pt]=Um 'plugin' do digiKam para efeitos especiais de distorção
Comment[pt_BR]=Plug-in do digiKam para efeitos especiais de distorção
Comment[ro]=Modul digiKam pentru efecte speciale ale distorsiunii
Comment[sk]=Zásuvný modul digiKam - Špeciálne efekty skreslenia
Comment[sv]=Digikam insticksprogram för förvrängningsspecialeffekt
Comment[th]=ส่วนเสริมหลักของ digiKam สำหรับลูกเล่นการบิดเบือนภาพ
Comment[tr]=digiKam için özel bozulma efektleri eklentisi
Comment[uk]=Втулка спеціальних ефектів спотворення digiKam
Comment[vi]=Bổ sung hiệu ứng đặc biệt méo mó ảnh cho digiKam
Comment[x-test]=xxDistortion special effects plugin for digiKamxx
Comment[zh_CN]=digiKam 扭曲特效插件

X-KDE-Library=digikamimageplugin_distortionfx
author=Caulier Gilles, caulier dot gilles at gmail dot com
