[Desktop Entry]
Name=ImagePlugin_DistortionFX
Name[bg]=Приставка за снимки - Изкривяващи ефекти
Name[da]=Plugin for forvrængningseffekt
Name[el]=ΠρόσθετοΕικόνας_ΕφέΠαραμόρφωσης
Name[hr]=Izobličenje
Name[it]=PluginImmagini_EffettiDiDistorsione
Name[nl]=Afbeeldingsplugin_vervormingseffect
Name[pt_BR]=Plug-in de distorção
Name[sr]=Ефекти изобличења
Name[sr@Latn]=Efekti izobličenja
Name[sv]=Insticksprogram för förvrängningseffekt
Name[tr]=ResimEklentisi_Bozma
Name[xx]=xxImagePlugin_DistortionFXxx
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Distortion special effects plugin for digiKam
Comment[bg]=Приставка на digiKam с изкривяващи снимките ефекти
Comment[da]=Digikam plugin for forvrængningsspecialeffekt
Comment[de]=digiKam-Modul zum Verzerren von Bildern
Comment[el]=Πρόσθετο ειδικών εφέ παραμόρφωσης για το digiKam
Comment[es]=Plugin de efectos especiales de distorsión para digiKam
Comment[et]=DigiKami spetsiaalsete moonutusefektide plugin
Comment[fr]=Module externe pour ajouter un effet de déformation dans une image
Comment[gl]=Un plugin de digiKam para efeitos especiais de distorsión
Comment[hr]=digiKam dodatak za efekt izobličavanja
Comment[it]=Plugin degli effetti speciali di distorsione per digiKam
Comment[ja]=digiKam 歪め特殊効果プラグイン
Comment[ka]=დამახინჯების სპეციალური ეფექტების მოდული  digiKam-თვის
Comment[nl]=digiKam-plugin voor vervormingseffect
Comment[pl]=Wtyczka do programu digiKam oferująca efekty zniekształceń
Comment[pt]=Um 'plugin' do digiKam para efeitos especiais de distorção
Comment[pt_BR]=Plug-in para efeito de distorção em imagens do digikam
Comment[sr]=digiKam-ов прикључак за ефекте изобличења
Comment[sr@Latn]=digiKam-ov priključak za efekte izobličenja
Comment[sv]=Digikam insticksprogram för förvrängningsspecialeffekt
Comment[tr]=Bozma etkileri uygulamak için bir digiKam eklentisi
Comment[vi]=Bổ sung hiệu ứng đặc biệt méo mó ảnh cho digiKam
Comment[xx]=xxDistortion special effects plugin for digiKamxx

X-KDE-Library=digikamimageplugin_distortionfx
author=Gilles Caulier, caulier dot gilles at free dot fr
