[Desktop Entry]
Name=ImagePlugin_WhiteBalance
Name[it]=PluginImmagini_BilanciamentoDelBianco
Name[nl]=Afbeeldingsplugin_Witbalans
Name[pt_BR]=Plug-in de balanço do branco
Name[sr]=Баланс белог
Name[sr@Latn]=Slikovni priključak — Balans belog
Name[sv]=Insticksprogram för vitbalans
Name[tr]=ResimEklentisi_BeyazDengesi
Name[xx]=xxImagePlugin_WhiteBalancexx

Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=White balance correction plugin for digiKam
Comment[da]=Hvid balance rettelsesplugin for digiKam
Comment[de]=digKam Plugin zur Korrektur des Weißabgleichs.
Comment[es]=Plugin de corrección de equilibrio de blancos para digiKam
Comment[et]=DigiKami valge tasakaalu korrigeerimise plugin
Comment[fr]=Module externe de digiKam pour la correction du contraste
Comment[it]=Plugin di correzione del bilanciamento del bianco per digiKam
Comment[nl]=digiKam-plugin voor het corrigeren van de witbalans
Comment[pt]=Um 'plugin' do digiKam para corrigir o balanceamento de branco
Comment[pt_BR]=Plug-in de correção de balanço branco para o digiKam
Comment[ru]=Модуль коррекции баланса белого для digiKam
Comment[sr]=digiKam-ов прикључак исправку баланса белог
Comment[sr@Latn]=digiKam-ov priključak ispravku balansa belog
Comment[sv]=Digikam insticksprogram för korrigering av vitbalans
Comment[tr]=digiKam için beyaz dengesi düzeltme eklentisi
Comment[xx]=xxWhite balance correction plugin for digiKamxx

X-KDE-Library=digikamimageplugin_whitebalance
author=Gilles Caulier, caulier dot gilles at free dot fr
