<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui version="7" name="digikamimageplugin_whitebalance" >

 <MenuBar>

   <Menu name="Color"><text>&amp;Color</text>
      <Action name="imageplugin_whitebalance" />
   </Menu>

 </MenuBar>

 <ToolBar name="mainToolBar" >
  <text>Main Toolbar</text>
 </ToolBar>

 <ActionProperties>
  <Action name="imageplugin_whitebalance" />
 </ActionProperties>

</gui>
