# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Type=Application
Categories=Qt;KDE;Graphics;
Exec=digikamthemedesigner
Icon=digikam
Name=digiKamThemeDesigner
Name[et]=DigiKami teemadisainer
Comment=Color Theme designer for digiKam
Comment[el]=Σχεδιαστής θεμάτων χρώματος για το digiKam
Comment[et]=DigiKami värviteema disainer
GenericName=digiKam Theme Designer
GenericName[el]=Σχεδιαστής θεμάτων του digiKam
GenericName[et]=DigiKami teemadisainer
Terminal=false
