# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Type=Application
Categories=Qt;KDE;Graphics;
Exec=digikamthemedesigner
Icon=digikam
Name=digiKamThemeDesigner
Name[et]=DigiKami teemadisainer
Name[sv]=Digikams temakonstruktion
Comment=Color Theme designer for digiKam
Comment[el]=Σχεδιαστής θεμάτων χρώματος για το digiKam
Comment[et]=DigiKami värviteema disainer
Comment[ja]=digiKam カラーテーマデザイナー
Comment[pt]=Um desenhador de temas de cores para o digiKam
Comment[sv]=Konstruktion av färgteman för Digikam
GenericName=digiKam Theme Designer
GenericName[el]=Σχεδιαστής θεμάτων του digiKam
GenericName[et]=DigiKami teemadisainer
GenericName[ja]=digiKam テーマデザイナー
GenericName[pt]=Desenhador de Temas do digiKam
GenericName[sv]=Digikams temakonstruktion
Terminal=false
