[Desktop Entry]
Name=Blue curves
Name[ca]=Corbes blaves
Name[ca@valencia]=Corbes blaves
Name[cs]=Modré křivky
Name[es]=Curvas azules
Name[it]=Curve blu
Name[nl]=Blauwe krommen
Name[pl]=Niebieskie krzywe
Name[pt]=Curvas azuis
Name[sv]=Blå kurvor
Name[uk]=Сині криві
Name[x-test]=xxBlue curvesxx
Comment=A stylised theme
Comment[ca]=Un tema estilitzat
Comment[ca@valencia]=Un tema estilitzat
Comment[es]=Un tema estilizado
Comment[it]=Tema stilizzato
Comment[nl]=Een gestileerd thema
Comment[pl]=Stylizowany wygląd
Comment[pt]=Um tema com estilo
Comment[sv]=Ett stiliserat tema
Comment[uk]=Стилізована тема
Comment[x-test]=xxA stylised themexx

[X-HTMLExport Preview]
Name=Blue curves
Name[ca]=Corbes blaves
Name[ca@valencia]=Corbes blaves
Name[cs]=Modré křivky
Name[es]=Curvas azules
Name[it]=Curve blu
Name[nl]=Blauwe krommen
Name[pl]=Niebieskie krzywe
Name[pt]=Curvas azuis
Name[sv]=Blå kurvor
Name[uk]=Сині криві
Name[x-test]=xxBlue curvesxx
Url=preview.png

[X-HTMLExport Author]
Name=Vincent Deroo Blanquart
Name[ca]=Vincent Deroo Blanquart
Name[ca@valencia]=Vincent Deroo Blanquart
Name[cs]=Vincent Deroo Blanquart
Name[es]=Vincent Deroo Blanquart
Name[it]=Vincent Deroo Blanquart
Name[nl]=Vincent Deroo Blanquart
Name[pl]=Vincent Deroo Blanquart
Name[pt]=Vincent Deroo Blanquart
Name[sv]=Vincent Deroo Blanquart
Name[uk]=Vincent Deroo Blanquart
Name[x-test]=xxVincent Deroo Blanquartxx
Url=mailto:vincent.deroo@free.fr

[X-HTMLExport Parameter TitleOfPage]
Name=Gallery Introduction
Name[ca]=Introducció a galeries
Name[ca@valencia]=Introducció a galeries
Name[cs]=Představení galerie
Name[de]=Galerie-Einführung
Name[es]=Introducción a la galería
Name[it]=Introduzione galleria
Name[nb]=Introduksjon til Gallery
Name[nl]=Introductie tot de galerij
Name[nn]=Galleri-introduksjon
Name[pl]=Wprowadzenie do galerii
Name[pt]=Introdução à Galeria
Name[sv]=Introduktion till Galleri
Name[uk]=Вступ до галереї
Name[x-test]=xxGallery Introductionxx
Type=string
Default=Title of my web gallery


[X-HTMLExport Parameter thumbnailPerRow]
Name=Thumbnails per row
Name[ca]=Miniatures per fila
Name[ca@valencia]=Miniatures per fila
Name[cs]=Náhledy na řádek
Name[de]=Vorschaubilder pro Reihe
Name[es]=Miniaturas por fila
Name[it]=Miniature per riga
Name[nb]=Miniatyrer pr. rad
Name[nl]=Miniaturen per rij
Name[nn]=Miniatyrbilete per rad
Name[pl]=Miniatur na wiersz
Name[pt]=Miniaturas por linha
Name[sv]=Miniatyrbilder per rad
Name[uk]=Мініатюр на ряд
Name[x-test]=xxThumbnails per rowxx
Type=int
Default=4
Min=1
Max=100
