[Desktop Entry]
Name=Blue curves
Comment=A stylised theme

[X-HTMLExport Preview]
Name=Blue curves
Url=preview.png

[X-HTMLExport Author]
Name=Vincent Deroo Blanquart
Url=mailto:vincent.deroo@free.fr

[X-HTMLExport Parameter TitleOfPage]
Name=Gallery Introduction
Name[ca]=Introducció a galeries
Name[ca@valencia]=Introducció a galeries
Name[cs]=Představení galerie
Name[es]=Introducción a la galería
Name[nl]=Introductie tot de galerij
Name[nn]=Galleri-introduksjon
Name[pt]=Introdução à Galeria
Name[sv]=Introduktion till Galleri
Name[uk]=Вступ до галереї
Name[x-test]=xxGallery Introductionxx
Type=string
Default=Title of my web gallery


[X-HTMLExport Parameter thumbnailPerRow]
Name=Thumbnails per row
Name[ca]=Miniatures per fila
Name[ca@valencia]=Miniatures per fila
Name[cs]=Náhledy na řádek
Name[es]=Miniaturas por fila
Name[nl]=Miniaturen per rij
Name[nn]=Miniatyrbilete per rad
Name[pt]=Miniaturas por linha
Name[sv]=Miniatyrbilder per rad
Name[uk]=Мініатюр на ряд
Name[x-test]=xxThumbnails per rowxx
Type=int
Default=4
Min=1
Max=100
