[Desktop Entry]
Name=Blue curves
Name[ca]=Corbes blaves
Name[ca@valencia]=Corbes blaves
Name[cs]=Modré křivky
Name[el]=Μπλε καμπύλες
Name[en_GB]=Blue curves
Name[es]=Curvas azules
Name[fr]=Courbes bleues
Name[is]=Bláar sveigjur
Name[it]=Curve blu
Name[nl]=Blauwe krommen
Name[nn]=Blå kurver
Name[pl]=Niebieskie krzywe
Name[pt]=Curvas azuis
Name[ru]=Синие изгибы
Name[sv]=Blå kurvor
Name[tr]=Mavi eğriler
Name[uk]=Сині криві
Name[x-test]=xxBlue curvesxx
Comment=A stylised theme
Comment[ca]=Un tema estilitzat
Comment[ca@valencia]=Un tema estilitzat
Comment[el]=Ένα στιλιστικό θέμα
Comment[en_GB]=A stylised theme
Comment[es]=Un tema estilizado
Comment[fr]=Un thème stylisé
Comment[is]=Stílíserað þema
Comment[it]=Tema stilizzato
Comment[nl]=Een gestileerd thema
Comment[nn]=Eit stilisert tema
Comment[pl]=Stylizowany wygląd
Comment[pt]=Um tema com estilo
Comment[ru]=Стилизованное оформление
Comment[sv]=Ett stiliserat tema
Comment[tr]=Stilleştirilmiş bir tema
Comment[uk]=Стилізована тема
Comment[x-test]=xxA stylised themexx

[X-HTMLExport Preview]
Name=Blue curves
Name[ca]=Corbes blaves
Name[ca@valencia]=Corbes blaves
Name[cs]=Modré křivky
Name[el]=Μπλε καμπύλες
Name[en_GB]=Blue curves
Name[es]=Curvas azules
Name[fr]=Courbes bleues
Name[is]=Bláar sveigjur
Name[it]=Curve blu
Name[nl]=Blauwe krommen
Name[nn]=Blå kurver
Name[pl]=Niebieskie krzywe
Name[pt]=Curvas azuis
Name[ru]=Синие изгибы
Name[sv]=Blå kurvor
Name[tr]=Mavi eğriler
Name[uk]=Сині криві
Name[x-test]=xxBlue curvesxx
Url=preview.png

[X-HTMLExport Author]
Name=Vincent Deroo Blanquart
Name[ca]=Vincent Deroo Blanquart
Name[ca@valencia]=Vincent Deroo Blanquart
Name[cs]=Vincent Deroo Blanquart
Name[de]=Vincent Deroo Blanquart
Name[el]=Vincent Deroo Blanquart
Name[en_GB]=Vincent Deroo Blanquart
Name[es]=Vincent Deroo Blanquart
Name[fr]=Vincent Deroo Blanquart
Name[is]=Vincent Deroo Blanquart
Name[it]=Vincent Deroo Blanquart
Name[nl]=Vincent Deroo Blanquart
Name[nn]=Vincent Deroo Blanquart
Name[pl]=Vincent Deroo Blanquart
Name[pt]=Vincent Deroo Blanquart
Name[ru]=Vincent Deroo Blanquart
Name[sv]=Vincent Deroo Blanquart
Name[tr]=Vincent Deroo Blanquart
Name[uk]=Vincent Deroo Blanquart
Name[x-test]=xxVincent Deroo Blanquartxx
Url=mailto:vincent.deroo@free.fr

[X-HTMLExport Parameter TitleOfPage]
Name=Gallery Introduction
Name[ca]=Introducció a galeries
Name[ca@valencia]=Introducció a galeries
Name[cs]=Představení galerie
Name[de]=Galerie-Einführung
Name[el]=Εισαγωγή στη συλλογή
Name[en_GB]=Gallery Introduction
Name[es]=Introducción a la galería
Name[fr]=Introduction de galerie
Name[is]=Kynning á myndasafni
Name[it]=Introduzione galleria
Name[nb]=Introduksjon til Gallery
Name[nl]=Introductie tot de galerij
Name[nn]=Galleri-introduksjon
Name[pl]=Wprowadzenie do galerii
Name[pt]=Introdução à Galeria
Name[ru]=Приветствие при открытии галереи
Name[sv]=Introduktion till Galleri
Name[tr]=Galeri Tanıtımı
Name[uk]=Вступ до галереї
Name[x-test]=xxGallery Introductionxx
Type=string
Default=Title of my web gallery


[X-HTMLExport Parameter thumbnailPerRow]
Name=Thumbnails per row
Name[ca]=Miniatures per fila
Name[ca@valencia]=Miniatures per fila
Name[cs]=Náhledy na řádek
Name[de]=Vorschaubilder pro Reihe
Name[el]=Προεπισκόπηση ανά γραμμή
Name[en_GB]=Thumbnails per row
Name[es]=Miniaturas por fila
Name[fr]=Vignettes par ligne
Name[is]=Smámyndir í hverri röð
Name[it]=Miniature per riga
Name[nb]=Miniatyrer pr. rad
Name[nl]=Miniaturen per rij
Name[nn]=Miniatyrbilete per rad
Name[pl]=Miniatur na wiersz
Name[pt]=Miniaturas por linha
Name[ru]=Миниатюр в ряду
Name[sv]=Miniatyrbilder per rad
Name[tr]=Satır başına küçük resimler
Name[uk]=Мініатюр на ряд
Name[x-test]=xxThumbnails per rowxx
Type=int
Default=4
Min=1
Max=100
