[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=PhotoLayoutsEditor/EffectPlugin
X-KDE-DerivedName=PhotoLayoutsEditor EffectPlugin
Comment=A PhotoLayoutsEditor Effect Plugin
Comment[bs]=PhotoLayoutsEditor Effect Plugin
Comment[ca]=Un connector d'efectes de l'editor de presentacions de foto
Comment[ca@valencia]=Un connector d'efectes de l'editor de presentacions de foto
Comment[cs]=Modul efektů pro editor rozvržení snímků
Comment[da]=Et effekt-plugin til PhotoLayoutsEditor
Comment[de]=Ein Effektmodul für den Fotolayout-Editor
Comment[el]=Ένα πρόσθετο περιγράμματος επεξεργαστή εφέ φωτογραφιών
Comment[en_GB]=A PhotoLayoutsEditor Effect Plugin
Comment[es]=Un complemento para efectos del editor de formatos de fotos
Comment[et]=Fotode paigutusredaktori efektide plugin
Comment[fr]=Module externe d'effets pour l'édition de dispositions de photos
Comment[gl]=Un complemento de efectos do editor de disposición de fotos
Comment[hu]=Egy fényképelrendezés-szerkesztő hatás bővítmény
Comment[is]=Viðbót fyrir sjónhverfingar í ljósmyndauppsetningu
Comment[it]=Un'estensione di effetti per l'editor di impaginazioni di foto
Comment[km]=កម្មវិធី​ជំនួយ​បែបផែន​នៃ​កម្មវិធីកែសម្រួល​ប្លង់​រូបថត
Comment[ko]=PhotoLayoutsEditor 효과 플러그인
Comment[nb]=Et effekt-programtillegg for fotoutleggsredigerer
Comment[nl]=Een plug-in voor effecten van Foto-indelingbewerker
Comment[pl]=Wtyczka efektów EdytoraUkładówZdjęć
Comment[pt]=Um 'Plugin' de Efeitos do Editor de Formatos de Fotografias
Comment[pt_BR]=Um plugin de efeitos do editor de formatos de fotos
Comment[sk]=Plugin efektu PhotoLayoutsEditor
Comment[sl]=Vstavek za učinke za PhotoLayoutsEditor
Comment[sv]=Ett effektinsticksprogram för fotolayouteditor
Comment[tr]=Bir PhotoLayoutsEditor Efekt Eklentisi
Comment[uk]=Додаток ефектів редактора фотокомозицій
Comment[x-test]=xxA PhotoLayoutsEditor Effect Pluginxx
Comment[zh_TW]=相片佈局編輯器效果外掛程式
