[Desktop Entry]
Name=ImagePlugin_AntiVignetting
Name[bg]=Приставка за снимки - Премахване на винетиране
Name[da]=Billedplugin_Anti-vignettering
Name[el]=ΠρόσθετοΕικόνας_Αντισκίασης
Name[fi]=ReunatummentumienPoisto
Name[hr]=Uklanjanje vinjeta
Name[it]=PluginImmagini_Antivignettatura
Name[nl]=Afbeeldingsplugin_Antivignetting
Name[sr]=Девињетизација
Name[sr@Latn]=Devinjetizacija
Name[sv]=Insticksprogram för antivinjettering
Name[tr]=ResimEklentisi_KenarKararmalarınıDüzelt
Name[xx]=xxImagePlugin_AntiVignettingxx
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Anti Vignetting image effect plugin for digiKam
Comment[bg]=Приставка на digiKam за намаляване на винетирането на снимки
Comment[ca]=Connector pel digiKam d'efecte anti-vinyetatge
Comment[da]=Anti-vignetteringsplugin for Digikam
Comment[de]=digiKam-Modul zur Reduzierung von Vignettierung im Bild
Comment[el]=Πρόσθετο εφέ αντισκίασης εικόνας για το digiKam
Comment[es]=Un plugin para digiKam para eliminar efectos tipo "Vignetting"
Comment[et]=DigiKami pildi vinjeti kohendamise plugin
Comment[fa]=وصلۀ جلوۀ تصویر ضد عکس برای digiKam
Comment[fi]=Keskialueen portaaton tummennus
Comment[gl]=Un plugin de digiKam para efeitos antiviñeta de imaxe
Comment[hr]=digiKam dodatak za efekt protiv vinjeta
Comment[is]=Íforrit fyrir digiKam sem minnkar linsuskyggingu í hornum
Comment[it]=Plugin per l'effetto delle immagini di antivignettatura per digiKam
Comment[ja]=digiKam 口径食補正プラグイン
Comment[nds]=digiKam-Bildeffektmoduul gegen Randschaddens
Comment[nl]=Digikam-plugin voor anti-vignetting
Comment[pa]=ਡਿਜ਼ੀਕੈਮ ਲਈ ਐਂਟੀ ਵੀਜਨਿੰਟ ਚਿੱਤਰ ਪਰਭਾਵ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka do programu digiKam usuwająca efekt winietowania
Comment[pt]=Um 'plugin' do digiKam para efeitos anti-vinheta de imagem
Comment[pt_BR]=Plugin de efeito anti-Vignetting para o digiKam
Comment[ru]=Модуль эффекта анти-виньетирования изображения для digiKam
Comment[sk]=Plugin korekcie vignetácie obrázku pre digiKam
Comment[sr]=digiKam-ов прикључак за ефекат девињетизације
Comment[sr@Latn]=digiKam-ov priključak za efekat devinjetizacije
Comment[sv]=Digikam insticksprogram för antivinjetteringsbildeffekt
Comment[tr]=digiKam için kenar kararmalarını düzeltme eklentisi
Comment[uk]=Втулок противіньєткового ефекту зображень для digiKam
Comment[vi]=Phần bổ sung hiệu ứng chống làm mờ nét ảnh cho digiKam
Comment[xx]=xxAnti Vignetting image effect plugin for digiKamxx

X-KDE-Library=digikamimageplugin_antivignetting
author=Gilles Caulier, caulier dot gilles at gmail dot com
