[Desktop Entry]
Name=ImagePlugin_AntiVignetting
Name[da]=Billedplugin_Anti-vignettering
Name[it]=PluginImmagini_Antivignettatura
Name[nl]=Afbeeldingsplugin_AntiVignetting
Name[pt_BR]=Plug-in anti-vinheta
Name[sr]=Сликовни прикључак — Девињетизација
Name[sr@Latn]=Slikovni priključak — Devinjetizacija
Name[sv]=Insticksprogram för antivinjettering
Name[tr]=ResimEklentisi_KenarKararmalarınıDüzelt
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Anti Vignetting image effect plugin for digiKam
Comment[da]=Anti-vignetteringsplugin til Digikam
Comment[de]=digiKam Plugin zur Reduzierung von Vignettierung im Bild
Comment[es]=Plugin de efecto de anti-viñeta para digiKam
Comment[et]=DigiKami pildi vinjeti kohendamise plugin
Comment[fr]=Module externe de digiKam anti-dégradés
Comment[it]=Plugin per l'effetto delle immagini di antivignettatura per digiKam
Comment[nl]=digiKam-plugin voor anti-vignetting
Comment[pt]=Um 'plugin' do digiKam para efeitos anti-vinheta de imagem
Comment[pt_BR]=Plug-in para o efeito de anti-vinheta em imagens para o digiKam
Comment[sr]=Digikam-ов прикључак за ефекат девињетизације
Comment[sr@Latn]=Digikam-ov priključak za efekat devinjetizacije
Comment[sv]=Digikam insticksprogram för antivinjetteringsbildeffekt
Comment[tr]=digiKam için kenar kararmalarını düzeltme eklentisi

X-KDE-Library=digikamimageplugin_antivignetting
author=Gilles Caulier, caulier dot gilles at free dot fr
