[Desktop Entry]
Encoding=UTF-8
Name=showFoto
Name[it]=visualizzaFoto
Name[sv]=Showfoto
Name[ta]=புகைப்படத்தைக் காட்டு
GenericName=Image Viewer
GenericName[br]=Gweler ar skeudennoù
GenericName[cy]=Gwelydd Delwedd
GenericName[de]=Bildbetrachter
GenericName[es]=Visualizador de imágenes
GenericName[et]=Pildinäitaja
GenericName[fr]=Visionneuse d'images
GenericName[ga]=Amharcán Íomhánna
GenericName[it]=Visualizzatore di immagini
GenericName[nl]=Afbeeldingweergaveprogramma
GenericName[pt]=Visualizador de Imagens
GenericName[pt_BR]=Visualizador de Imagens
GenericName[sv]=Bildvisning
GenericName[ta]=பிம்ப காட்சியாளன்
Comment=digiKam photo viewer
Comment[de]=digikam-Photobetrachter
Comment[es]=Visualizador de fotografías de digiKam
Comment[et]=digiKami fotode näitaja
Comment[fr]=Visioneuse de photos pour digiKam
Comment[it]=Visualizzatore di foto digiKam
Comment[nl]=Fotoweergaveprogramma voor digiKam
Comment[pt]=Visualizador de fotos digiKam
Comment[pt_BR]=Visualizador de fotos digiKam
Comment[sv]=Digikams fotovisning
Comment[ta]=டிஜிகாம் புகைப்பட காட்சியாளன்
Exec=showfoto %i %m -caption "%c" %U
Icon=
Type=Application
MimeType=image/gif;image/x-xpm;image/x-xbm;image/jpeg;image/png;image/tiff;image/x-bmp;image/x-psd;image/x-eim;image/x-portable-bitmap;image/x-portable-pixmap;image/x-portable-greymap
Terminal=false
Categories=Qt;KDE;Graphics;
