<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui version="1" name="showfoto" >

<MenuBar>

 <Menu name="file" >
   <text>&amp;File</text>
     <Action name="open_file" /> 
     <Action name="file_properties" /> 
 </Menu>

 <Menu name="go" >
   <text>&amp;Go</text>
     <Action name="go_bwd" /> 
     <Action name="go_fwd" /> 
 </Menu>

 <Menu name="transform" >
   <text>&amp;Transform</text>
     <Action name="rotate_90" />
     <Action name="rotate_180" />
     <Action name="rotate_270" />
     <Separator />
     <Action name="flip_horiz" />
     <Action name="flip_vert" />
 </Menu>

 <Menu name="view" >
   <text>&amp;View</text>
     <Action name="zoom_plus" />
     <Action name="zoom_minus" />
     <Action name="zoom_fit" /> 
     <Separator />
     <Action name="full_screen" /> 
     <Action name="show_thumbs" /> 
 </Menu>

</MenuBar>

<ToolBar noMerge="1" name="mainToolBar">
  <text>Main Toolbar</text>
  <Action name="open_file" />
  <Action name="go_bwd" />
  <Action name="go_fwd" />
  <Separator />
  <Action name="zoom_plus" />
  <Action name="zoom_minus" />
  <Action name="zoom_fit" />
  <Separator />
  <Action name="full_screen" /> 
</ToolBar>

</kpartgui>
