<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui version="7" name="showfoto" >

<MenuBar>

    <Menu name="file" ><text>&amp;File</text>
        <Action name="showfoto_open_file" /> 
        <Action name="showfoto_open_folder" />     
        <Separator/>
        <Action name="editorwindow_backward" /> 
        <Action name="editorwindow_forward" /> 
        <Separator/>
        <Action name="editorwindow_first" /> 
        <Action name="editorwindow_last" /> 
        <Separator/>
        <Action name="editorwindow_save" />
        <Action name="editorwindow_saveas" />
        <Action name="editorwindow_revert" /> 
        <Separator/>
        <Action name="editorwindow_delete" />
        <Separator/>
        <Action name="editorwindow_print" />
        <Separator/>
        <Action name="editorwindow_exit" />     
    </Menu>

    <Menu name="Edit" ><text>&amp;Edit</text>
        <Action name="editorwindow_copy" />
        <Separator/>     
        <Action name="editorwindow_undo" /> 
        <Action name="editorwindow_redo" />      
    </Menu>

    <Menu name="Image" ><text>&amp;Image</text>
        <Separator/>
    </Menu>

    <Menu name="Fix" ><text>Fi&amp;x</text>
        <ActionList name="showfoto_bcg" />
    </Menu>

    <Menu name="Transform" ><text>&amp;Transform</text>
        <Action name="editorwindow_rotate" />
        <Action name="editorwindow_flip" />    
        <Action name="editorwindow_crop" />
        <Action name="editorwindow_resize" /> 
    </Menu>

    <Menu name="View" ><text>&amp;View</text>
        <Action name="editorwindow_zoomplus" />
        <Action name="editorwindow_zoomminus" />
        <Action name="editorwindow_zoomfit" /> 
        <Separator/>
        <Action name="shofoto_showthumbs" /> 
        <Action name="editorwindow_histogram" /> 
        <Separator/>
        <Action name="editorwindow_slideshow" />
    </Menu>

    <Menu name="help" ><text>&amp;Help</text>
        <Action name="editorwindow_imagepluginshelp" />
    </Menu>
 
    <Merge/>
 
    <Menu name="settings" noMerge="1"><Text>&amp;Settings</Text>
        <Action name="options_show_toolbar" />
        <Merge name="StandardToolBarMenuHandler" />
        <Separator/>
        <Action name="editorwindow_fullscreen" /> 
        <Separator/>
        <Action name="options_configure_keybinding" />
        <Action name="options_configure_toolbars" />
        <Action name="options_configure" />
    </Menu>
 
</MenuBar>

<ToolBar name="ToolBar"><text>Main Toolbar</text>
    <Action name="editorwindow_first" />
    <Action name="editorwindow_backward" />
    <Action name="editorwindow_forward" />
    <Action name="editorwindow_last" />
    <Separator/>
    <Action name="showfoto_open_file" />
    <Action name="showfoto_open_folder" />
    <Action name="editorwindow_save" />
    <Action name="editorwindow_saveas" />
    <Action name="editorwindow_undo" />
    <Action name="editorwindow_redo" />
    <Action name="editorwindow_revert" />  
    <Separator/>
    <Action name="editorwindow_zoomplus" />
    <Action name="editorwindow_zoomminus" />
    <Action name="editorwindow_zoomfit" />
    <Separator/>
    <Action name="editorwindow_rotate" /> 
    <Action name="editorwindow_crop" />
    <Separator/>
    <Action name="editorwindow_fullscreen" /> 
    <Action name="editorwindow_slideshow" /> 
    <Merge />
</ToolBar>

<Menu name="RMBMenu">
    <Action name="editorwindow_backward" />
    <Action name="editorwindow_forward" />
    <Separator/>
    <Action name="editorwindow_rotate" /> 
    <Action name="editorwindow_crop" />    
    <Separator/>
    <Action name="editorwindow_delete" />
</Menu>

<ActionProperties/>
 
</gui>
