[Desktop Entry]
Encoding=UTF-8
Name=showFoto
Name[bn]=ছবি প্রদর্শক
Name[hr]=prikaži
Name[lt]=rodytiFoto
Name[pa]=ਫੋਟੋਵੇਖਾਓ
Name[sv]=Showfoto
GenericName=Image Viewer
GenericName[ar]=عارض الصور
GenericName[bg]=Преглед на снимки
GenericName[bn]=ছবি প্রদর্শক
GenericName[br]=Gweler ar skeudennoù
GenericName[ca]=Visor d'imatges
GenericName[cs]=Prohlížeč obrázků
GenericName[cy]=Gwelydd Delwedd
GenericName[da]=Billedfremviser
GenericName[de]=Bildbetrachter
GenericName[el]=Προβολέας εικόνων
GenericName[es]=Visualizador de imágenes
GenericName[et]=Pildinäitaja
GenericName[eu]=Irudi-ikustailea
GenericName[fa]=مشاهده‌گر تصویر
GenericName[fr]=Visualiseur d'image
GenericName[ga]=Amharcán Íomhánna
GenericName[gl]=Visor de Imaxes
GenericName[hr]=Preglednik slika
GenericName[hu]=Képnéző
GenericName[is]=Myndaskoðari
GenericName[it]=Visualizzatore di immagini
GenericName[ja]=画像ビューア
GenericName[km]=កម្មវិធី​មើល​រូបភាព
GenericName[lt]=Paveikslėlių žiūryklė
GenericName[mk]=Прегледувач на слики
GenericName[ms]=Pelihat Imej
GenericName[nds]=Bildkieker
GenericName[ne]=छवि दर्शक
GenericName[nl]=Afbeeldingsviewer
GenericName[nn]=Biletvisar
GenericName[pa]=ਚਿੱਤਰ ਦਰਸ਼ਕ
GenericName[pl]=Przeglądarka obrazków
GenericName[pt]=Visualizador de Imagens
GenericName[pt_BR]=Visualizador de Imagens
GenericName[ru]=Просмотр изображений
GenericName[rw]=Mugaraza Shusho
GenericName[sk]=Prehliadač obrázkov
GenericName[sr]=Приказивач слика
GenericName[sr@Latn]=Prikazivač slika
GenericName[sv]=Bildvisare
GenericName[tr]=Resim Gösterici
GenericName[uk]=Переглядач зображень
GenericName[vi]=Bộ xem ảnh
GenericName[wa]=Håyneu d' imådjes
Comment=digiKam photo viewer
Comment[bg]=Преглед на снимки в digiKam
Comment[bn]=ডিজিক্যাম ছবি প্রদর্শক
Comment[br]=Gweler foto digiKam
Comment[ca]=Visor de fotografies del digiKam
Comment[cs]=Prohlížeč fotografií digiKam
Comment[da]=Digikam Foto-fremviser
Comment[de]=digiKam-Photobetrachter
Comment[el]=Προβολέας εικόνων του digiKam
Comment[es]=digiKam visualizador de fotos
Comment[et]=DigiKami fotode näitaja
Comment[eu]=digiKam-en argazkien ikustailea
Comment[fa]=مشاهده‌گر عکس digiKam
Comment[fr]=visualisateur de photos de digiKam
Comment[gl]=Visor de fotos digiKam
Comment[hr]=digiKam preglednik fotografija
Comment[hu]=digiKam fényképnézegető
Comment[is]=digiKam Myndaskoðari
Comment[it]=Visualizzatore di foto digiKam
Comment[ja]=digiKam フォトビューア
Comment[km]=កម្មវិធី​មើល​រូបថត​របស់ digiKam
Comment[lt]=digiKam nuotraukų peržiūros programa
Comment[ms]=Pelihat gambar digiKam
Comment[nds]=digiKam-Fotokieker
Comment[ne]=डिजिक्याम फोटो दर्शक
Comment[nl]=Fotobewerker voor Digikam
Comment[nn]=digiKam fotovisar
Comment[pa]=ਡਿਜ਼ੀਕੈਮ ਫੋਟੋ ਦਰਸ਼ਕ
Comment[pl]=Przeglądarka zdjęć digiKama
Comment[pt]=Visualizador de fotografias do digiKam
Comment[pt_BR]=visualizador de fotos do digiKam
Comment[ru]=Программа digiKam для просмотра фотографий
Comment[sk]=digiKam prehliadač fotografií
Comment[sr]=digiKam-ов приказивач слика
Comment[sr@Latn]=digiKam-ov prikazivač slika
Comment[sv]=Digikams fotovisning
Comment[tr]=digiKam fotoğraf gösterici
Comment[uk]=Переглядач фотографій - digiKam
Comment[vi]=Bộ xem ảnh digiKam
Comment[wa]=Håyneu di foto di digiKam
Exec=showfoto %i %m -caption "%c" %U
Icon=showfoto
Type=Application
MimeType=image/gif;image/x-xpm;image/x-xbm;image/jpeg;image/png;image/tiff;image/x-bmp;image/x-psd;image/x-eim;image/x-portable-bitmap;image/x-portable-pixmap;image/x-portable-greymap;image/x-raw
Terminal=false
Categories=Qt;KDE;Graphics;
DocPath=showfoto/index.html
