[Desktop Entry]
Name=Frames
Name[bg]=Рамки
Name[bs]=Okviri
Name[ca]=Marcs
Name[ca@valencia]=Marcs
Name[cs]=Rámce
Name[da]=Rammer
Name[de]=Rahmen
Name[el]=Πλαίσια
Name[en_GB]=Frames
Name[es]=Marcos
Name[et]=Raamid
Name[eu]=Markoak
Name[fi]=Kehykset
Name[fr]=Cadres
Name[gl]=Molduras
Name[he]=מסגרות
Name[hne]=फ्रेम
Name[hu]=Keretek
Name[is]=Rammar
Name[it]=Riquadri
Name[ja]=フレーム
Name[km]=ស៊ុម
Name[ko]=프레임
Name[lt]=Kadrai
Name[lv]=Ietvari
Name[mai]=ढाँचा
Name[nb]=Rammer
Name[nds]=Rahmens
Name[nl]=Frames
Name[pa]=ਫਰੇਮ
Name[pl]=Ramki
Name[pt]=Molduras
Name[pt_BR]=Molduras
Name[ro]=Cadre
Name[ru]=Фреймы
Name[sk]=Rámčeky
Name[sl]=Okvirji
Name[sq]=Kornizat
Name[sv]=Ramar
Name[th]=กรอบภาพ
Name[tr]=Çerçeveler
Name[ug]=كاندۇكلار
Name[uk]=Рамки
Name[x-test]=xxFramesxx
Name[zh_CN]=相框
Name[zh_TW]=外框
Comment=A frame theme
Comment[bg]=Изглед с рамки
Comment[bs]=Okvir teme
Comment[ca]=Un tema de marcs
Comment[ca@valencia]=Un tema de marcs
Comment[cs]=Motiv rámce
Comment[da]=Et ramme-tema
Comment[de]=Ein Rahmendesign
Comment[el]=Ένα θέμα πλαισίων
Comment[en_GB]=A frame theme
Comment[es]=Un tema con marcos
Comment[et]=Raamiteema
Comment[eu]=Marko-gai bat
Comment[fi]=Kehysteema
Comment[fr]=Un thème de cadre
Comment[gl]=Un tema de molduras
Comment[he]=ערכת מסגרת
Comment[hne]=फ्रेम थीम
Comment[hu]=Egy keretes téma
Comment[is]=Þema með römmum
Comment[it]=Un tema a riquadri
Comment[ja]=フレームテーマ
Comment[km]=ស្បែក​ស៊ុម
Comment[ko]=프레임 테마
Comment[lt]=Kadro tema
Comment[lv]=Ietvaru tēma
Comment[nb]=Et rammetema
Comment[nds]=En Rahmenmuster
Comment[nl]=Een frame-thema
Comment[pa]=ਇੱਕ ਫਰੇਮ ਥੀਮ
Comment[pl]=Wystrój ramki
Comment[pt]=Um tema de molduras
Comment[pt_BR]=Um tema de molduras
Comment[ro]=O tematică de cadru
Comment[ru]=Оформление с фреймами
Comment[sk]=Téma rámčekov
Comment[sl]=Tema z okvirji
Comment[sq]=Një temë kornizash
Comment[sv]=Ett ramtema
Comment[th]=ชุดตกแต่งกรอบภาพ
Comment[tr]=Bir Çerçeve teması
Comment[uk]=Тема рамок
Comment[x-test]=xxA frame themexx
Comment[zh_CN]=一个相框主题
Comment[zh_TW]=外框主題

[X-HTMLExport Author]
Name=Ruediger Bente
Name[bg]=Ruediger Bente
Name[bs]=Ruediger Bente
Name[ca]=Ruediger Bente
Name[ca@valencia]=Ruediger Bente
Name[cs]=Ruediger Bente
Name[da]=Ruediger Bente
Name[de]=Rüdiger Bente
Name[el]=Ruediger Bente
Name[en_GB]=Ruediger Bente
Name[eo]=Ruediger Bente
Name[es]=Ruediger Bente
Name[et]=Ruediger Bente
Name[eu]=Ruediger Bente
Name[fi]=Ruediger Bente
Name[fr]=Ruediger Bente
Name[gl]=Ruediger Bente
Name[he]=רודריגר בנטה
Name[hne]=रूदिगर बेन्ते
Name[hu]=Ruediger Bente
Name[is]=Ruediger Bente
Name[it]=Rüdiger Bente
Name[ja]=Ruediger Bente
Name[km]=Ruediger Bente
Name[ko]=Ruediger Bente
Name[lt]=Ruediger Bente
Name[lv]=Ruediger Bente
Name[nb]=Ruediger Bente
Name[nds]=Ruediger Bente
Name[nl]=Ruediger Bente
Name[pa]=Ruediger Bente
Name[pl]=Ruediger Bente
Name[pt]=Ruediger Bente
Name[pt_BR]=Ruediger Bente
Name[ro]=Ruediger Bente
Name[ru]=Ruediger Bente
Name[sk]=Ruediger Bente
Name[sl]=Ruediger Bente
Name[sq]=Ruediger Bente
Name[sv]=Ruediger Bente
Name[th]=Ruediger Bente
Name[tr]=Ruediger Bente
Name[uk]=Ruediger Bente
Name[x-test]=xxRuediger Bentexx
Name[zh_CN]=Ruediger Bente
Name[zh_TW]=Ruediger Bente
Url=mailto:ruediger.bente@gmx.de

[X-HTMLExport Preview]
Name=Frames
Name[bg]=Рамки
Name[bs]=Okviri
Name[ca]=Marcs
Name[ca@valencia]=Marcs
Name[cs]=Rámce
Name[da]=Rammer
Name[de]=Rahmen
Name[el]=Πλαίσια
Name[en_GB]=Frames
Name[es]=Marcos
Name[et]=Raamid
Name[eu]=Markoak
Name[fi]=Kehykset
Name[fr]=Cadres
Name[gl]=Molduras
Name[he]=מסגרות
Name[hne]=फ्रेम
Name[hu]=Keretek
Name[is]=Rammar
Name[it]=Riquadri
Name[ja]=フレーム
Name[km]=ស៊ុម
Name[ko]=프레임
Name[lt]=Kadrai
Name[lv]=Ietvari
Name[mai]=ढाँचा
Name[nb]=Rammer
Name[nds]=Rahmens
Name[nl]=Frames
Name[pa]=ਫਰੇਮ
Name[pl]=Ramki
Name[pt]=Molduras
Name[pt_BR]=Molduras
Name[ro]=Cadre
Name[ru]=Фреймы
Name[sk]=Rámčeky
Name[sl]=Okvirji
Name[sq]=Kornizat
Name[sv]=Ramar
Name[th]=กรอบภาพ
Name[tr]=Çerçeveler
Name[ug]=كاندۇكلار
Name[uk]=Рамки
Name[x-test]=xxFramesxx
Name[zh_CN]=相框
Name[zh_TW]=外框
Url=preview.png
