[Desktop Entry]
Name=Frames
Comment=A frame theme

[X-HTMLExport Author]
Name=Ruediger Bente
Url=mailto:ruediger.bente@gmx.de

[X-HTMLExport Preview]
Name=Frames
Url=preview.png
