[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=PhotoLayoutsEditor/BorderPlugin
X-KDE-DerivedName=PhotoLayoutsEditor BorderPlugin
Comment=A PhotoLayoutsEditor Border Plugin
Comment[bs]=PhotoLayoutsEditor Border Plugin
Comment[ca]=Un connector de motllures de l'editor de presentacions de foto
Comment[ca@valencia]=Un connector de motllures de l'editor de presentacions de foto
Comment[cs]=Modul okrajů pro editor rozvržení snímků
Comment[da]=Et kant-plugin til PhotoLayoutsEditor
Comment[de]=Ein Randmodul für den Fotolayout-Editor
Comment[el]=Ένα πρόσθετο περιγράμματος επεξεργαστή διατάξεων φωτογραφιών
Comment[en_GB]=A PhotoLayoutsEditor Border Plugin
Comment[es]=Un complemento para bordes del editor de formatos de fotos
Comment[et]=Fotode paigutusredaktori piirete plugin
Comment[fr]=Module externe de bordure pour l'édition de dispositions de photos
Comment[gl]=Un complemento de bordos do editor de disposición de fotos
Comment[hu]=Egy fényképelrendezés-szerkesztő szegély bővítmény
Comment[is]=Viðbót fyrir ramma í ljósmyndauppsetningu
Comment[it]=Un'estensione di bordi per l'editor di impaginazioni di foto
Comment[km]=កម្មវិធី​ជំនួយ​ស៊ុម​របស់​កម្មវិធី​កែសម្រួល​ប្លង់​រូបថត
Comment[ko]=PhotoLayoutsEditor 경계선 플러그인
Comment[nb]=Et kant-programtillegg for fotoutleggsredigerer
Comment[nl]=Een plug-in voor randen van Foto-indelingbewerker
Comment[pl]=Wtyczka obramowań EdytoraUkładówZdjęć
Comment[pt]=Um 'Plugin' de Molduras do Editor de Formatos de Fotografias
Comment[pt_BR]=Um plugin de molduras do editor de formatos de fotos
Comment[sk]=Plugin okraja PhotoLayoutsEditor
Comment[sl]=Vstavek za obrobe za PhotoLayoutsEditor
Comment[sv]=Ett kantinsticksprogram för fotolayouteditor
Comment[tr]=Bir PhotoLayoutsEditor Kenar Eklentisi
Comment[uk]=Додаток рамок редактора фотокомозицій
Comment[x-test]=xxA PhotoLayoutsEditor Border Pluginxx
Comment[zh_TW]=相片佈局編輯器邊框外掛程式
