[Desktop Entry]
Name=ImagePlugin_RainDrop
Name[bg]=Приставка за снимки - Дъждовни капки
Name[da]=Billedplugin_Regndråber
Name[el]=ΠροσθετοΕικόνας_Βροχή
Name[hr]=Kišne kapi
Name[it]=PluginImmagini_GocciaDiPioggia
Name[ms]=ImagePlugin_TitisHujan
Name[nl]=Afbeeldingsplugin_regendruppels
Name[pt_BR]=Plug-in de efeito de chuva
Name[sr]=Кишне капи
Name[sr@Latn]=Kišne kapi
Name[sv]=Insticksprogram för regndroppar
Name[ta]=பிம்பசொருகுப்பொருள்_மழைத்துளி
Name[tr]=ResimEklentisi_YağmurDamlaları
Name[xx]=xxImagePlugin_RainDropxx
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Rain dropping image effect plugin for digiKam
Comment[bg]=Приставка на digiKam за добавяне на дъждовни капки
Comment[ca]=Connector pel digiKam d'efecte d'imatge de gotes de pluja
Comment[da]=Plugin til regndråbeeffekt på billeder i Digikam
Comment[de]=digiKam-Modul zum Erzeugen eines Regentropfeneffektes
Comment[el]=Πρόσθετο εφέ πτώσης βροχής για το digiKam
Comment[es]=Plugin de efecto de gotas de lluvia para digiKam
Comment[et]=DigiKami vihmapiiskade pildiefektiplugin
Comment[fr]=Module externe pour ajouter un effet de gouttes de pluie dans une image
Comment[gl]=Un plugin de digiKam para criar un efeito de pingas de chuvia
Comment[hr]=digiKam dodatak za efekt padanja kiše
Comment[is]=Íforrit fyrir digiKam sem setur inn regndropa!!! 
Comment[it]=Plugin per l'effetto a goccia di pioggia delle immagini per digiKam
Comment[ja]=digiKam 雨滴効果プラグイン
Comment[ms]=Plugin kesan imej titisan hujan untuk digiKam
Comment[nl]=Digikam-plugin voor regendruppels
Comment[pa]=ਡਿਜ਼ੀਕੈਮ ਲਈ ਕਣੀਆਂ ਦਾ ਪਰਭਾਵ ਦੇਣ ਵਾਲੀ ਪਲੱਗਿੰਨ
Comment[pl]=Wtyczka do programu digiKam dodająca efekt kropel deszczu na obrazie
Comment[pt]=Um 'plugin' do digiKam para criar um efeito de pingos de chuva
Comment[pt_BR]=Plug-in de efeito de chuva em imagens para o digiKam
Comment[sk]=digiKam plugin pre efekt padajúcich kvapiek
Comment[sr]=digiKam-ов прикључак за ефекат кишних капи у слици
Comment[sr@Latn]=digiKam-ov priključak za efekat kišnih kapi u slici
Comment[sv]=Digikam insticksprogram för regndroppsbildeffekt
Comment[ta]=டிஜிகாமிற்கான மழைத்துளி விழுவதுபோன்ற படிம விளைவு சொருகுப்பொருள்
Comment[tr]=digiKam için yağmur damlaları eklentisi
Comment[uk]=Втулок ефекту падання крапель для digiKam
Comment[vi]=Bổ sung hiệu ứng ảnh giọt mưa cho digiKam
Comment[xx]=xxRain dropping image effect plugin for digiKamxx

X-KDE-Library=digikamimageplugin_raindrop
author=Gilles Caulier, caulier dot gilles at free dot fr
