<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui version="2" name="digikamimagewindow" >

 <MenuBar>

  <Menu name="File" >
   <text>&amp;File</text>
     <Action name="imageview_prev" />  
     <Action name="imageview_next" />    
     <Separator/>     
     <Action name="imageview_first" />
     <Action name="imageview_last" />
     <Separator/>
     <Action name="imageview_save" />
     <Action name="imageview_saveas" />
     <Action name="imageview_restore" />
     <Separator/>
     <Action name="imageview_delete" />
     <Separator/>
     <Action name="imageview_print" />
     <Separator/>
     <Action name="imageview_exit" />
  </Menu>
    
  <Menu name="Edit" >
     <text>&amp;Edit</text>
     <Action name="imageview_copy" />
     <Separator/>
     <Action name="imageview_undo" />
     <Action name="imageview_redo" />
  </Menu>
  
  <Menu name="Image" >
     <text>&amp;Image</text>
     <Action name="comments_edit" /> 
     <Action name="file_properties" /> 
     <Separator/>     
  </Menu>

  <Menu name="Fix" >
     <text>Fi&amp;x</text>
  </Menu>

  <Menu name="Transform" >
   <text>&amp;Transform</text>
   <Action name="imageview_rotate" /> 
   <Action name="imageview_flip" /> 
   <Action name="imageview_crop" /> 
   <Action name="imageview_resize" /> 
  </Menu>

  <Menu name="View" >
   <text>&amp;View</text>
   <Action name="imageview_zoom_plus" /> 
   <Action name="imageview_zoom_minus" /> 
   <Action name="imageview_zoom_fit" />
   <Action name="imageview_histogram" />
  </Menu>

  <Menu name="help" >
  <text>&amp;Help</text>
   <Action name="imageview_imagepluginshelp" />
  </Menu>
  
  <Merge/>

  <Menu name="settings" noMerge="1"><Text>&amp;Settings</Text>
     <Action name="options_show_toolbar"/>
     <Merge name="StandardToolBarMenuHandler" />
     <Separator/>
     <Action name="toggle_fullScreen" />
     <Separator/>
     <Action name="options_configure_keybinding"/>
     <Action name="options_configure_toolbars"/>
  </Menu>

 </MenuBar>

 <ToolBar name="ToolBar" >
  <text>Main Toolbar</text>
     <Action name="imageview_first" />
     <Action name="imageview_prev" />  
     <Action name="imageview_next" />    
     <Action name="imageview_last" />
     <Separator/>     
     <Action name="imageview_save" />
     <Action name="imageview_undo" />
     <Action name="imageview_redo" />     
     <Action name="imageview_restore" />
     <Separator/>     
     <Action name="imageview_zoom_plus" /> 
     <Action name="imageview_zoom_minus" /> 
     <Action name="imageview_zoom_fit" /> 
     <Separator/>     
     <Action name="imageview_rotate" /> 
     <Action name="imageview_crop" /> 
     <Merge />
 </ToolBar>
 
<Menu name="RMBMenu">
    <Action name="imageview_prev" />
    <Action name="imageview_next" />
    <Separator/>
    <Action name="imageview_rotate" /> 
    <Action name="imageview_crop" />    
</Menu>
 
 <ActionProperties/>

</gui>
