[Desktop Entry]
Name=Frames
Name[ca]=Marcs
Name[ca@valencia]=Marcs
Name[cs]=Rámce
Name[de]=Rahmen
Name[es]=Marcos
Name[it]=Cornici
Name[nb]=Rammer
Name[nl]=Frames
Name[nn]=Rammer
Name[pl]=Ramki
Name[pt]=Molduras
Name[sv]=Ramar
Name[uk]=Рамки
Name[x-test]=xxFramesxx
Comment=A frame theme
Comment[ca]=Un tema de marcs
Comment[ca@valencia]=Un tema de marcs
Comment[cs]=Motiv rámce
Comment[de]=Ein Rahmendesign
Comment[es]=Un tema de marcos
Comment[it]=Tema di cornici
Comment[nb]=Et rammetema
Comment[nl]=Een frame-thema
Comment[nn]=Eit rammetema
Comment[pl]=Wygląd ramki
Comment[pt]=Um tema de molduras
Comment[sv]=Ett ramtema
Comment[uk]=Тема рамок
Comment[x-test]=xxA frame themexx

[X-HTMLExport Author]
Name=Ruediger Bente
Name[ca]=Ruediger Bente
Name[ca@valencia]=Ruediger Bente
Name[cs]=Ruediger Bente
Name[de]=Ruediger Bente
Name[es]=Ruediger Bente
Name[it]=Ruediger Bente
Name[nb]=Ruediger Bente
Name[nl]=Ruediger Bente
Name[nn]=Rüdiger Bente
Name[pl]=Ruediger Bente
Name[pt]=Ruediger Bente
Name[sv]=Ruediger Bente
Name[uk]=Ruediger Bente
Name[x-test]=xxRuediger Bentexx
Url=mailto:ruediger.bente@gmx.de

[X-HTMLExport Preview]
Name=Frames
Name[ca]=Marcs
Name[ca@valencia]=Marcs
Name[cs]=Rámce
Name[de]=Rahmen
Name[es]=Marcos
Name[it]=Cornici
Name[nb]=Rammer
Name[nl]=Frames
Name[nn]=Rammer
Name[pl]=Ramki
Name[pt]=Molduras
Name[sv]=Ramar
Name[uk]=Рамки
Name[x-test]=xxFramesxx
Url=preview.png
