[Desktop Entry]
Name=ImagePlugin_Texture
Name[bg]=Приставка за снимки - Текстури
Name[el]=ΠρόσθετοΕικόνας_Υφή
Name[fi]=Taustapinta
Name[hr]=Tekstura
Name[it]=PluginImmagini_Trama
Name[ms]=ImagePlugin_Tekstur
Name[nl]=Afbeeldingsplugin_Textuur
Name[sr]=Текстуре
Name[sr@Latn]=Teksture
Name[sv]=Insticksprogram för struktur
Name[tr]=ResimEklentisi_Doku
Name[xx]=xxImagePlugin_Texturexx

Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=digiKam plugin to apply texture on image
Comment[bg]=Приставка на digiKam за добавяне на текстури към снимки
Comment[ca]=Connector pel digiKam per aplicar una textura a una imatge
Comment[da]=digiKam-plugin til at anvende tekstur på billedet
Comment[de]=digiKam-Modul für das Anwenden von Texturen auf ein Bild
Comment[el]=Πρόσθετο εφαρμογής υφής σε εικόνα για το digiKam
Comment[es]=Plugin para digiKam para aplicar una textura sobre una imagen
Comment[et]=DigiKami pildile tekstuuri lisamise plugin
Comment[fa]=وصلۀ digiKam جهت اعمال بافت در تصویر
Comment[fi]=Lisää kuvaan taustapinnan
Comment[gl]=Un plugin de digiKam para aplicar unha textura nunha imaxe
Comment[hr]=digiKam dodatak za primjenu teksture u slici
Comment[is]=Íforrit fyrir digiKam sem setur áferð á mynd
Comment[it]=Plugin di digiKam per applicare una trama su un'immagine
Comment[ja]=digiKam テクスチャ適用プラグイン
Comment[nds]=digiKam-Moduul för't Överdregen vun Texturen
Comment[nl]=Digikam-plugin voor het aanbrengen van textuur op een afbeelding
Comment[pa]=ਚਿੱਤਰ ਉੱਤੇ ਪਾਠ ਲਿਖਣ ਲਈ ਡਿਜ਼ੀਕੈਮ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka do programu digiKam pozwalająca na nakładanie tekstury na obraz
Comment[pt]=Um 'plugin' do digiKam para aplicar uma textura numa imagem
Comment[ru]=Модуль digiKam для наложения текстур на изображение
Comment[sk]=digiKam plugin pre aplikovanie textúry na obrázok
Comment[sr]=digiKam-ов прикључак за додавање текстура у слику
Comment[sr@Latn]=digiKam-ov priključak za dodavanje tekstura u sliku
Comment[sv]=Digikam insticksprogram för att lägga till struktur på en bild
Comment[tr]=Bir resme doku eklemek için digiKam eklentisi
Comment[uk]=Втулок застосування текстури для digiKam
Comment[vi]=Bổ sung áp dụng hoạ tiết trên ảnh cho digiKam
Comment[xx]=xxdigiKam plugin to apply texture on imagexx

X-KDE-Library=digikamimageplugin_texture
author=Gilles Caulier, caulier dot gilles at gmail dot com
