[Desktop Entry]
Name=Vanilla
Name[ca]=Vainilla
Name[ca@valencia]=Vainilla
Name[en_GB]=Vanilla
Name[nl]=Vanilla
Name[nn]=Vanilje
Name[pl]=Niezmieniony
Name[pt]=Limpo
Name[sv]=Ordinär
Name[uk]=Ванілла
Name[x-test]=xxVanillaxx
Type=Theme
Comment=This theme is based on the look of Adobe Lightroom's HTML export. It has a simple but usable grid layout and comes with various color presets.
Comment[ca]=Aquest tema està basat en l'aparença de l'exportació HTML del Lightroom de l'Adobe. Té una disposició de quadrícula senzilla però útil i es distribueix amb diverses predefinicions de colors.
Comment[ca@valencia]=Aquest tema està basat en l'aparença de l'exportació HTML del Lightroom de l'Adobe. Té una disposició de quadrícula senzilla però útil i es distribueix amb diverses predefinicions de colors.
Comment[en_GB]=This theme is based on the look of Adobe Lightroom's HTML export. It has a simple but usable grid layout and comes with various colour presets.
Comment[nl]=Dit thema is gebaseerd oo het uiterlijk van Adobe Lightroom's HTML export. Het heeft een eenvoudige maar bruikbare rasterindeling en komt met van te voren ingestelde verschillende kleuren.
Comment[nn]=Inspirert av HTML-eksporten til Adobe Lightroom. Det har ei enkel men praktisk rutenettbasert utforming og ulike fargetema.
Comment[pl]=Ten wygląd opiera się na wyglądzie eksportu HTML Adobe Lightroom. Ma prosty lecz użyteczny układ siatki i jest dostępny w wielu wariantach kolorystycznych
Comment[pt]=Este tema é baseado na aparência da exportação para HTML do Adobe Lightroom. Tem uma disposição em grelha simples mas útil e vem com diversas predefinições de cores.
Comment[sv]=Temat är baserat på utseendet hos HTML-export i Adobe Lightroom. Det har en enkelt men användbar rutlayout och levereras med diverse förinställningar av färger.
Comment[uk]=Цю тему засновано на вигляді експортованих даних Adobe Lightroom у форматі HTML. Вона проста, але має зручне табличне компонування і містить різноманітні попередньо визначені набори кольорів.
Comment[x-test]=xxThis theme is based on the look of Adobe Lightroom's HTML export. It has a simple but usable grid layout and comes with various color presets.xx

[X-HTMLGallery Author]
Name=Wojciech Jarosz
Name[ca]=Wojciech Jarosz
Name[ca@valencia]=Wojciech Jarosz
Name[cs]=Wojciech Jarosz
Name[de]=Wojciech Jarosz
Name[el]=Wojciech Jarosz
Name[en_GB]=Wojciech Jarosz
Name[es]=Wojciech Jarosz
Name[fr]=Wojciech Jarosz
Name[is]=Wojciech Jarosz
Name[it]=Wojciech Jarosz
Name[nl]=Wojciech Jarosz
Name[nn]=Wojciech Jarosz
Name[pl]=Wojciech Jarosz
Name[pt]=Wojciech Jarosz
Name[ru]=Wojciech Jarosz
Name[sv]=Wojciech Jarosz
Name[tr]=Wojciech Jarosz
Name[uk]=Wojciech Jarosz
Name[x-test]=xxWojciech Jaroszxx
Url=mailto:wjarosz@ucsd.edu

[X-HTMLGallery Parameter author]
Name=Author
Name[ca]=Autor
Name[ca@valencia]=Autor
Name[cs]=Autor
Name[de]=Autor
Name[el]=Συγγραφέας
Name[en_GB]=Author
Name[es]=Autor
Name[fr]=Auteur
Name[is]=Höfundur
Name[it]=Autore
Name[nl]=Auteur
Name[nn]=Opphavsperson
Name[pl]=Autor
Name[pt]=Autor
Name[ru]=Автор
Name[sv]=Upphovsman
Name[tr]=Yazar
Name[uk]=Автор
Name[x-test]=xxAuthorxx
Name[zh_CN]=作者
Type=string
Default=

[X-HTMLGallery Parameter authorEmail]
Name=Author Email
Name[ca]=Correu de l'autor
Name[ca@valencia]=Correu de l'autor
Name[en_GB]=Author Email
Name[nl]=E-mailadres van de auteur
Name[nn]=E-postadresse til fotograf
Name[pl]=Adres pocztowy autora
Name[pt]=E-Mail do Autor
Name[sv]=Upphovsmannens e-postadress
Name[uk]=Адреса ел. пошти автора
Name[x-test]=xxAuthor Emailxx
Type=string
Default=

[X-HTMLGallery Parameter numRows]
Name=Rows per page
Name[ca]=Files per pàgina
Name[ca@valencia]=Files per pàgina
Name[en_GB]=Rows per page
Name[nl]=Rijen per pagina
Name[nn]=Rader per side
Name[pl]=Wierszy na stronę
Name[pt]=Linhas por página
Name[sv]=Rader per sida
Name[uk]=Кількість рядків на сторінку
Name[x-test]=xxRows per pagexx
Type=int
Default=3

[X-HTMLGallery Parameter numCols]
Name=Columns per page
Name[ca]=Columnes per pàgina
Name[ca@valencia]=Columnes per pàgina
Name[en_GB]=Columns per page
Name[nl]=Kolommen per pagina
Name[nn]=Kolonnar per side
Name[pl]=Kolumn na stronę
Name[pt]=Colunas por página
Name[sv]=Kolumner per sida
Name[uk]=Кількість стовпчиків на сторінку
Name[x-test]=xxColumns per pagexx
Type=int
Default=3

[X-HTMLGallery Parameter style]
Name=Style
Name[ca]=Estil
Name[ca@valencia]=Estil
Name[cs]=Styl
Name[de]=Stil
Name[el]=Στιλ
Name[en_GB]=Style
Name[es]=Estilo
Name[fr]=Style
Name[gl]=Estilo
Name[is]=Stíll
Name[it]=Stile
Name[nb]=Stil
Name[nl]=Stijl
Name[nn]=Stil
Name[pl]=Wygląd
Name[pt]=Estilo
Name[ru]=Цветовая гамма
Name[se]=Stiila
Name[sv]=Stil
Name[tr]=Stil
Name[uk]=Стиль
Name[x-test]=xxStylexx
Name[zh_CN]=样式
Type=list
Default=graphite.css
Value-0=charcoal.css
Caption-0=Charcoal
Value-1=dusk.css
Caption-1=Dusk
Value-2=graphite.css
Caption-2=Graphite
Value-3=ice_blue.css
Caption-3=Ice Blue
Value-4=ivory.css
Caption-4=Ivory
Value-5=light_grey.css
Caption-5=Light Grey
Value-6=midnight.css
Caption-6=Midnight
Value-7=white_on_black.css
Caption-7=White on Black

[X-HTMLGallery Parameter displayNumbers]
Name=Show image numbers
Name[ca]=Mostra els números de les imatges
Name[ca@valencia]=Mostra els números de les imatges
Name[en_GB]=Show image numbers
Name[nl]=Afbeeldingsnummers tonen
Name[nn]=Vis bilettal
Name[pl]=Pokaż numery obrazów
Name[pt]=Mostrar os números das imagens
Name[sv]=Visa bildnummer
Name[uk]=Показувати номери зображень
Name[x-test]=xxShow image numbersxx
Type=list
Default=inherit
Value-0=inherit
Caption-0=Yes
Value-1=none
Caption-1=No

[X-HTMLGallery Parameter dropShadow]
Name=Add drop shadow
Name[ca]=Afegeix una ombra difusa
Name[ca@valencia]=Afig una ombra difusa
Name[en_GB]=Add drop shadow
Name[nl]=Slagschaduw toevoegen
Name[nn]=Legg til skuggeeffekt
Name[pl]=Dodaj cień
Name[pt]=Adicionar um sombreado
Name[sv]=Lägg till fallskugga
Name[uk]=Додати відкидання тіні
Name[x-test]=xxAdd drop shadowxx
Type=list
Default=true
Value-0=true
Caption-0=Yes
Value-1=false
Caption-1=No

[X-HTMLGallery Parameter thumbMargin]
Name=Thumbnail margin
Name[ca]=Marge de les miniatures
Name[ca@valencia]=Marge de les miniatures
Name[en_GB]=Thumbnail margin
Name[nl]=Marge van miniaturen
Name[nn]=Marg rundt miniatyrar
Name[pl]=Margines na miniatury
Name[pt]=Margem das miniaturas
Name[sv]=Miniatyrbildsmarginal
Name[uk]=Поле мініатюр
Name[x-test]=xxThumbnail marginxx
Type=int
Default=25

[X-HTMLGallery Parameter useLyteBox]
Name=Use LyteBox
Name[ca]=Usa el LyteBox
Name[ca@valencia]=Usa el LyteBox
Name[cs]=Použít LyteBox
Name[el]=Χρήση LyteBox
Name[en_GB]=Use LyteBox
Name[es]=Usar LyteBox
Name[fr]=Utiliser LyteBox
Name[is]=Nota LyteBox
Name[it]=Usa LyteBox
Name[nl]=LyteBox gebruiken
Name[nn]=Bruk LyteBox
Name[pl]=Użyj LyteBox
Name[pt]=Usar o LyteBox
Name[ru]=Использовать LyteBox
Name[sv]=Använd LyteBox
Name[tr]=LyteBox Kullan
Name[uk]=Використання LyteBox
Name[x-test]=xxUse LyteBoxxx
Name[zh_CN]=使用 LyteBox
Type=list
Default=true
Value-0=true
Caption-0=Yes
Value-1=false
Caption-1=No

[X-HTMLGallery Parameter slideInterval]
Name=LyteBox Slideshow Interval
Name[ca]=Interval entre diapositives del LyteBox
Name[ca@valencia]=Interval entre diapositives del LyteBox
Name[el]=Χρονικό διάστημα προβολής διαφανειών LyteBox
Name[en_GB]=LyteBox Slideshow Interval
Name[es]=Intervalo de presentación de LyteBox
Name[fr]=Intervalle du diaporama LyteBox
Name[is]=Bið milli mynda í LyteBox-skyggnusýningu
Name[it]=Intervallo presentazione LyteBox
Name[nl]=Interval LyteBox diavoorstelling
Name[nn]=Oppdateringsintervall for LyteBox-framvising
Name[pl]=Okres pokazu slajdów LyteBox
Name[pt]=Intervalo da Apresentação do LyteBox
Name[ru]=Интервал слайд-шоу (LyteBox):
Name[sv]=Intervall för LyteBox-bildspel
Name[tr]=LyteBox Slayt Gösterisi Aralığı
Name[uk]=Інтервал показу слайдів LyteBox
Name[x-test]=xxLyteBox Slideshow Intervalxx
Name[zh_CN]=LyteBox 幻灯片间隔
Type=list
Default=6000
Value-0=2000
Caption-0=2 seconds
Value-1=4000
Caption-1=4 seconds
Value-2=6000
Caption-2=6 seconds
Value-3=8000
Caption-3=8 seconds
Value-4=10000
Caption-4=10 seconds

[X-HTMLGallery Preview]
Name=Vanilla
Name[ca]=Vainilla
Name[ca@valencia]=Vainilla
Name[en_GB]=Vanilla
Name[nl]=Vanilla
Name[nn]=Vanilje
Name[pl]=Niezmieniony
Name[pt]=Limpo
Name[sv]=Ordinär
Name[uk]=Ванілла
Name[x-test]=xxVanillaxx
Url=preview.png
