[Desktop Entry]
Name=Vanilla
Type=Theme
Comment=This theme is based on the look of Adobe Lightroom's HTML export. It has a simple but usable grid layout and comes with various color presets.

[X-HTMLGallery Author]
Name=Wojciech Jarosz
Name[ca]=Wojciech Jarosz
Name[ca@valencia]=Wojciech Jarosz
Name[cs]=Wojciech Jarosz
Name[de]=Wojciech Jarosz
Name[el]=Wojciech Jarosz
Name[en_GB]=Wojciech Jarosz
Name[es]=Wojciech Jarosz
Name[fr]=Wojciech Jarosz
Name[is]=Wojciech Jarosz
Name[it]=Wojciech Jarosz
Name[nl]=Wojciech Jarosz
Name[nn]=Wojciech Jarosz
Name[pl]=Wojciech Jarosz
Name[pt]=Wojciech Jarosz
Name[ru]=Wojciech Jarosz
Name[sv]=Wojciech Jarosz
Name[tr]=Wojciech Jarosz
Name[uk]=Wojciech Jarosz
Name[x-test]=xxWojciech Jaroszxx
Url=mailto:wjarosz@ucsd.edu

[X-HTMLGallery Parameter author]
Name=Author
Name[ca]=Autor
Name[ca@valencia]=Autor
Name[cs]=Autor
Name[de]=Autor
Name[el]=Συγγραφέας
Name[en_GB]=Author
Name[es]=Autor
Name[fr]=Auteur
Name[is]=Höfundur
Name[it]=Autore
Name[nl]=Auteur
Name[nn]=Opphavsperson
Name[pl]=Autor
Name[pt]=Autor
Name[ru]=Автор
Name[sv]=Upphovsman
Name[tr]=Yazar
Name[uk]=Автор
Name[x-test]=xxAuthorxx
Name[zh_CN]=作者
Type=string
Default=

[X-HTMLGallery Parameter authorEmail]
Name=Author Email
Type=string
Default=

[X-HTMLGallery Parameter numRows]
Name=Rows per page
Type=int
Default=3

[X-HTMLGallery Parameter numCols]
Name=Columns per page
Type=int
Default=3

[X-HTMLGallery Parameter style]
Name=Style
Name[ca]=Estil
Name[ca@valencia]=Estil
Name[cs]=Styl
Name[de]=Stil
Name[el]=Στιλ
Name[en_GB]=Style
Name[es]=Estilo
Name[fr]=Style
Name[gl]=Estilo
Name[is]=Stíll
Name[it]=Stile
Name[nb]=Stil
Name[nl]=Stijl
Name[nn]=Stil
Name[pl]=Wygląd
Name[pt]=Estilo
Name[ru]=Цветовая гамма
Name[se]=Stiila
Name[sv]=Stil
Name[tr]=Stil
Name[uk]=Стиль
Name[x-test]=xxStylexx
Name[zh_CN]=样式
Type=list
Default=graphite.css
Value-0=charcoal.css
Caption-0=Charcoal
Value-1=dusk.css
Caption-1=Dusk
Value-2=graphite.css
Caption-2=Graphite
Value-3=ice_blue.css
Caption-3=Ice Blue
Value-4=ivory.css
Caption-4=Ivory
Value-5=light_grey.css
Caption-5=Light Grey
Value-6=midnight.css
Caption-6=Midnight
Value-7=white_on_black.css
Caption-7=White on Black

[X-HTMLGallery Parameter displayNumbers]
Name=Show image numbers
Type=list
Default=inherit
Value-0=inherit
Caption-0=Yes
Value-1=none
Caption-1=No

[X-HTMLGallery Parameter dropShadow]
Name=Add drop shadow
Type=list
Default=true
Value-0=true
Caption-0=Yes
Value-1=false
Caption-1=No

[X-HTMLGallery Parameter thumbMargin]
Name=Thumbnail margin
Type=int
Default=25

[X-HTMLGallery Parameter useLyteBox]
Name=Use LyteBox
Name[ca]=Usa el LyteBox
Name[ca@valencia]=Usa el LyteBox
Name[cs]=Použít LyteBox
Name[el]=Χρήση LyteBox
Name[en_GB]=Use LyteBox
Name[es]=Usar LyteBox
Name[fr]=Utiliser LyteBox
Name[is]=Nota LyteBox
Name[it]=Usa LyteBox
Name[nl]=LyteBox gebruiken
Name[nn]=Bruk LyteBox
Name[pl]=Użyj LyteBox
Name[pt]=Usar o LyteBox
Name[ru]=Использовать LyteBox
Name[sv]=Använd LyteBox
Name[tr]=LyteBox Kullan
Name[uk]=Використання LyteBox
Name[x-test]=xxUse LyteBoxxx
Name[zh_CN]=使用 LyteBox
Type=list
Default=true
Value-0=true
Caption-0=Yes
Value-1=false
Caption-1=No

[X-HTMLGallery Parameter slideInterval]
Name=LyteBox Slideshow Interval
Name[ca]=Interval entre diapositives del LyteBox
Name[ca@valencia]=Interval entre diapositives del LyteBox
Name[el]=Χρονικό διάστημα προβολής διαφανειών LyteBox
Name[en_GB]=LyteBox Slideshow Interval
Name[es]=Intervalo de presentación de LyteBox
Name[fr]=Intervalle du diaporama LyteBox
Name[is]=Bið milli mynda í LyteBox-skyggnusýningu
Name[it]=Intervallo presentazione LyteBox
Name[nl]=Interval LyteBox diavoorstelling
Name[nn]=Oppdateringsintervall for LyteBox-framvising
Name[pl]=Okres pokazu slajdów LyteBox
Name[pt]=Intervalo da Apresentação do LyteBox
Name[ru]=Интервал слайд-шоу (LyteBox):
Name[sv]=Intervall för LyteBox-bildspel
Name[tr]=LyteBox Slayt Gösterisi Aralığı
Name[uk]=Інтервал показу слайдів LyteBox
Name[x-test]=xxLyteBox Slideshow Intervalxx
Name[zh_CN]=LyteBox 幻灯片间隔
Type=list
Default=6000
Value-0=2000
Caption-0=2 seconds
Value-1=4000
Caption-1=4 seconds
Value-2=6000
Caption-2=6 seconds
Value-3=8000
Caption-3=8 seconds
Value-4=10000
Caption-4=10 seconds

[X-HTMLGallery Preview]
Name=Vanilla
Name[x-test]=xxVanillaxx
Url=preview.png
