<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui version="7" name="digikamimageplugin_contentawareresizing" >
  <MenuBar>
    <Menu name="Transform" ><text>Tra&amp;nsform</text>
      <Action name="imageplugin_contentawareresizing" />
    </Menu>
  </MenuBar>

  <ToolBar name="mainToolBar" >
    <text>Main Toolbar</text>
  </ToolBar>

  <ActionProperties>
    <Action name="imageplugin_contentawareresizing" />
  </ActionProperties>
</gui>
