[Desktop Entry]
Name=ImagePlugin_ContentAwareResizing
Name[sv]=Insticksprogram med innehållsberoende storleksändring
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Liquid Rescale plugin for digiKam
Comment[pt]=Um 'plugin' de escala líquida para o digiKam
Comment[pt_BR]=Plug-in do digiKam para escala líquida
Comment[sv]=Liquid insticksprogram med omskalning för Digikam
Comment[uk]=Втулка пошарового вирізання digiKam
X-KDE-Library=digikamimageplugin_contentawareresizing
author=Julien Pontabry, julien dot pontabry at u-strasbg dot fr
