[Desktop Entry]
Name=ImagePlugin_ContentAwareResizing
Name[it]=Ridimensionamento intelligente
Name[nl]=Afbeeldingsplugin_Inhoudafhankelijk_GrootteWijzigen
Name[sv]=Insticksprogram med innehållsberoende storleksändring
Name[tr]=GörüntüEklentisi_İçeriktenHaberdarYenidenBoyutlandırma
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Liquid Rescale plugin for digiKam
Comment[ca]=Connector pel digiKam de canvi d'escala líquid
Comment[el]=Πρόσθετο υγρής κλιμάκωσης για το digiKam
Comment[es]=Complemento para digiKam con efectos especiales de difusión
Comment[et]=DigiKami sisutundliku pildi suuruse muutmise plugin
Comment[fr]=Module Liquid Rescale pour Digikam
Comment[gl]=Unha extensión de digiKam para un efecto líquido de reescalado
Comment[it]=Estensione Liquid Rescale per digikam
Comment[km]=កម្មវិធី​ជំនួយ​បែបផែន​ព្រិល​ពិសេស​សម្រាប់ digiKam
Comment[nb]=Liquid Rescale programtillegg for digiKam
Comment[nds]=digiKam-Moduul för't week Gröttännern
Comment[nl]=digiKam-plugin voor vloeibaar herschalen
Comment[pt]=Um 'plugin' de escala líquida para o digiKam
Comment[pt_BR]=Plug-in do digiKam para escala líquida
Comment[sv]=Liquid insticksprogram med omskalning för Digikam
Comment[tr]=DigiKam için Likit Yeniden Ölçeklendirme eklentisi
Comment[uk]=Втулка пошарового вирізання digiKam
X-KDE-Library=digikamimageplugin_contentawareresizing
author=Julien Pontabry, julien dot pontabry at u-strasbg dot fr
