# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Type=Application
Categories=Qt;KDE;Graphics;
Exec=digikam -caption "%c" %i %m
Icon=digikam
DocPath=digikam/index.html
Name=digiKam
Name[da]=DigiKam
Name[sv]=Digikam
Comment=KDE Photo Management
Comment[bg]=Управление на снимки
Comment[br]=Mererezh ar fotoù KDE
Comment[bs]=KDE upravljanje fotografijama
Comment[ca]=Gestió de fotografies per KDE
Comment[cs]=KDE správce fotografií
Comment[da]=KDE Fotohåndtering
Comment[es]=Gestor de fotos de KDE
Comment[et]=KDE fotohaldur
Comment[fr]=Gestionnaire de Photos KDE
Comment[it]=Gestione foto di KDE
Comment[nl]=Toepassing voor het beheren van fotoalbums
Comment[pt]=Gestão de Fotos do KDE
Comment[pt_BR]=Gerenciamento de fotos KDE
Comment[ru]=Программа для фотографий
Comment[sl]=Upravljanje s fotografijami v KDE
Comment[sr]=Управљање фотографијама за KDE
Comment[sr@Latn]=Upravljanje fotografijama za KDE
Comment[sv]=Fotohantering i KDE
Comment[ta]=KDE பட மேலாளர்
Comment[tr]=KDE Fotoğraf Yöneticisi
Comment[zh_CN]=KDE 相片管理
GenericName=Photo Management
GenericName[br]=Mererezh ar fotoù
GenericName[ca]=Gestió de fotografies
GenericName[cs]=Správa fotografií
GenericName[da]=Fotohåndtering
GenericName[es]=Gestión de fotografías
GenericName[et]=Fotohaldur
GenericName[fr]=Gestionnaire de photographies
GenericName[it]=Gestore di fotografie
GenericName[nl]=Fotobeheer
GenericName[pt]=Gestão de Fotos
GenericName[pt_BR]=Gestão de Fotos
GenericName[ru]=Администратор фотографий
GenericName[sl]=Upravljanje fotografij
GenericName[sv]=Fotohantering
GenericName[ta]=புகைப்பட மேலாண்மை
GenericName[tr]=Fotoğraf Yöneticisi
GenericName[zh_CN]=相片管理
Terminal=false
