# KDE Config File
[Desktop Entry]
Type=Application
Categories=Qt;KDE;Graphics;Photography;
Exec=digikam -caption "%c" %i
Icon=digikam
X-DocPath=digikam/index.html
Name=digiKam
Name[x-test]=xxdigiKamxx
GenericName=Photo Management Program
GenericName[x-test]=xxPhoto Management Programxx
Comment=Manage your photographs like a professional with the power of open source
Comment[x-test]=xxManage your photographs like a professional with the power of open sourcexx
Terminal=false
