# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=digikam -caption "%c" %i %m
Icon=digikam.png
DocPath=digikam/index.html
Name=digikam
Name[ta]=டிஜிகேம்
Name[xx]=xxdigikamxx
Comment=KDE Photo Management
Comment[bg]=Управление на снимки
Comment[da]=KDE fotohåndtering
Comment[es]=Gestor de fotos de KDE
Comment[et]=KDE fotohaldur
Comment[fr]=Gestionnaire de Photos KDE
Comment[it]=Gestione foto di KDE
Comment[nl]=Toepassing voor het beheren van fotoalbums
Comment[pt]=Gestão de Fotos do KDE
Comment[pt_BR]=Gerenciamento de fotos KDE
Comment[ru]=Организатор фотографий
Comment[sr]=Управљање фотографијама за KDE
Comment[sv]=Fotohantering i KDE
Comment[ta]=KDE பட மேலாளர்
Comment[tr]=KDE Fotoğraf Yöneticisi
Comment[xx]=xxKDE Photo Managementxx
Terminal=0
