[Desktop Entry]
Name=ImagePlugin_SuperImpose
Name[bg]=Приставка за снимки - Налагане
Name[da]=Billedplugin_Indkopiering
Name[el]=ΠρόσθετοΕικόνας_Υπερέκθεση
Name[hr]=Presvlačenje
Name[it]=PluginImmagini_Sovrapposizione
Name[nl]=Afbeeldingsplugin_SjabloonAanbrengen
Name[sr]=Надоградња
Name[sr@Latn]=Nadogradnja
Name[sv]=Insticksprogram för överlagring
Name[tr]=ResimEklentisi_Büyüt
Name[xx]=xxImagePlugin_SuperImposexx

Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Template superimpose plugin for digiKam
Comment[bg]=Приставка на digiKam за налагане на снимки една върху друга
Comment[ca]=Connector pel digiKam per sobreimposar una plantilla
Comment[da]=Plugin til skabelon-indkopiering i Digikam
Comment[de]=digiKam-Modul zum Anwenden von Schablonen auf ein Bild
Comment[el]=Πρόσθετο πρότυπης υπερέκθεσης για το digiKam
Comment[es]=Plugin de digiKam para superponer una plantilla sobre la imagen
Comment[et]=DigiKami pildile malli lisamise plugin
Comment[fa]=وصلۀ افزودن قالب برای digiKam
Comment[fi]=Liittää useampia kuvia päällekäin
Comment[gl]=Un plugin de digiKam para sobrepor modelos
Comment[hr]=digiKam dodatak za presvlačenje predloškom
Comment[is]=Íforrit fyrir digiKam sem hleður forsniðinni mynd ofan á þá sem unnið er með
Comment[it]=Plugin di sovrapposizione di modelli per digiKam
Comment[ja]=digiKam テンプレート重ね合わせプラグイン
Comment[ms]=Templat plugin superimpose untuk digiKam
Comment[nds]=digiKam-Moduul för't Vörblennen vun Vörlagen
Comment[nl]=Digikam-plugin voor het aanbrengen van een sjabloon op de afbeelding
Comment[pa]=ਡਿਜ਼ੀਕੈਮ ਲਈ ਨਮੂਨਾ ਸੁਪਰ-ਇਮਪੋਜ਼ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka do programu digiKam umożliwiająca nałożenie szablonu na obraz
Comment[pt]=Um 'plugin' do digiKam para sobrepor modelos
Comment[ru]=Модуль накладывания шаблона для digiKam
Comment[sk]=digiKam plugin pre prekrytie fotografie šablónou
Comment[sr]=digiKam-ов прикључак надоградњу шаблонима
Comment[sr@Latn]=digiKam-ov priključak nadogradnju šablonima
Comment[sv]=Digikam insticksprogram för överlagringsmall
Comment[tr]=digiKam için şablon büyütme eklentisi
Comment[uk]=Втулок накладання шаблону для digiKam
Comment[vi]=Bổ sung đặt biểu mẫu trên cho digiKam
Comment[xx]=xxTemplate superimpose plugin for digiKamxx

X-KDE-Library=digikamimageplugin_superimpose
author=Gilles Caulier, caulier dot gilles at gmail dot com
