[Desktop Entry]
Name=ImagePlugin_Border
Name[bg]=Приставка за снимки - Рамки
Name[da]=Billedplugin_Indramning
Name[el]=ΠρόσθετοΕικόνας_Περίγραμμα
Name[fi]=Reunus
Name[hr]=Obrub
Name[it]=PluginImmagini_Bordo
Name[ms]=ImagePlugin_Sempadan
Name[nl]=Afbeeldingsplugin_Rand
Name[pt_BR]=Plug-in de borda
Name[sk]=Modul_Orámovanie
Name[sr]=Оквир
Name[sr@Latn]=Okvir
Name[sv]=Insticksprogram för bildkanter
Name[tr]=ResimEklentisi_Çerçeve
Name[xx]=xxImagePlugin_Borderxx
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Add border to image plugin for digiKam
Comment[bg]=Приставка на digiKam за добавяне на рамки на снимки
Comment[da]=Plugin til indramning af billeder i Digikam
Comment[de]=digiKam-Modul zum Hinzufügen eines Rahmens zu einem Bild
Comment[el]=Προσθήκη περιγράμματος σε πρόσθετο εικόνας για το digiKam
Comment[es]=Plugin para añadir borde a las imágenes para digiKam
Comment[et]=DigiKami pildile raami lisamise plugin
Comment[fi]=Lisää kuvaan reunuksen
Comment[fr]=Module externe pour ajouter une bordure à une image
Comment[gl]=Un plugin de digiKam para engadir un contorno á imaxe
Comment[hr]=digiKam dodatak za dodavanje obruba
Comment[it]=Plugin per l'aggiunta di bordi a un'immagire per digiKam
Comment[ja]=digikam 画像装飾プラグイン
Comment[ms]=Plugin tambah sempadan kepada imej untuk digiKam
Comment[nl]=Digikam-plugin voor het toevoegen van randen
Comment[pa]=ਡਿਜ਼ੀਕੈਮ ਲਈ ਚਿੱਤਰ ਦੁਆਲੇ ਹਾਸ਼ੀਆ ਬਣਾਉਣ ਲਈ ਪਲੱਗਿੰਨ
Comment[pl]=Wtyczka do programu digiKam dodająca ramkę do obrazu
Comment[pt]=Um 'plugin' do digiKam para adicionar um contorno à imagem
Comment[pt_BR]=Plug-in para adição de borda em imagens do digikam
Comment[ru]=Модуль digiKam наложения рамки на изображение
Comment[sk]=digiKam plugin pridávajúci okraj obrázku
Comment[sr]=Прикључак за digiKam који додаје оквир на слику
Comment[sr@Latn]=Priključak za digiKam koji dodaje okvir na sliku
Comment[sv]=Digikam insticksprogram för tillägg av kanter
Comment[tr]=digiKam için resme çerçeve eklenme eklentisi
Comment[vi]=Bổ sung thêm viền trên ảnh cho digiKam
Comment[xx]=xxAdd border to image plugin for digiKamxx

X-KDE-Library=digikamimageplugin_border
author=Gilles Caulier, caulier dot gilles at free dot fr
