<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<!-- NOTE: don't forget to increase version ID when this file is modified -->
<gui version="401" name="digikamimagewindow" >

<MenuBar>

    <Menu name="File" ><text>&amp;File</text>
        <Action name="editorwindow_backward" />
        <Action name="editorwindow_forward" />
        <Separator/>
        <Action name="editorwindow_first" />
        <Action name="editorwindow_last" />
        <Separator/>
        <Action name="editorwindow_print" />
        <Action name="open_with_default_application" />
        <Separator/>
        <Action name="editorwindow_save" />
        <Action name="editorwindow_saveas" />
        <Action name="editorwindow_savecurrentversion" />
        <Action name="editorwindow_savenewversion" />
        <Action name="editorwindow_export" />
        <Action name="editorwindow_revert" />
        <Separator/>
        <Action name="editorwindow_delete" />
        <Separator/>
        <Action name="editorwindow_close" />
    </Menu>

    <Menu name="Edit" ><text>&amp;Edit</text>
        <Action name="editorwindow_copy" />
        <Separator/>
        <Action name="editorwindow_discardchanges" />
        <Action name="editorwindow_undo" />
        <Action name="editorwindow_redo" />
        <Separator/>
        <Action name="editorwindow_selectAll" />
        <Action name="editorwindow_selectNone" />
    </Menu>

    <Menu name="View" ><text>&amp;View</text>
        <Action name="editorwindow_fullscreen" />
        <Action name="editorwindow_slideshow" />
        <Separator/>
        <Action name="editorwindow_zoomplus" />
        <Action name="editorwindow_zoomminus" />
        <Action name="editorwindow_zoomto100percents" />
        <Action name="editorwindow_zoomfit2window" />
        <Action name="editorwindow_zoomfit2select" />
        <Separator/>
        <Action name="editorwindow_previewmode" />
        <Separator/>
        <Action name="editorwindow_underexposure" />
        <Action name="editorwindow_overexposure" />
        <Separator/>
        <Action name="editorwindow_cmview" />
        <Action name="editorwindow_softproofview" />
        <Action name="editorwindow_softproofoptions" />
    </Menu>

    <Menu name="Color" ><text>&amp;Color</text>
    </Menu>

    <Menu name="Enhance" ><text>Enh&amp;ance</text>
    </Menu>

    <Menu name="Transform" ><text>Tra&amp;nsform</text>
        <Action name="editorwindow_rotate_left" />
        <Action name="editorwindow_rotate_right" />
        <Separator/>
        <Action name="editorwindow_flip_horiz" />
        <Action name="editorwindow_flip_vert" />
        <Separator/>
        <Action name="editorwindow_crop" />
        <Action name="editorwindow_autocrop" />
        <Action name="editorwindow_resize" />
    </Menu>

    <Menu name="Decorate" ><text>&amp;Decorate</text>
    </Menu>

    <Menu name="Filters" ><text>Effec&amp;ts</text>
    </Menu>

    <Menu name="help" ><text>&amp;Help</text>
        <Action name="help_rawcameralist"/>
        <Action name="help_librariesinfo"/>
        <Action name="help_dbstat"/>
        <Separator/>
        <Action name="help_donatemoney" />
        <Action name="help_contribute" />
    </Menu>

    <Merge/>

    <Menu name="settings" noMerge="1"><Text>&amp;Settings</Text>
        <Merge name="StandardToolBarMenuHandler" />
        <Action name="options_show_menubar"/>
        <Action name="options_show_statusbar"/>
        <Action name="options_show_toolbar"/>
        <Action name="editorwindow_showthumbs" />
        <Separator/>
        <Action name="theme_menu" />
        <Action name="options_configure_keybinding"/>
        <Action name="options_configure_toolbars"/>
        <Action name="options_configure_notifications"/>
        <Action name="options_configure" />
    </Menu>

</MenuBar>

<ToolBar name="mainToolBar" ><text>Main Toolbar</text>
     <Action name="imageview_tomainwindow"/>
     <Action name="editorwindow_openversion"/>
     <Action name="editorwindow_export" />
     <Separator/>
     <Action name="editorwindow_save" />
     <Action name="editorwindow_saveas" />
     <Action name="editorwindow_savecurrentversion" />
     <Action name="editorwindow_savenewversion" />
     <Action name="editorwindow_discardchanges" />
     <Separator/>
     <Action name="editorwindow_undo" />
     <Action name="editorwindow_redo" />
     <Action name="editorwindow_revert" />
     <Separator/>
     <Action name="editorwindow_selecttool" />
     <Action name="editorwindow_applytool" />
     <Action name="editorwindow_closetool" />
     <!--
     <Action name="editorwindow_rotate_left" />
     <Action name="editorwindow_rotate_right" />
     <Action name="editorwindow_crop" />
     -->
     <Merge />
     <WeakSeparator/>
     <Action name="logo_action" />
</ToolBar>

<ActionProperties/>

</gui>
