<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui version="1" name="digikamimageplugin_infrared" >

 <MenuBar>

  <Menu name="Filters" >
   <text>Fi&amp;lters</text>
   <Action name="imageplugin_infrared" /> 
  </Menu>

 </MenuBar>
 
 <ToolBar name="ToolBar" >
  <text>Main Toolbar</text>
 </ToolBar>

 <ActionProperties/>

</kpartgui>
