[Desktop Entry]
Name=ImagePlugin_FreeRotation
Name[bg]=Приставка за снимки - Свободно завъртане
Name[da]=Billedplugin_Fri rotation
Name[el]=ΠρόσθετοΕικόνας_ΕλεύθερηΠεριστροφή
Name[fi]=Kierto
Name[hr]=Slobodno obrtanje
Name[it]=PluginImmagini_RotazioneLibera
Name[ms]=ImagePlugin_PutaranBebas
Name[nl]=Afbeeldingsplugin_VrijeRotatie
Name[pt_BR]=Plug-in de rotação livre
Name[sr]=Слободно окретање
Name[sr@Latn]=Slobodno okretanje
Name[sv]=Insticksprogram för bildrotation
Name[tr]=ResimEklentisi_SerbestDöndürme
Name[xx]=xxImagePlugin_FreeRotationxx

Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Free rotation plugin for digiKam
Comment[bg]=Приставка на digiKam за свободно завъртане на снимки
Comment[da]=Plugin til fri rotation af billeder til Digikam
Comment[de]=digiKam-Modul zur freien Rotation von Bildern
Comment[el]=Πρόσθετο ειδικών εφέ ελεύθερης περιστροφής για το digiKam
Comment[es]=Plugin de rotación libre para digiKam
Comment[et]=DigiKami pildi vaba pööramise plugin
Comment[fi]=Kiertää kuvaa vapaasti määritettävien asteiden verran
Comment[fr]=Module externe pour effectuer une rotation libre d'une image
Comment[gl]=Un plugin de digiKam para a rotazón libre da imaxe
Comment[hr]=digiKam dodatak za slobodno obrtanje
Comment[is]=Íforrit fyrir digiKam sem leyfir frjálsan snúning mynda
Comment[it]=Plugin per la rotazione libera per digiKam
Comment[ja]=digiKam 画像自由回転プラグイン
Comment[ms]=Plugin putaran bebas  untuk digiKam
Comment[nl]=Digikam-plugin voor vrije rotatie
Comment[pl]=Wtyczka do programu digiKam umożliwiająca swobodny obrót obrazu
Comment[pt]=Um 'plugin' do digiKam para a rotação livre da imagem
Comment[pt_BR]=Plug-in de rotação livre para o digiKam
Comment[sk]=digiKam plugin voľného otáčania
Comment[sr]=digiKam-ов прикључак за слободно окретање
Comment[sr@Latn]=digiKam-ov priključak za slobodno okretanje
Comment[sv]=Digikam insticksprogram för bildrotation
Comment[ta]=டிஜிகாமிற்கான எளிதாக சுழலும் செருகு பொருள்
Comment[tr]=digiKam için serbest döndürme eklentisi
Comment[vi]=Bổ sung xoay tự do cho digiKam
Comment[xx]=xxFree rotation plugin for digiKamxx

X-KDE-Library=digikamimageplugin_freerotation
author=Gilles Caulier, caulier dot gilles at free dot fr
