<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui version="3" name="digikamimageplugin_distortionfx" >

 <MenuBar>

  <Menu name="Filters" >
   <text>Filte&amp;rs</text>
   <Action name="imageplugin_distortionfx" /> 
  </Menu>

 </MenuBar>
 
 <ToolBar name="ToolBar" >
  <text>Main Toolbar</text>
 </ToolBar>
 
 <ActionProperties>
  <Action shortcut="" name="imageplugin_distortionfx" />
 </ActionProperties>

</kpartgui>
