[Desktop Entry]
Comment=Yet another simple theme. Clean look with more image details.
Comment[ca]=Un altre tema senzill. Una aparença neta amb més detalls per a les imatges.
Comment[ca@valencia]=Un altre tema senzill. Una aparença neta amb més detalls per a les imatges.
Comment[cs]=Ještě další jednoduchý motiv.Čistý vzhled s více detaily obrázku.
Comment[de]=Ein weiteres einfaches Design. Sauberer Aufbau mit mehr Bilddetails.
Comment[el]=Άλλο ένα απλό θέμα. Καθαρή όψη και εικόνα με περισσότερες λεπτομέρειες.
Comment[en_GB]=Yet another simple theme. Clean look with more image details.
Comment[es]=Otro tema sencillo. Aspecto limpio con más detalles sobre la imagen.
Comment[fr]=Encore un autre thème simple. Apparence très simple avec plus de détails d'images.
Comment[is]=Enn eitt einfalt þema. Hreinlegt útlit með meiri myndupplýsingum.
Comment[it]=Ancora un altro semplice tema. Aspetto ordinato con più dettagli sull'immagine.
Comment[nb]=Enda et fint tema. Enkelt og rent med mere bildedetaljer.
Comment[nl]=Opnieuw een eenvoudig thema. Nette stijl met meer afbeeldingendetails.
Comment[nn]=Nok eit enkelt tema. Rein utsjånad med fleire biletdetaljar.
Comment[pl]=Kolejny prosty wygląd. Schludny wygląd z większą ilością szczegółów obrazów.
Comment[pt]=Ainda mais outro tema bonito. De aparência sóbria e com mais detalhes de imagem.
Comment[ru]=Ещё одно простое оформление. Удобный просмотр с подробной информацией об изображении.
Comment[sv]=Ytterligare ett enkelt tema. Rent utseende med fler bilddetaljer.
Comment[tr]=Bir diğer basit tema. Daha fazla resim detayıyla temiz görünüm.
Comment[uk]=Ще одна проста тема. Строгий вигляд з додатковими параметрами зображень.
Comment[x-test]=xxYet another simple theme. Clean look with more image details.xx
Icon=
Name=Details
Name[ca]=Detalls
Name[ca@valencia]=Detalls
Name[cs]=Podrobnosti
Name[de]=Details
Name[el]=Λεπτομέρειες
Name[en_GB]=Details
Name[es]=Detalles
Name[fr]=Détails
Name[is]=Nánar
Name[it]=Dettagli
Name[nb]=Detaljer
Name[nl]=Details
Name[nn]=Detaljar
Name[pl]=Szczegóły
Name[pt]=Detalhes
Name[ru]=Подробная информация
Name[se]=Bienat
Name[sv]=Detaljer
Name[tr]=Ayrıntılar
Name[uk]=Подробиці
Name[x-test]=xxDetailsxx
Name[zh_CN]=细节

[X-HTMLExport Author]
Name=Gianluca Urgese
Name[ca]=Gianluca Urgese
Name[ca@valencia]=Gianluca Urgese
Name[cs]=Gianluca Urgese
Name[de]=Gianluca Urgese
Name[el]=Gianluca Urgese
Name[en_GB]=Gianluca Urgese
Name[es]=Gianluca Urgese
Name[fr]=Gianluca Urgese
Name[is]=Gianluca Urgese
Name[it]=Gianluca Urgese
Name[nb]=Gianluca Urgese
Name[nl]=Gianluca Urgese
Name[nn]=Gianluca Urgese
Name[pl]=Gianluca Urgese
Name[pt]=Gianluca Urgese
Name[ru]=Gianluca Urgese
Name[sv]=Gianluca Urgese
Name[tr]=Gianluca Urgese
Name[uk]=Gianluca Urgese
Name[x-test]=xxGianluca Urgesexx
Url=mailto:g.urgese@jaone.it

[X-HTMLExport Preview]
Name=Details screenshot
Name[ca]=Captura de pantalla dels detalls
Name[ca@valencia]=Captura de pantalla dels detalls
Name[cs]=Snímek podrobností
Name[de]=Detail-Bildschirmfoto
Name[el]=Στιγμιότυπο λεπτομερειών
Name[en_GB]=Details screenshot
Name[es]=Captura de pantalla de detalles
Name[fr]=Capture d'écran détaillée
Name[is]=Skjámynd af ítarlegu
Name[it]=Schermata Dettagli
Name[nb]=Skjermbilde av detaljer
Name[nl]=Details schermafdruk
Name[nn]=Detaljskjermbilete
Name[pl]=Zrzut ekranu szczegółów
Name[pt]=Imagem dos deetalhes
Name[ru]=Предварительный просмотр оформления «Подробная информация»
Name[sv]=Skärmbild av Detaljer
Name[tr]=Ekran görüntüsü ayrıntıları
Name[uk]=Знімок вікна подробиць
Name[x-test]=xxDetails screenshotxx
Url=preview.png

[X-HTMLExport Parameter footer]
Name=Footer information
Name[ca]=Informació del peu
Name[ca@valencia]=Informació del peu
Name[cs]=Informace v zápatí
Name[de]=Fußzeilen-Information
Name[el]=Πληροφορίες υποσέλιδου
Name[en_GB]=Footer information
Name[es]=Información del pie
Name[fr]=Informations de pied de page
Name[is]=Upplýsingar í neðanmáli
Name[it]=Informazioni a piè di pagina
Name[nb]=Bunntekst-informasjon
Name[nl]=Voettekstinformatie
Name[nn]=Botntekst
Name[pl]=Informacja stopki
Name[pt]=Informação do rodapé
Name[ru]=Содержимое нижнего колонтитула
Name[sv]=Sidfotsinformation
Name[tr]=Dipnot bilgisi
Name[uk]=Відомості нижнього колонтитула
Name[x-test]=xxFooter informationxx

Type=string
Default=My personal gallery <a href="mailto:email@mydomain.tld">email@mydomain.tld</a> - Powered by <a href="http://www.digikam.org">digiKam - HTMLGallery</a>
