[Desktop Entry]
Comment=Yet another simple theme. Clean look with more image details.
Comment[ca]=Un altre tema senzill. Una aparença neta amb més detalls d'imatges.
Comment[ca@valencia]=Un altre tema senzill. Una aparença neta amb més detalls d'imatges.
Comment[cs]=Ještě další jednoduchý motiv.Čistý vzhled s více detaily obrázku.
Comment[de]=Ein weiteres einfaches Design. Sauberer Aufbau mit mehr Bilddetails.
Comment[es]=Otro tema sencillo. Aspecto limpio con más detalles sobre la imagen.
Comment[it]=Ancora un altro semplice tema. Aspetto ordinato con più dettagli sull'immagine.
Comment[nl]=Opnieuw een eenvoudig thema. Nette stijl met meer afbeeldingendetails.
Comment[nn]=Nok eit enkelt tema. Rein utsjånad med fleire biletdetaljar.
Comment[pl]=Kolejny prosty wygląd. Schludny wygląd z większą ilością szczegółów obrazów.
Comment[pt]=Ainda mais outro tema bonito. De aparência sóbria e com mais detalhes de imagem.
Comment[sv]=Ytterligare ett enkelt tema. Rent utseende med fler bilddetaljer.
Comment[uk]=Ще одна проста тема. Строгий вигляд з додатковими параметрами зображень.
Comment[x-test]=xxYet another simple theme. Clean look with more image details.xx
Icon=
Name=Details
Name[ca]=Detalls
Name[ca@valencia]=Detalls
Name[cs]=Podrobnosti
Name[de]=Details
Name[es]=Detalles
Name[it]=Dettagli
Name[nl]=Details
Name[nn]=Detaljar
Name[pl]=Szczegóły
Name[pt]=Detalhes
Name[sv]=Detaljer
Name[uk]=Подробиці
Name[x-test]=xxDetailsxx

[X-HTMLExport Author]
Name=Gianluca Urgese
Name[ca]=Gianluca Urgese
Name[ca@valencia]=Gianluca Urgese
Name[cs]=Gianluca Urgese
Name[de]=Gianluca Urgese
Name[es]=Gianluca Urgese
Name[it]=Gianluca Urgese
Name[nl]=Gianluca Urgese
Name[nn]=Gianluca Urgese
Name[pl]=Gianluca Urgese
Name[pt]=Gianluca Urgese
Name[sv]=Gianluca Urgese
Name[uk]=Gianluca Urgese
Name[x-test]=xxGianluca Urgesexx
Url=mailto:g.urgese@jaone.it

[X-HTMLExport Preview]
Name=Details screenshot
Name[ca]=Captura de pantalla dels detalls
Name[ca@valencia]=Captura de pantalla dels detalls
Name[cs]=Snímek podrobností
Name[de]=Detail-Bildschirmfoto
Name[es]=Captura de pantalla de detalles
Name[it]=Schermata Dettagli
Name[nl]=Details schermafdruk
Name[nn]=Detaljskjermbilete
Name[pl]=Zrzut ekranu szczegółów
Name[pt]=Imagem dos deetalhes
Name[sv]=Skärmbild av Detaljer
Name[uk]=Знімок вікна подробиць
Name[x-test]=xxDetails screenshotxx
Url=preview.png

[X-HTMLExport Parameter footer]
Name=Footer information
Name[ca]=Informació del peu
Name[ca@valencia]=Informació del peu
Name[cs]=Informace v zápatí
Name[de]=Fußzeilen-Information
Name[es]=Información del pie
Name[it]=Informazioni a piè di pagina
Name[nl]=Voettekstinformatie
Name[nn]=Botntekst
Name[pl]=Informacja stopki
Name[pt]=Informação do rodapé
Name[sv]=Sidfotsinformation
Name[uk]=Відомості нижнього колонтитула
Name[x-test]=xxFooter informationxx

Type=string
Default=My personal gallery <a href="mailto:email@mydomain.tld">email@mydomain.tld</a> - Powered by <a href="http://www.digikam.org">digiKam - HTMLGallery</a>
