<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui version="11" name="digikamimageplugin_lenscorrection" >

 <MenuBar>

  <Menu name="Enhance" ><text>Enh&amp;ance</text>
      <Menu name="Lens" ><text>&amp;Lens</text>
          <Action name="imageplugin_lensdistortion" />
      </Menu>
  </Menu>

 </MenuBar>

 <ToolBar name="mainToolBar" >
  <text>Main Toolbar</text>
 </ToolBar>

 <ActionProperties>
      <Action name="imageplugin_lensdistortion" />
 </ActionProperties>

</gui>
