[Desktop Entry]
Name=ImagePlugin_LensCorrection
Name[xx]=xxImagePlugin_LensCorrectionxx
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Lens aberrations correction tools

X-KDE-Library=digikamimageplugin_lenscorrection
author=Gilles Caulier, caulier dot gilles at gmail dot com
