[Desktop Entry]
Name=ImagePlugin_LensCorrection
Name[xx]=xxImagePlugin_LensCorrectionxx
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Automatic correction based on lens database 

X-KDE-Library=digikamimageplugin_lenscorrection
author=Adrian Schroeter <adrian@suse.de>
