<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui version="8" name="digikamimageplugin_lenscorrection" >

 <MenuBar>

  <Menu name="Enhance" ><text>Enh&amp;ance</text>
      <Menu name="Lens" ><text>&amp;Lens</text>
          <Action name="imageplugin_autocorrection" />
          <Action name="imageplugin_lensdistortion" />
          <Action name="imageplugin_antivignetting" />
      </Menu>
  </Menu>

 </MenuBar>

 <ToolBar name="mainToolBar" >
  <text>Main Toolbar</text>
 </ToolBar>

 <ActionProperties>
  <Action name="imageplugin_lenscorrection" />
 </ActionProperties>

</gui>
