[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=Digikam/ImagePlugin
X-KDE-DerivedName=Digikam ImagePlugin
Comment=A digiKam Image Plugin
Comment[ast]=Complementu de digiKam pa imáxenes
Comment[bg]=Приставка за снимки в digiKam
Comment[bs]=DigiKam priključak za slike
Comment[ca]=Un connector d'imatges del digiKam
Comment[ca@valencia]=Un connector d'imatges del digiKam
Comment[cs]=Modul digiKamu pro obrázky
Comment[da]=Et digiKam billed-plugin
Comment[de]=Ein digiKam-Bildmodul
Comment[el]=Ένα πρόσθετο εικόνας digiKam
Comment[en_GB]=A digiKam Image Plugin
Comment[es]=Complemento de digiKam para imágenes
Comment[et]=DigiKami pildiplugin
Comment[eu]=digiKam-en irudien plugina
Comment[fa]=یک وصله تصویر digiKam
Comment[fi]=digiKam-liitännäinen
Comment[fr]=Un module externe d'images pour digiKam
Comment[gl]=Un engadido do digikam para imaxes
Comment[he]=תוסף תמונה של Digikam
Comment[hne]=डिजीकैम इमेज प्लगइन
Comment[hr]=digiKamov priključak za slike
Comment[hu]=digiKam képbővítmény
Comment[is]=Íforrit fyrir digiKam
Comment[it]=Un'estensione -di digiKam
Comment[ja]=digiKam 画像プラグイン
Comment[km]=កម្មវិធី​ជំនួយ​រូបភាព digiKam
Comment[ko]=digiKam 그림 플러그인
Comment[lt]=digiKam paveikslėlių peržiūros priedas
Comment[lv]=Digikam attēlu spraudnis
Comment[mr]=डिजिकॅम प्रतिमा प्लगइन
Comment[nb]=Et digiKam programtillegg for bilder
Comment[nds]=En Bildmoduul för Digikam
Comment[ne]=एउटा डिजिक्याम छवि प्लगइन
Comment[nl]=Een plugin voor Digikam
Comment[pa]=ਇੱਕ ਡਿਜਿਕੈਮ ਚਿੱਤਰ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka obrazu digiKam
Comment[pt]=Um 'Plugin' de Imagem do digiKam
Comment[pt_BR]=Um plugin de imagem do digiKam
Comment[ro]=O extensie de imagine pentru digiKam
Comment[ru]=Модуль обработки изображений digiKam
Comment[sk]=Obrazový zásuvný modul digiKam
Comment[sl]=Vstavek za slike za digiKam
Comment[sv]=Ett bildinsticksprogram för Digikam
Comment[th]=ส่วนเสริมของ digiKam สำหรับจัดการภาพ
Comment[tr]=Bir digiKam Resim Eklentisi
Comment[uk]=Додаток роботи з зображеннями digiKam
Comment[vi]=Một bổ sung ảnh digiKam
Comment[x-test]=xxA digiKam Image Pluginxx
Comment[zh_CN]=一个 digiKam 图像插件
Comment[zh_TW]=digiKam 影像外掛程式
