[Desktop Entry]
Name=Clean Frames
Name[ca]=Marcs nets
Name[ca@valencia]=Marcs nets
Name[cs]=Vyčistit rámce
Name[es]=Marcos limpios
Name[nl]=Clean Frames
Name[nn]=Reine rammer
Name[pt]=Molduras Limpas
Name[sv]=Rena ramar
Name[uk]=Чіткі рамки
Name[x-test]=xxClean Framesxx
Comment=A frame theme based on Ruediger Bente's frame theme
Comment[ca]=Un tema de marcs basat en el tema de marcs del Ruediger Bente
Comment[ca@valencia]=Un tema de marcs basat en el tema de marcs del Ruediger Bente
Comment[cs]=Motiv rámce založený na motivu Ruediger Bente
Comment[es]=Un tema de marcos basado en el tema de Ruediger Bente
Comment[nl]=Een framethema gebaseerd op het framethema van Ruediger Bente'
Comment[nn]=Eit rammetema basert på rammetemaet til Rüdiger Bente
Comment[pt]=Um tema de moldura baseado no tema de Ruediger Bente
Comment[sv]=Ett ramtema baserat på Ruediger Bentes ramtema.
Comment[uk]=Тема рамок на основі теми Ruediger Bente
Comment[x-test]=xxA frame theme based on Ruediger Bente's frame themexx

[X-HTMLExport Author]
Name=Elizabeth Marmorstein
Name[ca]=Elizabeth Marmorstein
Name[ca@valencia]=Elizabeth Marmorstein
Name[cs]=Elizabeth Marmorstein
Name[es]=Elizabeth Marmorstein
Name[nl]=Elizabeth Marmorstein
Name[nn]=Elizabeth Marmorstein
Name[pt]=Elizabeth Marmorstein
Name[sv]=Elizabeth Marmorstein
Name[uk]=Elizabeth Marmorstein
Name[x-test]=xxElizabeth Marmorsteinxx
Url=mailto:purplegamba@cox.net

[X-HTMLExport Preview]
Name=Clean Frames
Name[ca]=Marcs nets
Name[ca@valencia]=Marcs nets
Name[cs]=Vyčistit rámce
Name[es]=Marcos limpios
Name[nl]=Clean Frames
Name[nn]=Reine rammer
Name[pt]=Molduras Limpas
Name[sv]=Rena ramar
Name[uk]=Чіткі рамки
Name[x-test]=xxClean Framesxx
Url=preview.png

[X-HTMLExport Parameter style]
Name=Style
Name[ca]=Estil
Name[ca@valencia]=Estil
Name[cs]=Styl
Name[es]=Estilo
Name[nl]=Stijl
Name[nn]=Stil
Name[pt]=Estilo
Name[sv]=Stil
Name[uk]=Стиль
Name[x-test]=xxStylexx
Type=list
Default=pink.css
Value_0=pink.css
Caption_0=Pink
Value_1=blue.css
Caption_1=Blue
Value_2=lavender.css
Caption_2=Lavender
Value_3=green.css
Caption_3=Green
Value_4=black.css
Caption_4=Black
Value_5=red.css
Caption_5=Red
Value_6=yellow.css
Caption_6=Yellow
Value_7=brown.css
Caption_7=Brown
