[Desktop Entry]
Name=Clean Frames
Name[ca]=Marcs nets
Name[ca@valencia]=Marcs nets
Name[cs]=Vyčistit rámce
Name[de]=Saubere Rahmen
Name[el]=Clean Frames
Name[en_GB]=Clean Frames
Name[es]=Marcos limpios
Name[fr]=Cadres propres
Name[is]=Hreinir rammar
Name[it]=Cornici ordinate
Name[nb]=Rene rammer
Name[nl]=Clean Frames
Name[nn]=Reine rammer
Name[pl]=Schludne ramki
Name[pt]=Molduras Limpas
Name[ru]=Компактное с фреймами
Name[sv]=Rena ramar
Name[tr]=Çerçeveleri Temizle
Name[uk]=Чіткі рамки
Name[x-test]=xxClean Framesxx
Comment=A frame theme based on Ruediger Bente's frame theme
Comment[ca]=Un tema de marcs basat en el tema de marcs del Ruediger Bente
Comment[ca@valencia]=Un tema de marcs basat en el tema de marcs del Ruediger Bente
Comment[cs]=Motiv rámce založený na motivu Ruediger Bente
Comment[de]=Ein Rahmendesign, das auf Rüdiger Bentes Rahmendesign basiert
Comment[el]=Ένα θέμα πλαισίου με βάση το θέμα πλαισίου του Ruediger Bente
Comment[en_GB]=A frame theme based on Ruediger Bente's frame theme
Comment[es]=Un tema de marcos basado en el tema de Ruediger Bente
Comment[fr]=Un thème de cadre utilisant celui de Ruediger Bente
Comment[is]=Rammaþema byggt á þema eftir Ruediger Bente
Comment[it]=Tema di cornici basato sul tema analogo di Ruediger Bente
Comment[nb]=Et rammetema bygget på Ruediger Bebtes rammetema
Comment[nl]=Een framethema gebaseerd op het framethema van Ruediger Bente'
Comment[nn]=Eit rammetema basert på rammetemaet til Rüdiger Bente
Comment[pl]=Wystrój ramki oparty na wystroju ramki autorstwa Ruediger Bente
Comment[pt]=Um tema de moldura baseado no tema de Ruediger Bente
Comment[ru]=Оформление, основанное на оформлении от Ruediger Bente
Comment[sv]=Ett ramtema baserat på Ruediger Bentes ramtema.
Comment[tr]=Ruediger Bente'nin çerçeve teması tabanlı bir çerçeve temeası
Comment[uk]=Тема рамок на основі теми Ruediger Bente
Comment[x-test]=xxA frame theme based on Ruediger Bente's frame themexx

[X-HTMLExport Author]
Name=Elizabeth Marmorstein
Name[ca]=Elizabeth Marmorstein
Name[ca@valencia]=Elizabeth Marmorstein
Name[cs]=Elizabeth Marmorstein
Name[de]=Elizabeth Marmorstein
Name[el]=Elizabeth Marmorstein
Name[en_GB]=Elizabeth Marmorstein
Name[es]=Elizabeth Marmorstein
Name[fr]=Elizabeth Marmorstein
Name[is]=Elizabeth Marmorstein
Name[it]=Elizabeth Marmorstein
Name[nb]=Elizabeth Marmorstein
Name[nl]=Elizabeth Marmorstein
Name[nn]=Elizabeth Marmorstein
Name[pl]=Elizabeth Marmorstein
Name[pt]=Elizabeth Marmorstein
Name[ru]=Elizabeth Marmorstein
Name[sv]=Elizabeth Marmorstein
Name[tr]=Elizabeth Marmorstein
Name[uk]=Elizabeth Marmorstein
Name[x-test]=xxElizabeth Marmorsteinxx
Url=mailto:purplegamba@cox.net

[X-HTMLExport Preview]
Name=Clean Frames
Name[ca]=Marcs nets
Name[ca@valencia]=Marcs nets
Name[cs]=Vyčistit rámce
Name[de]=Saubere Rahmen
Name[el]=Clean Frames
Name[en_GB]=Clean Frames
Name[es]=Marcos limpios
Name[fr]=Cadres propres
Name[is]=Hreinir rammar
Name[it]=Cornici ordinate
Name[nb]=Rene rammer
Name[nl]=Clean Frames
Name[nn]=Reine rammer
Name[pl]=Schludne ramki
Name[pt]=Molduras Limpas
Name[ru]=Компактное с фреймами
Name[sv]=Rena ramar
Name[tr]=Çerçeveleri Temizle
Name[uk]=Чіткі рамки
Name[x-test]=xxClean Framesxx
Url=preview.png

[X-HTMLExport Parameter style]
Name=Style
Name[ca]=Estil
Name[ca@valencia]=Estil
Name[cs]=Styl
Name[de]=Stil
Name[el]=Στιλ
Name[en_GB]=Style
Name[es]=Estilo
Name[fr]=Style
Name[is]=Stíll
Name[it]=Stile
Name[nb]=Stil
Name[nl]=Stijl
Name[nn]=Stil
Name[pl]=Wygląd
Name[pt]=Estilo
Name[ru]=Цветовая гамма
Name[se]=Stiila
Name[sv]=Stil
Name[tr]=Stil
Name[uk]=Стиль
Name[x-test]=xxStylexx
Name[zh_CN]=样式
Type=list
Default=pink.css
Value_0=pink.css
Caption_0=Pink
Value_1=blue.css
Caption_1=Blue
Value_2=lavender.css
Caption_2=Lavender
Value_3=green.css
Caption_3=Green
Value_4=black.css
Caption_4=Black
Value_5=red.css
Caption_5=Red
Value_6=yellow.css
Caption_6=Yellow
Value_7=brown.css
Caption_7=Brown
