[Desktop Entry]
Name=ImagePlugin_Unsharp
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Unsharp mask image filter plugin for digiKam

X-KDE-Library=digikamimageplugin_unsharp
author=Caulier Gilles, caulier dot gilles at free dot fr
