[Desktop Entry]
Name=ImagePlugin_Unsharp
Name[bg]=Приставка за снимки - Изостряне с контурно маскиране
Name[da]=Billedplugin_Uskarphedsmaske
Name[el]=ΠρόσθετοΕικόνας_Εξομάλυνση
Name[it]=PluginImmagini_MascheraContrasto
Name[nl]=Afbeeldingsplugin_Onscherp
Name[pt_BR]=Plug-in de efeito unsharp
Name[sr]=Ублажавање
Name[sr@Latn]=Ublažavanje
Name[sv]=Insticksprogram för oskarp mask
Name[tr]=ResimEklentisi_Yumuşat
Name[xx]=xxImagePlugin_Unsharpxx
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Unsharp mask image filter plugin for digiKam
Comment[bg]=Приставка на digiKam за изостряне на снимки с нерязко (контурно) маскиране
Comment[da]=Plugin til forbedring af skarphed med uskarphedsfilter i Digikam
Comment[de]=digiKam-Modul zum Filtern des Bildes mit einer Unschärfemaske
Comment[el]=Πρόσθετο φίλτρο εξομάλυνσης εικόνας για το digiKam
Comment[es]=Plugin para digiKam con un filtro para imágenes de máscara de desenfoque
Comment[et]=DigiKami pildi teravustamise maski filter
Comment[fr]=Module externe pour rendre une image nette (Unsharp Mask)
Comment[it]=Plugin di effetto di maschera di contrasto delle immagini per digiKam
Comment[ja]=digiKam 非シャープ化マスク画像フィルタプラグイン
Comment[nl]=digiKam-plugin voor onscherp-masker-filter
Comment[pl]=Wtyczka do programu digiKam umożliwiająca maskowanie nieostrości
Comment[pt]=Um 'plugin' do digiKam para um filtro de máscara não-afiada
Comment[pt_BR]=Plug-in para efeito de máscara unsharp para o digiKam
Comment[sr]=digiKam-ов прикључак за ублажавање маске слике
Comment[sr@Latn]=digiKam-ov priključak za ublažavanje maske slike
Comment[sv]=Digikam insticksprogram för bildfiltrering med oskarp mask
Comment[tr]=digiKam için resim bulanıklaştırma filtresi eklentisi
Comment[xx]=xxUnsharp mask image filter plugin for digiKamxx

X-KDE-Library=digikamimageplugin_unsharp
author=Caulier Gilles, caulier dot gilles at free dot fr
