[Desktop Entry]
Name=ImagePlugin_AdjustCurves
Name[bg]=Приставка за снимки - Настройка на кривите
Name[da]=Billedplugin_Kurvejustering
Name[el]=ΠρόσθετοΕικόνας_ΠροσαρμογήΚαμπύλων
Name[fi]=TasonsäätöKäyrä
Name[hr]=Podešavanje krivulja
Name[it]=PluginImmagini_RegolaCurve
Name[ms]=ImagePlugin_UbahsuaiKeluk 
Name[nl]=Afbeeldingsplugin_CurvesAanpassen
Name[pt_BR]=Plug-in de ajuste de curvas
Name[sr]=Подешавање кривих
Name[sr@Latn]=Podešavanje krivih
Name[sv]=Insticksprogram för justering av kurvor
Name[tr]=ResimEklentisi_EğriAyarla
Name[xx]=xxImagePlugin_AdjustCurvesxx
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8

Comment=Image histogram adjust curves plugin for digiKam
Comment[bg]=Приставка на digiKam за настройка кривите на хистограмите на снимки
Comment[cs]=digiKam modul pro úpravu křivek histogramu obrázku
Comment[da]=Plugin til histogramkurvejustering i Digikam
Comment[de]=digiKam-Modul zur Justierung der Farbkurven
Comment[el]=Πρόσθετο προσαρμογής των καμπύλων του ιστογράμματος εικόνας για το digiKam
Comment[es]=Plugin para ajustar las curvas del histograma de la imagen para digiKam
Comment[et]=DigiKami pildi histogrammi kõverate kohendamise plugin
Comment[fi]=Muokkaa värikanavien raja-arvoja
Comment[fr]=Module externe pour ajuster les courbes des couleurs d'une image
Comment[gl]=Un plugin de digiKam para axustar as curvas do histograma da imaxe
Comment[hr]=digiKam dodatak za histogramsko podešavanje krivulja
Comment[is]=Íforrit fyrir digiKam sem breytir ferlum (curves) í stuðlariti myndar
Comment[it]=Plugin di regolazione delle curve degli istogrammi delle immagini per digiKam
Comment[ja]=digiKam カーブ補正プラグイン
Comment[ms]=Plugin ubahsuai keluk histogram imej untuk digiKam
Comment[nl]=Digikam-plugin voor het aanpassen van de curves in de afbeeldingshistogram
Comment[pl]=Wtyczka do programu digiKam dostosowująca krzywe i histogram dla obrazu
Comment[pt]=Um 'plugin' do digiKam de ajuste de curvas do histograma da imagem
Comment[pt_BR]=Um plug-in para o ajuste de curvas de histograma de imagens para o digiKam
Comment[ru]=Модуль digiKam подстройки кривых гистограммы изображения
Comment[sk]=digiKam plugin histogramu kriviek úprav obrázku
Comment[sr]=digiKam-ов прикључак за подешавање кривих хистограма слике
Comment[sr@Latn]=digiKam-ov priključak za podešavanje krivih histograma slike
Comment[sv]=Digikam insticksprogram för justering av kurvor i bildhistogram
Comment[ta]=டிஜிகாமிர்க்கான படிவ வரைப்பட சரியாக்கும் நிலை சொருகுப்பொருள்
Comment[tr]=digiKam için resim histogram eğrileri ayarlama eklentisi
Comment[vi]=Bổ sung biểu đồ tần xuất điều chỉnh đường cong ảnh cho digiKam
Comment[xx]=xxImage histogram adjust curves plugin for digiKamxx
Comment[zh_CN]=digiKam 的直方图调整曲线插件

X-KDE-Library=digikamimageplugin_adjustcurves
author=Caulier Gilles, caulier dot gilles at free dot fr
