[Desktop Entry]
Name=Matrix
Comment=Show your photos with Matrix style

[X-HTMLExport Author]
Name=Aurélien Gâteau
Url=mailto:aurelien.gateau@free.fr

[X-HTMLExport Preview]
Name=Matrix
Url=preview.png
