[Desktop Entry]
Name=Matrix
Name[bg]=Матрицата
Name[bs]=Matrica
Name[ca]=Matrix
Name[ca@valencia]=Matrix
Name[cs]=Matrix
Name[da]=Matrix
Name[de]=Matrix
Name[el]=Matrix
Name[en_GB]=Matrix
Name[es]=Matriz
Name[et]=Matrix
Name[eu]=Matrizea
Name[fr]=Matrix
Name[ga]=Matrix
Name[gl]=Matrix
Name[he]=מטריקס
Name[hne]=माट्रिक्स
Name[hu]=Mátrix
Name[is]=Matrix
Name[it]=Matrix
Name[ja]=Matrix
Name[km]=ម៉ាទ្រីស
Name[ko]=매트릭스
Name[lt]=Matrica
Name[lv]=Matrix
Name[mai]=मैट्रिक्स
Name[nb]=Matrix
Name[nds]=Matrix
Name[nl]=Matrix
Name[oc]=Mairitz
Name[pa]=ਮੈਟਰਿਕਸ
Name[pl]=Tabela
Name[pt]=Matrix
Name[pt_BR]=Matrix
Name[ro]=Matrice
Name[ru]=Матрица
Name[sk]=Matrix
Name[sl]=Matrica
Name[sq]=Matrix
Name[sv]=Matris
Name[th]=เมทริกซ์
Name[tr]=Matrix
Name[ug]=ماترىتسا
Name[uk]=Матриця
Name[x-test]=xxMatrixxx
Name[zh_CN]=黑客帝国
Name[zh_TW]=矩陣
Comment=Show your photos with Matrix style
Comment[bg]=Показване на снимките в стил "Матрицата"
Comment[bs]=Prikaži slike sa matričnim stilom
Comment[ca]=Visualitza les fotos a l'estil Matrix
Comment[ca@valencia]=Visualitza les fotos a l'estil Matrix
Comment[cs]=Zobrazit vaše fotografie ve stylu Matrix
Comment[da]=Vis dine foto med Matrix-stil
Comment[de]=Zeigt Ihre Fotos in einem Matrixstil
Comment[el]=Εμφανίστε τις φωτογραφίες σας σε στιλ Matrix
Comment[en_GB]=Show your photos with Matrix style
Comment[es]=Muestra sus fotos con el estilo Matriz
Comment[et]=Fotode näitamine Matrixi stiilus
Comment[eu]=Erakutsi zure argazkiak matrize estiloan
Comment[fr]=Affiche vos photos avec le style « Matrix »
Comment[gl]=Mostra as fotos cun estilo Matrix
Comment[he]=הצג את התמונות שלך בסגנון מטריקס
Comment[hne]=अपन फोटू ले माट्रिक्स सैली मं देखाव
Comment[hu]=Fényképek megjelenítése Mátrix stílusban
Comment[is]=Sýndu myndirnar þínar í Matrix-stíl
Comment[it]=Mostra le tue foto in stile Matrix
Comment[ja]=写真を Matrix スタイルで表示
Comment[km]=បង្ហាញ​រូបថត​របស់​​អ្នក​ក្នុង​រចនាប័ទ្ម​ម៉ាទ្រីស
Comment[ko]=매트릭스 스타일로 사진 표시
Comment[lt]=Rodyti Jūsų nuotraukas Matrix stiliumi
Comment[lv]=Parādiet savas fotogrāfijas Matrix stilā
Comment[nb]=Vis bildene i Matrix-stil
Comment[nl]=Toon uw foto's in matrix-stijl
Comment[pa]=ਆਪਣੀਆਂ ਫੋਟੋ ਨੂੰ ਮੈਟਰਿਕਸ ਸਟਾਈਲ ਵਿੱਚ ਵੇਖੋ
Comment[pl]=Pokaż swoje zdjęcia w stylu tabeli
Comment[pt]=Mostrar as suas fotografias ao estilo Matrix
Comment[pt_BR]=Exiba suas fotos com o estilo Matrix
Comment[ro]=Afișați-vă fotografiile cu stilul Matrix
Comment[ru]=Показ снимков с использованием стиля «Матрица»
Comment[sk]=Zobrazí fotky v štýle Matrix
Comment[sl]=Pokažite vaše fotografije v slogu Matrice
Comment[sq]=Shfaq fotot e tua me stilin Matrix
Comment[sv]=Visar fotografier med matrisstil
Comment[th]=แสดงภาพถ่ายต่าง ๆ ของคุณในลักษณะแบบเมทริกซ์
Comment[tr]=Fotoğraflarınızı Matrix stili olarak gösterin
Comment[uk]=Показує фотографії в стилі Матриці
Comment[x-test]=xxShow your photos with Matrix stylexx
Comment[zh_CN]=以黑客帝国风格显示您的照片
Comment[zh_TW]=用矩陣風格顯示您的照片

[X-HTMLExport Author]
Name=Aurélien Gâteau
Name[bg]=Aurélien Gâteau
Name[bs]=Aurélien Gâteau
Name[ca]=Aurélien Gâteau
Name[ca@valencia]=Aurélien Gâteau
Name[cs]=Aurélien Gâteau
Name[da]=Aurélien Gâteau
Name[de]=Aurélien Gâteau
Name[el]=Aurélien Gâteau
Name[en_GB]=Aurélien Gâteau
Name[eo]=Aurélien Gâteau
Name[es]=Aurélien Gâteau
Name[et]=Aurélien Gâteau
Name[eu]=Aurélien Gâteau
Name[fi]=Aurélien Gâteau
Name[fr]=Aurélien Gâteau
Name[ga]=Aurélien Gâteau
Name[gl]=Aurélien Gâteau
Name[he]=אורליאן גאטו
Name[hne]=आरेलियन गातेवू
Name[hu]=Aurélien Gâteau
Name[is]=Aurélien Gâteau
Name[it]=Aurélien Gâteau
Name[ja]=Aurélien Gâteau
Name[km]=Aurélien Gâteau
Name[ko]=Aurélien Gâteau
Name[lt]=Aurélien Gâteau
Name[lv]=Aurélien Gâteau
Name[mr]=ओरेलीन गेत्यू
Name[nb]=Aurélien Gâteau
Name[nds]=Aurélien Gâteau
Name[nl]=Aurélien Gâteau
Name[pa]=Aurélien Gâteau
Name[pl]=Aurélien Gâteau
Name[pt]=Aurélien Gâteau
Name[pt_BR]=Aurélien Gâteau
Name[ro]=Aurélien Gâteau
Name[ru]=Aurélien Gâteau
Name[sk]=Aurélien Gâteau
Name[sl]=Aurélien Gâteau
Name[sq]=Aurélien Gâteau
Name[sv]=Aurélien Gâteau
Name[th]=Aurélien Gâteau
Name[tr]=Aurélien Gâteau
Name[ug]=Aurélien Gâteau
Name[uk]=Aurélien Gâteau
Name[x-test]=xxAurélien Gâteauxx
Name[zh_CN]=Aurélien Gâteau
Name[zh_TW]=Aurélien Gâteau
Url=mailto:aurelien.gateau@free.fr

[X-HTMLExport Preview]
Name=Matrix
Name[bg]=Матрицата
Name[bs]=Matrica
Name[ca]=Matrix
Name[ca@valencia]=Matrix
Name[cs]=Matrix
Name[da]=Matrix
Name[de]=Matrix
Name[el]=Matrix
Name[en_GB]=Matrix
Name[es]=Matriz
Name[et]=Matrix
Name[eu]=Matrizea
Name[fr]=Matrix
Name[ga]=Matrix
Name[gl]=Matrix
Name[he]=מטריקס
Name[hne]=माट्रिक्स
Name[hu]=Mátrix
Name[is]=Matrix
Name[it]=Matrix
Name[ja]=Matrix
Name[km]=ម៉ាទ្រីស
Name[ko]=매트릭스
Name[lt]=Matrica
Name[lv]=Matrix
Name[mai]=मैट्रिक्स
Name[nb]=Matrix
Name[nds]=Matrix
Name[nl]=Matrix
Name[oc]=Mairitz
Name[pa]=ਮੈਟਰਿਕਸ
Name[pl]=Tabela
Name[pt]=Matrix
Name[pt_BR]=Matrix
Name[ro]=Matrice
Name[ru]=Матрица
Name[sk]=Matrix
Name[sl]=Matrica
Name[sq]=Matrix
Name[sv]=Matris
Name[th]=เมทริกซ์
Name[tr]=Matrix
Name[ug]=ماترىتسا
Name[uk]=Матриця
Name[x-test]=xxMatrixxx
Name[zh_CN]=黑客帝国
Name[zh_TW]=矩陣
Url=preview.png
