[Desktop Entry]
Name=Matrix
Name[ca]=Matrix
Name[ca@valencia]=Matrix
Name[cs]=Matrix
Name[de]=Matrix
Name[el]=Matrix
Name[en_GB]=Matrix
Name[es]=Matrix
Name[fr]=Matrix
Name[is]=Matrix
Name[it]=Matrix
Name[nb]=Matrix
Name[nl]=Matrix
Name[nn]=Matrix
Name[pl]=Macierz
Name[pt]=Matrix
Name[ru]=Матрица
Name[sv]=Matrix
Name[tr]=Matris
Name[uk]=Матриця
Name[x-test]=xxMatrixxx
Name[zh_CN]=矩阵
Comment=Show your photos with Matrix style
Comment[ca]=Visualitza les fotografies a l'estil de Matrix
Comment[ca@valencia]=Visualitza les fotografies a l'estil de Matrix
Comment[cs]=Zobrazit vaše fotografie ve stylu Matrix
Comment[de]=Zeigt Ihre Fotos in einem Matrixstil
Comment[el]=Εμφάνιση των φωτογραφιών σας με στιλ Matrix
Comment[en_GB]=Show your photos with Matrix style
Comment[es]=Mostrar las fotos al estilo Matrix
Comment[fr]=Affiche vos photos avec le style « Matrix »
Comment[is]=Sýndu myndirnar þínar í Matrix-stíl
Comment[it]=Mostra le tue foto in stile Matrix
Comment[nb]=Vis bildene i Matrix-stil
Comment[nl]=Toon uw foto's in matrix-stijl
Comment[nn]=Vis fram fotoa i Matrix-stil
Comment[pl]=Pokaż swoje zdjęcia w macierzy
Comment[pt]=Mostrar as suas fotografias ao estilo Matrix
Comment[ru]=Показ снимков с использованием стиля «Матрица»
Comment[sv]=Visa foton med Matrix-stil
Comment[tr]=Fotoğraflarınızı Matris stilinde göster
Comment[uk]=Показує фотографії в стилі Матриці
Comment[x-test]=xxShow your photos with Matrix stylexx

[X-HTMLExport Author]
Name=Aurélien Gâteau
Name[ca]=Aurélien Gâteau
Name[ca@valencia]=Aurélien Gâteau
Name[cs]=Aurélien Gâteau
Name[de]=Aurélien Gâteau
Name[el]=Aurélien Gâteau
Name[en_GB]=Aurélien Gâteau
Name[es]=Aurélien Gâteau
Name[fr]=Aurélien Gâteau
Name[is]=Aurélien Gâteau
Name[it]=Aurélien Gâteau
Name[nb]=Aurélien Gâteau
Name[nl]=Aurélien Gâteau
Name[nn]=Aurélien Gâteau
Name[pl]=Aurélien Gâteau
Name[pt]=Aurélien Gâteau
Name[ru]=Aurélien Gâteau
Name[sv]=Aurélien Gâteau
Name[tr]=Aurélien Gâteau
Name[uk]=Aurélien Gâteau
Name[x-test]=xxAurélien Gâteauxx
Name[zh_CN]=Aurélien Gâteau
Url=mailto:aurelien.gateau@free.fr

[X-HTMLExport Preview]
Name=Matrix
Name[ca]=Matrix
Name[ca@valencia]=Matrix
Name[cs]=Matrix
Name[de]=Matrix
Name[el]=Matrix
Name[en_GB]=Matrix
Name[es]=Matrix
Name[fr]=Matrix
Name[is]=Matrix
Name[it]=Matrix
Name[nb]=Matrix
Name[nl]=Matrix
Name[nn]=Matrix
Name[pl]=Macierz
Name[pt]=Matrix
Name[ru]=Матрица
Name[sv]=Matrix
Name[tr]=Matris
Name[uk]=Матриця
Name[x-test]=xxMatrixxx
Name[zh_CN]=矩阵
Url=preview.png
