[Desktop Entry]
Name=ImagePlugin_AdjustLevels
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8

Comment=Image histogram adjust levels plugin for digiKam

X-KDE-Library=digikamimageplugin_adjustlevels
author=Caulier Gilles, caulier dot gilles at free dot fr
