<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui version="10" name="digikamimageplugin_fxfilters" >

 <MenuBar>

  <Menu name="Color" ><text>&amp;Color</text>
   <Action name="imageplugin_colorfx" />
  </Menu>

 </MenuBar>

 <ToolBar name="mainToolBar" >
  <text>Main Toolbar</text>
 </ToolBar>

</gui>
