<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui version="3" name="digikamimageplugin_restoration" >

 <MenuBar>

  <Menu name="Correct" >
   <text>Co&amp;rrect</text>
      <Action name="imageplugin_restoration" /> 
  </Menu>

 </MenuBar>
 
 <ToolBar name="ToolBar" >
  <text>Main Toolbar</text>
 </ToolBar>
 
 <ActionProperties>
  <Action shortcut="" name="imageplugin_restoration" />
 </ActionProperties>

</kpartgui>
