[Desktop Entry]
Name=ImagePlugin_Restoration
Name[bg]=Приставка за снимки - Възстановяване
Name[da]=Plugin for billedrestaurering
Name[el]=ΠρόσθετοΕικόνας_Αποκατάσταση
Name[hr]=Obnavljanje
Name[it]=PluginImmagini_Restauro
Name[nl]=Afbeeldingsplugin_Restoratie
Name[pt_BR]=Plug-in de restauração de fotos
Name[sr]=Рестаурација
Name[sr@Latn]=Restauracija
Name[sv]=Insticksprogram för bildrestaurering
Name[tr]=ResimEklentisi_Onarım
Name[xx]=xxImagePlugin_Restorationxx

Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=digiKam plugin to restore a photograph
Comment[bg]=Приставка на digiKam за възстановяване на снимки
Comment[da]=Digikam plugin til restaurering af et fotografi
Comment[de]=digiKam-Modul zur Restauration eines Photos
Comment[el]=Πρόσθετο του digiKam για αποκατάσταση μιας φωτογραφίας
Comment[es]=Plugin de digiKam para restaurar una fotografía
Comment[et]=DigiKami foto restaureerimimise plugin
Comment[fr]=Module externe pour restaurer une image
Comment[gl]=Un plugin de digiKam para restaurar unha fotografia
Comment[hr]=digiKam dodatak za obnavljanje fotografije
Comment[it]=Plugin di digiKam per restaurare una fotografia
Comment[ja]=digiKam 写真復元プラグイン
Comment[ka]=ფოტოს აღდგენის მოდული  digiKam-თვის
Comment[nl]=digiKam-pluin voor het herstellen van een foto
Comment[pa]=ਇੱਕ ਫੋਟੋ ਨੂੰ ਮੁੜ-ਪਰਾਪਤ ਕਰਨ ਲਈ ਡਿਜ਼ੀਕੈਮ ਪਲੱਗਿੰਨ
Comment[pl]=Wtyczka do programu digiKam umożliwiająca odrestaurowanie zdjęcia
Comment[pt]=Um 'plugin' do digiKam para restaurar uma fotografia
Comment[pt_BR]=Plug-in de restauração de fotos para o digiKam
Comment[ru]=Модуль digiKam для восстановления фотографий
Comment[sr]=digiKam-ов прикључак за поправку фотографија
Comment[sr@Latn]=digiKam-ov priključak za popravku fotografija
Comment[sv]=Digikam insticksprogram för restaurering av ett fotografi
Comment[tr]=Fotoğraf onarmak için digiKam eklentisi
Comment[xx]=xxdigiKam plugin to restore a photographxx

X-KDE-Library=digikamimageplugin_restoration
author=Gilles Caulier, caulier dot gilles at free dot fr
