[Desktop Entry]
Name=ImagePlugin_HotPixels
Name[bg]=Приставка за снимки - Горещи пиксели
Name[de]=Bildmodul_HotPixels
Name[el]=ΠρόσθετοΕικόνας_ΈντοναΕικονοστοιχεία
Name[fi]=KuumatPikselit
Name[he]=תוסף תמונה - תיקון נקודות
Name[hne]=इमेज-प्लगइन_हाटपिक्सेल्स
Name[it]=Pixel bruciati
Name[nl]=Afbeeldingsplugin_HotPixels
Name[sk]=ObrazovýModul_VypálenéPixely
Name[sv]=Insticksprogram för heta bildpunkter
Name[tr]=GörüntüEklentisi_HotPixels
Name[x-test]=xxImagePlugin_HotPixelsxx
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Hot pixel correction plugin for digiKam
Comment[bg]=Приставка на Digikam за корекция на "горещи пиксели"
Comment[ca]=Connector pel digiKam de correcció dels píxels cremats
Comment[da]=digiKam-plugin til rettelse af "hot pixels"
Comment[de]=digiKam-Modul zur Korrektur von Hotpixeln
Comment[el]=Πρόσθετο διόρθωσης έντονων εικονοστοιχείων για το digiKam
Comment[es]=Complemento para Digikam para corregir los píxeles quemados de la imagen
Comment[et]=DigiKami kuumade pikslite korrigeerimise plugin
Comment[fa]=وصلۀ اصلاح تصویردانۀ Hot برای digiKam
Comment[fi]=Digitaalisen rakeisuushäiriön korjaus
Comment[fr]=Module de correction des pixels chauds pour Digikam
Comment[gl]=Unha extensión de digiKam para corrixir os píxeles queimados
Comment[he]=תוסף Digikam לתיקון נקודות מיותרות בתמונה
Comment[hne]=डिजीकैम बर हाट पिक्सेल सुधार प्लगइन
Comment[it]=Estensione di digiKam per la correzione dei pixel bruciati
Comment[ja]=digiKam ホットピクセル除去プラグイン
Comment[km]=កម្មវិធី​ជំនួយ​កែ​ភីកសែល​ងាប់​សម្រាប់ digiKam
Comment[lv]=DigiKam spraudnis bojātu pikseļu koriģēšanai attēlos
Comment[nb]=digiKam programtillegg for å rette «hete» piksler
Comment[nds]=digiKam-Moduul för't Richten vun hitte Pixels
Comment[ne]=डिजिक्यामका लागि हट पिक्सेल सुधार प्लगइन
Comment[nl]=Digikam-plugin voor het corrigeren van de hotpixels
Comment[pl]=Wtyczka do programu digiKam usuwajÄca "gorÄce piksele"
Comment[pt]=Um 'plugin' do digiKam para corrigir os pixels queimados da imagem
Comment[pt_BR]=Plug-in do digiKam para correção dos pixels queimados
Comment[ro]=Modul digiKam pentru ameliorarea punctelor aprinse
Comment[ru]=Модуль коррекции ярких пикселей для digiKam
Comment[sk]=Zásuvný modul digiKam - Korekcia vypálených pixelov
Comment[sv]=Digikam insticksprogram för korrigering av heta bildpunkter
Comment[th]=ส่วนเสริมของ digiKam สำหรับแก้จุดเสียของเซ็นเซอร์ (Hot Pixel)
Comment[tr]=digiKam için hot pixel düzeltme eklentisi
Comment[uk]=Втулка виправлення «гарячих пікселів» digiKam
Comment[vi]=Bổ sung sửa điểm ảnh nóng cho digiKam
Comment[x-test]=xxHot pixel correction plugin for digiKamxx
Comment[zh_CN]=digiKam 热像素校正插件

X-KDE-Library=digikamimageplugin_hotpixels
author=Unai Garro, ugarro at sourceforge dot net
