[Desktop Entry]
Name=ImagePlugin_HotPixels
Name[el]=ΠρόσθετοΕικόνας_ΈντοναΕικονοστοιχεία
Name[es]=ImagePlugin_Solarize
Name[it]=PluginImmagini_PixelBruciati
Name[km]=កម្មវិធី​ជំនួយ​រូបភាព_ភីកសែល​សំខាន់
Name[nl]=Afbeeldingsplugin_HotPixels
Name[pt_BR]=Plug-in de Imagens - hotpixels
Name[sr]=Врући пиксели
Name[sr@Latn]=Vrući pikseli
Name[sv]=Insticksprogram för heta bildpunkter
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Hot pixel correction plugin for Digikam
Comment[da]=Hot pixel rettelsesplugin for DigiKam
Comment[de]=Ein digiKam-Modul zur Korrektur von heißen Pixeln.
Comment[el]=Πρόσθετο διόρθωσης έντονων εικονοστοιχείων για το Digikam
Comment[es]=Plugin  para digiKam para suprimir los puntos producidos por los pixeles cálidos/inactivos de un sensor CCD
Comment[et]=DigiKami kuumade pikslite korrigeerimise plugin
Comment[eu]=Pixel beroen zuzenketarako digiKam plugina
Comment[fr]=Module externe pour supprimer les points produits par les pixels chauds/collés/morts d'un capteur CCD
Comment[it]=Plugin di correzione dei pixel bruciati per digiKam
Comment[ja]=digiKam ホットピクセル除去プラグイン
Comment[km]=កម្មវិធី​ជំនួយ Digikam សម្រាប់​កែ​ភីកសែល​សំខាន់
Comment[ms]=Plugin pembetulan hot piksel untuk Digikam
Comment[nl]=digiKam-plugin voor het corrigeren van de hotpixels
Comment[pl]=Wtyczka do programu digiKam usuwająca "gorące piksele"
Comment[pt]=Um 'plugin' do digiKam para corrigir os pixels queimados da imagem
Comment[pt_BR]=Plug-in de correção de hot pixels para o DigiKam
Comment[sr]=digiKam-ов прикључак исправку врућих пиксела
Comment[sr@Latn]=digiKam-ov priključak ispravku vrućih piksela
Comment[sv]=Digikam insticksprogram för korrigering av heta bildpunkter

X-KDE-Library=digikamimageplugin_hotpixels
author=Unai Garro, ugarro at sourceforge dot net
