[Desktop Entry]
Name=ImagePlugin_HotPixels
Name[bg]=Приставка за снимки - Горещи пиксели
Name[el]=ΠρόσθετοΕικόνας_ΈντοναΕικονοστοιχεία
Name[es]=ImagePlugin_Solarize
Name[hr]=Vrući pikseli
Name[it]=PluginImmagini_PixelBruciati
Name[nl]=Afbeeldingsplugin_HotPixels
Name[pt_BR]=Plug-in de Imagens - hotpixels
Name[sr]=Врући пиксели
Name[sr@Latn]=Vrući pikseli
Name[sv]=Insticksprogram för heta bildpunkter
Name[xx]=xxImagePlugin_HotPixelsxx
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Hot pixel correction plugin for digiKam
Comment[de]=digiKam-Modul zur Korrektur von heißen (defekten) Pixeln
Comment[el]=Πρόσθετο διόρθωσης έντονων εικονοστοιχείων για το Digikam
Comment[et]=DigiKami kuumade pikslite korrigeerimise plugin
Comment[ja]=digiKam ホットピクセル除去プラグイン
Comment[pa]=ਡਿਜ਼ੀਕੈਮ ਲਈ ਹਾਟ ਪਿਕਸਲ ਸੋਧ ਪਲੱਗਿੰਨ
Comment[pt]=Um 'plugin' do digiKam para corrigir os pixels queimados da imagem
Comment[pt_BR]=Um 'plugin' do digiKam para corrigir os pixels queimados da imagem
Comment[sv]=Digikam insticksprogram för korrigering av heta bildpunkter

X-KDE-Library=digikamimageplugin_hotpixels
author=Unai Garro, ugarro at sourceforge dot net
