[Desktop Entry]
Version=0.1
Encoding=UTF-8
Name=Simple Rounded
Name[ca]=Arrodonit senzill
Name[ca@valencia]=Arrodonit senzill
Name[cs]=Jednoduchý zaoblený
Name[el]=Simple Rounded
Name[en_GB]=Simple Rounded
Name[es]=Redondeado sencillo
Name[fr]=Simple arrondi
Name[is]=Einfalt rúnnað
Name[it]=Semplice arrotondato
Name[nl]=Eenvoudig afgerond
Name[nn]=Enkel og avrunda
Name[pl]=Prosty zaokrąglony
Name[pt]=Simples Arredondado
Name[ru]=Простое с закруглениями
Name[sv]=Enkelt avrundat
Name[tr]=Basit Yuvarlanmış
Name[uk]=Прості заокруглені
Name[x-test]=xxSimple Roundedxx
Comment=A theme with rounded corners and page support on big galeries
Comment[ca]=Un tema amb cantonades arrodonides que admet pàgines en galeries grans
Comment[ca@valencia]=Un tema amb cantonades arrodonides que admet pàgines en galeries grans
Comment[cs]=Motiv se zaoblenými rohy a podporou stránkování u velkých galerií
Comment[el]=Ένα θέμα με στρογγυλεμένες γωνίες και υποστήριξη σελίδων σε μεγάλες συλλογές
Comment[en_GB]=A theme with rounded corners and page support on big galleries
Comment[es]=Un tema con esquinas redondeadas y uso de páginas para galerías de gran tamaño
Comment[fr]=Un thème avec les coins arrondis et une pagination pour les grandes galeries
Comment[is]=Þema með rúnnuð horn og stuðning við síður í stórum myndasöfnum
Comment[it]=Tema con angoli arrotondati e supporto pagina per gallerie grandi
Comment[nl]=Een thema met afgeronde hoeken en ondersteuning op grote galerijen met pagina's
Comment[nn]=Eit tema med avrunda fargar og sidestøtte for store galleri
Comment[pl]=Wygląd o zaokrąglonych narożnikach i obsłudze stron w dużych galeriach
Comment[pt]=Um tema com cantos arredondados e suporte para páginas nas galerias grandes
Comment[ru]=Оформление с закруглёнными углами и с поддержкой страниц для больших галерей.
Comment[sv]=Ett tema med avrundade hörn och stöd för sidor med stora gallerier
Comment[tr]=Büyük galerilerde sayfa desteği ve yuvarlanmış kenarları olan bir tema
Comment[uk]=Тема із заокругленими кутами і підтримкою сторінки у великих галереях
Comment[x-test]=xxA theme with rounded corners and page support on big galeriesxx

[X-HTMLExport Author]
Name=Franz Dietrich
Name[ca]=Franz Dietrich
Name[ca@valencia]=Franz Dietrich
Name[cs]=Franz Dietrich
Name[de]=Franz Dietrich
Name[el]=Franz Dietrich
Name[en_GB]=Franz Dietrich
Name[es]=Franz Dietrich
Name[fr]=Franz Dietrich
Name[is]=Franz Dietrich
Name[it]=Franz Dietrich
Name[nl]=Franz Dietrich
Name[nn]=Franz Dietrich
Name[pl]=Franz Dietrich
Name[pt]=Franz Dietrich
Name[ru]=Franz Dietrich
Name[sv]=Franz Dietrich
Name[tr]=Franz Dietrich
Name[uk]=Franz Dietrich
Name[x-test]=xxFranz Dietrichxx
Url=mailto:enaut.w@googlemail.com

[X-HTMLExport Parameter titlebar]
Name=Title Bar
Name[ca]=Barra de títol
Name[ca@valencia]=Barra de títol
Name[cs]=Titulkový pruh
Name[de]=Titelleiste
Name[el]=Γραμμή τίτλου
Name[en_GB]=Title Bar
Name[es]=Barra de título
Name[fr]=Barre de titre
Name[is]=Titilslá
Name[it]=Barra del titolo
Name[nl]=Titelbalk
Name[nn]=Tittellinje
Name[pl]=Pasek tytułu
Name[pt]=Barra de Título
Name[ru]=Строка заголовка
Name[sv]=Namnlist
Name[tr]=Başlık Çubuğu
Name[uk]=Смужка заголовка
Name[x-test]=xxTitle Barxx
Type=string
Default=Gallery
Default[de]=Galerie

[X-HTMLExport Parameter thumbnailsPerPage]
Name=Images per page
Name[ca]=Imatges per pàgina
Name[ca@valencia]=Imatges per pàgina
Name[cs]=Obrázků na stránku
Name[de]=Bilder pro Seite
Name[el]=Εικόνες ανά σελίδα
Name[en_GB]=Images per page
Name[es]=Imágenes por página
Name[fr]=Images par page
Name[is]=Myndir á hverri síðu
Name[it]=Immagini per pagina
Name[nl]=Afbeeldingen per pagina
Name[nn]=Bilete per side
Name[pl]=Obrazów na stronę
Name[pt]=Imagens por página
Name[ru]=Изображений на странице
Name[sv]=Bilder per sida
Name[tr]=Sayfa başına resim
Name[uk]=Кількість зображень на сторінку
Name[x-test]=xxImages per pagexx
Name[zh_CN]=每页的图像
Type=int
Default= 15
Min=1
Max=75

[X-HTMLExport Parameter homepage]
Name=Name of the Homepage
Name[ca]=Nom de la pàgina web
Name[ca@valencia]=Nom de la pàgina web
Name[cs]=Název domovské stránky
Name[el]=Όνομα αρχικής σελίδας
Name[en_GB]=Name of the Homepage
Name[es]=Nombre de la página web
Name[fr]=Nom de la page d'accueil
Name[is]=Nafn heimasíðu
Name[it]=Nome della pagina iniziale
Name[nl]=Naam van de homepagina
Name[nn]=Namn på heimeside
Name[pl]=Nazwa strony domowej
Name[pt]=Nome da Página Web
Name[ru]=Название домашней страницы
Name[sv]=Hemsidans namn
Name[tr]=Ana Sayfanın Adı
Name[uk]=Назва домашньої сторінки
Name[x-test]=xxName of the Homepagexx
Type=string
Default=
Default[de]=

[X-HTMLExport Parameter homepageUrl]
Name=Url to the Homepage
Name[ca]=URL de la pàgina web
Name[ca@valencia]=URL de la pàgina web
Name[cs]=URL na domovskou stránku
Name[el]=Url της αρχικής σελίδας
Name[en_GB]=URL to the Homepage
Name[es]=URL de la página web
Name[fr]=URL de la page d'accueil
Name[is]=Slóð að heimasíðu
Name[it]=URL alla pagina iniziale
Name[nl]=URL van de homepagina
Name[nn]=Adresse til heimeside
Name[pl]=Adres Url do strony domowej
Name[pt]=URL da Página Web
Name[ru]=Адрес домашней страницы
Name[sv]=Hemsidans webbadress
Name[tr]=Ana Sayfaya URL
Name[uk]=Адреса домашньої сторінки
Name[x-test]=xxUrl to the Homepagexx
Type=string
Default=
Default[de]=

[X-HTMLExport Parameter background]
Name=Background
Name[ca]=Fons
Name[ca@valencia]=Fons
Name[cs]=Pozadí
Name[de]=Hintergrund
Name[el]=Φόντο
Name[en_GB]=Background
Name[es]=Fondo
Name[fr]=Fond
Name[is]=Bakgrunnur
Name[it]=Sfondo
Name[nl]=Achtergrond
Name[nn]=Bakgrunn
Name[pl]=Tło
Name[pt]=Fundo
Name[ru]=Фон
Name[sv]=Bakgrund
Name[tr]=Arkaplan
Name[uk]=Тло
Name[x-test]=xxBackgroundxx
Name[zh_CN]=背景色
Type=color
Default=#3e674c

[X-HTMLExport Parameter content-bgc]
Name=Content background
Name[ca]=Fons pel contingut
Name[ca@valencia]=Fons pel contingut
Name[cs]=Pozadí obsahu
Name[el]=Φόντο περιεχομένου
Name[en_GB]=Content background
Name[es]=Fondo del contenido
Name[fr]=Contenu du fond
Name[is]=Bakgrunnur efnis
Name[it]=Sfondo del contenuto
Name[nl]=Achtergrond van inhoud
Name[nn]=Innhaldsbakgrunn
Name[pl]=Treść tła
Name[pt]=Fundo do conteúdo
Name[ru]=Фон содержимого
Name[sv]=Bakgrundens innehåll
Name[tr]=İçerik arkaplanı
Name[uk]=Тло вмісту
Name[x-test]=xxContent backgroundxx
Type=color
Default=#d8ffd3

[X-HTMLExport Parameter listBackground]
Name=Icon background
Name[ca]=Fons per a les icones
Name[ca@valencia]=Fons per a les icones
Name[cs]=Pozadí ikony
Name[el]=Φόντο εικονιδίου
Name[en_GB]=Icon background
Name[es]=Fondo de los iconos
Name[fr]=Fond de l'icône
Name[is]=Bakgrunnur táknmyndar
Name[it]=Sfondo dell'icona
Name[nl]=Achtergrond van pictogrammen
Name[nn]=Ikonbakgrunn
Name[pl]=Ikona tła
Name[pt]=Fundo do ícone
Name[ru]=Фон под значками
Name[sv]=Ikonbakgrund
Name[tr]=Simge arkaplanı
Name[uk]=Тло піктограм
Name[x-test]=xxIcon backgroundxx
Type=color
Default=#78ca97

[X-HTMLExport Parameter navigationColor]
Name= Background of the navigation
Name[ca]=Fons per a la navegació
Name[ca@valencia]=Fons per a la navegació
Name[el]= Φόντο της πλοήγησης
Name[en_GB]= Background of the navigation
Name[es]=Fondo de la navegación
Name[fr]= Fond de la navigation
Name[is]=Bakgrunnur leiðsagnar
Name[it]= Sfondo della navigazione
Name[nl]= Achtergrond van de navigatie
Name[nn]= Bakgrunn til navigasjon
Name[pl]=Tło nawigacji
Name[pt]=Fundo da navegação
Name[ru]=Фон панели навигации
Name[sv]=Navigeringens bakgrund
Name[tr]= Gezintinin arkaplanı
Name[uk]= Тло панелі навігації
Name[x-test]=xx Background of the navigationxx
Type=color
Default=#a7dccf

[X-HTMLExport Parameter thumbBorderColor]
Name=Thumbnail border
Name[ca]=Vora per a les miniatures
Name[ca@valencia]=Vora per a les miniatures
Name[cs]=Okraj náhledu
Name[el]=Περίγραμμα προεπισκόπησης
Name[en_GB]=Thumbnail border
Name[es]=Borde de las miniaturas
Name[fr]=Bordure des vignettes
Name[is]=Jaðar smámyndar
Name[it]=Bordo miniature
Name[nl]=Rand van de miniaturen
Name[nn]=Kantlinje på miniatyrar
Name[pl]=Obramowanie miniatury
Name[pt]=Contorno da miniatura
Name[ru]=Рамки миниатюр
Name[sv]=Miniatyrbildskant
Name[tr]=Küçük resim kenarlığı
Name[uk]=Рамка мініатюр
Name[x-test]=xxThumbnail borderxx
Name[zh_CN]=缩略图边框
Type=color
Default=#41696d

[X-HTMLExport Parameter urlColor]
Name=Links
Name[ca]=Enllaços
Name[ca@valencia]=Enllaços
Name[cs]=Links
Name[el]=Δεσμοί
Name[en_GB]=Links
Name[es]=Enlaces
Name[fr]=Liens
Name[is]=Tenglar
Name[it]=Collegamenti
Name[nb]=Links
Name[nl]=Koppelingen
Name[nn]=Lenkjer
Name[pl]=Odsyłacze
Name[pt]=Ligações
Name[ru]=Ссылки
Name[sv]=Länkar
Name[tr]=Bağlantılar
Name[uk]=Посилання
Name[x-test]=xxLinksxx
Name[zh_CN]=链接
Type=color
Default=#519e64

[X-HTMLExport Preview]
Name=Simple Rounded Shapes
Name[ca]=Formes arrodonides senzilles
Name[ca@valencia]=Formes arrodonides senzilles
Name[cs]=Jednoduché zaoblené tvary
Name[el]=Απλά στρογγυλεμένα σχήματα
Name[en_GB]=Simple Rounded Shapes
Name[es]=Formas redondeadas sencillas
Name[fr]=Formes simples arrondies
Name[is]=Einföld rúnnuð form
Name[it]=Forme arrotondate semplici
Name[nl]=Eenvoudig afgeronde vormen
Name[nn]=Enkle, avrunda former
Name[pl]=Proste zaokrąglone kształty
Name[pt]=Formas Arredondadas Simples
Name[ru]=Простое с закруглёнными углами
Name[sv]=Enkla avrundade former
Name[tr]=Basit Yuvarlanmış Şekiller
Name[uk]=Прості заокруглені форми
Name[x-test]=xxSimple Rounded Shapesxx
Url=preview.png
