[Desktop Entry]
Version=0.1
Encoding=UTF-8
Name=Simple Rounded
Comment=A theme with rounded corners and page support on big galeries

[X-HTMLExport Author]
Name=Franz Dietrich
Url=mailto:enaut.w@googlemail.com

[X-HTMLExport Parameter titlebar]
Name=Title Bar
Type=string
Default=Gallery
Default[de]=Galerie

[X-HTMLExport Parameter thumbnailsPerPage]
Name=Images per page
Type=int
Default= 15
Min=1
Max=75

[X-HTMLExport Parameter homepage]
Name=Name of the Homepage
Type=string
Default=
Default[de]=

[X-HTMLExport Parameter homepageUrl]
Name=Url to the Homepage
Type=string
Default=
Default[de]=

[X-HTMLExport Parameter background]
Name=Background
Type=color
Default=#3e674c

[X-HTMLExport Parameter content-bgc]
Name=Content background
Type=color
Default=#d8ffd3

[X-HTMLExport Parameter listBackground]
Name=Icon background
Type=color
Default=#78ca97

[X-HTMLExport Parameter navigationColor]
Name= Background of the navigation
Type=color
Default=#a7dccf

[X-HTMLExport Parameter thumbBorderColor]
Name=Thumbnail border
Type=color
Default=#41696d

[X-HTMLExport Parameter urlColor]
Name=Links
Type=color
Default=#519e64

[X-HTMLExport Preview]
Name=Simple Rounded Shapes
Url=preview.png
