[Desktop Entry]
Version=0.1
Encoding=UTF-8
Name=Simple Rounded
Name[ca]=Arrodonit senzill
Name[ca@valencia]=Arrodonit senzill
Name[cs]=Jednoduchý zaoblený
Name[es]=Redondeado sencillo
Name[it]=Semplice arrotondato
Name[nl]=Eenvoudig afgerond
Name[pl]=Prosty zaokrąglony
Name[pt]=Arredondado Simples
Name[sv]=Enkelt avrundat
Name[uk]=Прості заокруглені
Name[x-test]=xxSimple Roundedxx
Comment=A theme with rounded corners and page support on big galeries
Comment[ca]=Un tema amb cantonades arrodonides que admet pàgines en galeries grans
Comment[ca@valencia]=Un tema amb cantonades arrodonides que admet pàgines en galeries grans
Comment[es]=Un tema con esquinas redondeadas y uso de páginas para galerías de gran tamaño
Comment[it]=Tema con angoli arrotondati e supporto pagina per gallerie grandi
Comment[nl]=Een thema met afgeronde hoeken en ondersteuning op grote galerijen met pagina's
Comment[pl]=Wygląd o zaokrąglonych narożnikach i obsłudze stron w dużych galeriach
Comment[pt]=Um tema com cantos arredondados e suporte para páginas nas galerias grandes
Comment[sv]=Ett tema med avrundade hörn och stöd för sidor med stora gallerier
Comment[uk]=Тема із заокругленими кутами і підтримкою сторінки у великих галереях
Comment[x-test]=xxA theme with rounded corners and page support on big galeriesxx

[X-HTMLExport Author]
Name=Franz Dietrich
Name[ca]=Franz Dietrich
Name[ca@valencia]=Franz Dietrich
Name[cs]=Franz Dietrich
Name[de]=Franz Dietrich
Name[es]=Franz Dietrich
Name[it]=Franz Dietrich
Name[nl]=Franz Dietrich
Name[pl]=Franz Dietrich
Name[pt]=Franz Dietrich
Name[sv]=Franz Dietrich
Name[uk]=Franz Dietrich
Name[x-test]=xxFranz Dietrichxx
Url=mailto:enaut.w@googlemail.com

[X-HTMLExport Parameter titlebar]
Name=Title Bar
Name[ca]=Barra de títol
Name[ca@valencia]=Barra de títol
Name[de]=Titelleiste
Name[es]=Barra de título
Name[it]=Barra del titolo
Name[nl]=Titelbalk
Name[pl]=Pasek tytułu
Name[pt]=Barra de Título
Name[sv]=Namnlist
Name[uk]=Смужка заголовка
Name[x-test]=xxTitle Barxx
Type=string
Default=Gallery
Default[de]=Galerie

[X-HTMLExport Parameter thumbnailsPerPage]
Name=Images per page
Name[ca]=Imatges per pàgina
Name[ca@valencia]=Imatges per pàgina
Name[de]=Bilder pro Seite
Name[es]=Imágenes por página
Name[it]=Immagini per pagina
Name[nl]=Afbeeldingen per pagina
Name[pl]=Obrazów na stronę
Name[pt]=Imagens por página
Name[sv]=Bilder per sida
Name[uk]=Кількість зображень на сторінку
Name[x-test]=xxImages per pagexx
Type=int
Default= 15
Min=1
Max=75

[X-HTMLExport Parameter homepage]
Name=Name of the Homepage
Name[ca]=Nom de la pàgina web
Name[ca@valencia]=Nom de la pàgina web
Name[cs]=Název domovské stránky
Name[es]=Nombre de la página web
Name[it]=Nome della pagina iniziale
Name[nl]=Naam van de homepagina
Name[pl]=Nazwa strony domowej
Name[pt]=Nome da Página Web
Name[sv]=Hemsidans namn
Name[uk]=Назва домашньої сторінки
Name[x-test]=xxName of the Homepagexx
Type=string
Default=
Default[de]=

[X-HTMLExport Parameter homepageUrl]
Name=Url to the Homepage
Name[ca]=URL de la pàgina web
Name[ca@valencia]=URL de la pàgina web
Name[cs]=URL na domovskou stránku
Name[es]=URL de la página web
Name[it]=URL alla pagina iniziale
Name[nl]=URL van de homepagina
Name[pl]=Adres Url do strony domowej
Name[pt]=URL da Página Web
Name[sv]=Hemsidans webbadress
Name[uk]=Адреса домашньої сторінки
Name[x-test]=xxUrl to the Homepagexx
Type=string
Default=
Default[de]=

[X-HTMLExport Parameter background]
Name=Background
Name[ca]=Fons
Name[ca@valencia]=Fons
Name[cs]=Pozadí
Name[de]=Hintergrund
Name[es]=Fondo
Name[it]=Sfondo
Name[nl]=Achtergrond
Name[pl]=Tło
Name[pt]=Fundo
Name[sv]=Bakgrund
Name[uk]=Тло
Name[x-test]=xxBackgroundxx
Type=color
Default=#3e674c

[X-HTMLExport Parameter content-bgc]
Name=Content background
Name[ca]=Fons del contingut
Name[ca@valencia]=Fons del contingut
Name[cs]=Pozadí obsahu
Name[es]=Fondo del contenido
Name[it]=Sfondo del contenuto
Name[nl]=Achtergrond van inhoud
Name[pl]=Treść tła
Name[pt]=Fundo do conteúdo
Name[sv]=Bakgrundens innehåll
Name[uk]=Тло вмісту
Name[x-test]=xxContent backgroundxx
Type=color
Default=#d8ffd3

[X-HTMLExport Parameter listBackground]
Name=Icon background
Name[ca]=Fons de les icones
Name[ca@valencia]=Fons de les icones
Name[cs]=Pozadí ikony
Name[es]=Fondo de los iconos
Name[it]=Sfondo dell'icona
Name[nl]=Achtergrond van pictogrammen
Name[pl]=Ikona tła
Name[pt]=Fundo dos ícones
Name[sv]=Ikonbakgrund
Name[uk]=Тло піктограм
Name[x-test]=xxIcon backgroundxx
Type=color
Default=#78ca97

[X-HTMLExport Parameter navigationColor]
Name= Background of the navigation
Name[ca]=Fons de la navegació
Name[ca@valencia]=Fons de la navegació
Name[es]=Fondo de la navegación
Name[it]= Sfondo della navigazione
Name[nl]= Achtergrond van de navigatie
Name[pl]=Tło nawigacji
Name[pt]=Fundo da navegação
Name[sv]=Navigeringens bakgrund
Name[uk]= Тло панелі навігації
Name[x-test]=xx Background of the navigationxx
Type=color
Default=#a7dccf

[X-HTMLExport Parameter thumbBorderColor]
Name=Thumbnail border
Name[ca]=Vora de les miniatures
Name[ca@valencia]=Vora de les miniatures
Name[cs]=Okraj náhledu
Name[es]=Borde de las miniaturas
Name[it]=Bordo miniature
Name[nl]=Rand van de miniaturen
Name[pl]=Obramowanie miniatury
Name[pt]=Contorno das miniaturas
Name[sv]=Miniatyrbildskant
Name[uk]=Рамка мініатюр
Name[x-test]=xxThumbnail borderxx
Type=color
Default=#41696d

[X-HTMLExport Parameter urlColor]
Name=Links
Name[ca]=Enllaços
Name[ca@valencia]=Enllaços
Name[cs]=Links
Name[es]=Enlaces
Name[it]=Collegamenti
Name[nl]=Koppelingen
Name[pl]=Odsyłacze
Name[pt]=Ligações
Name[sv]=Länkar
Name[uk]=Посилання
Name[x-test]=xxLinksxx
Type=color
Default=#519e64

[X-HTMLExport Preview]
Name=Simple Rounded Shapes
Name[ca]=Formes arrodonides senzilles
Name[ca@valencia]=Formes arrodonides senzilles
Name[cs]=Jednoduché zaoblené tvary
Name[es]=Formas redondeadas sencillas
Name[it]=Forme arrotondate semplici
Name[nl]=Eenvoudig afgeronde vormen
Name[pl]=Proste zaokrąglone kształty
Name[pt]=Formas Arredondadas Simples
Name[sv]=Enkla avrundade former
Name[uk]=Прості заокруглені форми
Name[x-test]=xxSimple Rounded Shapesxx
Url=preview.png
