[Desktop Entry]
Name=ImagePlugin_LensDistortion
Name[bg]=Приставка за снимки - Аберации от обективи
Name[da]=Billedplugin_Linseforvrængning
Name[el]=ΠρόσθετοΕικόνας_ΠαραμόρφωσηΦακών
Name[hr]=Izobličena leća
Name[it]=PluginImmagini_DistorsioneLenticolare
Name[ms]=ImagePlugin_HerotanLensa
Name[nl]=Afbeeldingsplugin_Lensafwijking
Name[pt_BR]=Plug-in de efeito de distorção Lens
Name[sr]=Изобличење сочива
Name[sr@Latn]=Izobličenje sočiva
Name[sv]=Insticksprogram för linsförvrängning
Name[tr]=ResimEklentisi_MercekÇarpıtması
Name[xx]=xxImagePlugin_LensDistortionxx
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Spherical aberration image correction plugin for digiKam
Comment[bg]=Приставка на digiKam за корекция на аберации от обективи в снимките
Comment[da]=Plugin til korrigering af sfærisk afvigelse for Digikam
Comment[de]=digiKam Modul zur Reduzierung kugelförmiger Verzerrung durch Linsen
Comment[el]=Πρόσθετο διόρθωσης εικόνας σφαιρικής παρέκκλισης για το digiKam
Comment[es]=Plugin de corrección de distorsión esférica para digiKam
Comment[et]=DigiKami sfäärilise aberratsiooni korrigeerimise plugin
Comment[fr]=Module externe pour réduire les aberrations sphériques causées par un objectif
Comment[gl]=Un plugin de digiKam para corrixir a aberrazón esférica da imaxe
Comment[hr]=digiKam dodatak za ispravljanje kružne aberacije
Comment[it]=Plugin di correzione dell'aberrazione sferica delle immagini per digiKam
Comment[ja]=digiKam 球面収差補正プラグイン
Comment[ms]=Plugin imej herotan bersfera  untuk digiKam
Comment[nl]=Digikam-plugin voor het corrigeren van bolvormige afwijkingen
Comment[pl]=Wtyczka do programu digiKam korygująca aberrację sferyczną
Comment[pt]=Um 'plugin' do digiKam para corrigir a aberração esférica da imagem
Comment[pt_BR]=Plug-in para correção de aberração esférica de imagem para o digiKam
Comment[ru]=Модуль digiKam коррекции сферических искажений
Comment[sr]=digiKam-ов прикључак за исправљање сферног искривљења слике
Comment[sr@Latn]=digiKam-ov priključak za ispravljanje sfernog iskrivljenja slike
Comment[sv]=Digikam insticksprogram för korrigering av sfärisk avvikelse i bild
Comment[tr]=digiKam için resim küresel sapma düzeltme eklentisi
Comment[vi]=Bổ sung sửa quang sai hình cầu ảnh cho digiKam
Comment[xx]=xxSpherical aberration image correction plugin for digiKamxx

X-KDE-Library=digikamimageplugin_lensdistortion
author=Gilles Caulier, caulier dot gilles at free dot fr
