[Desktop Entry]
Name=ImagePlugin_LensDistortion
Name[da]=Billedplugin_Linseforvrængning
Name[it]=PluginImmagini_DistorsioneLenticolare
Name[nl]=Afbeeldingsplugin_Lensafwijking
Name[sv]=Insticksprogram för linsförvrängning
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Spherical aberration image correction plugin for digiKam
Comment[da]=Plugin til korrigering af sfærisk afvigelse til Digikam
Comment[de]=digKam Plugin zur Reduzierung von kugleförmiger Verzerrung durch Linsen auf einem Bild
Comment[es]=Complemento de corrección de distorsión esférica para digiKam
Comment[et]=Digikami sfäärilise aberratsiooni korrigeerimise plugin
Comment[fr]=Module externe de digiKam pour la correction des anomalies sphériques
Comment[it]=Plugin di correzione dell'aberrazione sferica delle immagini per digiKam
Comment[nl]=digiKam-plugin voor het corrigeren van bolvormige afwijkingen
Comment[pt]='Plugin' de correcção de distorção esférica para o digiKam
Comment[pt_BR]='Plugin' de correcção de distorção esférica para o digiKam
Comment[sv]=Digikam insticksprogram för korrigering av sfärisk avvikelse i bild

X-KDE-Library=digikamimageplugin_lensdistortion
author=Gilles Caulier, caulier dot gilles at free dot fr
