<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui version="2" name="digikamimageplugin_lensdistortion" >

 <MenuBar>

  <Menu name="Fix" >
   <text>Fi&amp;x</text>
   <Action name="imageplugin_lensdistortion" /> 
  </Menu>

 </MenuBar>
 
 <ToolBar name="ToolBar" >
  <text>Main Toolbar</text>
 </ToolBar>
 
 <ActionProperties>
  <Action shortcut="Shift+D" name="imageplugin_lensdistortion" />
 </ActionProperties>

</kpartgui>
