[Desktop Entry]
Name=ImagePlugin_LensDistortion
Name[da]=Billedplugin_Linseforvrængning
Name[it]=PluginImmagini_DistorsioneLenticolare
Name[nl]=Afbeeldingsplugin_Lensafwijking
Name[pt_BR]=Plug-in de efeito de distorção Lens
Name[sr]=Изобличење сочива
Name[sr@Latn]=Slikovni priključak — Izobličenje sočiva
Name[sv]=Insticksprogram för linsförvrängning
Name[tr]=ResimEklentisi_MercekÇarpıtması
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Spherical aberration image correction plugin for digiKam
Comment[da]=Plugin til korrigering af sfærisk afvigelse til Digikam
Comment[de]=digKam Plugin zur Reduzierung der kugelförmigen Verzerrung durch Linsen auf einem Bild.
Comment[es]=Plugin de corrección de distorsión esférica para digiKam
Comment[et]=DigiKami sfäärilise aberratsiooni korrigeerimise plugin
Comment[fr]=Module externe de digiKam pour la correction des anomalies sphériques
Comment[it]=Plugin di correzione dell'aberrazione sferica delle immagini per digiKam
Comment[nl]=digiKam-plugin voor het corrigeren van bolvormige afwijkingen
Comment[pt]=Um 'plugin' do digiKam para corrigir a aberração esférica da imagem
Comment[pt_BR]=Plug-in para correção de aberração esférica de imagem para o digiKam
Comment[ru]=Модуль digiKam коррекции сферических искажений
Comment[sr]=digiKam-ов прикључак за исправљање сферног искривљења слике
Comment[sr@Latn]=digiKam-ov priključak za ispravljanje sfernog iskrivljenja slike
Comment[sv]=Digikam insticksprogram för korrigering av sfärisk avvikelse i bild
Comment[tr]=digiKam için resim küresel sapma düzeltme eklentisi

X-KDE-Library=digikamimageplugin_lensdistortion
author=Gilles Caulier, caulier dot gilles at free dot fr
