[Desktop Entry]
Name=ImagePlugin_OilPaint
Name[bg]=Приставка за снимки - Маслени бои
Name[ca]=ImagePlugin_OilPaint
Name[cs]=ImagePlugin_OilPaint
Name[da]=ImagePlugin_OilPaint
Name[de]=Bildmodul_Ölgemälde
Name[el]=ΠρόσθετοΕικόνας_Ελαιογραφίας
Name[en_GB]=ImagePlugin_OilPaint
Name[es]=ImagePlugin_OilPaint
Name[et]=ImagePlugin_OilPaint
Name[fi]=Öljyvärimaalaus
Name[fr]=ImagePlugin_OilPaint
Name[ga]=ImagePlugin_OilPaint
Name[gl]=ImagePlugin_OilPaint
Name[he]=תוסף תמונה - ציור שמן
Name[hne]=इमेज-प्लगइन_आइल-पेंट
Name[it]=Pittura a olio
Name[ja]=ImagePlugin_OilPaint
Name[km]=ImagePlugin_OilPaint
Name[lv]=ImagePlugin_OilPaint
Name[nb]=ImagePlugin_OilPaint
Name[nds]=ImagePlugin_OilPaint
Name[ne]=ImagePlugin_OilPaint
Name[nl]=Afbeeldingsplugin_Olieverf
Name[pa]=ImagePlugin_OilPaint
Name[pl]=ImagePlugin_OilPaint
Name[pt]=ImagePlugin_OilPaint
Name[pt_BR]=ImagePlugin_OilPaint
Name[ro]=ImagePlugin_OilPaint
Name[sk]=ObrazovýModul_Olejomaľba
Name[sv]=Insticksprogram för oljemålning
Name[th]=ImagePlugin_OilPaint
Name[tr]=GörüntüEklentisi_YağlıBoya
Name[uk]=ImagePlugin_OilPaint
Name[vi]=ImagePlugin_OilPaint
Name[x-test]=xxImagePlugin_OilPaintxx
Name[zh_CN]=ImagePlugin_OilPaint
Name[zh_TW]=影像特效_油畫
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Oil paint image effect plugin for digiKam
Comment[bg]=Приставка на digiKam за наподобяване на картина с маслени бои
Comment[ca]=Connector pel digiKam d'efecte de pintura a l'oli
Comment[cs]=Modul simulace olejomalby pro digiKam
Comment[da]=digiKam-plugin med oliemalingeffekt på billeder
Comment[de]=digiKam-Modul zur Erzeugung eines Ölgemäldeeffektes
Comment[el]=Πρόσθετο ελαιογραφίας για το digiKam
Comment[en_GB]=Oil paint image effect plugin for digiKam
Comment[es]=Complemento para digiKam con efectos de pintura al óleo
Comment[et]=DigiKami õlimaali pildiefektiplugin
Comment[fa]=وصلۀ جلوۀ تصویر رنگ روغن برای digiKam
Comment[fi]=Jäljittelee öljyvärimaalausta
Comment[fr]=Module d'effet de l'image de type peinture à huile pour Digikam
Comment[gl]=Un engadido de digiKam para dar o efecto de pintura ao óleo
Comment[he]=תוסף Digikam ליישום אפקט של ציור התמונה בצבעי שמן
Comment[hne]=डिजीकैम बर आइल-पेंट इमेज इफेक्ट प्लगइन
Comment[it]=Estensione di digiKam per l'effetto di pittura a olio
Comment[ja]=digiKam 油絵効果プラグイン
Comment[km]=កម្មវិធី​ជំនួយ​បែបផែន​រូបភាព​គំនូរ​ប្រេង​សម្រាប់ digiKam
Comment[lv]=DigiKam spraudnis eļļas gleznas efektam
Comment[nb]=digiKam programtillegg for oljemaleireffekter
Comment[nds]=digiKam-Moduul för Öölbildeffekten
Comment[ne]=डिजिक्यामका लागि आयल पेन्ट छवि प्रभाव प्लगइन
Comment[nl]=Digikam-plugin voor olieverfafbeeldingen
Comment[pl]=Wtyczka do programu digiKam zmniejszajÄca szum
Comment[pt]=Um 'plugin' do digiKam para simular uma pintura a óleo
Comment[pt_BR]=Plug-in do digiKam para criar efeito de imagem pintada à óleo
Comment[ro]=Modul digiKam pentru efectul de pictură în ulei a imaginii
Comment[ru]=Расширение digiKam для создания эффекта масляных красок
Comment[sk]=Zásuvný modul digiKam - Efekt olejomaľby
Comment[sv]=Digikam insticksprogram för oljemålningsbildeffekt
Comment[th]=ส่วนเสริมของ digiKam สำหรับลูกเล่นทำภาพให้เป็นภาพวาดสีน้ำมัน
Comment[tr]=digiKam için yağlı boya görüntü eklentisi
Comment[uk]=Втулка ефекту імітації малювання олійними фарбами digiKam
Comment[vi]=Bổ sung hiệu ứng ảnh son dầu cho digiKam
Comment[x-test]=xxOil paint image effect plugin for digiKamxx
Comment[zh_CN]=digiKam 油画图像效果插件
Comment[zh_TW]=digiKam 使用的油畫特效外掛程式

X-KDE-Library=digikamimageplugin_oilpaint
author=Gilles Caulier, caulier dot gilles at gmail dot com
