<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui version="6" name="digikamimageplugin_sheartool" >

 <MenuBar>

  <Menu name="Transform" ><text>Tra&amp;nsform</text>
   <Action name="imageplugin_sheartool" />
  </Menu>

 </MenuBar>

 <ToolBar name="mainToolBar" >
  <text>Main Toolbar</text>
 </ToolBar>

 <ActionProperties>
  <Action shortcut="" name="imageplugin_sheartool" />
 </ActionProperties>

</gui>
