[Desktop Entry]
Name=ImagePlugin_ShearTool

Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Shear tool plugin for digiKam

X-KDE-Library=digikamimageplugin_sheartool
author=Gilles Caulier, caulier dot gilles at free dot fr
