.navbar {
  min-height: 111px;
  background-image: linear-gradient(-186deg,#223c54 0,#01080F 55%);
  border-radius: 0px;
}

#app-name {
  text-shadow: #FFFFFF 0px 0px 35px;
  margin-top: 11px;
  color: rgba(255, 255, 255, 0.67);
}

#brand-img {
  width: 100px;
  height: 80px;
}

body {
  background-color: black;
  background-repeat: no-repeat;
  background-image: url("../images/body-background.jpg");
  background-size: cover;
  overflow-x: hidden;
}

#text-cont {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  min-height: 450px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.info-link {
  color: #084C84;
}

.info-link:hover {
  color: #206ADB;
  text-decoration: none;
}

#win-img-set {
  margin: 10px 0 10px 0;
}

.nav-tabs.nav-justified>li>a {
  color: #333;
  border-bottom: 1px solid #ddd;
  border-radius: 4px 4px 0 0;
}

ul > li {
  font-size: 18px;
}

#content {
  padding-top: 111px;
}