[Desktop Entry]
Comment=Yet another simple theme. Clean look with more image details.
Comment[bg]=Още един приятен изглед. Опростен и изчистен, с повече подробности за снимките.
Comment[bs]=Još jedna jednostavna tema. Čist izgled s više detalja slika.
Comment[ca]=Un altre tema senzill. Una aparença neta amb més detalls d'imatges.
Comment[ca@valencia]=Un altre tema senzill. Una aparença neta amb més detalls d'imatges.
Comment[cs]=Ještě další jednoduchý motiv.Čistý vzhled s více detaily obrázku.
Comment[da]=Endnu et simpelt tema. Rent udseende med flere billeddetaljer.
Comment[de]=Ein weiteres einfaches Design. Sauberer Aufbau mit mehr Bilddetails.
Comment[el]=Άλλο ένα απλό θέμα. Καθαρή όψη με περισσότερες λεπτομέρειες στην εικόνα.
Comment[en_GB]=Yet another simple theme. Clean look with more image details.
Comment[es]=Otro tema sencillo. De aspecto sobrio con más detalles de imagen.
Comment[et]=Veel üks lihtne teema. Puhas välimus täiendavate pildi üksikasjadega.
Comment[eu]=Beste gai bakun bat. Itxura garbikoa irudien xehetasun gehiagorekin.
Comment[fr]=Encore un autre thème simple. Apparence très simple avec plus de détails d'images.
Comment[gl]=Outro tema simple. Aspecto limpo con máis detalles das imaxes.
Comment[hu]=Még egy egyszerű téma. Tiszta megjelenés több képrészlettel.
Comment[is]=Enn eitt einfalt þema. Hreinlegt útlit með meiri myndupplýsingum.
Comment[it]=Un altro tema semplice. Aspetto pulito con più dettagli nelle immagini.
Comment[km]=នៅ​មាន​ស្បែក​ផ្សេង​ទៀត​ ។ មាន​លក្ខណៈ​ស្អាត​ ដោយ​មាន​សេចក្តី​​លម្អិត​អំពី​រូបភាព​ច្រើន​ទៀ​ត ។
Comment[ko]=또 다른 간단한 테마입니다. 그림 정보를 더 많이 표시합니다.
Comment[nb]=Enda et fint tema. Enkelt og rent med mere bildedetaljer.
Comment[nl]=Opnieuw een eenvoudig thema. Nette stijl met meer afbeeldingendetails.
Comment[pl]=Kolejny prosty wystrój. Schludny wygląd z większą ilością szczegółów obrazów.
Comment[pt]=Ainda mais outro tema bonito. De aparência sóbria e com mais detalhes de imagem.
Comment[pt_BR]=Ainda mais outro tema simples. Visual limpo, com mais detalhes de imagem.
Comment[ro]=Iată o altă tematică simplă. Aspect curat cu imagine mult mai detaliată.
Comment[ru]=Ещё одна простая тема. Удобный просмотр с подробной информацией об изображении.
Comment[sk]=Ďalšia pekná téma. Veľmi jednoduchý a čistý vzhľad s viacerými podrobnosťami obrázku.
Comment[sl]=Še ena preprosta tema. Čisti izgled z več podrobnosti o slikah.
Comment[sv]=Ytterligare ett enkelt tema. Rent utseende med fler bilddetaljer.
Comment[th]=ชุดตกแต่งที่เรียบง่ายและดูดีอีกแบบ ซึ่งมีรายละเอียดต่าง ๆ ของภาพมากกว่า
Comment[tr]=Bir diğer hoş tema.  Daha fazla resim ayrıntısı ile temiz görünüm.
Comment[uk]=Ще одна проста тема. Строгий вигляд з додатковими параметрами зображень.
Comment[x-test]=xxYet another simple theme. Clean look with more image details.xx
Comment[zh_CN]=另一款简洁的主题。干净且富含更多图像细节。
Comment[zh_TW]=還有另一個不錯的主題。非常簡單、清爽且顯示更多影像詳細資訊。
Icon=
Name=Details
Name[bg]=Подробности
Name[bs]=Detalji
Name[ca]=Detalls
Name[ca@valencia]=Detalls
Name[cs]=Podrobnosti
Name[da]=Detaljer
Name[de]=Details
Name[el]=Λεπτομέρειες
Name[en_GB]=Details
Name[eo]=Detaloj
Name[es]=Detalles
Name[et]=Üksikasjad
Name[eu]=Xehetasunak
Name[fi]=Yksityiskohdat
Name[fr]=Détails
Name[ga]=Mionsonraí
Name[gl]=Detalles
Name[hu]=Részletek
Name[is]=Nánar
Name[it]=Dettagli
Name[km]=សេចក្តី​លម្អិត
Name[ko]=자세한 테마
Name[lt]=Informacija
Name[mr]=तपशील
Name[nb]=Detaljer
Name[nl]=Details
Name[nn]=Detaljar
Name[pl]=Szczegóły
Name[pt]=Detalhes
Name[pt_BR]=Detalhes
Name[ro]=Detalii
Name[ru]=Подробная информация
Name[se]=Bienat
Name[sk]=Podrobnosti
Name[sl]=Podrobnosti
Name[sv]=Detaljer
Name[th]=รายละเอียด
Name[tr]=Ayrıntılar
Name[ug]=تەپسىلاتلار
Name[uk]=Подробиці
Name[x-test]=xxDetailsxx
Name[zh_CN]=精细
Name[zh_TW]=詳細資訊

[X-HTMLExport Author]
Name=Gianluca Urgese
Name[bg]=Gianluca Urgese
Name[bs]=Gianluca Urgese
Name[ca]=Gianluca Urgese
Name[ca@valencia]=Gianluca Urgese
Name[cs]=Gianluca Urgese
Name[da]=Gianluca Urgese
Name[de]=Gianluca Urgese
Name[el]=Gianluca Urgese
Name[en_GB]=Gianluca Urgese
Name[es]=Gianluca Urgese
Name[et]=Gianluca Urgese
Name[eu]=Gianluca Urgese
Name[fi]=Gianluca Urgese
Name[fr]=Gianluca Urgese
Name[gl]=Gianluca Urgese
Name[hu]=Gianluca Urgese
Name[is]=Gianluca Urgese
Name[it]=Gianluca Urgese
Name[km]=Gianluca Urgese
Name[ko]=Gianluca Urgese
Name[lt]=Gianluca Urgese
Name[nb]=Gianluca Urgese
Name[nl]=Gianluca Urgese
Name[pl]=Gianluca Urgese
Name[pt]=Gianluca Urgese
Name[pt_BR]=Gianluca Urgese
Name[ro]=Gianluca Urgese
Name[ru]=Gianluca Urgese
Name[sk]=Gianluca Urgese
Name[sl]=Gianluca Urgese
Name[sv]=Gianluca Urgese
Name[th]=Gianluca Urgese
Name[tr]=Gianluca Urgese
Name[uk]=Gianluca Urgese
Name[x-test]=xxGianluca Urgesexx
Name[zh_CN]=Gianluca Urgese
Name[zh_TW]=Gianluca 使用方法
Url=mailto:g.urgese@jaone.it

[X-HTMLExport Preview]
Name=Details screenshot
Name[bg]=Снимка на екрана с подробностите
Name[bs]=Izgled ekrana s detaljima
Name[ca]=Captura de pantalla dels detalls
Name[ca@valencia]=Captura de pantalla dels detalls
Name[cs]=Snímek podrobností
Name[da]=Skærmbillede af detaljer
Name[de]=Detail-Bildschirmfoto
Name[el]=Στιγμιότυπο με λεπτομέρειες
Name[en_GB]=Details screenshot
Name[es]=Pantallazo de los detalles
Name[et]=Üksikasjade pilt
Name[eu]=Pantailako argazkiaren xehetasunak
Name[fr]=Capture d'écran détaillée
Name[gl]=Detalles da captura de pantalla
Name[hu]=Részletes képernyőkép
Name[is]=Skjámynd af ítarlegu
Name[it]=Schermata di Dettagli
Name[km]=រូប​ថត​អេក្រង់​លម្អិត
Name[ko]=자세한 스크린샷
Name[lt]=Informacijos momentinė nuotrauka
Name[nb]=Skjermbilde av detaljer
Name[nl]=Details schermafdruk
Name[pl]=Zrzut ekranu szczegółów
Name[pt]=Imagem dos deetalhes
Name[pt_BR]=Imagem dos detalhes
Name[ro]=Captură de ecran detaliată
Name[ru]=Подробная информация о снимке экрана
Name[sk]=Snímka podrobností
Name[sl]=Zaslonska slika podrobnosti
Name[sv]=Skärmbild av Detaljer
Name[th]=รายละเอียดต่าง ๆ ของภาพหน้าจอที่จับได้
Name[tr]=Ekran görüntüsü ayrıntıları
Name[uk]=Знімок вікна подробиць
Name[x-test]=xxDetails screenshotxx
Name[zh_CN]=精细截图
Name[zh_TW]=詳細資訊畫面擷取
Url=preview.png

[X-HTMLExport Parameter footer]
Name=Footer information
Name[bg]=Данни в долния колонтитул
Name[bs]=Informacije o podnožju
Name[ca]=Informació del peu
Name[ca@valencia]=Informació del peu
Name[cs]=Informace v zápatí
Name[da]=Information i sidefod
Name[de]=Fußzeilen-Information
Name[el]=Πληροφορίες υποσέλιδου
Name[en_GB]=Footer information
Name[es]=Información del pie de imagen
Name[et]=Jaluse teave
Name[eu]=Orri-oinaren informazioa
Name[fr]=Informations de pied de page
Name[gl]=Información do rodapé
Name[hu]=Lábléc információ
Name[is]=Upplýsingar í neðanmáli
Name[it]=Informazioni sul piè di pagina
Name[km]=ព័ត៌មាន​អំពី​បាត​កថា
Name[ko]=꼬릿말 정보
Name[lt]=Poraštės informacija
Name[nb]=Bunntekst-informasjon
Name[nl]=Voettekstinformatie
Name[pl]=Informacja stopki
Name[pt]=Informação do rodapé
Name[pt_BR]=Informação do rodapé
Name[ro]=Informații postet
Name[ru]=Сведения в нижнем колонтитуле
Name[sk]=Informácia hlavičky
Name[sl]=Podatki v nogi
Name[sv]=Information i nederkant
Name[th]=ข้อมูลรายละเอียดส่วนท้ายหน้า
Name[tr]=Dipnot bilgisi
Name[uk]=Відомості нижнього колонтитула
Name[x-test]=xxFooter informationxx
Name[zh_CN]=页脚信息
Name[zh_TW]=頁尾資訊

Type=string
Default=My personal gallery <a href="mailto:email@mydomain.tld">email@mydomain.tld</a> - Powered by <a href="http://www.digikam.org/drupal/node/17">Kipi Plugins - HTMLExport</a>
