[Desktop Entry]
Name=ImagePlugin_FreeRotation
Name[it]=PluginImmagini_RotazioneLibera
Name[nl]=Afbeeldingplugin_VrijeRotatie
Name[pt]='Plugin' de Rotação Livre
Name[pt_BR]='Plugin' de Rotação Livre
Name[sv]=Insticksprogram för bildrotation

Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Free rotation plugin for digiKam
Comment[de]=digiKam Plugin zur freien Rotation von Bildern
Comment[fr]=Module externe de digiKam pour faire pivoter une image
Comment[it]=Plugin per la rotazione libera per digiKam
Comment[nl]=Digikam-effectplugin voor vrije rotatie
Comment[pt]='Plugin' de rotação livre para o digiKam
Comment[pt_BR]='Plugin' de rotação livre para o digiKam
Comment[sv]=Digikam insticksprogram för bildrotation
Comment[ta]=டிஜிகாமிற்கான எளிதாக சுழலும் செருகு பொருள்

X-KDE-Library=digikamimageplugin_freerotation
author=Gilles Caulier, caulier dot gilles at free dot fr
