[Desktop Entry]
Name=ImagePlugin_FreeRotation

Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Free rotation plugin for digiKam

X-KDE-Library=digikamimageplugin_freerotation
author=Gilles Caulier, caulier dot gilles at free dot fr
