[Desktop Entry]
Name=ImagePlugin_Refocus
Name[bg]=Приставка за снимки - Промяна на фокуса
Name[el]=ΠρόσθετοΕικόνας_Επανεστίαση
Name[hr]=Izmjena fokusa
Name[it]=PluginImmagini_RimettiAFuoco
Name[ms]=ImagePlugin_UlangFokus
Name[nl]=Afbeeldingsplugin_OpnieuwFocussen
Name[pt_BR]=Plug-in de re-foco da imagem
Name[sr]=Префокусирање
Name[sr@Latn]=Prefokusiranje
Name[sv]=Insticksprogram för omfokusering
Name[tr]=ResimEklentisi_Odakla
Name[xx]=xxImagePlugin_Refocusxx

Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=digiKam plugin to refocus an image
Comment[bg]=Приставка на digiKam за промяна фокуса на снимки
Comment[da]=digiKam-plugin til at refokusere et billede
Comment[de]=digiKam-Modul zum Refokussieren eines Bildes
Comment[el]=Πρόσθετο για την επανεστίαση μιας εικόνας για το digiKam
Comment[es]=Plugin de digiKam para refocalizar una imagen
Comment[et]=DigiKami pildi fookuse muutmise plugin
Comment[fr]=Module externe pour rendre une image nette (Refocus)
Comment[gl]=Un plugin de digiKam para refocalizar unha imaxe
Comment[hr]=digiKam dodatak za izmjenu fokusa slike
Comment[is]=Íforrit fyrir digiKam til að laga fókus mynda
Comment[it]=Plugin di digiKam per rimettere a fuoco un'immagine
Comment[ja]=digiKam フォーカス補正プラグイン
Comment[ms]=Plugin digiKam untuk ulang fokus sesuatu imej 
Comment[nl]=Digikam-plugin voor het opnieuw focussen van een afbeelding
Comment[pa]=ਚਿੱਤਰ ਨੂੰ ਮੁੜ-ਫੋਕਸ ਕਰਨ ਲਈ ਡਿਜ਼ੀਕੈਮ ਪਲੱਗਿੰਨ
Comment[pl]=Wtyczka do programu digiKam ponownie ogniskująca zdjęcie
Comment[pt]=Um 'plugin' do digiKam para voltar a focar uma imagem
Comment[pt_BR]=Plug-in de redefinição de foco em imagens para o digiKam
Comment[sk]=digiKam plugin pre zaostrenie obrázku
Comment[sr]=digiKam-ов прикључак за префокусирање слике
Comment[sr@Latn]=digiKam-ov priključak za prefokusiranje slike
Comment[sv]=Digikam insticksprogram för att fokusera om en bild
Comment[tr]=Bir resmi yeniden odaklamak için digiKam eklentisi
Comment[vi]=Bổ sung điều chỉnh lại tiêu điểm ảnh cho digiKam
Comment[xx]=xxdigiKam plugin to refocus an imagexx

X-KDE-Library=digikamimageplugin_refocus
author=Gilles Caulier, caulier dot gilles at free dot fr
