[Desktop Entry]
Name=Floating Cards
Name[bg]=Плаващи карти
Name[bs]=Tekuće kartice
Name[ca]=Targetes flotants
Name[ca@valencia]=Targetes flotants
Name[cs]=Plovoucí karty
Name[da]=Flydende kort
Name[de]=Schwebende Karten
Name[el]=Floating Cards
Name[en_GB]=Floating Cards
Name[es]=Cartas flotantes
Name[et]=Hõljuvad kaardid
Name[eu]=Txartel mugikorrak
Name[fr]=Cartes flottantes
Name[gl]=Tarxetas flutuantes
Name[hu]=Lebegő kártyák
Name[is]=Flotspjöld
Name[it]=Carte sparse
Name[km]=កាត​អថេរ
Name[ko]=떠다니는 카드
Name[lt]=Slankiojančios kortos
Name[lv]=Peldošās kartītes
Name[nb]=Flytende kort
Name[nl]=Drijvende kaarten
Name[pl]=Pływające karty
Name[pt]=Cartas Flutuantes
Name[pt_BR]=Cartas flutuantes
Name[ro]=Cartele flotante
Name[ru]=Всплывающие миниатюры
Name[sk]=Plávajúce karty
Name[sl]=Lebdeče kartice
Name[sv]=Svävande kort
Name[th]=แผงลอย
Name[tr]=Yüzen Kartlar
Name[uk]=Картки, що плавають
Name[x-test]=xxFloating Cardsxx
Name[zh_CN]=浮动卡片
Name[zh_TW]=紙牌浮空
Comment=A dark theme with floating thumbnail/description cards. Fast navigation through the gallery.
Comment[bg]=Тъмен изглед с плаващи карти с миниатюри и описания. Бързо прелистване на галериите.
Comment[bs]=Tamna tema s tekućim sličicama/karticama opisa. Brzo kretanje kroz galeriju.
Comment[ca]=Un tema fosc amb targetes de miniatures/descripcions flotants. Navegació ràpida per la galeria.
Comment[ca@valencia]=Un tema fosc amb targetes de miniatures/descripcions flotants. Navegació ràpida per la galeria.
Comment[cs]=Tmavý motiv s plovoucími kartami s náhledem / popisem. Rychlé prohledávání sbírky.
Comment[da]=Et mørkt tema med flydende kort med miniaturer/beskrivelse. Hurtig navigation gennem galleriet.
Comment[de]=Ein dunkles Design mit schwebenden Vorschaubilder und Beschreibungen. Schnelle Navigation durch die Galerie.
Comment[el]=Ένα σκούρο θέμα με επιπλέουσες κάρτες επισκόπησης/περιγραφής. Γρήγορη πλοήγηση στην πινακοθήκη.
Comment[en_GB]=A dark theme with floating thumbnail/description cards. Fast navigation through the gallery.
Comment[es]=Un tema oscuro con cartas flotantes de miniaturas/descripciones. Navegación rápida por la galería.
Comment[et]=Tume teema hõljuvate pisipildi/kirjelduskaartidega. Kiire liikumine galeriis.
Comment[eu]=Gai iluna koadro txiki edo azalpenen txartel mugikorrekin. Galerian zehar azkar nabigatzeko.
Comment[fr]=Un thème sombre avec des vignettes flottantes / cartes descriptives. Navigation rapide à la travers de la collection
Comment[gl]=Un tema escuro con tarxetas de miniatura/descrición flutuantes. Navegación rápida pola galería.
Comment[hu]=Egy sötét téma lebegő bélyegképpel/leíráskártyákkal. Gyors navigáció a galérián keresztül.
Comment[is]=Dökkt þema með smámyndaum og lýsingum á fljótandi spjöldum. Hröð fletting í gegnum myndasafn.
Comment[it]=Un tema scuro con carte descrittive e miniature sparse. Navigazione veloce nella galleria.
Comment[km]=ស្បែក​ខ្មៅ​ដែល​មាន​កាត​រូបភាព​តូច​ៗ​/សេចក្តី​ពិពណ៌នា​អថេរ​ ។ ការ​រុក​រក​រហ័ស​តាម​រយៈ​វិចិត្រ​សាល ។
Comment[ko]=떠다니는 미리 보기 그림/설명 카드가 있는 어두운 테마입니다. 갤러리로 빠른 탐색이 가능합니다.
Comment[lv]=Tumša tēma ar peldošām sīktēlu/apraksta kartītēm. Ātra navigācija cauri galerijai.
Comment[nb]=Et mørkt tema med flytende kort med minibilder/beskrivelser. Rask navigering gjennom galleriet.
Comment[nl]=Een donket thema met drijvende miniatuur/beschrijvingskaarten. Snelle navigatie door de galerij.
Comment[pl]=Ciemny wystrój z pływającymi miniaturkami/kartami opisu. Szybkie poruszanie się po galerii.
Comment[pt]=Um tema escuro com cartões com miniaturas/descrições. Navegação rápida pela galeria.
Comment[pt_BR]=Um tema escuro com cartas de miniatura/descrição flutuantes. Navegação rápida pela galeria.
Comment[ro]=O tematică întunecată cu miniaturi flotante/cartele descriptive. Navigare rapidă prin galerie.
Comment[ru]=Тёмное оформление со всплывающими панелями миниатюр, обеспечивающими быструю навигацию по галерее.
Comment[sk]=Tmavá téma s plávajúcimi kartami miniatúry/popisu. Rýchla navigácia cez galériu.
Comment[sl]=Temna tema z letečimi karticami sličic/opisov. Hitro krmarjenje skozi galerijo.
Comment[sv]=Ett mörkt tema med svävande miniatyrbilder och beskrivningar. Snabb navigering genom galleriet.
Comment[th]=ชุดตกแต่งโทนสีมืด โดยมีแผงแสดงภาพตัวอย่าง/รายละเอียดต่าง ๆ ซึ่งทำให้สามารถท่องดูแกลเลอรีได้อย่างรวดเร็ว
Comment[tr]=Yüzen küçük resim/açıklama kartları ile koyu bir tema. Galeri içerisinde hızlı gezinme.
Comment[uk]=Темна тема з картками мініатюр або описів, що неначебто плавають панеллю. Пришвидшує орієнтування у галереї.
Comment[x-test]=xxA dark theme with floating thumbnail/description cards. Fast navigation through the gallery.xx
Comment[zh_CN]=带有浮动缩略图/描述卡片的暗色调主题。快速导航画册。
Comment[zh_TW]=使用浮空縮圖/描述卡的暗色主題。快速瀏覽藝廊。

[X-HTMLExport Author]
Name=Jiří Boháč
Name[bg]=Jiří Boháč
Name[bs]=Jiří Boháč
Name[ca]=Jiří Boháč
Name[ca@valencia]=Jiří Boháč
Name[cs]=Jiří Boháč
Name[da]=Jiří Boháč
Name[de]=Jiří Boháč
Name[el]=Jiří Boháč
Name[en_GB]=Jiří Boháč
Name[es]=Jiří Boháč
Name[et]=Jiří Boháč
Name[eu]=Jiří Boháč
Name[fi]=Jiří Boháč
Name[fr]=Jiří Boháč
Name[gl]=Jiří Boháč
Name[hu]=Jiří Boháč
Name[is]=Jiří Boháč
Name[it]=Jiří Boháč
Name[km]=Jiří Boháč
Name[ko]=Jiří Boháč
Name[lt]=Jiří Boháč
Name[lv]=Jiří Boháč
Name[nb]=Jiří Boháč
Name[nds]=Jiří Boháč
Name[nl]=Jiří Boháč
Name[pa]=Jiří Boháč
Name[pl]=Jiří Boháč
Name[pt]=Jiří Boháč
Name[pt_BR]=Jiří Boháč
Name[ro]=Jiří Boháč
Name[ru]=Jiří Boháč
Name[sk]=Jiří Boháč
Name[sl]=Jiří Boháč
Name[sv]=Jiří Boháč
Name[th]=Jiří Boháč
Name[tr]=Jiří Boháč
Name[uk]=Jiří Boháč
Name[x-test]=xxJiří Boháčxx
Name[zh_CN]=Jiří Boháč
Name[zh_TW]=Jiří Boháč
Url=mailto:jiri@boha.cz

[X-HTMLExport Preview]
Name=Floating Cards
Name[bg]=Плаващи карти
Name[bs]=Tekuće kartice
Name[ca]=Targetes flotants
Name[ca@valencia]=Targetes flotants
Name[cs]=Plovoucí karty
Name[da]=Flydende kort
Name[de]=Schwebende Karten
Name[el]=Floating Cards
Name[en_GB]=Floating Cards
Name[es]=Cartas flotantes
Name[et]=Hõljuvad kaardid
Name[eu]=Txartel mugikorrak
Name[fr]=Cartes flottantes
Name[gl]=Tarxetas flutuantes
Name[hu]=Lebegő kártyák
Name[is]=Flotspjöld
Name[it]=Carte sparse
Name[km]=កាត​អថេរ
Name[ko]=떠다니는 카드
Name[lt]=Slankiojančios kortos
Name[lv]=Peldošās kartītes
Name[nb]=Flytende kort
Name[nl]=Drijvende kaarten
Name[pl]=Pływające karty
Name[pt]=Cartas Flutuantes
Name[pt_BR]=Cartas flutuantes
Name[ro]=Cartele flotante
Name[ru]=Всплывающие миниатюры
Name[sk]=Plávajúce karty
Name[sl]=Lebdeče kartice
Name[sv]=Svävande kort
Name[th]=แผงลอย
Name[tr]=Yüzen Kartlar
Name[uk]=Картки, що плавають
Name[x-test]=xxFloating Cardsxx
Name[zh_CN]=浮动卡片
Name[zh_TW]=紙牌浮空
Url=preview.png

[X-HTMLExport Options]
Allow non-square thumbnails=true

[X-HTMLExport Parameter keyboard_navigation]
Name=Keyboard & swipe navigation
Name[bs]=Navigacija tastaturom
Name[ca]=Navegació amb el teclat
Name[ca@valencia]=Navegació amb el teclat
Name[cs]=Ovládání pomocí klávesnice a swipe gest
Name[da]=Tastaturnavigation
Name[de]=Tastatur-Navigation
Name[el]=Πλοήγηση με πληκτρολόγιο
Name[en_GB]=Keyboard & swipe navigation
Name[es]=Navegación mediante teclado
Name[fr]=Navigation au clavier
Name[gl]=Navegación co teclado
Name[is]=Rötun á lyklaborði
Name[it]=Navigazione da tastiera
Name[ko]=키보드 탐색
Name[nl]=Navigatie met het toetsenbord
Name[pl]=Sterowanie z klawiatury
Name[pt]=Navegação com o teclado
Name[pt_BR]=Navegação com o teclado
Name[sk]=Navigácia klávesnicou
Name[sl]=Krmarjenje s tipkovnico
Name[sv]=Tangentbordsnavigering
Name[tr]=Klavye gezintisi
Name[uk]=Навігація за допомогою клавіатури
Name[x-test]=xxKeyboard navigationxx
Type=list
Default=1
Value_0=1
Caption_0=On
Caption_0[en_GB]=On
Caption_0[en_US]=On
Caption_0[cz]=Zapnuto
Caption_0[de]=Ein
Value_1=0
Caption_1=Off
Caption_1[en_GB]=Off
Caption_1[en_US]=Off
Caption_1[cz]=Vypnuto
Caption_1[de]=Aus

[X-HTMLExport Parameter preload]
Name=Preload
Name[bs]=Prethodno učitavanje
Name[ca]=Càrrega prèvia
Name[ca@valencia]=Càrrega prèvia
Name[cs]=Předem načíst
Name[da]=Forudindlæs
Name[de]=Vorwegladen
Name[el]=Προφόρτωση
Name[en_GB]=Preload
Name[es]=Carga previa
Name[fr]=Préchargement
Name[gl]=Precargar
Name[is]=Forhlaða
Name[it]=Precaricamento
Name[ko]=미리 불러오기
Name[nl]=vooraf laden
Name[pl]=Wstępne wczytanie
Name[pt]=Pré-Carregar
Name[pt_BR]=Pré-carregar
Name[sk]=Predčítať
Name[sl]=Prednaloži
Name[sv]=Läs in i förväg
Name[tr]=Önyükleme
Name[uk]=Попереднє завантаження
Name[x-test]=xxPreloadxx
Type=list
Default=1
Value_0=1
Caption_0=Yes
Caption_0[en_GB]=Yes
Caption_0[en_US]=Yes
Caption_0[cz]=Ano
Caption_0[de]=Ja
Value_1=0
Caption_1=No
Caption_1[en_GB]=No
Caption_1[en_US]=No
Caption_1[cz]=Ne
Caption_1[de]=Nein
