<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui version="600" name="lighttablewindow" translationDomain="digikam" >
<!-- NOTE: don't forget to increase version ID when this file is modified -->

<MenuBar>

    <Menu name="File" ><text>&amp;File</text>
        <Action name="lighttable_first" />
        <Action name="lighttable_backward" />
        <Action name="lighttable_forward" />
        <Action name="lighttable_last" />
        <Separator/>
        <Action name="lighttable_setitemleft" />
        <Action name="lighttable_setitemright" />
        <Action name="lighttable_edititem" />
        <Separator/>
        <Action name="open_with_default_application" />
        <Separator/>
        <Action name="lighttable_removeitem" />
        <Action name="lighttable_clearlist" />
        <Separator/>
        <Action name="lighttable_filedelete" />
        <Separator/>
        <Action name="lighttable_close" />
    </Menu>

    <Menu name="View" ><text>&amp;View</text>
        <Action name="lighttable_fullscreen" />
        <Action name="lighttable_slideshow" />
        <Action name="presentation" />
        <Separator/>
        <Action name="lighttable_syncpreview" />
        <Action name="lighttable_navigatebypair" />
        <Separator/>
        <Menu name="LeftPanel"><text>&amp;Left Panel</text>
            <Action name="lighttable_zoomplus_left" />
            <Action name="lighttable_zoomminus_left" />
            <Action name="lighttable_zoomto100percents_left" />
            <Action name="lighttable_zoomfit2window_left" />
        </Menu>
        <Menu name="RightPanel"><text>&amp;Right Panel</text>
            <Action name="lighttable_zoomplus_right" />
            <Action name="lighttable_zoomminus_right" />
            <Action name="lighttable_zoomto100percents_right" />
            <Action name="lighttable_zoomfit2window_right" />
        </Menu>
        <Separator />
        <Action name="color_managed_view" />
    </Menu>

    <Menu name="Tools"><text>&amp;Tools</text>
        <Action name="metadata_edit" />
        <Action name="geolocation_edit" />
        <Separator/>
        <Action name="expoblending" />
        <Action name="panorama" />
        <Action name="htmlgallery" />
        <Action name="calendar" />
        <Action name="videoslideshow" />
        <Action name="sendbymail" />
        <Action name="printcreator" />
        <Action name="mediaserver" />
    </Menu>

    <Menu name="Import"><text>I&amp;mport</text>
        <Action name="import_scan" />
        <Separator/>
        <Action name="import_googlephoto" />
        <Action name="import_smugmug" />
        <Action name="import_filetransfer" />
    </Menu>

    <Menu name="Export"><text>&amp;Export</text>
        <Action name="export_dropbox" />
        <Action name="export_facebook" />
        <Action name="export_flickr" />
        <Action name="export_googledrive" />
        <Action name="export_googlephoto" />
        <Action name="export_imageshack" />
        <Action name="export_imgur" />
        <Action name="export_rajce" />
        <Action name="export_smugmug" />
        <Action name="export_yandexfotki" />
        <Action name="export_mediawiki" />
        <Action name="export_vkontakte" />
        <Action name="export_filetransfer" />
    </Menu>

    <Menu name="settings" noMerge="1"><Text>&amp;Settings</Text>
        <Merge name="StandardToolBarMenuHandler" />
        <Action name="options_show_menubar" />
        <Action name="options_show_statusbar" />
        <Action name="options_show_toolbar" />
        <Action name="lighttable_showthumbbar" />
        <Separator/>
        <Action name="theme_menu" />
        <Action name="options_configure_keybinding" />
        <Action name="options_configure_toolbars" />
        <Action name="options_configure_notifications" />
        <Action name="options_configure" />
    </Menu>

    <Menu name="help" ><text>&amp;Help</text>
        <Action name="help_rawcameralist" />
        <Action name="help_librariesinfo" />
        <Action name="help_dbstat" />
        <Separator/>
        <Action name="help_donatemoney" />
        <Action name="help_contribute" />
        <Action name="help_handbook" />
    </Menu>

    <Merge/>

</MenuBar>

<ToolBar name="mainToolBar" ><text>Main Toolbar</text>
     <Action name="lighttable_first" />
     <Action name="lighttable_backward" />
     <Action name="lighttable_forward" />
     <Action name="lighttable_last" />
     <Separator/>
     <Action name="lighttable_zoomplus" />
     <Action name="lighttable_zoomminus" />
     <Action name="lighttable_zoomfit2window" />
     <Separator/>
     <Action name="lighttable_setitemleft" />
     <Action name="lighttable_setitemright" />
     <Action name="lighttable_syncpreview" />
     <Action name="lighttable_navigatebypair" />
     <Separator/>
     <Action name="lighttable_fullscreen" />
     <Action name="lighttable_slideshow" />
     <Merge />
     <WeakSeparator/>
     <Action name="logo_action" />
 </ToolBar>

<ActionProperties/>

</gui>
