[Desktop Entry]
Name=Snow
Comment=A perfect match for your mountain holidays

[X-HTMLExport Author]
Name=Aurélien Gâteau
Url=mailto:aurelien.gateau@free.fr

[X-HTMLExport Preview]
Name=Snow
Url=preview.png
