[Desktop Entry]
Name=Snow
Name[bg]=Сняг
Name[bs]=Snijeg
Name[ca]=Neu
Name[ca@valencia]=Neu
Name[cs]=Sníh
Name[da]=Snow
Name[de]=Schnee
Name[el]=Χιόνι
Name[en_GB]=Snow
Name[eo]=Neĝo
Name[es]=Nieve
Name[et]=Lumi
Name[eu]=Elurra
Name[fr]=Neige
Name[ga]=Sneachta
Name[gl]=Neve
Name[he]=שלג
Name[hne]=बर्फीला
Name[hu]=Havas táj
Name[is]=Snjór
Name[it]=Neve
Name[ja]=雪 (Snow)
Name[km]=ព្រិល
Name[ko]=눈
Name[lt]=Sniegas
Name[lv]=Sniegs
Name[mai]=बर्फबारी
Name[nb]=Snø
Name[nds]=Snee
Name[nl]=Snow
Name[oc]=Nèu
Name[pa]=ਬਰਫ਼
Name[pl]=Śnieg
Name[pt]=Neve
Name[pt_BR]=Neve
Name[ro]=Zăpadă
Name[ru]=Снег
Name[sk]=Sneh
Name[sl]=Sneg
Name[sq]=Borë
Name[sv]=Snö
Name[th]=หิมะ
Name[tr]=Kar
Name[ug]=قار
Name[uk]=Сніг
Name[x-test]=xxSnowxx
Name[zh_CN]=雪
Name[zh_TW]=雪
Comment=A perfect match for your mountain holidays
Comment[bg]=Подхождащо за снимки от планинските ви почивки
Comment[bs]=Savršeno usaglašeno s vašim odmorom na planini.
Comment[ca]=Una coincidència perfecta per a les vostres vacances de muntanya
Comment[ca@valencia]=Una coincidència perfecta per a les vostres vacances de muntanya
Comment[cs]=Perfektně odpovídá vaší dovolené na horách
Comment[da]=Passer perfekt til din ferie i bjergene
Comment[de]=Passt perfekt zu Ihrem letzten Urlaub in den Bergen
Comment[el]=Ταιριαστό για τις χειμερινές σας διακοπές
Comment[en_GB]=A perfect match for your mountain holidays
Comment[es]=Una correspondencia perfecta para sus vacaciones en la montaña
Comment[et]=Sobib suurepäraselt mägipuhkuse piltidele
Comment[eu]=Mendiko oporretakoekin bat datorrena
Comment[fr]=Parfait pour vos vacances à la montagne
Comment[gl]=Unha escolla perfecta para as vacacións na montaña
Comment[he]=התאמה מושלמת לחופשה בהרים
Comment[hne]=आप मन के पहाड़ी छुट्टी बर बढ़िया मैच
Comment[hu]=Egy tökéletes találat a hegyi szabadsághoz
Comment[is]=Passar vel fyrir myndirnar úr skíðafríinu
Comment[it]=Perfetto per le settimane bianche
Comment[ja]=冬山での休日にぴったりのテーマ
Comment[km]=កា​រផ្គូផ្គង​ឥតខ្ចោះ​សម្រាប់​ថ្ងៃ​ឈប់​សម្រាក​របស់​អ្នក
Comment[ko]=눈 오는 날 사진을 위한 테마
Comment[lv]=Perfekti der brīvdienām kalnos
Comment[nb]=Passer perfekt til ferien på fjellet
Comment[nds]=Passt akraat för Dien Oorlööf in de Bargen
Comment[nl]=Perfect voor uw skivakanties
Comment[pa]=ਤੁਹਾਡੀਆਂ ਪਹਾੜੀਆਂ ਛੁੱਟੀਆਂ ਨਾਲ ਸਭ ਵਧੀਆ ਮੇਲ
Comment[pl]=Perfekcyjnie pasuje do twoich wakacji w górach
Comment[pt]=Uma correspondência perfeita às suas férias na montanha
Comment[pt_BR]=Uma correspondência perfeita às suas férias na montanha
Comment[ro]=Perfect pentru vacanțele voastre la munte
Comment[ru]=Превосходно подходит к отдыху на горном курорте
Comment[sk]=Vynikajúco sa hodí k prázdninám na horách
Comment[sl]=Odlično ujemanje z vašimi počitnicami v hribih
Comment[sq]=Një përputhje perfekte për pushimet tuaja në mal
Comment[sv]=Passar perfekt ihop med din skidsemester
Comment[th]=เข้ากันได้อย่างสมบูรณ์กับการท่องเที่ยวบนภูเขาในวันหยุดของคุณ
Comment[tr]=Dağ gezintileriniz için mükemmel bir tercih
Comment[uk]=Прекрасно пасує до вашої відпустки в горах
Comment[x-test]=xxA perfect match for your mountain holidaysxx
Comment[zh_CN]=完美呈现您的游山玩水
Comment[zh_TW]=完美符合您的滑雪假期

[X-HTMLExport Author]
Name=Aurélien Gâteau
Name[bg]=Aurélien Gâteau
Name[bs]=Aurélien Gâteau
Name[ca]=Aurélien Gâteau
Name[ca@valencia]=Aurélien Gâteau
Name[cs]=Aurélien Gâteau
Name[da]=Aurélien Gâteau
Name[de]=Aurélien Gâteau
Name[el]=Aurélien Gâteau
Name[en_GB]=Aurélien Gâteau
Name[eo]=Aurélien Gâteau
Name[es]=Aurélien Gâteau
Name[et]=Aurélien Gâteau
Name[eu]=Aurélien Gâteau
Name[fi]=Aurélien Gâteau
Name[fr]=Aurélien Gâteau
Name[ga]=Aurélien Gâteau
Name[gl]=Aurélien Gâteau
Name[he]=אורליאן גאטו
Name[hne]=आरेलियन गातेवू
Name[hu]=Aurélien Gâteau
Name[is]=Aurélien Gâteau
Name[it]=Aurélien Gâteau
Name[ja]=Aurélien Gâteau
Name[km]=Aurélien Gâteau
Name[ko]=Aurélien Gâteau
Name[lt]=Aurélien Gâteau
Name[lv]=Aurélien Gâteau
Name[mr]=ओरेलीन गेत्यू
Name[nb]=Aurélien Gâteau
Name[nds]=Aurélien Gâteau
Name[nl]=Aurélien Gâteau
Name[pa]=Aurélien Gâteau
Name[pl]=Aurélien Gâteau
Name[pt]=Aurélien Gâteau
Name[pt_BR]=Aurélien Gâteau
Name[ro]=Aurélien Gâteau
Name[ru]=Aurélien Gâteau
Name[sk]=Aurélien Gâteau
Name[sl]=Aurélien Gâteau
Name[sq]=Aurélien Gâteau
Name[sv]=Aurélien Gâteau
Name[th]=Aurélien Gâteau
Name[tr]=Aurélien Gâteau
Name[ug]=Aurélien Gâteau
Name[uk]=Aurélien Gâteau
Name[x-test]=xxAurélien Gâteauxx
Name[zh_CN]=Aurélien Gâteau
Name[zh_TW]=Aurélien Gâteau
Url=mailto:aurelien.gateau@free.fr

[X-HTMLExport Preview]
Name=Snow
Name[bg]=Сняг
Name[bs]=Snijeg
Name[ca]=Neu
Name[ca@valencia]=Neu
Name[cs]=Sníh
Name[da]=Snow
Name[de]=Schnee
Name[el]=Χιόνι
Name[en_GB]=Snow
Name[eo]=Neĝo
Name[es]=Nieve
Name[et]=Lumi
Name[eu]=Elurra
Name[fr]=Neige
Name[ga]=Sneachta
Name[gl]=Neve
Name[he]=שלג
Name[hne]=बर्फीला
Name[hu]=Havas táj
Name[is]=Snjór
Name[it]=Neve
Name[ja]=雪 (Snow)
Name[km]=ព្រិល
Name[ko]=눈
Name[lt]=Sniegas
Name[lv]=Sniegs
Name[mai]=बर्फबारी
Name[nb]=Snø
Name[nds]=Snee
Name[nl]=Snow
Name[oc]=Nèu
Name[pa]=ਬਰਫ਼
Name[pl]=Śnieg
Name[pt]=Neve
Name[pt_BR]=Neve
Name[ro]=Zăpadă
Name[ru]=Снег
Name[sk]=Sneh
Name[sl]=Sneg
Name[sq]=Borë
Name[sv]=Snö
Name[th]=หิมะ
Name[tr]=Kar
Name[ug]=قار
Name[uk]=Сніг
Name[x-test]=xxSnowxx
Name[zh_CN]=雪
Name[zh_TW]=雪
Url=preview.png
