[Desktop Entry]
Comment=Yet another nice theme. Very simple and clean look with "calligraphics" icons.
Icon=
Name=S0

[X-HTMLExport Author]
Name=Petr Vaněk
Url=mailto:petr@scribus.info

[X-HTMLExport Preview]
Name=S0
Url=preview.png
