[Desktop Entry]
Comment=Yet another nice theme. Very simple and clean look with "calligraphics" icons.
Comment[bg]=Още един приятен изглед. Опристен и изчистен, с "калиграфски" икони.
Comment[bs]=Još jedna lijepa tema. Jednostavan i čist izgled s "kaligrafskim" ikonama.
Comment[ca]=Un altre tema agradable. Amb una aparença molt simple i neta amb icones «cal·ligràfiques».
Comment[ca@valencia]=Un altre tema agradable. Amb una aparença molt simple i neta amb icones «cal·ligràfiques».
Comment[cs]=Ještě další hezký motiv. Velmi jednoduchý a dokonale vypadající s "kaligrafickými" ikonami.
Comment[da]=Yderligere et pænt tema. Meget enkelt og rent udseende med "kalligrafiske" ikoner.
Comment[de]=Ein weiteres schönes Design. Sehr einfacher und sauberer Aufbau mit „kalligrafischen“ Symbolen.
Comment[el]=Άλλο ένα όμορφο θέμα. Πολύ απλή και καθαρή όψη με εικονίδια "calligraphics".
Comment[en_GB]=Yet another nice theme. Very simple and clean look with "calligraphics" icons.
Comment[es]=Otro bonito tema. De aspecto sobrio y sencillo con iconos «calligraphics».
Comment[et]=Veel üks kena teema. Väga lihtne ja puhas välimust "kalligraafiliste" ikoonidega.
Comment[eu]=Beste gai polit bat. Oso bakuna eta itxura garbikoa ikono "kaligrafikoekin".
Comment[fr]=Encore un autre thème agréable. Apparence très simple et clair avec des icônes calligraphiques.
Comment[gl]=Outro tema bonito. Ten un aspecto moi simple e elegante con iconas «caligráficas».
Comment[he]=עוד ערכה נחמדה. מראה מאד פשוט ונקי עם סמלוני "calligraphics".
Comment[hne]=एक अउ सुंदर थीम. बहुत सादा अउ साफ दिखत "केलिग्राफिक्स" चिनहा के साथ.
Comment[hu]=Még egy szép téma. Nagyon egyszerű és tiszta megjelenés „calligraphics” ikonokkal.
Comment[is]=Enn eitt þægilegt þema. Einfalt og hreinlegt útlit með "skrautskriftar" táknmyndum.
Comment[it]=Un altro bel tema. Aspetto semplice e pulito con icone «calligrafiche».
Comment[ja]=もう一つの素晴しいテーマ。書道のアイコンを使った非常にシンプルですっきりしたテーマ。
Comment[km]=មាន​ស្បែក​ដ៏​ស្អាត​ផ្សេង​ទៀត ។ មើល​ទៅ​ធម្មតា និង​ស្អាត​​បំផុត​ជាមួយ​រូបតំណាង "calligraphics"
Comment[ko]="calligraphics" 아이콘을 사용하는 깔끔한 테마입니다.
Comment[lv]=Vēl viena jauka tēma. Ļoti vienkārša un tīra ar "kaligrāfijas" ikonām.
Comment[nb]=Enda et fint tema. Enkelt og rent med «kalligrafiske» ikoner.
Comment[nl]=Opnieuw een mooi thema. Heel eenvoudig en een nette stijl met "calligraphics"-pictogrammen.
Comment[pl]=Kolejny prosty wystrój. Bardzo prosty i schludny wygląd z ikonami "calligraphics".
Comment[pt]=Ainda mais outro tema bonito. Muito simples e de aparência sóbria com ícones "caligráficos".
Comment[pt_BR]=Ainda mais outro tema bonito. Muito simples e de aparência sóbria com ícones "caligráficos".
Comment[ro]=Iată încă o tematică plăcută. Aspect foarte simplu și curat cu pictograme „caligrafiate”.
Comment[ru]=Ещё одна приятная тема. Очень простая, с использованием значков «calligraphics».
Comment[sk]=Ďaľšia pekná téma. Veľmi jednoduchý a čistý vzhľad s "kaligrafickými" ikonami.
Comment[sl]=Še ena lepa tema. Zelo preprosti in čisti izgled s kaligrafičnimi ikonami.
Comment[sq]=Një temë tjetër e këndëshme. Shumë e thjeshtë dhe me pamje të pastër me ikona "kaligrafike".
Comment[sv]=Ytterligare ett trevligt tema. Mycket enkelt och rent utseende med "kalligrafiska" ikoner.
Comment[th]=ชุดตกแต่งที่ดูดีอีกแบบ ซึ่งดูเรียบง่ายและสะอาด ด้วยชุดไอคอน "calligraphics"
Comment[tr]=Bir diğer hoş tema.  "calligraphics" ikonlarıyla çok sade ve ferah görünüm.
Comment[uk]=Ще одна гарна тема. Дуже простий і строгий вигляд з «каліграфічними» піктограмами.
Comment[x-test]=xxYet another nice theme. Very simple and clean look with "calligraphics" icons.xx
Comment[zh_CN]=另一个漂亮的主题。十分简洁，带有“calligraphics”图标。
Comment[zh_TW]=還有一個不錯的主題。非常簡單、清爽看起來像「書法」圖示。
Icon=
Name=S0
Name[bg]=S0
Name[bs]=S0
Name[ca]=S0
Name[ca@valencia]=S0
Name[cs]=S0
Name[da]=S0
Name[de]=S0
Name[el]=S0
Name[en_GB]=S0
Name[eo]=S0
Name[es]=S0
Name[et]=S0
Name[eu]=S0
Name[fi]=S0
Name[fr]=S0
Name[ga]=S0
Name[gl]=S0
Name[he]=S0
Name[hne]=एसओ
Name[hu]=S0
Name[is]=S0
Name[it]=S0
Name[ja]=S0
Name[km]=S0
Name[ko]=S0
Name[lt]=S0
Name[lv]=S0
Name[mr]=S0
Name[nb]=S0
Name[nl]=S0
Name[pa]=S0
Name[pl]=S0
Name[pt]=S0
Name[pt_BR]=S0
Name[ro]=S0
Name[ru]=S0
Name[sk]=S0
Name[sl]=S0
Name[sq]=S0
Name[sv]=S0
Name[th]=รูปแบบ S0
Name[tr]=S0
Name[uk]=S0
Name[x-test]=xxS0xx
Name[zh_CN]=S0
Name[zh_TW]=S0

[X-HTMLExport Author]
Name=Petr Vaněk
Name[ast]=Petr Vaněk
Name[bg]=Petr Vaněk
Name[bs]=Petr Vaněk
Name[ca]=Petr Vaněk
Name[ca@valencia]=Petr Vaněk
Name[cs]=Petr Vaněk
Name[da]=Petr Vaněk
Name[de]=Petr Vaněk
Name[el]=Petr Vaněk
Name[en_GB]=Petr Vaněk
Name[eo]=Petr Vaněk
Name[es]=Petr Vaněk
Name[et]=Petr Vaněk
Name[eu]=Petr Vaněk
Name[fi]=Petr Vaněk
Name[fr]=Petr Vaněk
Name[ga]=Petr Vaněk
Name[gl]=Petr Vaněk
Name[he]=פטר וניק
Name[hne]=पीटर वानेक
Name[hu]=Petr Vaněk
Name[is]=Petr Vaněk
Name[it]=Petr Vaněk
Name[ja]=Petr Vaněk
Name[km]=Petr Vaněk
Name[ko]=Petr Vaněk
Name[lt]=Petr Vaněk
Name[lv]=Petr Vaněk
Name[nb]=Petr Vaněk
Name[nds]=Petr Vaněk
Name[nl]=Petr Vaněk
Name[pa]=Petr Vaněk
Name[pl]=Petr Vaněk
Name[pt]=Petr Vaněk
Name[pt_BR]=Petr Vaněk
Name[ro]=Petr Vaněk
Name[ru]=Petr Vaněk
Name[sk]=Petr Vaněk
Name[sl]=Petr Vaněk
Name[sq]=Petr Vaněk
Name[sv]=Petr Vaněk
Name[th]=Petr Vaněk
Name[tr]=Petr Vaněk
Name[uk]=Petr Vaněk
Name[x-test]=xxPetr Vaněkxx
Name[zh_CN]=Petr Vaněk
Name[zh_TW]=Petr Vaněk
Url=mailto:petr@scribus.info

[X-HTMLExport Preview]
Name=S0
Name[bg]=S0
Name[bs]=S0
Name[ca]=S0
Name[ca@valencia]=S0
Name[cs]=S0
Name[da]=S0
Name[de]=S0
Name[el]=S0
Name[en_GB]=S0
Name[eo]=S0
Name[es]=S0
Name[et]=S0
Name[eu]=S0
Name[fi]=S0
Name[fr]=S0
Name[ga]=S0
Name[gl]=S0
Name[he]=S0
Name[hne]=एसओ
Name[hu]=S0
Name[is]=S0
Name[it]=S0
Name[ja]=S0
Name[km]=S0
Name[ko]=S0
Name[lt]=S0
Name[lv]=S0
Name[mr]=S0
Name[nb]=S0
Name[nl]=S0
Name[pa]=S0
Name[pl]=S0
Name[pt]=S0
Name[pt_BR]=S0
Name[ro]=S0
Name[ru]=S0
Name[sk]=S0
Name[sl]=S0
Name[sq]=S0
Name[sv]=S0
Name[th]=รูปแบบ S0
Name[tr]=S0
Name[uk]=S0
Name[x-test]=xxS0xx
Name[zh_CN]=S0
Name[zh_TW]=S0
Url=preview.png
