[Desktop Entry]
Name=8 x 10" (1 photo)
Name[bg]=8x10 инча (1 снимка)
Name[bs]=8 x 10" (1 slika)
Name[ca]=8 x 10" (1 foto)
Name[ca@valencia]=8 x 10" (1 foto)
Name[cs]=8 x 10" (1 fotografie)
Name[da]=8 x 10" (1 foto)
Name[de]=8 × 10" (1 Foto)
Name[el]=8 x 10" (1 φωτογραφία)
Name[en_GB]=8 x 10" (1 photo)
Name[es]=8 x 10" (1 fotografía)
Name[et]=8x10" (1 foto)
Name[eu]=8 x 10" (argazki 1)
Name[fi]=8 × 10" (1 kuva)
Name[fr]=8 x 10 pouces (1 photo)
Name[gl]=8 x 10" (1 foto)
Name[hu]=8x10" (1 fénykép
Name[is]=8 x 10" (1 mynd)
Name[it]=8×10" (1 foto)
Name[km]=៨ x ១០​" (១ រូប​ថត)
Name[ko]=8 x 10"(사진 1장)
Name[lv]=8 x 10" (1 fotogrāfija)
Name[nb]=8 x 10" (1 bilde)
Name[nds]=8 x 10 Toll (1 Foto)
Name[nl]=8 x 10" (1 foto)
Name[pa]=8 x 10" (1 ਫੋਟੋ)
Name[pl]=8 x 10" (1 zdjęcie)
Name[pt]=8 x 10" (1 fotografia)
Name[pt_BR]=8 x 10" (1 foto)
Name[ro]=8 x 10" (1 poză)
Name[ru]=8×10 дюймов (1 фотография)
Name[sk]=8 x 10" (1 fotka)
Name[sl]=8 x 10 palcev (1 fotografija)
Name[sv]=8 x 10" (1 foto)
Name[th]=8 x 10 นิ้ว (ภาพถ่าย 1 ภาพ)
Name[tr]=8 x 10" (1 fotoğraf)
Name[uk]=8×10" (1 фотографія)
Name[x-test]=xx8 x 10" (1 photo)xx
Name[zh_CN]=8 x 10" (1 张照片)
Name[zh_TW]=8 x 10" (1 張照片)

