[Desktop Entry]
Name=10.5x14.8 cm (1 photo)
Name[bg]=10.5x14.8 см. (1 снимка)
Name[bs]=10.5x14.8 cm (1 slika)
Name[ca]=10,5x14,8 cm (1 foto)
Name[ca@valencia]=10,5x14,8 cm (1 foto)
Name[cs]=10.5x14.8 cm (1 fotografie)
Name[da]=10.5x14.8 cm (1 foto)
Name[de]=10.5×14.8 cm (1 Foto)
Name[el]=10.5x14.8 εκ (1 φωτογραφία)
Name[en_GB]=10.5x14.8 cm (1 photo)
Name[es]=10,5x14,8 cm (1 fotografía))
Name[et]=10,5x14,8 cm (1 foto)
Name[eu]=10.5x14.8 cm (argazki 1)
Name[fi]=10,5 × 14,8 cm (1 kuva)
Name[fr]=10.5 x 14.8 cm (1 photo)
Name[gl]=10,5x14,8 cm (1 foto)
Name[hu]=10,5x14,8 cm (1 fénykép)
Name[is]=10.5x14.8 cm (1 mynd)
Name[it]=10,5×14,8 cm (1 foto)
Name[km]=១០.៥x១៤.៨ ស.ម.​ (១ រូប​ថត)
Name[ko]=10.5x14.8cm(사진 1장)
Name[lv]=10.5x14.8 cm (1 fotogrāfija)
Name[nb]=10.5x14.8 cm (1 bilde)
Name[nds]=10,5 x 14,8 cm (1 Foto)
Name[nl]=10.5x14.8 cm (1 foto)
Name[pa]=10.5x14.8 cm (1 ਫੋਟੋ)
Name[pl]=10.5x14.8 cm (1 zdjęcie)
Name[pt]=10,5x14,8 cm (1 fotografia)
Name[pt_BR]=10,5x14,8 cm (1 foto)
Name[ro]=10,5 x 14,8 cm (1 poză)
Name[ru]=10,5×14,8 см (1 фотография)
Name[sk]=10.5x14.8 cm (1 fotka)
Name[sl]=10.5x14.8 cm (1 fotografija)
Name[sv]=10,5 x 14,8 cm (1 foto)
Name[th]=10.5x14.8 ซ.ม. (ภาพถ่าย 1 ภาพ)
Name[tr]=10.5x14.8 cm (1 fotoğraf)
Name[uk]=10,5×14,8 см (1 фото)
Name[x-test]=xx10.5x14.8 cm (1 photo)xx
Name[zh_CN]=10.5x14.8 cm (1 张照片)
Name[zh_TW]=10.5x14.8 cm (1 張照片)

