[Desktop Entry]
Name=20x25 cm (1 photo)
Name[bg]=20x25 см. (1 снимка)
Name[bs]=20x25 cm (1 slika)
Name[ca]=20x25 cm (1 foto)
Name[ca@valencia]=20x25 cm (1 foto)
Name[cs]=20x25 cm (1 fotografie)
Name[da]=20x25 cm (1 foto)
Name[de]=20×25 cm (1 Foto)
Name[el]=20x25 εκ (1 φωτογραφία)
Name[en_GB]=20x25 cm (1 photo)
Name[es]=20x25 cm (1 fotografía)
Name[et]=20x25 cm (1 foto)
Name[eu]=20x25 cm (argazki 1)
Name[fi]=20 × 25 cm (1 kuva)
Name[fr]=20 x 25 cm (1 photo)
Name[gl]=20x25 cm (1 foto)
Name[hu]=20x25 cm (1 fénykép)
Name[is]=20x25 cm (1 mynd)
Name[it]=20×25 cm (1 foto)
Name[km]=២០x២៥ ស.ម.​ ​(១ រូប​ថត)
Name[ko]=20x25cm(사진 1장)
Name[lv]=20x25 cm (1 fotogrāfija)
Name[nb]=20x25 cm (1 bilde)
Name[nds]=20 x 25 cm (1 Foto)
Name[nl]=20x25 cm (1 foto)
Name[pa]=20x25 cm (1 ਫੋਟੋ)
Name[pl]=20x25 cm (1 zdjęcie)
Name[pt]=20x25 cm (1 fotografia)
Name[pt_BR]=20x25 cm (1 foto)
Name[ro]=20 x 25 cm (1 poză)
Name[ru]=20×25 см (1 фотография)
Name[sk]=20x25 cm (1 fotka)
Name[sl]=20x25 cm (1 fotografija)
Name[sv]=20 x 25 cm (1 foto)
Name[th]=20x25 ซ.ม. (ภาพถ่าย 1 ภาพ)
Name[tr]=20x25 cm (1 fotoğraf)
Name[uk]=20×25 см (1 фотографія)
Name[x-test]=xx20x25 cm (1 photo)xx
Name[zh_CN]=20x25 cm (1 张照片)
Name[zh_TW]=20x25 cm (1 張照片)

