[Desktop Entry]
Name=10x15 cm (1 photo)
Name[bg]=10x15 см. (1 снимка)
Name[bs]=10x15 cm (1 slika)
Name[ca]=10x15 cm (1 foto)
Name[ca@valencia]=10x15 cm (1 foto)
Name[cs]=10x15 cm (1 fotografie)
Name[da]=10x15 cm (1 foto)
Name[de]=10×15 cm (1 Foto)
Name[el]=10x15 εκ (1 φωτογραφία)
Name[en_GB]=10x15 cm (1 photo)
Name[es]=10x15 cm (1 fotografía)
Name[et]=10x15 cm (1 foto)
Name[eu]=10x15 cm (argazki 1)
Name[fi]=10 × 15 cm (1 kuva)
Name[fr]=10 x 15 cm (1 photo)
Name[gl]=10x15 cm (1 foto)
Name[hu]=10x15 cm (1 fénykép)
Name[is]=10x15 cm (1 mynd)
Name[it]=10×15 cm (1 foto)
Name[km]=១០x១៥ ស.ម.​ ​ (១ រូប​ថត)
Name[ko]=10x15cm(사진 1장)
Name[lv]=10x15 cm (1 fotogrāfija)
Name[nb]=10x15 cm (1 bilde)
Name[nds]=10x15 cm (1 Foto)
Name[nl]=10x15 cm (1 foto)
Name[pa]=10x15 cm (1 ਫੋਟੋ)
Name[pl]=10x15 cm (1 zdjęcie)
Name[pt]=10x15 cm (1 fotografia)
Name[pt_BR]=10x15 cm (1 foto)
Name[ro]=10 x 15 cm (1 poză)
Name[ru]=10×15 см (1 фотография)
Name[sk]=10x15 cm (1 fotka)
Name[sl]=10x15 cm (1 fotografija)
Name[sv]=10 x 15 cm (1 foto)
Name[th]=10x15 ซ.ม. (ภาพถ่าย 1 ภาพ)
Name[tr]=10x15 cm (1 fotoğraf)
Name[uk]=10×15 см (1 фотографія)
Name[x-test]=xx10x15 cm (1 photo)xx
Name[zh_CN]=10x15 cm (1 张照片)
Name[zh_TW]=10x15 cm (1 張照片)

