[Desktop Entry]
Name=13x18 cm (2 photos)
Name[bg]=13x18 см. (2 снимки)
Name[bs]=13x18 cm (2 slike)
Name[ca]=13x18 cm (2 fotos)
Name[ca@valencia]=13x18 cm (2 fotos)
Name[cs]=13x18 cm (2 fotografie)
Name[da]=13x18 cm (2 fotos)
Name[de]=13×18 cm (2 Fotos)
Name[el]=13x18 εκ (2 φωτογραφίες)
Name[en_GB]=13x18 cm (2 photos)
Name[es]=13x18 cm (2 fotografías)
Name[et]=13x18 cm (2 fotot)
Name[eu]=13x18 cm (2 argazki)
Name[fi]=13 × 18 cm (2 kuvaa)
Name[fr]=13 x 18 cm (2 photos)
Name[gl]=13x18 cm (2 fotos)
Name[hu]=13x18 cm (2 fénykép)
Name[is]=13x18 cm (2 myndir)
Name[it]=13×18 cm (2 foto)
Name[km]=១៣x១៨ ស.ម.​ ​(២ ​រូប​ថត)
Name[ko]=13x18cm(사진 2장)
Name[lv]=13x18 cm (2 fotogrāfijas)
Name[nb]=13x18 cm (2 bilder)
Name[nds]=13 x 18 cm (2 Fotos)
Name[nl]=13x18 cm (2 foto's)
Name[pa]=13x18 cm (2 ਫੋਟੋ)
Name[pl]=13x18 cm (2 zdjęcia)
Name[pt]=13x18 cm (2 fotografias)
Name[pt_BR]=13x18 cm (2 fotos)
Name[ro]=13 x 18 cm (2 poze)
Name[ru]=13×18 см (2 фотографии)
Name[sk]=13x18 cm (2 fotky)
Name[sl]=13x18 cm (2 fotografiji)
Name[sv]=13 x 18 cm (2 foton)
Name[th]=13x18 ซ.ม. (ภาพถ่าย 2 ภาพ)
Name[tr]=13x18 cm (2 fotoğraf)
Name[uk]=13×18 см (2 фотографії)
Name[x-test]=xx13x18 cm (2 photos)xx
Name[zh_CN]=13x18 cm (2 张照片)
Name[zh_TW]=13x18 cm (2 張照片)

