[Desktop Entry]
Name=5 x 7" (2 photos)
Name[bg]=5x7 инча (2 снимки)
Name[bs]=5 x 7" (2 slike)
Name[ca]=5 x 7" (2 fotos)
Name[ca@valencia]=5 x 7" (2 fotos)
Name[cs]=5 x 7" (2 fotografie)
Name[da]=5 x 7" (2 fotos)
Name[de]=5 × 7" (2 Fotos)
Name[el]=5 x 7" (2 φωτογραφίες)
Name[en_GB]=5 x 7" (2 photos)
Name[es]=5 x 7" (2 fotografías)
Name[et]=5x7" (2 fotot)
Name[eu]=5 x 7" (2 argazki)
Name[fi]=5 × 7" (2 kuvaa)
Name[fr]=5 x 7 pouces (2 photos)
Name[gl]=5 x 7" (2 photos)
Name[hu]=5x7" (2 fénykép)
Name[is]=5 x 7" (2 myndir)
Name[it]=5×7" (2 foto)
Name[km]=៥ x ៧" (២ ​រូប​ថត)
Name[ko]=5 x 7"(사진 2장)
Name[lv]=5 x 7" (2 fotogrāfijas)
Name[nb]=5 x 7" (2 bilder)
Name[nds]=5 x 7 Toll (2 Fotos)
Name[nl]=5 x 7" (2 foto's)
Name[pa]=5 x 7" (2 ਫੋਟੋ)
Name[pl]=5 x 7" (2 zdjęcia)
Name[pt]=5 x 7" (2 fotografias)
Name[pt_BR]=5 x 7" (2 fotos)
Name[ro]=5 x 7" (2 poze)
Name[ru]=5×7 дюймов (2 фотографии)
Name[sk]=5 x 7" (2 fotky)
Name[sl]=5 x 7 palcev (2 fotografiji)
Name[sv]=5 x 7" (2 foton)
Name[th]=5 x 7 นิ้ว (ภาพถ่าย 2 ภาพ)
Name[tr]=5 x 7" (2 fotoğraf)
Name[uk]=5×7" (2 фотографії)
Name[x-test]=xx5 x 7" (2 photos)xx
Name[zh_CN]=5 x 7" (2 张照片)
Name[zh_TW]=5 x 7" (2 張照片)

