[Desktop Entry]
Name=10x15 cm (3 photos)
Name[bg]=10x15 см. (3 снимки)
Name[bs]=10x15 cm (3 slike)
Name[ca]=10x15 cm (3 fotos)
Name[ca@valencia]=10x15 cm (3 fotos)
Name[cs]=10x15 cm (3 fotografie)
Name[da]=10x15 cm (3 fotos)
Name[de]=10×15 cm (3 Fotos)
Name[el]=10x15 εκ (3 φωτογραφίες)
Name[en_GB]=10x15 cm (3 photos)
Name[es]=10x15 cm (3 fotografías)
Name[et]=10x15 cm (3 fotot)
Name[eu]=10x15 cm (3 argazki)
Name[fi]=10 × 15 cm (3 kuvaa)
Name[fr]=10 x 15 cm (3 photos)
Name[gl]=10x15 cm (3 fotos)
Name[hu]=10x15 cm (3 fénykép)
Name[is]=10x15 cm (3 myndir)
Name[it]=10×15 cm (3 foto)
Name[km]=១០x១៥ ស.ម.​ (៣ រូប​ថត)
Name[ko]=10x15cm(사진 3장)
Name[lv]=10x15 cm (3 fotogrāfijas)
Name[nb]=10x15 cm (3 bilder)
Name[nds]=10 x 15 cm (3 Fotos)
Name[nl]=10x15 cm (3 foto's)
Name[pa]=10x15 cm (3 ਫੋਟੋ)
Name[pl]=10x15 cm (3 zdjęcia)
Name[pt]=10x15 cm (3 fotografias)
Name[pt_BR]=10x15 cm (3 fotos)
Name[ro]=10 x 15 cm (3 poze)
Name[ru]=10×15 см (3 фотографии)
Name[sk]=10x15 cm (3 fotky)
Name[sl]=10x15 cm (3 fotografije)
Name[sv]=10 x 15 cm (3 foton)
Name[th]=10x15 ซ.ม. (ภาพถ่าย 3 ภาพ)
Name[tr]=10x15 cm (3 fotoğraf)
Name[uk]=10×15 см (3 фотографії)
Name[x-test]=xx10x15 cm (3 photos)xx
Name[zh_CN]=10x15 cm (3 张照片)
Name[zh_TW]=10x15 cm (3 張照片)

