[Desktop Entry]
Name=4 x 6" (3 photos)
Name[bg]=4x6 инча (3 снимки)
Name[bs]=4 x 6" (3 slike)
Name[ca]=4 x 6" (3 fotos)
Name[ca@valencia]=4 x 6" (3 fotos)
Name[cs]=4 x 6" (3 fotografie)
Name[da]=4 x 6" (3 fotos)
Name[de]=4 × 6" (3 Fotos)
Name[el]=4 x 6" (3 φωτογραφίες)
Name[en_GB]=4 x 6" (3 photos)
Name[es]=4 x 6" (3 fotografías)
Name[et]=4x6" (3 fotot)
Name[eu]=4 x 6" (3 argazki)
Name[fi]=4 × 6" (3 kuvaa)
Name[fr]=4 x 6 pouces (3 photos)
Name[gl]=4 x 6" (3 fotos)
Name[hu]=4x6" (3 fénykép)
Name[is]=4 x 6" (3 myndir)
Name[it]=4×6" (3 foto)
Name[km]=៤ x ៦" (៣ រូប​ថត)
Name[ko]=4 x 6"(사진 3장)
Name[lv]=4 x 6" (3 fotogrāfijas)
Name[nb]=4 x 6" (3 bilder)
Name[nds]=4 x 6 Toll (3 Fotos)
Name[nl]=4 x 6" (3 foto's)
Name[pa]=4 x 6" (3 ਫੋਟੋ)
Name[pl]=4 x 6" (3 zdjęcia)
Name[pt]=4 x 6" (3 fotografias)
Name[pt_BR]=4 x 6" (3 fotos)
Name[ro]=4 x 6" (3 poze)
Name[ru]=4×6 дюймов (3 фотографии)
Name[sk]=4 x 6" (3 fotky)
Name[sl]=4 x 6 palcev (3 fotografije)
Name[sv]=4 x 6" (3 foton)
Name[th]=4 x 6 นิ้ว (ภาพถ่าย 3 ภาพ)
Name[tr]=4 x 6" (3 fotoğraf)
Name[uk]=4×6" (3 фотографії)
Name[x-test]=xx4 x 6" (3 photos)xx
Name[zh_CN]=4 x 6" (3 张照片)
Name[zh_TW]=4 x 6" (3 張照片)

