[Desktop Entry]
Name=10x13.33 cm (4 photos)
Name[bg]=10x13.33 см. (4 снимки)
Name[bs]=10x13.33 cm (4 slike)
Name[ca]=10x13,33 cm (4 fotos)
Name[ca@valencia]=10x13,33 cm (4 fotos)
Name[cs]=10x13.33 cm (4 fotografie)
Name[da]=10x13.33 cm (4 fotos)
Name[de]=10×13.33 cm (4 Fotos)
Name[el]=10x13.33 εκ (4 φωτογραφίες)
Name[en_GB]=10x13.33 cm (4 photos)
Name[es]=10x13,33 cm (4 fotografías)
Name[et]=10x13,33 cm (4 fotot)
Name[eu]=10x13.33 cm (4 argazki)
Name[fi]=10 × 13,33 cm (4 kuvaa)
Name[fr]=10 x 13.33 cm (4 photos)
Name[gl]=10x13,33 cm (4 fotos)
Name[hu]=10x13,33 cm (4 fénykép)
Name[is]=10x13.33 cm (4 myndir)
Name[it]=10×13,33 cm (4 foto)
Name[km]=១០x១៣.៣៣ ស.ម.​(៤ រូប​ថត)
Name[ko]=10x13.33cm(사진 4장)
Name[lv]=10x13.33 cm (4 fotogrāfijas)
Name[nb]=10x13.33 cm (4 bilder)
Name[nds]=10 x 13.33 cm (4 Fotos)
Name[nl]=10x13.33 cm (4 foto's)
Name[pa]=10x13.33 cm (4 ਫੋਟੋ)
Name[pl]=10x13.33 cm (4 zdjęcia)
Name[pt]=10x13,33 cm (4 fotografias)
Name[pt_BR]=10x13,33 cm (4 fotos)
Name[ro]=10 x 13,33 cm (4 poze)
Name[ru]=10×13,33 см (4 фотографии)
Name[sk]=10x13.33 cm (4 fotky)
Name[sl]=10x13.33 cm (4 fotografije)
Name[sv]=10 x 13,33 cm (4 foton)
Name[th]=10x13.33 ซ.ม. (ภาพถ่าย 4 ภาพ)
Name[tr]=10x13.33 cm (4 fotoğraf)
Name[uk]=10×13,33 см (4 фотографії)
Name[x-test]=xx10x13.33 cm (4 photos)xx
Name[zh_CN]=10x13.33 cm (4 张照片)
Name[zh_TW]=10x13.33 cm (4 張照片)

