[Desktop Entry]
Name=Passport photos - 4.5x5cm (4 photos)
Name[bg]=Паспортни снимки - 4.5х5 см. (4 снимки)
Name[bs]=Slike za pasoš - 4.5x5cm (4 slike)
Name[ca]=Fotos de passaport - 4,5x5cm (4 fotos)
Name[ca@valencia]=Fotos de passaport - 4,5x5cm (4 fotos)
Name[cs]=Fotografie na pas - 4.5x5cm (4 fotografie)
Name[da]=Pasbilleder - 4.5x5cm (4 fotos)
Name[de]=Passfotos – 4.5×5cm (4 Fotos)
Name[el]=Φωτογραφίες διαβατηρίου - 4.5x5εκ (4 φωτογραφίες)
Name[en_GB]=Passport photos - 4.5x5cm (4 photos)
Name[es]=Fotografías de pasaporte - 4.5x5cm (4 fotografías)
Name[et]=Passifotod - 4,5x5 cm (4 fotot)
Name[eu]=Pasaporteko argazkiak - 4.5x5cm (4 argazki)
Name[fi]=Passikuvat – 4,5 × 5 cm (4 kuvaa)
Name[fr]=Photographies pour passeport - 4.5 x 5 cm (4 photos)
Name[gl]=Fotos de pasaporte - 4,5x5cm (4 fotos)
Name[hu]=Útlevélképek - 4,5x5 cm (4 fénykép)
Name[is]=Passamyndir - 4.5x5cm (4 myndir)
Name[it]=Fototessere - 4,5×5cm (4 foto)
Name[km]=រូប​ថត​ប៉ុនរូប​ថត​​លិខិត​ឆ្លង​ដែន​ - ៤.៥x៥ ស.ម.​ (៤ រូប​ថត​)
Name[ko]=여권용 사진 - 4.5x5cm(사진 4장)
Name[lv]=Pases fotogrāfijas - 4.5x5cm (4 fotogrāfijas)
Name[nb]=Passbilder – 4,5×5 cm (4 bilder)
Name[nds]=Utwiesbiller- 4,5 x 5cm (4 Fotos)
Name[nl]=Paspoortfoto's - 4.5x5cm (4 foto's)
Name[pa]=ਪਾਸਵਰਡ ਫੋਟੋ - 4.5x5cm (4 ਫੋਟੋ)
Name[pl]=Zdjęcia paszportowe - 4.5x5cm (4 zdjęcia)
Name[pt]=Fotografias de passaporte - 4.5x5cm (4 fotografias)
Name[pt_BR]=Fotos de passaporte - 4,5x5cm (4 fotos)
Name[ro]=Poze de pașaport - 4,5 x 5 cm (4 poze)
Name[ru]=Фотографии на паспорт 4,5×5 см (4 фотографии)
Name[sk]=Fotky na pas - 4.5x5cm (4 fotky)
Name[sl]=Slike za potni list - 4.5x5 cm (4 fotografije)
Name[sv]=Passfoton - 4,5 x 5 cm (4 foton)
Name[th]=ภาพถ่ายติดพาสสปร์อต - 4.5x5 ซ.ม. (ภาพถ่าย 4 ภาพ)
Name[tr]=Pasaport fotoğrafları - 4.5x5cm (4 fotoğraf)
Name[uk]=Фотографії для паспорта — 4,5×5 см (4 фотографії)
Name[x-test]=xxPassport photos - 4.5x5cm (4 photos)xx
Name[zh_CN]=护照照片 - 4.5x5cm (4 张照片)
Name[zh_TW]=證件照片 - 4.5x5cm (4 張照片)

