[Desktop Entry]
Name=9x13 cm (4 photos)
Name[bg]=9x13 см. (4 снимки)
Name[bs]=9x13 cm (4 slike)
Name[ca]=9x13 cm (4 fotos)
Name[ca@valencia]=9x13 cm (4 fotos)
Name[cs]=9x13 cm (4 fotografie)
Name[da]=9x13 cm (4 fotos)
Name[de]=9×13 cm (4 Fotos)
Name[el]=9x13 εκ (4 φωτογραφίες)
Name[en_GB]=9x13 cm (4 photos)
Name[es]=9x13 cm (4 fotografías)
Name[et]=9x13 cm (4 fotot)
Name[eu]=9x13 cm (4 argazki)
Name[fi]=9 × 13 cm (4 kuvaa)
Name[fr]=9 x 13 cm (4 photos)
Name[gl]=9x13 cm (4 fotos)
Name[hu]=9x13 cm (4 fénykép)
Name[is]=9x13 cm (4 myndir)
Name[it]=9×13 cm (4 foto)
Name[km]=៩x១៣ ស.ម.​ (៤ រូប​ថត)
Name[ko]=9x13cm(사진 4장)
Name[lv]=9x13 cm (4 fotogrāfijas)
Name[nb]=9x13 cm (4 bilder)
Name[nds]=9 x 13 cm (4 Fotos)
Name[nl]=9x13 cm (4 foto's)
Name[pa]=9x13 cm (4 ਫੋਟੋ)
Name[pl]=9x13 cm (4 zdjęcia)
Name[pt]=9x13 cm (4 fotografias)
Name[pt_BR]=9x13 cm (4 fotos)
Name[ro]=9 x 13 cm (4 poze)
Name[ru]=9×13 см (4 фотографии)
Name[sk]=9x13 cm (4 fotky)
Name[sl]=9x13 cm (4 fotografije)
Name[sv]=9 x 13 cm (4 foton)
Name[th]=9x13 ซ.ม. (ภาพถ่าย 4 ภาพ)
Name[tr]=9x13 cm (4 fotoğraf)
Name[uk]=9×13 см (4 фотографій)
Name[x-test]=xx9x13 cm (4 photos)xx
Name[zh_CN]=9x13 cm (4 张照片)
Name[zh_TW]=9x13 cm (4 張照片)
