[Desktop Entry]
Name=3.5 x 5" (4 photos)
Name[bg]=3.5x5 инча (4 снимки)
Name[bs]=3.5 x 5" (4 slike)
Name[ca]=3,5 x 5" (4 fotos)
Name[ca@valencia]=3,5 x 5" (4 fotos)
Name[cs]=3.5 x 5" (4 fotografie)
Name[da]=3.5 x 5" (4 fotos)
Name[de]=3.5 × 5" (4 Fotos)
Name[el]=3.5 x 5" (4 φωτογραφίες)
Name[en_GB]=3.5 x 5" (4 photos)
Name[es]=3,5 x 5" (4 fotografías)
Name[et]=3,5x5" (4 fotot)
Name[eu]=3.5 x 5" (4 argazki)
Name[fi]=3,5 × 5" (4 kuvaa)
Name[fr]=3.5 x 5 pouces (4 photos)
Name[gl]=3,5 x 5" (4 fotos)
Name[hu]=3,5x5" (4 fénykép)
Name[is]=3.5 x 5" (4 myndir)
Name[it]=3,5×5" (4 foto)
Name[km]=៣.៥ x ៥" (៤ រូប​ថត)
Name[ko]=3.5 x 5"(사진 4장)
Name[lv]=3.5 x 5" (4 fotogrāfijas)
Name[nb]=3.5 x 5" (4 bilder)
Name[nds]=3,5 x 5 Toll (4 Fotos)
Name[nl]=3.5 x 5" (4 foto's)
Name[pa]=3.5 x 5" (4 ਫੋਟੋ)
Name[pl]=3.5 x 5" (4 zdjęcia)
Name[pt]=3,5 x 5" (4 fotografias)
Name[pt_BR]=3,5 x 5" (4 fotos)
Name[ro]=3,5 x 5" (4 poze)
Name[ru]=3,5×5 дюймов (4 фотографии)
Name[sk]=3.5 x 5" (4 fotky)
Name[sl]=3.5 x 5 palcev (4 fotografije)
Name[sv]=3,5 x 5" (4 foton)
Name[th]=3.5 x 5 นิ้ว (ภาพถ่าย 4 ภาพ)
Name[tr]=3.5 x 5" (4 fotoğraf)
Name[uk]=3,5×5" (4 фотографії)
Name[x-test]=xx3.5 x 5" (4 photos)xx
Name[zh_CN]=3.5 x 5" (4 张照片)
Name[zh_TW]=3.5 x 5" (4 張照片)

