[Desktop Entry]
Name=4 x 6" Album
Name[bg]=Албум 4 x 6 инча
Name[bs]=4 x 6" Album
Name[ca]=Àlbum de 4 x 6"
Name[ca@valencia]=Àlbum de 4 x 6"
Name[cs]=4 x 6" Album
Name[da]=4 x 6" Album
Name[de]=4 × 6" Album
Name[el]=4 x 6" Άλμπουμ
Name[en_GB]=4 x 6" Album
Name[es]=Álbum de 4 x 6"
Name[et]=4x6" album
Name[eu]=4 x 6" albuma
Name[fi]=4 x 6" albumi
Name[fr]=Album 4 x 6 pouces
Name[gl]=Álbum 4 x 6"
Name[hu]=4x6" album
Name[is]=4 x 6" albúm
Name[it]=Album 4×6"
Name[km]=អាល់ប៊ុម ៤ x ៦" 
Name[ko]=4 x 6" 앨범
Name[lv]=4 x 6" Albums
Name[nb]=4 x 6" Album
Name[nds]=4 x 6Toll, Album
Name[nl]=4 x 6" Album
Name[pa]=4 x 6" ਐਲਬਮ
Name[pl]=4 x 6" Album
Name[pt]=Álbum de 4 x 6"
Name[pt_BR]=Álbum de 4 x 6"
Name[ro]=Album 4 x 6"
Name[ru]=Альбом из фотографий 4×6 дюймов
Name[sk]=4 x 6" Album
Name[sl]=4 x 6 palčni album
Name[sq]=4 x 6" Album
Name[sv]=4 x 6" album
Name[th]=อัลบั้มภาพขนาด 4 x 6 นิ้ว
Name[tr]=4 x 6" Albüm
Name[uk]=4×6" альбом
Name[x-test]=xx4 x 6" Albumxx
Name[zh_CN]=4 x 6" 相册
Name[zh_TW]=4 x 6" 相簿

