[Desktop Entry]
Name=Passport photos UK - 3.5x4.5cm (6 photos)
Name[bs]=Fotografije za pasoš UK - 3.5x4.5cm (6 fotografija)
Name[ca]=Fotos de passaport del Regne Unit - 3,5x4,5cm (6 fotos)
Name[ca@valencia]=Fotos de passaport del Regne Unit - 3,5x4,5cm (6 fotos)
Name[cs]=Fotografie na pas - 3,5x4,5cm (6 fotografií)
Name[da]=Pasbilleder UK - 3.5x4,5 cm (6 fotos)
Name[de]=Passfotos UK – 3,5×4,5 cm (6 Fotos)
Name[el]=Φωτογραφίες διαβατηρίου Ηνωμένου Βασιλείου - 3.5x4.5εκ (6 φωτογραφίες)
Name[en_GB]=Passport photos UK - 3.5x4.5cm (6 photos)
Name[es]=Fotografías de pasaporte UK - 3,5x4cm (6 fotografías)
Name[et]=Briti passifotod - 3,5x4,5 cm (6 fotot)
Name[fi]=Passikuvat (Iso-Britannia) – 3,5 × 4,5 cm (6 kuvaa)
Name[fr]=Photographies pour passeport anglais - 3.5 x 4 cm (6 photos)
Name[gl]=Fotos de pasaporte do Reino Unido - 3,5x4cm (6 fotos)
Name[hu]=Egyesült Királyság útlevélképek - 3,5x4 cm (6 fénykép)
Name[is]=Passamyndir - 3.5x4.5cm (6 myndir)
Name[it]=Fototessere inglesi - 3,5×4,5cm (6 foto)
Name[km]=រូបថត​លិខិត​ឆ្លងដែន UK - 3.5x4.5cm (ចំនួន ៦)
Name[ko]=영국 여권용 사진 - 3.5x4.5cm(사진 6장)
Name[nb]=Passbilder UK – 3,5×4 cm (6 bilder)
Name[nl]=Paspoort foto's in UK - 3.5x4cm (6 foto's)
Name[pl]=Zdjęcia paszportowe (UK) - 3.5x4.5cm (6 zdjęć)
Name[pt]=Fotografias de passaporte da GB - 3,5x4,5cm (6 fotografias)
Name[pt_BR]=Fotos de passaporte do Reino Unido - 3,5x4,5cm (6 fotos)
Name[ru]=Фотографии на паспорт Великобритании 3,5×4,5 см (6 фотографий)
Name[sk]=Fotky na pas UK - 3,5 x 4 cm (6 fotiek)
Name[sl]=Fotografije za potni list (VB) - 3.5x4.5 cm (6 fotografij)
Name[sv]=Passfoton Storbritannien - 3,5 x 4,5 cm (6 foton)
Name[tr]=Pasaport fotoğrafları Birleşik Krallık - 3.5x4.5cm (6 fotoğraf)
Name[uk]=Фотографії для паспорта — 3,5×4,5 см (6 фотографій)
Name[x-test]=xxPassport photos UK - 3.5x4.5cm (6 photos)xx
Name[zh_TW]=護照照片（英國） - 3.5x4.5cm (6 張照片)
