[Desktop Entry]
Name=Passport photos - 3.5x4cm (6 photos)
Name[bg]=Паспортни снимки - 3.5х4 см. (6 снимки)
Name[bs]=Slike za pasoš - 3.5x4cm (6 slika)
Name[ca]=Fotos de passaport - 3,5x4cm (6 fotos)
Name[ca@valencia]=Fotos de passaport - 3,5x4cm (6 fotos)
Name[cs]=Fotografie na pas - 3.5x4cm (6 fotografií)
Name[da]=Pasbilleder - 3.5x4cm (6 fotos)
Name[de]=Passfotos – 3.5×5cm (6 Fotos)
Name[el]=Φωτογραφίες διαβατηρίου - 3.5x4εκ (6 φωτογραφίες)
Name[en_GB]=Passport photos - 3.5x4cm (6 photos)
Name[es]=Fotografías de pasaporte - 3,5x4cm (6 fotografías)
Name[et]=Passifotod - 3,5x4 cm (6 fotot)
Name[eu]=Pasaporteko argazkiak - 3.5x4cm (6 argazki)
Name[fi]=Passikuvat – 3,5 × 4 cm (7 kuvaa)
Name[fr]=Photographies pour passeport - 3.5 x 4 cm (6 photos)
Name[gl]=Fotos de pasaporte - 3,5x4cm (6 fotos)
Name[hu]=Útlevélképek - 3,5x4 cm (6 fénykép)
Name[is]=Passamyndir - 3.5x4cm (6 myndir)
Name[it]=Fototessere - 3,5×4cm (6 foto)
Name[km]=រូប​ថតប៉ុន​រូប​​ថត​លិខិត​ឆ្លង​ដែន​ - ៣.៥x៤ ស.ម.​(៦ រូប​ថត)
Name[ko]=여권용 사진 - 3.5x4cm(사진 6장)
Name[lv]=Pases fotogrāfijas - 3.5x4cm (6 fotogrāfijas)
Name[nb]=Passbilder – 3,5×4 cm (6 bilder)
Name[nds]=Utwiesbiller- 3,5 x 4cm (6 Fotos)
Name[nl]=Paspoort foto's - 3.5x4cm (6 foto's)
Name[pa]=ਪਾਸਪੋਰਟ ਫੋਟੋ - 3.5x4cm (6 ਫੋਟੋ)
Name[pl]=Zdjęcia paszportowe - 3.5x4cm (6 zdjęć)
Name[pt]=Fotografias de passaporte - 3,5x4cm (6 fotografias)
Name[pt_BR]=Fotos de passaporte - 3,5x4cm (6 fotos)
Name[ro]=Poze de pașaport - 3,5 x 4 cm (6 poze)
Name[ru]=Фотографии на паспорт 3,5×4 см (6 фотографий)
Name[sk]=Fotky na pas - 3.5x4cm (6 fotiek)
Name[sl]=Slike za potni list - 3.5x4 cm (6 fotografij)
Name[sv]=Passfoton - 3,5 x 4 cm (6 foton)
Name[th]=ภาพถ่ายติดพาสสปอร์ต - 3.5x4 ซ.ม. (ภาพถ่าย 6 ภาพ)
Name[tr]=Pasaport fotoğrafları - 3.5x4cm (6 fotoğraf)
Name[uk]=Фотографії для паспорта — 3,5×4 см (6 фотографій)
Name[x-test]=xxPassport photos - 3.5x4cm (6 photos)xx
Name[zh_CN]=护照照片 - 3.5x4cm (6 张照片)
Name[zh_TW]=護照照片 - 3.5x4cm (6 張照片)

