[Desktop Entry]
Name=6x9 cm (8 photos)
Name[bg]=6x9 см. (8 снимки)
Name[bs]=6x9 cm (8 slika)
Name[ca]=6x9 cm (8 fotos)
Name[ca@valencia]=6x9 cm (8 fotos)
Name[cs]=6x9 cm (8 fotografií)
Name[da]=6x9 cm (8 fotos)
Name[de]=6×9 cm (8 Fotos)
Name[el]=6x9 εκ (8 φωτογραφίες)
Name[en_GB]=6x9 cm (8 photos)
Name[es]=6x9 cm (8 fotografías)
Name[et]=6x9 cm (8 fotot)
Name[eu]=6x9 cm (8 argazki)
Name[fi]=6 × 9 cm (8 valokuvaa)
Name[fr]=6 x 9 cm (8 photos)
Name[gl]=6x9 cm (8 fotos)
Name[hu]=6x9 cm (8 fénykép)
Name[is]=6x9 cm (8 myndir)
Name[it]=6×9 cm (8 foto)
Name[km]=៦x៩ ស.ម.​ (៨ រូប​ថត)
Name[ko]=6x9cm(사진 8장)
Name[lv]=6x9 cm (8 fotogrāfijas)
Name[nb]=6x9 cm (8 bilder)
Name[nds]=6 x 9 cm (8 Fotos)
Name[nl]=6x9 cm (8 foto's)
Name[pa]=6x9 cm (8 ਫੋਟੋ)
Name[pl]=6x9 cm (8 zdjęć)
Name[pt]=6x9 cm (8 fotografias)
Name[pt_BR]=6x9 cm (8 fotos)
Name[ro]=6 x 9 cm (8 poze)
Name[ru]=6×9 см (8 фотографий)
Name[sk]=6x9 cm (8 fotiek)
Name[sl]=6x9 cm (8 fotografij)
Name[sq]=6x9 cm (8 foto)
Name[sv]=6 x 9 cm (8 foton)
Name[th]=6x9 ซ.ม. (ภาพถ่าย 8 ภาพ)
Name[tr]=6 x 9cm (8 fotoğraf)
Name[uk]=6×9 см (8 фотографій)
Name[x-test]=xx6x9 cm (8 photos)xx
Name[zh_CN]=6x9 cm (8 张照片)
Name[zh_TW]=6x9 cm (8 張照片)

