[Desktop Entry]
Name=Album Collage 1 (9 photos)
Name[bg]=Колаж албум 1 (9 снимки)
Name[bs]=Album kolaž 1 (9 slika)
Name[ca]=Collage d'àlbum 1 (9 fotos)
Name[ca@valencia]=Collage d'àlbum 1 (9 fotos)
Name[cs]=Koláž alba 1 (9 fotografií)
Name[da]=Albumcollage 1 (9 fotos)
Name[de]=Alben-Zusammenstellung 1 (9 Fotos)
Name[el]=Κολάζ λευκώματος 1 (9 φωτογραφίες)
Name[en_GB]=Album Collage 1 (9 photos)
Name[es]=Collage de Álbum 1 (9 fotografías)
Name[et]=Albumikollaaž 1 (9 fotot)
Name[eu]=Albumaren collagea 1 (9 argazki)
Name[fi]=Kuvakollaasi 1 (9 kuvaa)
Name[fr]=Collage d'album 1 (9 photos)
Name[gl]=Colaxe de álbum 1 (9 fotos)
Name[hu]=Album kollázs 1 (9 fénykép)
Name[is]=Albúmsuppsetning 1 (9 myndir)
Name[it]=Collage di album 1 (9 foto)
Name[km]=Collage អាល់ប៊ុម ១ (៩ រូប​ថត)
Name[ko]=앨범 콜라주 1(사진 9장)
Name[lv]=Albuma kolāža 1 (9 fotogrāfijas)
Name[nb]=Albumkollasje 1 (9 bilder)
Name[nds]=Albumtosamenstellen 1 (9 Fotos)
Name[nl]=Albumverzameling 1 (9 foto's)
Name[pa]=ਐਲਬਮ ਕਾਲਜ 1 (9 ਫੋਟੋ)
Name[pl]=Album Kolażu 1 (9 zdjęć)
Name[pt]=Colagem de Álbum 1 (9 fotografias)
Name[pt_BR]=Colagem de álbum 1 (9 fotos)
Name[ro]=Album colaje 1 (9 poze)
Name[ru]=Коллаж 1 (9 фотографий)
Name[sk]=Koláž albumu 1 (9 fotiek)
Name[sl]=Kolaž albumov 1 (9 fotografij)
Name[sq]=Kolazh Albumi (9 foto)
Name[sv]=Albumkollage 1 (9 foton)
Name[tr]=Albüm Kolajı 1 (9 fotoğraf)
Name[uk]=Альбомний колаж 1 (9 фотографій)
Name[x-test]=xxAlbum Collage 1 (9 photos)xx
Name[zh_CN]=相册拼贴 1 (9 张照片)
Name[zh_TW]=拼貼相簿 1 (9 張照片)

