[Desktop Entry]
Name=Album Collage 2 (6 photos)
Name[bg]=Колаж албум 2 (6 снимки)
Name[bs]=Album kolaž 2 (6 slika)
Name[ca]=Collage d'àlbum 2 (6 fotos)
Name[ca@valencia]=Collage d'àlbum 2 (6 fotos)
Name[cs]=Koláž alb 2 (6 fotografií)
Name[da]=Albumcollage 2 (6 fotos)
Name[de]=Alben-Zusammenstellung 2 (6 Fotos)
Name[el]=Κολάζ λευκώματος 2 (6 φωτογραφίες)
Name[en_GB]=Album Collage 2 (6 photos)
Name[es]=Collage de Álbum 2 (6 fotografías)
Name[et]=Albumikollaaž 2 (6 fotot)
Name[eu]=Albumaren collagea 2 (6 argazki)
Name[fi]=Kuvakollaasi 2 (6 kuvaa)
Name[fr]=Collage d'album 2 (6 photos)
Name[gl]=Colaxe de álbum 2 (6 fotos)
Name[hu]=Album kollázs 2 (6 fénykép)
Name[is]=Albúmsuppsetning 1 (6 myndir)
Name[it]=Collage di album 2 (6 foto)
Name[km]=Collage  អាល់​ប៊ុម ២ (៦ រូបថត)
Name[ko]=앨범 콜라주 2(사진 6장)
Name[lv]=Albuma kolāža 2 (6 fotogrāfijas)
Name[nb]=Albumkollasje 2 (6 bilder)
Name[nds]=Albumtosamenstellen 2 (6 Fotos)
Name[nl]=Albumverzameling 2 (6 foto's)
Name[pa]=ਐਲਬਮ ਕਾਲਜ 2 (6 ਫੋਟੋ)
Name[pl]=Album Kolażu 2 (6 zdjęć)
Name[pt]=Colagem de Álbum 2 (6 fotografias)
Name[pt_BR]=Colagem de álbum 2 (6 fotos)
Name[ro]=Album colaje 2 (6 poze)
Name[ru]=Коллаж 2 (6 фотографий)
Name[sk]=Koláž albumu 2 (6 fotiek)
Name[sl]=Kolaž albumov 2 (6 fotografij)
Name[sq]=Kolazh Albumi 2 (6 foto)
Name[sv]=Albumkollage 2 (6 foton)
Name[tr]=Albüm Kolajı 2 (6 fotoğraf)
Name[uk]=Альбомний колаж 2 (6 фотографій)
Name[x-test]=xxAlbum Collage 2 (6 photos)xx
Name[zh_CN]=相册拼贴 2 (6 张照片)
Name[zh_TW]=拼貼相簿 2 (6 張照片)

