[Desktop Entry]
Name=11.5x15 cm Album
Name[bg]=Албум 11.5x15 см.
Name[bs]=11.5x15 cm Album
Name[ca]=Àlbum de 11,5x15 cm
Name[ca@valencia]=Àlbum de 11,5x15 cm
Name[cs]=11.5x15 cm Album
Name[da]=11.5x15 cm album
Name[de]=11.5×15 cm Album
Name[el]=11.5x15 εκ Άλμπουμ
Name[en_GB]=11.5x15 cm Album
Name[es]=Álbum de 11,5x15 cm
Name[et]=11,5x15 cm album
Name[eu]=11.5x15 cm albuma
Name[fi]=11,5 × 15 cm albumi
Name[fr]=Album 11.5 x 15 cm
Name[gl]=Álbum 11.5x15 cm
Name[hu]=11,5x15 cm album
Name[is]=11.5x15 cm albúm
Name[it]=Album 11,5×15 cm
Name[km]=អាល់ប៊ុម​ ១១.៥x១៥ ស.ម.​
Name[ko]=11.5x15cm 앨범
Name[lv]=11.5x15 cm Albums
Name[nb]=11.5x15 cm Album
Name[nds]=11,5 x 15 cm, Album
Name[nl]=11,5x15 cm Album
Name[pa]=11.5x15 cm ਐਲਬਮ
Name[pl]=11.5x15 cm Album
Name[pt]=Álbum de 11,5x15 cm
Name[pt_BR]=Álbum de 11,5x15 cm
Name[ro]=Album 11,5 x 15 cm
Name[ru]=Альбом из фотографий 11,5×15 см
Name[sk]=11.5x15 cm Album
Name[sl]=11.5x15 cm album
Name[sq]=11.5x15 cm Album
Name[sv]=11,5 x 15 cm album
Name[th]=อัลบั้มภาพขนาด 11.5x15 ซ.ม.
Name[tr]=11.5x15 cm Albüm
Name[uk]=11,5×15 см альбом
Name[x-test]=xx11.5x15 cm Albumxx
Name[zh_CN]=11.5x15 cm 相册
Name[zh_TW]=11.5x15 cm 相簿

