[Desktop Entry]
Name=Full page
Name[bg]=Цяла страница
Name[bs]=Puna stranica
Name[ca]=Pàgina sencera
Name[ca@valencia]=Pàgina sencera
Name[cs]=Celá stránka
Name[da]=Hel side
Name[de]=Ganze Seite
Name[el]=Πλήρης σελίδα
Name[en_GB]=Full page
Name[es]=Página completa
Name[et]=Kogu lehekülg
Name[eu]=Orrialde osoa
Name[fi]=Koko sivu
Name[fr]=Page entière
Name[gl]=Páxina completa
Name[hu]=Teljes oldal
Name[is]=Heilsíða
Name[it]=Pagina intera
Name[km]=ទំព័រ​ទាំង​មូល​
Name[ko]=전체 쪽
Name[lv]=Vesela lapa
Name[nb]=Helside
Name[nds]=Heel Siet
Name[nl]=Volledige pagina
Name[pa]=ਪੂਰਾ ਪੇਜ਼
Name[pl]=Pełna strona
Name[pt]=Página completa
Name[pt_BR]=Página completa
Name[ro]=Pe toată pagina
Name[ru]=Фотография на всю страницу
Name[sk]=Plná strana
Name[sl]=Polna stran
Name[sv]=Hela sidan
Name[th]=เต็มหน้า
Name[tr]=Tam sayfa
Name[ug]=پۈتۈن بەت
Name[uk]=Вся сторінка
Name[x-test]=xxFull pagexx
Name[zh_CN]=整页
Name[zh_TW]=整頁

