[Desktop Entry]
Name=Photoframe (5 photos)
Name[bg]=Фоторамка (5 снимки)
Name[bs]=Okvir za slike (5 slika)
Name[ca]=Marc de fotos (5 fotos)
Name[ca@valencia]=Marc de fotos (5 fotos)
Name[cs]=Foto-rámečky (5 fotografií)
Name[da]=Fotoramme (5 fotos)
Name[de]=Fotorahmen (5 Fotos)
Name[el]=Photoframe (5 φωτογραφίες)
Name[en_GB]=Photoframe (5 photos)
Name[es]=Moldura fotográfica (5 fotografías)
Name[et]=Fotolugu (5 fotot)
Name[eu]=Argazki-markoa (5 argazki)
Name[fi]=Kuvakehys (5 kuvaa)
Name[fr]=Cadre photo (5 photos)
Name[gl]=Moldura de foto (5 fotos)
Name[hu]=Fényképkeret (5 fénykép)
Name[is]=Myndarammi (5 myndir)
Name[it]=Cornice (5 foto)
Name[km]=ស៊ុម​រូប​ថត (៥ រូបថត)
Name[ko]=사진 프레임(사진 5장)
Name[lv]=Fotorāmis (5 fotogrāfijas)
Name[nb]=bilderamme (5 bilder)
Name[nds]=Billerrahmen (5 Fotos)
Name[nl]=Fotoframe (5 foto's)
Name[pa]=ਫੋਟੋਫਰੇਮ (5 ਫੋਟੋ)
Name[pl]=Ramka na zdjęcia (5 zdjęć)
Name[pt]=Moldura fotográfica (5 fotografias)
Name[pt_BR]=Moldura fotográfica (5 fotografias)
Name[ro]=Cadru foto (5 fotografii)
Name[ru]=Фоторамка (5 фотографий)
Name[sk]=Fotorámik (5 fotiek)
Name[sl]=Fotookvir (5 fotografij)
Name[sq]=Kornizë fotosh (5 foto)
Name[sv]=Fotoram (5 foton)
Name[th]=กรอบภาพ (ภาพถ่าย 5 ภาพ)
Name[tr]=Fotoğraf çerçevesi (5 fotoğraf)
Name[uk]=Фотонабір (5 фотографій)
Name[x-test]=xxPhotoframe (5 photos)xx
Name[zh_CN]=相框 (5 张照片)
Name[zh_TW]=相框 (5 張照片)

