[Desktop Entry]
Name=Thumbnails 5x4 photos
Name[bg]=Миниатюри на снимки 5х4
Name[bs]=Umanjene slike 5x4 slika
Name[ca]=Fotos 5x4 miniatures
Name[ca@valencia]=Fotos 5x4 miniatures
Name[cs]=Náhledy - 5x4 fotografie
Name[da]=Miniaturer 5x4 fotos
Name[de]=Vorschaubilder 5×4 Fotos
Name[el]=Επισκόπηση 5x4 φωτογραφιών
Name[en_GB]=Thumbnails 5x4 photos
Name[es]=5x4 fotografías en miniatura
Name[et]=Pisipiltidena 5x4 fotot
Name[eu]=Koadro txikiko 5x4 argazkiak
Name[fi]=Pienoiskuvat 5 × 4 kuvaa
Name[fr]=Photos en vignettes 5 x 4
Name[gl]=Miniaturas 5x4 fotos
Name[hu]=Bélyegképek 5x4 fénykép
Name[is]=Smámyndir 5x4 myndir
Name[it]=Miniature, 5×4 foto
Name[km]=រូប​ថត​របស់​រូបភាព​តូច​ៗ ៥x៤
Name[ko]=미리 보기 그림 5x4 사진
Name[lv]=Sīktēli 5x4 fotogrāfijas
Name[nb]=Miniatyrer 5×4 bilder
Name[nds]=Vöransichtbiller 5x4 Fotos
Name[nl]=Miniaturen 5x4 foto's
Name[pa]=ਥੰਮਨੇਲ 5x4 ਫੋਟੋ
Name[pl]=Miniaturki 5x4 zdjęć
Name[pt]=5x4 fotografias em miniatura
Name[pt_BR]=5x4 fotos em miniatura
Name[ro]=Miniaturi de poze 5 x 4
Name[ru]=Миниатюры (5×4 штук)
Name[sk]=Náhľady 5x4 fotiek
Name[sl]=Sličice 5x4 fotografij
Name[sv]=Miniatyrbilder 5 x 4 foton
Name[th]=ภาพตัวอย่างขนาด 5x4 ภาพ
Name[tr]=5x4 küçük resimler
Name[uk]=Мініатюри фотографій 5x4
Name[x-test]=xxThumbnails 5x4 photosxx
Name[zh_CN]=缩略图 5x4 照片
Name[zh_TW]=縮圖 5x4 照片

