[Desktop Entry]
Name=Thumbnails 6x5 photos
Name[bg]=Миниатюри на снимки 6х5
Name[bs]=Umanjene slike 6x5 slika
Name[ca]=Fotos 6x5 miniatures
Name[ca@valencia]=Fotos 6x5 miniatures
Name[cs]=Náhledy - 6x5 fotografií
Name[da]=Miniaturer 6x5 fotos
Name[de]=Vorschaubilder 6×5 Fotos
Name[el]=Επισκόπηση 6x5 φωτογραφιών
Name[en_GB]=Thumbnails 6x5 photos
Name[es]=6x5 fotografías en miniatura
Name[et]=Pisipiltidena 6x5 fotot
Name[eu]=Koadro txikiko 6x5 argazkiak
Name[fi]=Pienoiskuvat 6 × 5 kuvaa
Name[fr]=Photos en vignette 6 x 5
Name[gl]=Miniaturas 6x5 fotos
Name[hu]=Bélyegképek 6x5 fénykép
Name[is]=Smámyndir 6x5 myndir
Name[it]=Miniature, 6×5 foto
Name[km]=រូប​ថត​របស់​រូបភាព​តូច​ៗ ៦x៥
Name[ko]=미리 보기 그림 6x5 사진
Name[lv]=Sīktēli 6x5 fotogrāfijas
Name[nb]=Miniatyrer 6×5 bilder
Name[nds]=Vöransichtbiller 6x5 Fotos
Name[nl]=Miniaturen 6x5 foto's
Name[pa]=ਥੰਮਨੇਲ 6x5 ਫੋਟੋ
Name[pl]=Miniaturki 6x5 zdjęć
Name[pt]=6x5 fotografias em miniatura
Name[pt_BR]=6x5 fotos em miniatura
Name[ro]=Miniaturi de poze 6 x 5
Name[ru]=Миниатюры (6×5 штук)
Name[sk]=Náhľady 6x5 fotiek
Name[sl]=Sličice 6x5 fotografij
Name[sv]=Miniatyrbilder 6 x 5 foton
Name[th]=ภาพตัวอย่างขนาด 6x5 ภาพ
Name[tr]=6x5 küçük resimler
Name[uk]=Мініатюри фотографій 6x5
Name[x-test]=xxThumbnails 6x5 photosxx
Name[zh_CN]=缩略图 6x5 照片
Name[zh_TW]=縮圖 6x5 照片

