[Desktop Entry]
Name=Clean Frames
Name[bg]=Изчистени рамки
Name[bs]=Prazni okviri
Name[ca]=Marcs nets
Name[ca@valencia]=Marcs nets
Name[cs]=Vyčistit rámce
Name[da]=Ryd rammer
Name[de]=Saubere Rahmen
Name[el]=Καθαρά πλαίσια
Name[en_GB]=Clean Frames
Name[es]=Marcos limpios
Name[et]=Puhtad raamid
Name[eu]=Garbitu markoak
Name[fr]=Cadres clairs
Name[gl]=Molduras simples
Name[he]=מסגרות נקיות
Name[hne]=साफ फ्रेम
Name[hu]=Keretek tisztítása
Name[is]=Hreinir rammar
Name[it]=Riquadri puliti
Name[ja]=クリーンフレーム
Name[km]=ជម្រះ​ស៊ុម
Name[ko]=깔끔한 프레임
Name[lt]=Išvalyti kadrus
Name[lv]=Vienkārši ietvari
Name[nb]=Rene rammer
Name[nl]=Clean Frames
Name[pa]=ਫਰੇਮ ਸਾਫ਼ ਕਰੋ
Name[pl]=Schludne ramki
Name[pt]=Molduras Limpas
Name[pt_BR]=Molduras limpas
Name[ro]=Curăță cadrele
Name[ru]=Компактная с фреймами
Name[sk]=Čisté rámčeky
Name[sl]=Čisti okvirji
Name[sq]=Pastro Kornizat
Name[sv]=Rena ramar
Name[th]=กรอบภาพแบบสะอาด
Name[tr]=Çerçeveleri Temizle
Name[uk]=Чіткі рамки
Name[x-test]=xxClean Framesxx
Name[zh_CN]=简洁边框
Name[zh_TW]=清爽外框
Comment=A frame theme based on Ruediger Bente's frame theme
Comment[bg]=Изглед с рамки, основан на изгледа с рамки на Ruediger Bente
Comment[bs]=Tema okvira bazirana na Ruediger Bente-ovoj temi okvira
Comment[ca]=Un tema de marcs basat en el tema de marcs del Ruediger Bente
Comment[ca@valencia]=Un tema de marcs basat en el tema de marcs del Ruediger Bente
Comment[cs]=Motiv rámce založený na motivu Ruediger Bente
Comment[da]=Et ramme-tema baseret på Ruediger Bente's ramme-tema
Comment[de]=Ein Rahmendesign, das auf Rüdiger Bentes Rahmendesign basiert
Comment[el]=Ένα θέμα πλαισίων βασισμένο στο θέμα του Ruediger Bente
Comment[en_GB]=A frame theme based on Ruediger Bente's frame theme
Comment[es]=Un tema con marcos basado en el tema de marcos de Ruediger Bente
Comment[et]=Ruediger Bente raamiteemal põhinev raamiteema
Comment[eu]=Ruediger Bente-ren marko-gaian oinarritutako marko-gaia
Comment[fr]=Un thème de cadre utilisant celui de Ruediger Bente
Comment[gl]=Un tema de molduras baseado no de Ruediger Bente
Comment[he]=ערכת מסגרות המבוססת על ערכת המסגרות של רודיגר בנטה
Comment[hu]=Ruediger Bente kerettémáján alapuló kerettéma
Comment[is]=Rammaþema byggt á þema eftir Ruediger Bente
Comment[it]=Un tema a riquadri basato sul tema a riquadri di Rüdiger Bente
Comment[ja]=Ruediger Bente のフレームテーマに基づくフレームテーマ
Comment[km]=ស្បែក​ស៊ុម​មាន​មូលដ្ឋាន​លើ​ស្បែក​ស៊ុម​របស់ Ruediger Bente
Comment[ko]=Ruediger Bente의 프레임 테마를 기반으로 한 테마
Comment[lv]=Ietvaru tēma, balstīta uz  Ruediger Bente ietvaru tēmas
Comment[nb]=Et rammetema bygget på Ruediger Bebtes rammetema
Comment[nds]=En Rahmenmuster, opbuut op Ruediger Bente sien Rahmenmuster
Comment[nl]=Een framethema gebaseerd op het framethema van Ruediger Bente'
Comment[pl]=Wystrój ramki oparty na wystroju ramki autorstwa Ruediger Bente
Comment[pt]=Um tema de moldura baseado no tema de Ruediger Bente
Comment[pt_BR]=Um tema de moldura baseado no tema de Ruediger Bente
Comment[ro]=O tematică de cadru bazată pe tematica lui Ruediger Bente
Comment[ru]=Оформление, основанное на оформлении от Ruediger Bente
Comment[sk]=Téma rámčekov založená na téme od Ruediger Bente
Comment[sl]=Tema z okvirji, ki temelji na temi z okvirji avtorja Ruedigerja Benteja
Comment[sq]=Një temë e bazuar në kornizë sipas asaj të Ruediger Bente
Comment[sv]=Ett ramtema baserat på Ruediger Bentes ramtema
Comment[th]=ชุดตกแต่งกรอบภาพ อิงพื้นฐานจากชุดตกแต่งกรอบภาพของ Ruediger Bente'
Comment[tr]=Ruediger Bente'nin çerçeve teması tabanlı bir  tema
Comment[uk]=Тема рамок на основі теми Ruediger Bente
Comment[x-test]=xxA frame theme based on Ruediger Bente's frame themexx
Comment[zh_CN]=基于 Ruediger Bente 边框主题的边框主题
Comment[zh_TW]=基於 Ruediger Bente 外框主題的主題

[X-HTMLExport Author]
Name=Elizabeth Marmorstein
Name[bg]=Elizabeth Marmorstein
Name[bs]=Elizabeth Marmorstein
Name[ca]=Elizabeth Marmorstein
Name[ca@valencia]=Elizabeth Marmorstein
Name[cs]=Elizabeth Marmorstein
Name[da]=Elizabeth Marmorstein
Name[de]=Elizabeth Marmorstein
Name[el]=Elizabeth Marmorstein
Name[en_GB]=Elizabeth Marmorstein
Name[eo]=Elizabeth Marmorstein
Name[es]=Elizabeth Marmorstein
Name[et]=Elizabeth Marmorstein
Name[eu]=Elizabeth Marmorstein
Name[fi]=Elizabeth Marmorstein
Name[fr]=Elizabeth Marmorstein
Name[gl]=Elizabeth Marmorstein
Name[he]=אליזבת מרמורשטיין
Name[hne]=एलिजाबेथ मारमोर्स्टीन
Name[hu]=Elizabeth Marmorstein
Name[is]=Elizabeth Marmorstein
Name[it]=Elizabeth Marmorstein
Name[ja]=Elizabeth Marmorstein
Name[km]=Elizabeth Marmorstein
Name[ko]=Elizabeth Marmorstein
Name[lt]=Elizabeth Marmorstein
Name[lv]=Elizabeth Marmorstein
Name[nb]=Elizabeth Marmorstein
Name[nds]=Elizabeth Marmorstein
Name[nl]=Elizabeth Marmorstein
Name[pa]=ਏਲੀਜ਼ਬੈਥ ਮਾਰਮੋਰਸਟਿਨ
Name[pl]=Elizabeth Marmorstein
Name[pt]=Elizabeth Marmorstein
Name[pt_BR]=Elizabeth Marmorstein
Name[ro]=Elizabeth Marmorstein
Name[ru]=Elizabeth Marmorstein
Name[sk]=Elizabeth Marmorstein
Name[sl]=Elizabeth Marmorstein
Name[sq]=Elizabeth Marmorstein
Name[sv]=Elizabeth Marmorstein
Name[th]=Elizabeth Marmorstein
Name[tr]=Elizabeth Marmorstein
Name[uk]=Elizabeth Marmorstein
Name[x-test]=xxElizabeth Marmorsteinxx
Name[zh_CN]=Elizabeth Marmorstein
Name[zh_TW]=Elizabeth Marmorstein
Url=mailto:purplegamba@cox.net

[X-HTMLExport Preview]
Name=Clean Frames
Name[bg]=Изчистени рамки
Name[bs]=Prazni okviri
Name[ca]=Marcs nets
Name[ca@valencia]=Marcs nets
Name[cs]=Vyčistit rámce
Name[da]=Ryd rammer
Name[de]=Saubere Rahmen
Name[el]=Καθαρά πλαίσια
Name[en_GB]=Clean Frames
Name[es]=Marcos limpios
Name[et]=Puhtad raamid
Name[eu]=Garbitu markoak
Name[fr]=Cadres clairs
Name[gl]=Molduras simples
Name[he]=מסגרות נקיות
Name[hne]=साफ फ्रेम
Name[hu]=Keretek tisztítása
Name[is]=Hreinir rammar
Name[it]=Riquadri puliti
Name[ja]=クリーンフレーム
Name[km]=ជម្រះ​ស៊ុម
Name[ko]=깔끔한 프레임
Name[lt]=Išvalyti kadrus
Name[lv]=Vienkārši ietvari
Name[nb]=Rene rammer
Name[nl]=Clean Frames
Name[pa]=ਫਰੇਮ ਸਾਫ਼ ਕਰੋ
Name[pl]=Schludne ramki
Name[pt]=Molduras Limpas
Name[pt_BR]=Molduras limpas
Name[ro]=Curăță cadrele
Name[ru]=Компактная с фреймами
Name[sk]=Čisté rámčeky
Name[sl]=Čisti okvirji
Name[sq]=Pastro Kornizat
Name[sv]=Rena ramar
Name[th]=กรอบภาพแบบสะอาด
Name[tr]=Çerçeveleri Temizle
Name[uk]=Чіткі рамки
Name[x-test]=xxClean Framesxx
Name[zh_CN]=简洁边框
Name[zh_TW]=清爽外框
Url=preview.png

[X-HTMLExport Parameter style]
Name=Style
Name[bg]=Изглед
Name[bs]=Stil
Name[ca]=Estil
Name[ca@valencia]=Estil
Name[cs]=Styl
Name[da]=Stil
Name[de]=Stil
Name[el]=Στιλ
Name[en_GB]=Style
Name[eo]=Stilo
Name[es]=Estilo
Name[et]=Stiil
Name[eu]=Estiloa
Name[fi]=Tyyli
Name[fr]=Style
Name[ga]=Stíl
Name[gl]=Estilo
Name[he]=סגנון
Name[hne]=सैली
Name[hu]=Stílus
Name[is]=Stíll
Name[it]=Stile
Name[ja]=スタイル
Name[km]=រចនាប័ទ្ម
Name[ko]=스타일
Name[lt]=Stilius
Name[lv]=Stils
Name[mai]=शैली
Name[mr]=शैली
Name[nb]=Stil
Name[nds]=Stil
Name[nl]=Stijl
Name[oc]=Estil
Name[pa]=ਸਟਾਈਲ
Name[pl]=Styl
Name[pt]=Estilo
Name[pt_BR]=Estilo
Name[ro]=Stil
Name[ru]=Цветовая гамма
Name[sk]=Štýl
Name[sl]=Slog
Name[sq]=Stili
Name[sv]=Stil
Name[th]=ลักษณะ
Name[tr]=Biçim
Name[ug]=ئۇسلۇب
Name[uk]=Стиль
Name[x-test]=xxStylexx
Name[zh_CN]=风格
Name[zh_TW]=樣式
Type=list
Default=pink.css
Value_0=pink.css
Caption_0=Pink
Value_1=blue.css
Caption_1=Blue
Value_2=lavender.css
Caption_2=Lavender
Value_3=green.css
Caption_3=Green
Value_4=black.css
Caption_4=Black
Value_5=red.css
Caption_5=Red
Value_6=yellow.css
Caption_6=Yellow
Value_7=brown.css
Caption_7=Brown
