[Desktop Entry]
Name=Clean Frames
Comment=A frame theme based on Ruediger Bente's frame theme

[X-HTMLExport Author]
Name=Elizabeth Marmorstein
Url=mailto:purplegamba@cox.net

[X-HTMLExport Preview]
Name=Clean Frames
Url=preview.png

[X-HTMLExport Parameter style]
Name=Style
Type=list
Default=pink.css
Value_0=pink.css
Caption_0=Pink
Value_1=blue.css
Caption_1=Blue
Value_2=lavender.css
Caption_2=Lavender
Value_3=green.css
Caption_3=Green
Value_4=black.css
Caption_4=Black
Value_5=red.css
Caption_5=Red
Value_6=yellow.css
Caption_6=Yellow
Value_7=brown.css
Caption_7=Brown
