[Desktop Entry]
Name=ImagePlugin_Perspective
Name[da]=Billedplugin_Perspektivværktøj
Name[it]=PluginImmagini_Prospettiva
Name[nl]=Afbeeldingsplugin_Perspectief
Name[pt_BR]=Plug-in de perspectiva
Name[sr]=Сликовни прикључак — Перспектива
Name[sr@Latn]=Slikovni priključak — Perspektiva
Name[sv]=Insticksprogram för perspektiv
Name[tr]=ResimEklentisi_Perspektif

Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Perspective tool plugin for digiKam
Comment[da]=Perspektivværktøjs-plugin til Digikam
Comment[de]=digiKam Plugin zum Justieren der Perspektive eines Bildes
Comment[el]=Πρόσθετο εργαλείο προοπτικής για το digiKam
Comment[es]=Complemento de herramienta de perspectiva para digiKam
Comment[et]=DigiKami perspektiiviplugin
Comment[fr]=Module externe de digiKam, outil de perspective
Comment[it]=Plugin per lo strumento di prospettiva per digiKam
Comment[nl]=digiKam-plugin voor perspectief
Comment[pt]=Um 'plugin' do digiKam para a ferramenta de perspectiva
Comment[pt_BR]=Plug-in da feramenta de perspectiva para o digiKam
Comment[sr]=digiKam-ов прикључак за перспективу
Comment[sr@Latn]=digiKam-ov priključak za perspektivu
Comment[sv]=Digikam insticksprogram med perspektivverktyg
Comment[tr]=digiKam için perspektif aracı eklentisi

X-KDE-Library=digikamimageplugin_perspective
author=Gilles Caulier, caulier dot gilles at free dot fr
