[Desktop Entry]
Name=ImagePlugin_Perspective
Name[bg]=Приставка за снимки - Перспектива
Name[da]=Billedplugin_Perspektivværktøj
Name[el]=ΠρόσθετοΕικόνας_Προοπτική
Name[hr]=Perspektiva
Name[it]=PluginImmagini_Prospettiva
Name[ms]=ImagePlugin_Perspektif
Name[nl]=Afbeeldingsplugin_Perspectief
Name[pt_BR]=Plug-in de perspectiva
Name[sr]=Перспектива
Name[sr@Latn]=Perspektiva
Name[sv]=Insticksprogram för perspektiv
Name[tr]=ResimEklentisi_Perspektif
Name[xx]=xxImagePlugin_Perspectivexx

Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Perspective tool plugin for digiKam
Comment[bg]=Приставка на digiKam за промяна на перспективата
Comment[da]=Perspektivværktøjs-plugin for Digikam
Comment[de]=digiKam-Modul zum Justieren der Perspektive eines Bildes
Comment[el]=Πρόσθετο εργαλείο προοπτικής για το digiKam
Comment[es]=Plugin de herramienta de perspectiva para digiKam
Comment[et]=DigiKami perspektiiviplugin
Comment[fr]=Module externe pour ajuster la perspective d'une image
Comment[gl]=Un plugin de digiKam para a ferramenta de perspectiva
Comment[hr]=digiKam dodatak za perspektivu
Comment[is]=Íforrit fyrir digiKam sem breytir sjónarhorni
Comment[it]=Plugin per lo strumento di prospettiva per digiKam
Comment[ja]=digiKam 視点調整プラグイン
Comment[ms]=Plugin perkakasan perspektif untuk digiKam
Comment[nl]=Digikam-plugin voor perspectief
Comment[pl]=Wtyczka do programu digiKam umożliwiająca korekcję perspektywy
Comment[pt]=Um 'plugin' do digiKam para a ferramenta de perspectiva
Comment[pt_BR]=Plug-in da feramenta de perspectiva para o digiKam
Comment[sk]=digiKam plugin pre nástroj s perspektívou
Comment[sr]=digiKam-ов прикључак за перспективу
Comment[sr@Latn]=digiKam-ov priključak za perspektivu
Comment[sv]=Digikam insticksprogram med perspektivverktyg
Comment[tr]=digiKam için perspektif aracı eklentisi
Comment[vi]=Bổ sung công cụ phối cảnh cho digiKam
Comment[xx]=xxPerspective tool plugin for digiKamxx

X-KDE-Library=digikamimageplugin_perspective
author=Gilles Caulier, caulier dot gilles at free dot fr
