.alignmentMiddle {
	margin-top: expression((parentNode.offsetHeight - this.offsetHeight) / 2) !important;
}
.alignmentOuterGrid {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.dropShadow {
	background: none;

}
.thumb, .preview {
	filter:progid:DXImageTransform.Microsoft.Shadow(Color=#000000, Direction=135, Strength=1); 
}

