#previewFull {
  background-color: #000000 !important;
  color: inherit;
}

#content {
  background-color: #000000 !important;
  color: inherit;
}

#stage, #stage2 {
  border-bottom: 1px dotted #7F7F7F !important;
}

body {
  background-color: #000000 !important;
  color: inherit;
}

.thumbnail:hover {
  background-color: #DEDEDE !important;
  color: inherit;
}

#sitetitle {
  border-bottom: 1px dotted #7F7F7F !important;
}

.thumbnail {
  background-color: #000000 !important;
  color: inherit;
}

.itemNumber {
  color: #737373 !important;
/*   background-color: inherit; */
}

.borderTopLeft {
  border-top: 1px solid #727272 !important;
  border-left: 1px solid #727272 !important;
}

.emptyThumbnail {
  background-color: #000000 !important;
  color: inherit;
}

.borderBottomRight {
  border-right: 1px solid #727272 !important;
  border-bottom: 1px solid #727272 !important;
}

.paginationLinks, .pagination {
  color: #C1C1C1 !important;
  background-color: inherit;
}

#liveUpdateSiteTitle {
  color: #C1C1C1 !important;
  background-color: inherit;
}

.borderBottom {
  border-bottom: 1px solid #727272 !important;
}

.borderRight {
  border-right: 1px solid #727272 !important;
}

.detailNav, .detailLinks, #detailCaption {
  color: #C8C8C8 !important;
  background-color: inherit;
}
