<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<!-- NOTE: don't forget to increase version ID when this file is modified -->
<gui version="13" name="digikamimageplugin_transform" >

 <MenuBar>

  <Menu name="Transform" ><text>Tra&amp;nsform</text>
   <Action name="imageplugin_ratiocrop" />
   <Action name="imageplugin_resize" />
   <Separator />
   <Action name="imageplugin_perspective" />
   <Action name="imageplugin_freerotation" />
   <Action name="imageplugin_sheartool" />
   <Action name="imageplugin_contentawareresizing" />   
  </Menu>

 </MenuBar>

 <ToolBar name="mainToolBar" >
  <text>Main Toolbar</text>
 </ToolBar>

 <ActionProperties>
   <Action shortcut="" name="imageplugin_ratiocrop" /> 
   <Action shortcut="" name="imageplugin_resize" />
   <Action shortcut="" name="imageplugin_perspective" />
   <Action shortcut="" name="imageplugin_freerotation" />   
   <Action shortcut="" name="imageplugin_sheartool" />   
   <Action shortcut="" name="imageplugin_contentawareresizing" />   
 </ActionProperties>

</gui>
