[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukService
X-KDE-Library=digikamnepomukservice
X-KDE-Nepomuk-autostart=true
X-KDE-Nepomuk-start-on-demand=false
# Dependencies default to 'nepomukstorage'
#X-KDE-Nepomuk-dependencies=nepomukfoobar
Name=Digikam Nepomuk Service
Name[bg]=Услуга Nepomuk за Digikam
Name[ca]=Servei Nepomuk del Digikam
Name[da]=Digikam Nepomuk-tjeneste
Name[en_GB]=Digikam Nepomuk Service
Name[es]=Servicio de Nepomuk para Digikam
Name[et]=Digikami Nepomuki teenus
Name[fi]=DigiKamin Nepomuk-palvelu
Name[fr]=Service Nepomuk pour digiKam
Name[gl]=Servizo digikam de Nepomuk
Name[it]=Servizio Nepomuk di Digikam
Name[nb]=Digikam Nepomuk-tjeneste
Name[nds]=Digikam-Nepomuk-Deenst
Name[nl]=Digikam Nepomuk-service
Name[pt]=Serviço do Nepomuk para o Digikam
Name[pt_BR]=Serviço do Nepomuk para o digiKam
Name[sv]=Digikam Nepomuk-tjänst
Name[tr]=Digikam Nepomuk Servisi
Name[uk]=Служба Nepomuk Digikam
Name[x-test]=xxDigikam Nepomuk Servicexx
Name[zh_TW]=Digikam Nepomuk 服務
Comment=A Nepomuk service that syncs with digikam
Comment[bg]=Услуга Nepomuk, която се синхронизира с Digikam
Comment[ca]=Un servei Nepomuk que sincronitza amb el Digikam
Comment[da]=En Nepomuk-tjeneste der synkroniserer med digiKam
Comment[en_GB]=A Nepomuk service that syncs with digikam
Comment[es]=Un servicio de Nepomuk que se sincroniza con Digikam
Comment[et]=Nepomuki teenus, mis sünkroniseerib andmeid digiKamiga
Comment[fr]=Un service Nepomuk qui se synchronise avec digiKam
Comment[gl]=Un servizo de Nepomuk que sincroniza con digikam
Comment[it]=Un servizio di Nepomuk che si sincronizza con Digikam
Comment[nb]=En Nepomuk-tjeneste som synkroniserer med digikam
Comment[nds]=En Nepomuk-Deenst, de mit Digikam synkroniseert
Comment[nl]=Een Nepomuk-service die synchroniseert met digikam
Comment[pt]=Um serviço do Nepomuk que sincroniza com o digiKam
Comment[pt_BR]=Um serviço do Nepomuk que sincroniza com o digiKam
Comment[sv]=En Nepomuk-tjänst som synkroniserar med Digikam
Comment[tr]=Digikam ile eşzamanlama yapan bir Nepomuk servisi
Comment[uk]=Служба Nepomuk, яка виконує синхронізацію з digiKam
Comment[x-test]=xxA Nepomuk service that syncs with digikamxx
Comment[zh_TW]=一個與 digikam 同步的 Nepomuk 服務
