[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukService
X-KDE-Library=digikamnepomukservice
X-KDE-Nepomuk-autostart=true
X-KDE-Nepomuk-start-on-demand=false
# Dependencies default to 'nepomukstorage'
#X-KDE-Nepomuk-dependencies=nepomukfoobar
Name=Digikam Nepomuk Service
Name[ast]=Serviciu de Nepomuk pa Digikam
Name[bg]=Услуга Nepomuk за Digikam
Name[bs]=Digikam Nepomuk Usluga
Name[ca]=Servei Nepomuk del digiKam
Name[ca@valencia]=Servei Nepomuk del digiKam
Name[cs]=Služba digiKamu Nepomuk
Name[da]=Digikam Nepomuk-tjeneste
Name[de]=digiKam-Nepomuk-Dienst
Name[el]=Digikam Nepomuk Service
Name[en_GB]=Digikam Nepomuk Service
Name[es]=Servicio de Nepomuk para Digikam
Name[et]=Digikami Nepomuki teenus
Name[eu]=Digikam-en Nepomuk zerbitzua
Name[fi]=DigiKamin Nepomuk-palvelu
Name[fr]=Service Nepomuk pour digiKam
Name[gl]=Servizo digikam de Nepomuk
Name[hu]=digiKam Nepomuk-szolgáltatás
Name[is]=Digikam Nepomuk þjónusta
Name[it]=Servizio Nepomuk di Digikam
Name[km]=សេវា Digikam Nepomuk
Name[lt]=digiKam Nepomuk tarnyba
Name[lv]=Digikam Nepomuk serviss
Name[nb]=Digikam Nepomuk-tjeneste
Name[nds]=Nepomuk-Deenst för Digikam
Name[nl]=Digikam Nepomuk-service
Name[pa]=ਡਿਜਿਕੈਮ ਨਿਪੋਮੁਕ ਸਰਵਿਸ
Name[pl]=Usługa Nepomuk Digikam
Name[pt]=Serviço do Nepomuk para o Digikam
Name[pt_BR]=Serviço do Nepomuk para o digiKam
Name[ro]=Serviciul Nepomuk Digikam
Name[ru]=Служба Nepomuk для digiKam
Name[sk]=Služba Digikam Nepomuk
Name[sl]=Storitev Nepomuk za digiKam
Name[sv]=Digikam Nepomuk-tjänst
Name[th]=บริการ Nepomuk ของ DigiKam
Name[tr]=Digikam Nepomuk Hizmeti
Name[uk]=Служба Nepomuk Digikam
Name[x-test]=xxDigikam Nepomuk Servicexx
Name[zh_CN]=Digikam Nepomuk 服务
Name[zh_TW]=Digikam Nepomuk 服務
Comment=A Nepomuk service that syncs with digikam
Comment[ast]=Un serviciu de Nepomuk que se sincroniza con Digikam
Comment[bg]=Услуга Nepomuk, която се синхронизира с Digikam
Comment[bs]=Nepomuk usluga koja se sinhronizuje sa digiKam
Comment[ca]=Un servei Nepomuk que sincronitza amb el digiKam
Comment[ca@valencia]=Un servei Nepomuk que sincronitza amb el digiKam
Comment[cs]=Služba Nepomuk pro synchronizaci s digiKamem
Comment[da]=En Nepomuk-tjeneste der synkroniserer med digiKam
Comment[de]=Ein Nepomuk-Dienst, der Daten mit digiKam abgleicht
Comment[el]=Υπηρεσία Nepomuk για συγχρονισμό με το digikam
Comment[en_GB]=A Nepomuk service that syncs with digikam
Comment[es]=Un servicio de Nepomuk que se sincroniza con Digikam
Comment[et]=Nepomuki teenus, mis sünkroniseerib andmeid digiKamiga
Comment[eu]=digiKam-ekin sinkronizatzen den Nepomuk zerbitzua
Comment[fi]=Nepomuk-palvelu dikikamin kanssa synkronoimiseen
Comment[fr]=Un service Nepomuk se synchronisant avec digiKam
Comment[gl]=Un servizo de Nepomuk que sincroniza con digikam
Comment[hu]=A digiKammal szinkronizáló Nepomuk-szolgáltatás
Comment[is]=Nepomuk þjónusta sem samhæfir við Digikam
Comment[it]=Un servizio di Nepomuk che si sincronizza con Digikam
Comment[km]=សេវា​ Nepomuk ​ដែល​ធ្វើ​សមកាល​កម្ម​ជា​មួយ​នឹង​ digikam
Comment[lt]=Nepomuk tarnyba, kuri sinchronizuojasi su digiKam
Comment[lv]=Nepomuk serveriss sinhronizēšanai ar digikam
Comment[nb]=En Nepomuk-tjeneste som synkroniserer med digikam
Comment[nds]=En Nepomuk-Deenst, de mit Digikam synkroniseert
Comment[nl]=Een Nepomuk-service die synchroniseert met digikam
Comment[pa]=ਡਿਜਿਕੈਮ ਨਾਲ ਸੈਕਰੋਨਾਈਜ਼ ਕਰਨ ਲਈ ਨਿਪੋਮੁਕ ਸਰਵਿਸ
Comment[pl]=Usługa Nepomuk, która synchronizuje się z digikam
Comment[pt]=Um serviço do Nepomuk que sincroniza com o digiKam
Comment[pt_BR]=Um serviço do Nepomuk que sincroniza com o digiKam
Comment[ro]=Serviciul Nepomuk pentru sincronizarea cu Digikam
Comment[ru]=Служба Nepomuk, выполняющая синхронизацию с digiKam
Comment[sk]=Služba Nepomuk ktorá synchronizuje s digiKamom
Comment[sl]=Storitev Nepomuk, ki se usklajuje z digiKam
Comment[sv]=En Nepomuk-tjänst som synkroniserar med Digikam
Comment[th]=บริการ Nepomuk ที่จะทำการปรับเทียบข้อมูลกับ digikam
Comment[tr]=Digikam ile eşzamanlama yapan bir Nepomuk hizmeti
Comment[uk]=Служба Nepomuk, яка виконує синхронізацію з digiKam
Comment[x-test]=xxA Nepomuk service that syncs with digikamxx
Comment[zh_CN]=与 digikam 同步的 Nepomuk 服务
Comment[zh_TW]=與 digikam 同步的 Nepomuk 服務
