[Desktop Entry]
Name=ImagePlugin_Refocus
Name[el]=ΠρόσθετοΕικόνας_Επανεστίαση
Name[nl]=Afbeeldingsplugin_OpnieuwFocussen
Name[sr]=Префокусирање
Name[sr@Latn]=Prefokusiranje
Name[sv]=Insticksprogram för omfokusering
Name[tr]=ResimEklentisi_Odakla
Name[xx]=xxImagePlugin_Refocusxx

Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=digiKam plugin to refocus an image
Comment[da]=digiKam-plugin til at refokusere et billede
Comment[de]=Ein digiKam-Modul zum Refokussieren eines Bildes.
Comment[el]=Πρόσθετο για την επανεστίαση μιας εικόνας για το digiKam
Comment[et]=DigiKami pildi fookuse muutmise plugin
Comment[nl]=digiKam-plugin voor het opnieuw focussen van een afbeelding
Comment[pt]=Um 'plugin' do digiKam para voltar a focar uma imagem
Comment[pt_BR]=Um 'plugin' do digiKam para voltar a focar uma imagem
Comment[sr]=digiKam-ов прикључак за префокусирање слике
Comment[sr@Latn]=digiKam-ov priključak za prefokusiranje slike
Comment[sv]=Digikam insticksprogram för att fokusera om en bild
Comment[tr]=Bir resmi yeniden odaklamak için digiKam eklentisi
Comment[xx]=xxdigiKam plugin to refocus an imagexx

X-KDE-Library=digikamimageplugin_refocus
author=Gilles Caulier, caulier dot gilles at free dot fr
