[Desktop Entry]
Name=ImagePlugin_Refocus
Name[nl]=Afbeeldingsplugin_OpnieuwFocussen

Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=digiKam plugin to refocus an image
Comment[et]=DigiKami pildi fookuse muutmise plugin
Comment[nl]=digiKam-plugin voor het opnieuw focussen van een afbeelding
Comment[pt]=Um 'plugin' do digiKam para voltar a focar uma imagem
Comment[pt_BR]=Um 'plugin' do digiKam para voltar a focar uma imagem

X-KDE-Library=digikamimageplugin_refocus
author=Gilles Caulier, caulier dot gilles at free dot fr
