#headerL {
  background-image: url(%1);
}

#boxCenter {
  padding: 1em;
}

.sepTable {
  border: 1px solid #BDBDBD;
}

.specTableTitle {
  background-color: %2;
}

.specTableSubTitle {
  background-color: %3;
}
