
#headerR {
  position: absolute;
  right: 0px;
  width: 430px;
  height: 131px;
  background-image: url(top-right-digikam.png);
}

#title {
  right: 125px;
}

#tagline {
  right: 125px;
}

#boxCenter {
  background-image: url(box-center-digikam.png);
  background-repeat: no-repeat;
  background-color: #dfe7f3;
  background-position: bottom right;
}

/* vim:set sw=2 et nocindent smartindent: */

