
/*
 * text styles
 */

img {margin: 0px; padding: 0px}
body {margin: 0px; padding: 0px; background-color: %1; color: %2; height="100%"; width="100%"}
a { color: #6193CF; text-decoration: none; font-weight: bold; }
a:hover {
  color: #6193CF;
  text-decoration: none;
  text-shadow: #6193CF 0px 0px 6px;
}
<!-- .bar_text a {color: #FFFFFF;} -->

#subtext {
    font-size: 10pt;
    font-style: italic;
}

#nextlink {
    margin: 0px;
    padding-top: 1em;
    text-align: center;
    font-size: 10pt;
}

.sepTable {
  border: 1px solid #BDBDBD;
}

.specTableTitle {
  background-color: %3;
}

.specTableSubTitle {
  background-color: %4;
}

/*
 * the header
 */

#header {
  background-image: url(%5);
  width: 100%;
  height: 131px;
}

#headerL {
  position: absolute;
  background-image: url(%6);
  margin-left: 2%;
  left: 0px;
  height: 131px;
  width: 147px;
  z-index: 1;
}

#headerR {
  position: absolute;
  right: 0px;
}

/* title and tagline are part of the header diff */
#title {
  position: absolute;
  top: 63px;
  right: 0px;
  margin-top: -1em;
  margin-right: 2%;
  text-align: right;
  font-size: xx-large;
  font-weight: bold;
  text-shadow: #CDE1FF 0px 0px 5px;
  color: #444;
  z-index: 5;
}

#tagline {
  position: absolute;
  top: 70px;
  right: 0px;
  margin-right: 2%;
  margin-left: 200px;
  text-align: right;
  font-size: large;
  font-weight: bold;
  text-shadow: #CDE1FF 0px 0px 5px;
  color: #444;
  z-index: 5;
}

/*
 * the main box
 */

#box {
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#boxT {
  width: 100%;
  height: 49px;
}

#boxTL {
  width: 55px;
  height: 49px;
  float: left;
  background-image: url(%7);     /* box-top-left.png */
}

#boxTR {
  width: 55px;
  height: 49px;
  float: right;
  background-image: url(%8);     /* box-top-right.png */
}

#boxTC {
  height: 49px;
  margin-left: 55px;
  margin-right: 55px;
  background-image: url(%9);     /* box-top-middle.png */
  background-repeat: repeat-x;
}

#boxL {
  background-image: url(%10);    /* box-middle-left.png */
  background-repeat: repeat-y;
  background-position: left;
  padding-left: 55px;
}

#boxCenter {
  background-color: %11;
  background-position: center;
  text-align: left;
  padding: 1em;
}

#boxR {
  background-image: url(%12);    /* box-middle-right.png */
  background-repeat: repeat-y;
  background-position: right;
  padding-right: 55px;
}

#boxB {
  width: 100%;
  height: 49px;
}

#boxBL {
  width: 55px;
  height: 49px;
  float: left;
  background-image: url(%13);    /* box-bottom-left.png */
}

#boxBR {
  width: 55px;
  height: 49px;
  float: right;
  background-image: url(%14);    /* box-bottom-right.png */
}

#boxBC {
  height: 49px;
  margin-left: 55px;
  margin-right: 55px;
  background-image: url(%15);    /* box-bottom-middle.png */
  background-repeat: repeat-x;
}
