
/*
 * text styles
 */

img {margin: 0px; padding: 0px}
body {margin: 0px; padding: 0px; background-color: %1; color: #FFFFFF; height="100%"; width="100%"}
a { color: #6193CF; text-decoration: none; font-weight: bold; }
a:hover {
  color: #6193CF;
  text-decoration: none;
  text-shadow: #6193CF 0px 0px 6px;
}
<!-- .bar_text a {color: #FFFFFF;} -->

#subtext {
    font-size: 10pt;
    font-style: italic;
}

#nextlink {
    margin: 0px;
    padding-top: 1em;
    text-align: center;
    font-size: 10pt;
}

/*
 * the header
 */

#header {
  background-image: url(%2);
  width: 100%;
  height: 131px;
}

#headerL {
  position: absolute;
  background-image: url(%3);
  left: 0px;
  height: 131px;
  width: 147px;
  z-index: 1;
}

#headerR {
  position: absolute;
  right: 0px;
}

/* title and tagline are part of the header diff */
#title {
  position: absolute;
  top: 63px;
  right: 0px;
  margin-top: -1em;
  margin-right: 5%;
  text-align: right;
  font-size: xx-large;
  font-weight: bold;
  text-shadow: #CDE1FF 0px 0px 5px;
  color: #444;
  z-index: 5;
}

#tagline {
  position: absolute;
  top: 70px;
  right: 0px;
  margin-right: 5%;
  text-align: right;
  font-size: large;
  font-weight: bold;
  text-shadow: #CDE1FF 0px 0px 5px;
  color: #444;
  z-index: 5;
}

/*
 * the nav bar
 */

#bar {
  width: 100%;
}

#barCenter {
  text-align: center;
  background-color: %4;
  color: %5;
  padding-top: 0.5ex;
  padding-bottom: 0.5ex;
  font-weight: bold;
  font-size: small;
}

#barCenter a.selected, #barCenter a.selected:hover {
  color: #282828;
  text-decoration: none;
  text-shadow: #CDE1FF 0px 0px 5px;
}


#barCenter li a:link, #barCenter li a:visited, #barCenter li a:active {
  color: #282828;
  text-decoration: none;
  text-shadow: none;
}

#barCenter li a:hover {
  color: #282828;
  text-decoration: none;
  text-shadow: #CDE1FF 0px 0px 6px;
}

#barCenter ul {
  margin: 0;
  padding: 0;
}

#barCenter li {
  display: inline;
}

#barCenter li:not(:first-child):before { /* Aren't css3 selectors great? */
  content: " ï¿½ ";
}

/*
 * the main box
 */

#box {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#boxT {
  width: 100%;
  height: 49px;
}

#boxTL {
  width: 55px;
  height: 49px;
  float: left;
  background-image: url(%6);
}

#boxTR {
  width: 55px;
  height: 49px;
  float: right;
  background-image: url(%7);
}

#boxTC {
  height: 49px;
  margin-left: 55px;
  margin-right: 55px;
  background-image: url(%8);
  background-repeat: repeat-x;
}

#boxL {
  background-image: url(%9);
  background-repeat: repeat-y;
  background-position: left;
  padding-left: 55px;
}

#boxCenter {
  background-color: #010101;
  background-position: center;
  text-align: left;
}

#boxR {
  background-image: url(%10);
  background-repeat: repeat-y;
  background-position: right;
  padding-right: 55px;
}

#boxB {
  width: 100%;
  height: 49px;
}

#boxBL {
  width: 55px;
  height: 49px;
  float: left;
  background-image: url(%11);
}

#boxBR {
  width: 55px;
  height: 49px;
  float: right;
  background-image: url(%12);
}

#boxBC {
  height: 49px;
  margin-left: 55px;
  margin-right: 55px;
  background-image: url(%13);
  background-repeat: repeat-x;
}

/*
 * the footer
 */

#footer {
  position: fixed;
  background-image: url(%14);
  width: 100%;
  height: 100px;
  z-index: -2;
  bottom:0;
}

#footerL {
  position: fixed;
  background-image: url(%15);
  left: 0px;
  width: 155px;
  height: 100px;
  z-index: -2;
}

#footerR {
  position: fixed;
  background-image: url(%16);
  right: 0px;
  width: 429px;
  height: 100px;
  z-index: -1;
}

/* vim:set sw=2 et nocindent smartindent: */
