[Desktop Entry]
Name=ImagePlugin_ShearTool
Name[bg]=Приставка за снимки - Инструмент за изрязване
Name[da]=Billedplugin_Forskydningsværktøj
Name[el]=ΠρόσθετοΕικόνας_ΕργαλείοΣτρέβλωσης
Name[hr]=Smicanje
Name[it]=PluginImmagini_DistorsioneCurvilinea
Name[ms]=ImagePlugin_PerkakasanMemotong
Name[nl]=Afbeeldingsplugin_Schuintrekken
Name[pt_BR]=Plug-in da tesoura
Name[sr]=Алат за искошавање
Name[sr@Latn]=Alat za iskošavanje
Name[sv]=Insticksprogram med skjuvningsverktyg
Name[tr]=ResimEklentisi_EğmeAracı
Name[xx]=xxImagePlugin_ShearToolxx

Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Shear tool plugin for digiKam
Comment[bg]=Приставка на digiKam с инструмент за изрязване на снимки
Comment[da]=Forskydningsværktøjs-plugin for Digikam
Comment[de]=digiKam-Modul zum Scheren eines Bildes
Comment[el]=Πρόσθετο εργαλείο στρέβλωσης για το digiKam
Comment[es]=Plugin para digiKam con una herramienta de corte
Comment[et]=DigiKami pildinihkeplugin
Comment[fr]=Module externe pour cisailler une image
Comment[gl]=Un plugin de digiKam para inclinar unha imaxe
Comment[hr]=digiKam dodatak za smicanje
Comment[it]=Plugin per lo strumento di distorsione curvilinea per digiKam
Comment[ja]=digiKam 剪断変形プラグイン
Comment[ms]=Plugin perkakasan memotong untuk digiKam
Comment[nl]=Digikam-plugin voor het schuin trekken van afbeeldingen
Comment[pa]=ਡਿਜ਼ੀਕੈਮ ਲਈ ਟੇਢਾ ਕਰਨ ਵਾਲਾ ਸੰਦ ਪਲੱਗਿੰਨ
Comment[pl]=Wtyczka do programu digiKam umożliwiająca pochylenie obrazu
Comment[pt]=Um 'plugin' do digiKam para inclinar uma imagem
Comment[pt_BR]=Plug-in da ferramenta tesoura para o digiKam
Comment[sr]=digiKam-ов прикључак за искошавање
Comment[sr@Latn]=digiKam-ov priključak za iskošavanje
Comment[sv]=Digikam insticksprogram med skjuvningsverktyg
Comment[tr]=digiKam için eğme aracı eklentisi
Comment[vi]=Bổ sung công cụ kéo cắt cho digiKam
Comment[xx]=xxShear tool plugin for digiKamxx

X-KDE-Library=digikamimageplugin_sheartool
author=Gilles Caulier, caulier dot gilles at free dot fr
