<?xml version="1.0"?><api><query><pages><page pageid="27697087" ns="0" title="API"><revisions><rev timestamp="2010-06-13T08:41:17Z" /></revisions></page><page pageid="15580374" ns="0" title="Main Page"><revisions><rev timestamp="2010-09-28T15:21:07Z" /></revisions></page></pages></query></api>
