[Desktop Entry]
Type=Theme
Name=Frames
Name[ca]=Marcs
Name[ca@valencia]=Marcs
Name[cs]=Rámce
Name[de]=Rahmen
Name[el]=Πλαίσια
Name[en_GB]=Frames
Name[es]=Marcos
Name[fr]=Cadres
Name[gl]=Marcos
Name[is]=Rammar
Name[it]=Cornici
Name[nb]=Rammer
Name[nl]=Frames
Name[nn]=Rammer
Name[pl]=Ramki
Name[pt]=Molduras
Name[ru]=Фреймы
Name[sv]=Ramar
Name[tr]=Çerçeveler
Name[uk]=Рамки
Name[x-test]=xxFramesxx
Name[zh_CN]=帧数
Comment=A frame theme
Comment[ca]=Un tema de marcs
Comment[ca@valencia]=Un tema de marcs
Comment[cs]=Motiv rámce
Comment[de]=Ein Rahmendesign
Comment[el]=ένα θέμα πλαισίου
Comment[en_GB]=A frame theme
Comment[es]=Un tema de marcos
Comment[fr]=Un thème de cadre
Comment[gl]=Un tema de marco
Comment[is]=Þema með römmum
Comment[it]=Tema di cornici
Comment[nb]=Et rammetema
Comment[nl]=Een frame-thema
Comment[nn]=Eit rammetema
Comment[pl]=Wygląd ramki
Comment[pt]=Um tema de molduras
Comment[ru]=Оформление с фреймами
Comment[sv]=Ett ramtema
Comment[tr]=Bir çerçeve teması
Comment[uk]=Тема рамок
Comment[x-test]=xxA frame themexx
Comment[zh_CN]=一个相框主题

[X-HTMLGallery Author]
Name=Ruediger Bente
Name[ca]=Ruediger Bente
Name[ca@valencia]=Ruediger Bente
Name[cs]=Ruediger Bente
Name[de]=Ruediger Bente
Name[el]=Ruediger Bente
Name[en_GB]=Ruediger Bente
Name[es]=Ruediger Bente
Name[fr]=Ruediger Bente
Name[gl]=Ruediger Bente
Name[is]=Ruediger Bente
Name[it]=Ruediger Bente
Name[nb]=Ruediger Bente
Name[nl]=Ruediger Bente
Name[nn]=Rüdiger Bente
Name[pl]=Ruediger Bente
Name[pt]=Ruediger Bente
Name[ru]=Ruediger Bente
Name[sv]=Ruediger Bente
Name[tr]=Ruediger Bente
Name[uk]=Ruediger Bente
Name[x-test]=xxRuediger Bentexx
Name[zh_CN]=Ruediger Bente
Url=mailto:ruediger.bente@gmx.de

[X-HTMLGallery Preview]
Name=Frames
Name[ca]=Marcs
Name[ca@valencia]=Marcs
Name[cs]=Rámce
Name[de]=Rahmen
Name[el]=Πλαίσια
Name[en_GB]=Frames
Name[es]=Marcos
Name[fr]=Cadres
Name[gl]=Marcos
Name[is]=Rammar
Name[it]=Cornici
Name[nb]=Rammer
Name[nl]=Frames
Name[nn]=Rammer
Name[pl]=Ramki
Name[pt]=Molduras
Name[ru]=Фреймы
Name[sv]=Ramar
Name[tr]=Çerçeveler
Name[uk]=Рамки
Name[x-test]=xxFramesxx
Name[zh_CN]=帧数
Url=preview.png
