#previewFull {
  background-color: #404040 !important;
  color: inherit;
}

#content {
  background-color: #292929 !important;
  color: inherit;
}

#stage, #stage2 {
  border-bottom: 1px dotted #7F7F7F !important;
}

body {
  background-color: #292929 !important;
  color: inherit;
}

.thumbnail:hover {
  background-color: #302D2C !important;
  color: inherit;
}

#sitetitle {
  border-bottom: 1px dotted #7F7F7F !important;
}

.thumbnail {
  background-color: #404040 !important;
  color: inherit;
}

.itemNumber {
  color: #7B7B7B !important;
/*   background-color: inherit; */
}

.borderTopLeft {
  border-top: 1px solid #565656 !important;
  border-left: 1px solid #565656 !important;
}

.emptyThumbnail {
  background-color: #404040 !important;
  color: inherit;
}

.borderBottomRight {
  border-right: 1px solid #565656 !important;
  border-bottom: 1px solid #565656 !important;
}

.paginationLinks, .pagination {
  color: #B3B3B3 !important;
  background-color: inherit;
}

#liveUpdateSiteTitle {
  color: #B3B3B3 !important;
  background-color: inherit;
}

.borderBottom {
  border-bottom: 1px solid #565656 !important;
}

.borderRight {
  border-right: 1px solid #565656 !important;
}

.detailNav, .detailLinks, #detailCaption {
  color: #B3B3B3 !important;
  background-color: inherit;
}
