#previewFull {
  background-color: #000033 !important;
  color: inherit;
}

#liveUpdateContactInfo {
  color: #656279 !important;
  background-color: inherit;
}

#stage, #stage2 {
  border-bottom: 1px dotted #7F7F7F !important;
}

body {
  background-color: #00013F !important;
  color: inherit;
}

.thumbnail:hover {
  background-color: #2C2A4D !important;
  color: inherit;
}

#sitetitle {
  border-bottom: 1px dotted #7F7F7F !important;
}

.thumbnail {
  background-color: #00002A !important;
  color: inherit;
}

.itemNumber {
  color: #461A38 !important;
/*   background-color: inherit; */
}

.borderTopLeft {
  border-top: 1px solid #553D5C !important;
  border-left: 1px solid #553D5C !important;
}

.emptyThumbnail {
  background-color: #00002A !important;
  color: inherit;
}

.borderBottomRight {
  border-right: 1px solid #553D5C !important;
  border-bottom: 1px solid #553D5C !important;
}

.paginationLinks, .pagination {
  color: #656279 !important;
  background-color: inherit;
}

#liveUpdateSiteTitle {
  color: #656279 !important;
  background-color: inherit;
}

.borderBottom {
  border-bottom: 1px solid #553D5C !important;
}

.borderRight {
  border-right: 1px solid #553D5C !important;
}

.detailNav, .detailLinks, #detailCaption {
  color: #656279 !important;
  background-color: inherit;
}
