<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui version="1" name="digikam" >
 <MenuBar>
  <Menu name="Camera" >
   <text>&amp;Camera</text>
   <Action name="connect" />
   <Action name="download" />
   <Action name="delete" />
   <Action name="upload" />
   <Separator/>
   <Action name="cancel" />
   <Action name="information" />
   <Separator/>
   <Action name="cameraui_exit" />
  </Menu>
  <Menu noMerge="1" name="select" >
   <text>&amp;Select</text>
   <Action name="selectAll" />
   <Action name="selectNone" />
   <Action name="selectInvert" />
   <Action name="selectNew" />
  </Menu>
  <Menu name="View" >
   <text>&amp;View</text>
   <Action name="thumbSizeIncrease" />
   <Action name="thumbSizeDecrease" />
   <Action name="full_screen" />
   <Separator/>
   <Action name="hideFolders" />
   <Action name="hideStatusBar" />
  </Menu>
  <Menu name="settings" />
  <Merge/>
 </MenuBar>
 <ToolBar noMerge="1" name="ToolBar" >
  <text>Camera</text>
  <Action name="connect" />
  <Action name="information" />
  <Separator name="separator_8" />
  <Separator name="separator_7" />
  <Separator name="separator_6" />
  <Action name="download" />
  <Action name="upload" />
  <Action name="delete" />
  <Action name="cancel" />
  <Separator name="separator_5" />
  <Separator name="separator_4" />
  <Separator name="separator_3" />
  <Action name="hideFolders" />
  <Action name="thumbSizeIncrease" />
  <Action name="thumbSizeDecrease" />
  <Action name="full_screen" />
 </ToolBar>
 <ActionProperties/>
</kpartgui>
