[Desktop Entry]
Name=Elegant
Name[ca]=Elegant
Name[ca@valencia]=Elegant
Name[cs]=Elegantní
Name[el]=Elegant
Name[en_GB]=Elegant
Name[es]=Elegante
Name[fr]=Élégant
Name[is]=Fínt
Name[it]=Elegante
Name[nl]=Elegant
Name[nn]=Elegant
Name[pl]=Elegancki
Name[pt]=Elegante
Name[ru]=Элегантное
Name[sv]=Elegant
Name[tr]=Zarif
Name[uk]=Елегантний
Name[x-test]=xxElegantxx
Comment=Based on the "Simple" theme. Uses Lytebox by Markus F. Hay to display the images in a slideshow.
Comment[ca]=Basat en el tema «Senzill». Usa el Lytebox del Markus F. Hay per a mostrar les imatges en un passi de dispositives.
Comment[ca@valencia]=Basat en el tema «Senzill». Usa el Lytebox del Markus F. Hay per a mostrar les imatges en un passe de dispositives.
Comment[el]=Based on the "Simple" theme. Uses Lytebox by Markus F. Hay to display the images in a slideshow.
Comment[en_GB]=Based on the "Simple" theme. Uses Lytebox by Markus F. Hay to display the images in a slideshow.
Comment[es]=Basado en el tema «Sencillo». Usa Lytebox, de Markus F. Hay, para mostrar una presentación con las imágenes.
Comment[fr]=Basé sur le thème « Simple ». Utilise Lytebox par Markus F. Hay pour afficher les images en diaporama.
Comment[is]=Byggt á "Einfalt" þemanu. Notar Lytebox eftir Markus F. Hay til birtingar á myndum í skyggnusýningu.
Comment[it]=Basato sul tema «Semplice». Usa Lytebox di Markus F. Hay per visualizzare le immagini in una presentazione.
Comment[nl]=Gebaseerd op het thema "Eenvoudig". Gebruikt Lytebox door Markus F. Hay om de afbeeldingen in een diashow te tonen.
Comment[nn]=Basert på temaet «Enkelt». Brukar LyteBox av Markus F. Hay for vising av bilete.
Comment[pl]=Oparty na "Prostym" wyglądzie. Używa Lytebox autorstwa Markusa F. Hay do wyświetlania obrazów w pokazie slajdów.
Comment[pt]=Baseado no tema "Simples". Usa o Lytebox de Markus F. Hay para mostrar as imagens numa apresentação.
Comment[ru]=Основано на оформлении «Простое». Использует Lytebox от Markus F. Hay для показа слайд-шоу из изображений.
Comment[sv]=Baserat på temat "Enkelt". Använder LyteBox av Markus F. Hay för att visa bilderna i ett bildspel.
Comment[tr]="Basit" tema tabanlıdır. Slayt gösterisinde resimleri göstermek için Markus F. Hay tarafından yapılan Lytebox kullanır.
Comment[uk]=Заснована на темі «Проста». Використовує Lytebox, автором якого є Markus F. Hay для показу слайдів із зображень.
Comment[x-test]=xxBased on the "Simple" theme. Uses Lytebox by Markus F. Hay to display the images in a slideshow.xx

[X-HTMLExport Author]
Name=Wojciech Jarosz
Name[ca]=Wojciech Jarosz
Name[ca@valencia]=Wojciech Jarosz
Name[cs]=Wojciech Jarosz
Name[de]=Wojciech Jarosz
Name[el]=Wojciech Jarosz
Name[en_GB]=Wojciech Jarosz
Name[es]=Wojciech Jarosz
Name[fr]=Wojciech Jarosz
Name[is]=Wojciech Jarosz
Name[it]=Wojciech Jarosz
Name[nl]=Wojciech Jarosz
Name[nn]=Wojciech Jarosz
Name[pl]=Wojciech Jarosz
Name[pt]=Wojciech Jarosz
Name[ru]=Wojciech Jarosz
Name[sv]=Wojciech Jarosz
Name[tr]=Wojciech Jarosz
Name[uk]=Wojciech Jarosz
Name[x-test]=xxWojciech Jaroszxx
Url=mailto:wjarosz@ucsd.edu

[X-HTMLExport Preview]
Name=Elegant
Name[ca]=Elegant
Name[ca@valencia]=Elegant
Name[cs]=Elegantní
Name[el]=Elegant
Name[en_GB]=Elegant
Name[es]=Elegante
Name[fr]=Élégant
Name[is]=Fínt
Name[it]=Elegante
Name[nl]=Elegant
Name[nn]=Elegant
Name[pl]=Elegancki
Name[pt]=Elegante
Name[ru]=Элегантное
Name[sv]=Elegant
Name[tr]=Zarif
Name[uk]=Елегантний
Name[x-test]=xxElegantxx
Url=preview.png

[X-HTMLExport Parameter author]
Name=Author
Name[ca]=Autor
Name[ca@valencia]=Autor
Name[cs]=Autor
Name[de]=Autor
Name[el]=Συγγραφέας
Name[en_GB]=Author
Name[es]=Autor
Name[fr]=Auteur
Name[is]=Höfundur
Name[it]=Autore
Name[nl]=Auteur
Name[nn]=Opphavsperson
Name[pl]=Autor
Name[pt]=Autor
Name[ru]=Автор
Name[sv]=Upphovsman
Name[tr]=Yazar
Name[uk]=Автор
Name[x-test]=xxAuthorxx
Name[zh_CN]=作者
Type=string
Default=

[X-HTMLExport Parameter pageSize]
Name=Images per page
Name[ca]=Imatges per pàgina
Name[ca@valencia]=Imatges per pàgina
Name[cs]=Obrázků na stránku
Name[de]=Bilder pro Seite
Name[el]=Εικόνες ανά σελίδα
Name[en_GB]=Images per page
Name[es]=Imágenes por página
Name[fr]=Images par page
Name[is]=Myndir á hverri síðu
Name[it]=Immagini per pagina
Name[nl]=Afbeeldingen per pagina
Name[nn]=Bilete per side
Name[pl]=Obrazów na stronę
Name[pt]=Imagens por página
Name[ru]=Изображений на странице
Name[sv]=Bilder per sida
Name[tr]=Sayfa başına resim
Name[uk]=Кількість зображень на сторінку
Name[x-test]=xxImages per pagexx
Type=int
Default=20

[X-HTMLExport Parameter paginationLocation]
Name=Page links location
Name[ca]=La pàgina enllaça amb la ubicació
Name[ca@valencia]=La pàgina enllaça amb la ubicació
Name[el]=Θέση δεσμών σελίδας
Name[en_GB]=Page links location
Name[es]=Ubicación de los enlaces de páginas
Name[fr]=Position des liens de page
Name[is]=Staðsetning síðutengla
Name[it]=Posizione collegamenti della pagina
Name[nl]=Locatie van paginakoppelingen
Name[nn]=Plassering av sidelenkjer
Name[pl]=Położenie odsyłaczy stron
Name[pt]=Localização das ligações à página
Name[ru]=Расположение ссылок на страницы
Name[sv]=Plats för sidlänkar
Name[tr]=Sayfa bağlantıları konumu
Name[uk]=Розташування посилань на сторінці
Name[x-test]=xxPage links locationxx
Type=list
Default=top
Value_0=bottom
Caption_0=Bottom
Value_1=top
Caption_1=Top
Value_2=both
Caption_2=Both

[X-HTMLExport Parameter useLyteBox]
Name=Use LyteBox
Name[ca]=Usa el LyteBox
Name[ca@valencia]=Usa el LyteBox
Name[cs]=Použít LyteBox
Name[el]=Χρήση LyteBox
Name[en_GB]=Use LyteBox
Name[es]=Usar LyteBox
Name[fr]=Utiliser LyteBox
Name[is]=Nota LyteBox
Name[it]=Usa LyteBox
Name[nl]=LyteBox gebruiken
Name[nn]=Bruk LyteBox
Name[pl]=Użyj LyteBox
Name[pt]=Usar o LyteBox
Name[ru]=Использовать LyteBox
Name[sv]=Använd LyteBox
Name[tr]=LyteBox Kullan
Name[uk]=Використання LyteBox
Name[x-test]=xxUse LyteBoxxx
Type=list
Default=true
Value_0=true
Caption_0=Yes
Value_1=false
Caption_1=No

[X-HTMLExport Parameter slideInterval]
Name=LyteBox Slideshow Interval
Name[ca]=Interval entre diapositives del LyteBox
Name[ca@valencia]=Interval entre diapositives del LyteBox
Name[el]=Χρονικό διάστημα προβολής διαφανειών LyteBox
Name[en_GB]=LyteBox Slideshow Interval
Name[es]=Intervalo de presentación de LyteBox
Name[fr]=Intervalle du diaporama LyteBox
Name[is]=Bið milli mynda í LyteBox-skyggnusýningu
Name[it]=Intervallo presentazione LyteBox
Name[nl]=Interval LyteBox diavoorstelling
Name[nn]=Oppdateringsintervall for LyteBox-framvising
Name[pl]=Okres pokazu slajdów LyteBox
Name[pt]=Intervalo da Apresentação do LyteBox
Name[ru]=Интервал слайд-шоу (LyteBox):
Name[sv]=Intervall för LyteBox-bildspel
Name[tr]=LyteBox Slayt Gösterisi Aralığı
Name[uk]=Інтервал показу слайдів LyteBox
Name[x-test]=xxLyteBox Slideshow Intervalxx
Type=list
Default=6000
Value_0=2000
Caption_0=2 seconds
Value_1=4000
Caption_1=4 seconds
Value_2=6000
Caption_2=6 seconds
Value_3=8000
Caption_3=8 seconds
Value_4=10000
Caption_4=10 seconds

[X-HTMLExport Parameter style]
Name=Style
Name[ca]=Estil
Name[ca@valencia]=Estil
Name[cs]=Styl
Name[de]=Stil
Name[el]=Στιλ
Name[en_GB]=Style
Name[es]=Estilo
Name[fr]=Style
Name[is]=Stíll
Name[it]=Stile
Name[nb]=Stil
Name[nl]=Stijl
Name[nn]=Stil
Name[pl]=Wygląd
Name[pt]=Estilo
Name[ru]=Цветовая гамма
Name[se]=Stiila
Name[sv]=Stil
Name[tr]=Stil
Name[uk]=Стиль
Name[x-test]=xxStylexx
Name[zh_CN]=样式
Type=list
Default=dark.css
Value_0=natural.css
Caption_0=Natural
Value_1=dark.css
Caption_1=Dark
Value_2=custom
Caption_2=Custom

[X-HTMLExport Parameter bgColor]
Name=Custom Background Color
Name[ca]=Color personalitzat pel fons
Name[ca@valencia]=Color personalitzat pel fons
Name[cs]=Vlastní barva pozadí
Name[de]=Benutzerdefinierte Hintergrundfarbe
Name[el]=Προσαρμοσμένο χρώμα φόντου
Name[en_GB]=Custom Background Colour
Name[es]=Color del fondo personalizado
Name[fr]=Couleur d'arrière plan personnalisée
Name[is]=Sérsniðinn bakgrunnslitur
Name[it]=Colore di sfondo personalizzato
Name[nl]=Aangepaste achtergrondkleur
Name[nn]=Tilpassa bakgrunnsfarge
Name[pl]=Własny kolor tła
Name[pt]=Cor de Fundo Personalizada
Name[ru]=Цвет фона
Name[sv]=Egen bakgrundsfärg
Name[tr]=Özel Arkaplan Rengi
Name[uk]=Нетиповий колір тла
Name[x-test]=xxCustom Background Colorxx
Type=color
Default=#000000

[X-HTMLExport Parameter fgColor]
Name=Custom Foreground Color
Name[ca]=Color personalitzat pel primer pla
Name[ca@valencia]=Color personalitzat pel primer pla
Name[de]=Benutzerdefinierte Vordergrundfarbe
Name[el]=Προσαρμοσμένο χρώμα προσκηνίου
Name[en_GB]=Custom Foreground Colour
Name[es]=Color del primer plano personalizado
Name[fr]=Couleur de premier plan personnalisée
Name[is]=Sérsniðinn forgrunnslitur
Name[it]=Colore di primo piano personalizzato
Name[nl]=Aangepaste voorgrondkleur
Name[nn]=Tilpassa framgrunnsfarge
Name[pl]=Własny kolor pierwszoplanowy
Name[pt]=Cor Principal Personalizada
Name[ru]=Цвет текста
Name[sv]=Egen förgrundsfärg
Name[tr]=Özel Önplan Rengi
Name[uk]=Нетиповий колір тексту
Name[x-test]=xxCustom Foreground Colorxx
Type=color
Default=#888888

[X-HTMLExport Parameter linkColor]
Name=Custom Link Color
Name[ca]=Color personalitzat per a l'enllaç
Name[ca@valencia]=Color personalitzat per a l'enllaç
Name[cs]=Barva odkazu
Name[el]=Προσαρμοσμένο χρώμα δεσμού
Name[en_GB]=Custom Link Colour
Name[es]=Color de enlaces personalizado
Name[fr]=Couleur personnalisée du lien
Name[is]=Sérsniðinn litur tengils
Name[it]=Colore collegamento personalizzato
Name[nl]=Aangepaste kleur koppeling
Name[nn]=Tilpassa lenkjefarge
Name[pl]=Własny kolor odsyłacza
Name[pt]=Cor da Ligação Personalizada
Name[ru]=Цвет ссылок
Name[sv]=Egen länkfärg
Name[tr]=Özel Bağlantı Rengi
Name[uk]=Нетиповий колір посилань
Name[x-test]=xxCustom Link Colorxx
Type=color
Default=#aaaaaa

[X-HTMLExport Parameter hoverLinkColor]
Name=Custom Hover Link Color
Name[ca]=Color personalitzat per a l'enllaç en passar-hi per sobre
Name[ca@valencia]=Color personalitzat per a l'enllaç en passar-hi per sobre
Name[cs]=Vlastní odkazu, nad kterým je myš
Name[el]=Προσαρμοσμένο χρώμα σε αιώρηση πάνω από δεσμό
Name[en_GB]=Custom Hover Link Colour
Name[es]=Color de los enlaces activos personalizado
Name[fr]=Couleur personnalisée du lien au survol
Name[is]=Sérsniðinn litur yfirsvifs á tengil
Name[it]=Colore collegamento personalizzato al passaggio del mouse
Name[nl]=Aangepaste kleur van koppeling bij erboven zweven
Name[nn]=Tilpassa lenkjefarge når peikaren er over
Name[pl]=Własny kolor po najechaniu na odsyłacz
Name[pt]=Cor da Ligação à Passagem Personalizada
Name[ru]=Цвет ссылки под курсором мыши
Name[sv]=Egen håll över länkfärg
Name[tr]=Özel Üzerine Gelinmiş Bağlantı Rengi
Name[uk]=Нетиповий колір наведення посилань
Name[x-test]=xxCustom Hover Link Colorxx
Type=color
Default=#ffffff

[X-HTMLExport Parameter visitedLinkColor]
Name=Custom Visited Link Color
Name[ca]=Color personalitzat per a l'enllaç visitat
Name[ca@valencia]=Color personalitzat per a l'enllaç visitat
Name[cs]=Vlastní barva navštíveného odkazu
Name[el]=Προσαρμοσμένο χρώμα επισκεπτόμενου δεσμού
Name[en_GB]=Custom Visited Link Colour
Name[es]=Color de los enlaces visitados personalizado
Name[fr]=Couleur personnalisée du lien visité
Name[is]=Sérsniðinn litur heimsótts tengils
Name[it]=Colore collegamento visitato personalizzato
Name[nl]=Aangepaste kleur bezochte koppeling
Name[nn]=Tilpassa farge for vitja lenkjer
Name[pl]=Własny kolor po odwiedzeniu odsyłacza
Name[pt]=Cor da Ligação Visitada Personalizada
Name[ru]=Цвет посещённых ссылок
Name[sv]=Egen besökt länkfärg
Name[tr]=Özel Ziyaret Edilmiş Bağlantı Rengi
Name[uk]=Нетиповий колір відвіданих посилань
Name[x-test]=xxCustom Visited Link Colorxx
Type=color
Default=#aaaaaa

[X-HTMLExport Parameter frameColor]
Name=Custom Frame Color
Name[ca]=Color personalitzat pel marc
Name[ca@valencia]=Color personalitzat pel marc
Name[cs]=Vlastní barva rámečku obrázku
Name[el]=Προσαρμοσμένο χρώμα πλαισίου
Name[en_GB]=Custom Frame Colour
Name[es]=Color de marco personalizado
Name[fr]=Couleur personnalisée du cadre
Name[is]=Sérsniðinn litur ramma
Name[it]=Colore cornice personalizzato
Name[nl]=Aangepaste framekleur
Name[nn]=Tilpassa rammefarge
Name[pl]=Własny kolor ramki
Name[pt]=Cor da Moldura Personalizada
Name[ru]=Цвет фрейма
Name[sv]=Egen ramfärg
Name[tr]=Özel Çerçeve Rengi
Name[uk]=Нетиповий колір рамки
Name[x-test]=xxCustom Frame Colorxx
Type=color
Default=#222222

[X-HTMLExport Parameter frameBorderColor]
Name=Custom Frame Border Color
Name[ca]=Color personalitzat per a la vora del marc
Name[ca@valencia]=Color personalitzat per a la vora del marc
Name[cs]=Vlastní barva okraje rámečku obrázku
Name[el]=Προσαρμοσμένο χρώμα περιγράμματος πλαισίου
Name[en_GB]=Custom Frame Border Colour
Name[es]=Color de borde del marco personalizado
Name[fr]=Couleur personnalisée de la bordure du cadre
Name[is]=Sérsniðinn litur jaðars ramma
Name[it]=Colore bordo cornice personalizzato
Name[nl]=Aangepaste framerandkleur
Name[nn]=Tilpassa farge på rammekantlinje
Name[pl]=Własny kolor ramki
Name[pt]=Cor do Contorno da Moldura Personalizada
Name[ru]=Цвет рамки фрейма
Name[sv]=Egen ramkantsfärg
Name[tr]=Özel Çerçeve Kenarlık Rengi
Name[uk]=Нетиповий колір краю рамки
Name[x-test]=xxCustom Frame Border Colorxx
Type=color
Default=#444444

[X-HTMLExport Parameter selectedFrameColor]
Name=Custom Selected Frame Color
Name[ca]=Color personalitzat pel marc seleccionat
Name[ca@valencia]=Color personalitzat pel marc seleccionat
Name[cs]=Vlastní barva rámečku vybraného obrázku
Name[el]=Προσαρμοσμένα επιλεγμένο χρώμα πλαισίου
Name[en_GB]=Custom Selected Frame Colour
Name[es]=Color de marco seleccionado personalizado
Name[fr]=Couleur personnalisée du cadre sélectionné
Name[is]=Sérsniðinn litur valins ramma
Name[it]=Colore cornice selezionata personalizzato
Name[nl]=Aangepaste kleur geselecteerd frame
Name[nn]=Tilpassa farge for valt ramme
Name[pl]=Własny kolor ramki zaznaczenia
Name[pt]=Cor da Moldura Seleccionada Personalizada
Name[ru]=Цвет фрейма под курсором мыши
Name[sv]=Egen markerad ramfärg
Name[tr]=Özel Seçilmiş Çerçeve Rengi
Name[uk]=Нетиповий вибраний колір рамки
Name[x-test]=xxCustom Selected Frame Colorxx
Type=color
Default=#555555

[X-HTMLExport Parameter selectedFrameBorderColor]
Name=Custom Selected Frame Border Color
Name[ca]=Color personalitzat per a la vora del marc seleccionat
Name[ca@valencia]=Color personalitzat per a la vora del marc seleccionat
Name[cs]=Vlastní barva okraje rámečku vybraného obrázku
Name[el]=Προσαρμοσμένα επιλεγμένο χρώμα περιγράμματος πλαισίου
Name[en_GB]=Custom Selected Frame Border Colour
Name[es]=Color de borde del marco seleccionado personalizado
Name[fr]=Couleur personnalisée de la bordure du cadre sélectionné
Name[is]=Sérsniðinn litur jaðars á völdum ramma
Name[it]=Colore bordo cornice selezionata personalizzato
Name[nl]=Aangepaste kleur rand geselecteerd frame
Name[nn]=Tilpassa farge for kantlinje på valt ramme
Name[pl]=Własny kolor ramki zaznaczenia
Name[pt]=Cor do Contorno da Moldura Seleccionada Personalizada
Name[ru]=Цвет рамки фрейма под курсором мыши
Name[sv]=Egen markerad ramkantsfärg
Name[tr]=Özel Seçilmiş Çerçeve Kenarlık Rengi
Name[uk]=Нетиповий вибраний колір краю рамки
Name[x-test]=xxCustom Selected Frame Border Colorxx
Type=color
Default=#dddddd
