[Desktop Entry]
Name=Elegant
Comment=Based on the "Simple" theme. Uses Lytebox by Markus F. Hay to display the images in a slideshow.

[X-HTMLExport Author]
Name=Wojciech Jarosz
Url=mailto:wjarosz@ucsd.edu

[X-HTMLExport Parameter author]
Name=Author
Type=string
Default=

[X-HTMLExport Parameter pageSize]
Name=Images per page
Type=int
Default=20

[X-HTMLExport Parameter paginationLocation]
Name=Page links location
Type=list
Default=top
Value_0=bottom
Caption_0=Bottom
Value_1=top
Caption_1=Top
Value_2=both
Caption_2=Both

[X-HTMLExport Parameter useLyteBox]
Name=Use LyteBox
Type=list
Default=true
Value_0=true
Caption_0=Yes
Value_1=false
Caption_1=No

[X-HTMLExport Parameter slideInterval]
Name=LyteBox Slideshow Interval
Type=list
Default=6000
Value_0=2000
Caption_0=2 seconds
Value_1=4000
Caption_1=4 seconds
Value_2=6000
Caption_2=6 seconds
Value_3=8000
Caption_3=8 seconds
Value_4=10000
Caption_4=10 seconds

[X-HTMLExport Parameter style]
Name=Style
Name[br]=Giz
Name[de]=Stil
Name[el]=Στυλ
Name[es]=Estilo
Name[et]=Stiil
Name[is]=Stíll
Name[it]=Stile
Name[ja]=スタイル
Name[nds]=Stil
Name[nl]=Stijl
Name[pt]=Estilo
Name[pt_BR]=Estilo
Name[sv]=Stil
Name[xh]=Uhlobo
Name[zu]=Uhlobo
Type=list
Default=dark.css
Value_0=natural.css
Caption_0=Natural
Value_1=dark.css
Caption_1=Dark
Value_2=custom
Caption_2=Custom


[X-HTMLExport Parameter bgColor]
Name=Custom Background Color
Name[ca]=Color de fons
Name[de]=Hintergrundfarbe
Name[el]=Χρώμα φόντου
Name[es]=Color del fondo
Name[fr]=Couleur d'arrière plan
Name[is]=Bakgrunnslitur
Name[it]=Colore di sfondo
Name[ja]=背景色
Name[nl]=Achtergrondkleur
Name[pt]=Cor de Fundo
Name[pt_BR]=Cor de Fundo
Name[sv]=Bakgrundsfärg
Type=color
Default=#000000

[X-HTMLExport Parameter fgColor]
Name=Custom Foreground Color
Name[ca]=Color de primer pla
Name[de]=Vordergrundfarbe
Name[el]=Χρώμα προσκηνίου
Name[es]=Color del primer plano
Name[fr]=Couleur d'avant plan
Name[is]=Forgrunnslitur
Name[it]=Colore di primo piano
Name[ja]=前景色
Name[nl]=Voorgrondkleur
Name[pt]=Cor Principal
Name[pt_BR]=Cor Principal
Name[sv]=Förgrundsfärg
Type=color
Default=#888888

[X-HTMLExport Parameter linkColor]
Name=Custom Link Color
Name[de]=Verknüpfungsfarbe
Name[el]=Χρώμα δεσμού
Name[it]=Colore dei collegamenti
Name[ja]=リンクの色
Name[pt]=Cor da Hiperligação
Name[pt_BR]=Cor da Hiperligação
Name[sv]=Länkfärg
Type=color
Default=#aaaaaa

[X-HTMLExport Parameter hoverLinkColor]
Name=Custom Hover Link Color
Type=color
Default=#ffffff

[X-HTMLExport Parameter visitedLinkColor]
Name=Custom Visited Link Color
Name[de]=Farbe der besuchten Verknüpfungen
Name[el]=Χρώμα ακολουθημένου δεσμού
Name[it]=Colore dei collegamenti visitati
Name[ja]=訪問済みリンクの色
Name[pt]=Cor da Ligação Visitada
Name[pt_BR]=Cor da Ligação Visitada
Name[sv]=Besökt länkfärg
Type=color
Default=#aaaaaa

[X-HTMLExport Parameter frameColor]
Name=Custom Frame Color
Type=color
Default=#222222

[X-HTMLExport Parameter frameBorderColor]
Name=Custom Frame Border Color
Type=color
Default=#444444

[X-HTMLExport Parameter selectedFrameColor]
Name=Custom Selected Frame Color
Type=color
Default=#555555

[X-HTMLExport Parameter selectedFrameBorderColor]
Name=Custom Selected Frame Border Color
Type=color
Default=#dddddd
