<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui version="205" name="cameraui" >

<MenuBar>

    <Menu name="Device" ><text>&amp;Device</text>
        <Action name="cameraui_cancelprocess" />
        <Action name="cameraui_info" />
        <Separator />
        <Action name="cameraui_capture" />
        <Separator />
        <Action name="cameraui_close" />
    </Menu>

    <Menu name="Edit" >
    <text>&amp;Edit</text>
        <Action name="cameraui_selectall" />
        <Action name="cameraui_selectnone" />
        <Action name="cameraui_selectinvert" />
        <Separator />
        <Action name="cameraui_selectnewitems" />
        <Action name="cameraui_selectlockeditems" />
    </Menu>

    <Menu name="Image" ><text>&amp;Image</text>
        <Action name="cameraui_imageview" />
        <Separator />
        <Action name="cameraui_imagedownloadnew" />
        <Action name="cameraui_imagedownloadselected" />
        <Action name="cameraui_imagedownloadall" />
        <Separator />
        <Action name="cameraui_imagedownloaddeletenew" />
        <Action name="cameraui_imagedownloaddeleteselected" />
        <Action name="cameraui_imagedownloaddeleteall" />
        <Separator />
        <Action name="cameraui_imagedeletenew" />
        <Action name="cameraui_imagedeleteselected" />
        <Action name="cameraui_imagedeleteall" />
        <Separator />
        <Action name="cameraui_imageupload"/>
        <Action name="cameraui_imagemarkasdownloaded" />
        <Separator />
        <Action name="cameraui_imagelock" />
    </Menu>

    <Menu name="View" ><text>&amp;View</text>
        <Action name="cameraui_fullscreen" />
        <Action name="cameraui_showlog" />
        <Separator/>
        <Action name="cameraui_lastphotofirst" />
        <Separator/>
        <Action name="cameraui_zoomplus" />
        <Action name="cameraui_zoomminus" />
    </Menu>

    <Menu name="help" ><text>&amp;Help</text>
        <Action name="help_rawcameralist"/>
        <Action name="cameraui_librariesinfo"/>
        <Action name="cameraui_dbstat"/>
        <Action name="help_donatemoney" />
        <Action name="help_contribute" />
    </Menu>

    <Merge/>

    <Menu name="settings" noMerge="1"><Text>&amp;Settings</Text>
        <Merge name="StandardToolBarMenuHandler" />
        <Action name="options_show_menubar"/>
        <Action name="options_show_statusbar"/>
        <Action name="options_show_toolbar"/>
        <Separator/>
        <Action name="theme_menu" />
        <Action name="options_configure_keybinding"/>
        <Action name="options_configure_toolbars"/>
        <Action name="options_configure_notifications"/>
        <Action name="options_configure" />
    </Menu>

</MenuBar>

<ToolBar name="mainToolBar" ><text>Main Toolbar</text>
     <Action name="cameraui_cancelprocess" />
     <Separator/>
     <Action name="cameraui_imageview" />
     <Action name="cameraui_imagedownloadnew" />
     <Action name="cameraui_imageupload" />
     <Action name="cameraui_imagelock" />
     <Separator/>
     <Action name="cameraui_capture" />
     <Separator/>
     <Action name="cameraui_fullscreen" />
     <Merge />
     <WeakSeparator/>
     <Action name="logo_action" />
</ToolBar>

<ActionProperties/>

</gui>
