[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=Digikam/Plugin
X-KDE-DerivedName=Digikam Plugin
Comment=A Digikam Plugin
Name[de]=Externe Module für Digikam
Name[es]=Complemento para Digikam
Name[fr]=Module externe pour Digikam
Name[it]=Plugin per Digikam
Name[da]=Digikam plugin
Name[pl]=Wtyczki do programu Digikam
Name[nl]=Digikam plugin
Name[hu]=Digikam Plugin
Comment[de]=Ein externes Modul für Digikam
Comment[es]=Un complemento para Digikam
Comment[fr]=Un module externe pour Digikam
Comment[it]=Modulo esterno per Digikam
Comment[da]=Digikam plugin
Comment[pl]=Wtyczka do programu Digikam
Comment[nl]=Externe module voor Digikam
Comment[hu]=Digikam Plugin
[PropertyDef::X-Digikam-MergeMenu]
Type=bool
