<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui version="600" name="showfoto" translationDomain="digikam" >
<!-- NOTE: don't forget to increase version ID when this file is modified -->

<MenuBar>

    <Menu name="file" ><text>&amp;File</text>
        <Action name="showfoto_open_file" />
        <Action name="showfoto_open_folder" />
        <Separator/>
        <Action name="editorwindow_backward" />
        <Action name="editorwindow_forward" />
        <Separator/>
        <Action name="editorwindow_first" />
        <Action name="editorwindow_last" />
        <Separator/>
        <Action name="editorwindow_print" />
        <Action name="open_with_default_application" />
        <Separator/>
        <Action name="editorwindow_save" />
        <Action name="editorwindow_saveas" />
        <Action name="editorwindow_revert" />
        <Separator/>
        <Action name="editorwindow_delete" />
        <Separator/>
        <Action name="showfoto_quit" />
    </Menu>

    <Menu name="Edit" ><text>&amp;Edit</text>
        <Action name="editorwindow_copy" />
        <Separator/>
        <Action name="editorwindow_undo" />
        <Action name="editorwindow_redo" />
        <Separator/>
        <Action name="editorwindow_selectAll" />
        <Action name="editorwindow_selectNone" />
    </Menu>

    <Menu name="View" ><text>&amp;View</text>
        <Action name="editorwindow_fullscreen" />
        <Action name="editorwindow_slideshow" />
        <Action name="presentation" />
        <Separator/>
        <Action name="editorwindow_zoomplus" />
        <Action name="editorwindow_zoomminus" />
        <Action name="editorwindow_zoomto100percents" />
        <Action name="editorwindow_zoomfit2window" />
        <Action name="editorwindow_zoomfit2select" />
        <Separator/>
        <Action name="editorwindow_previewmode" />
        <Separator/>
        <Action name="editorwindow_underexposure" />
        <Action name="editorwindow_overexposure" />
        <Separator/>
        <Action name="editorwindow_cmview" />
        <Action name="editorwindow_softproofview" />
        <Action name="editorwindow_softproofoptions" />
    </Menu>

    <Menu name="Color"><text>&amp;Color</text>
        <Action name="editorwindow_color_autocorrection" />
        <Action name="editorwindow_color_bcg" />
        <Action name="editorwindow_color_hsl" />
        <Action name="editorwindow_color_rgb" />
        <Separator />
        <Action name="editorwindow_color_adjustlevels" />
        <Action name="editorwindow_color_adjustcurves" />
        <Separator />
        <Action name="editorwindow_color_invert" />
        <Action name="editorwindow_color_film" />
        <Action name="editorwindow_color_blackwhite" />
        <Action name="editorwindow_color_channelmixer" />
        <Action name="editorwindow_color_whitebalance" />
        <Separator />
        <Menu name="Depth"><text>&amp;Depth</text>
            <Action name="editorwindow_convertto8bits" />
            <Action name="editorwindow_convertto16bits" />
        </Menu>
        <Action name="editorwindow_colormanagement" />
        <Separator />
    </Menu>

    <Menu name="Enhance" ><text>Enh&amp;ance</text>
        <Action name="editorwindow_enhance_restoration" />
        <Action name="editorwindow_enhance_blur" />
	<Action name="editorwindow_enhance_healingclone" />
        <Action name="editorwindow_enhance_sharpen" />
        <Action name="editorwindow_enhance_noisereduction" />
        <Action name="editorwindow_enhance_localcontrast" />
        <Action name="editorwindow_enhance_hotpixels" />
        <Separator />
        <Action name="editorwindow_enhance_redeye" />

        <Menu name="Lens" ><text>&amp;Lens</text>
            <Action name="editorwindow_enhance_lensautofix" />
            <Action name="editorwindow_enhance_antivignetting" />
            <Action name="editorwindow_enhance_lensdistortion" />
        </Menu>
    </Menu>

    <Menu name="Transform" ><text>Tra&amp;nsform</text>
        <Action name="editorwindow_transform_rotateleft" />
        <Action name="editorwindow_transform_rotateright" />
        <Separator/>
        <Action name="editorwindow_transform_fliphoriz" />
        <Action name="editorwindow_transform_flipvert" />
        <Separator/>
        <Action name="editorwindow_transform_crop" />
        <Action name="editorwindow_transform_resize" />
        <Action name="editorwindow_transform_ratiocrop" />
        <Separator />
        <Action name="editorwindow_transform_perspective" />
        <Action name="editorwindow_transform_freerotation" />
        <Action name="editorwindow_transform_sheartool" />
        <Action name="editorwindow_transform_contentawareresizing" />
    </Menu>

    <Menu name="Decorate" ><text>&amp;Decorate</text>
        <Action name="editorwindow_decorate_inserttext" />
        <Action name="editorwindow_decorate_border" />
        <Action name="editorwindow_decorate_texture" />
    </Menu>

    <Menu name="Filters" ><text>Effec&amp;ts</text>
        <Action name="editorwindow_filter_colorfx" />
        <Action name="editorwindow_filter_charcoal" />
        <Action name="editorwindow_filter_emboss" />
        <Action name="editorwindow_filter_oilpaint" />
        <Action name="editorwindow_filter_blurfx" />
        <Action name="editorwindow_filter_distortionfx" />
        <Action name="editorwindow_filter_raindrop" />
        <Action name="editorwindow_filter_filmgrain" />
    </Menu>

    <Menu name="Tools"><text>&amp;Tools</text>
        <Action name="metadata_edit"/>
        <Action name="geolocation_edit"/>
        <Separator/>
        <Action name="expoblending" />
        <Action name="panorama" />
        <Action name="htmlgallery" />
        <Action name="calendar" />
        <Action name="videoslideshow" />
        <Action name="sendbymail" />
        <Action name="printcreator" />
        <Action name="mediaserver" />
    </Menu>

    <Menu name="Import"><text>I&amp;mport</text>
        <Action name="import_scan" />
        <Separator/>
        <Action name="import_googlephoto" />
        <Action name="import_smugmug" />
        <Action name="import_filetransfer" />
    </Menu>

    <Menu name="Export"><text>&amp;Export</text>
        <Action name="export_dropbox" />
        <Action name="export_facebook" />
        <Action name="export_flickr" />
        <Action name="export_googledrive" />
        <Action name="export_googlephoto" />
        <Action name="export_imageshack" />
        <Action name="export_imgur" />
        <Action name="export_rajce" />
        <Action name="export_smugmug" />
        <Action name="export_yandexfotki" />
        <Action name="export_mediawiki" />
        <Action name="export_vkontakte" />
        <Action name="export_filetransfer" />
    </Menu>

    <Menu name="settings" noMerge="1"><Text>&amp;Settings</Text>
        <Merge name="StandardToolBarMenuHandler" />
        <Action name="options_show_menubar" />
        <Action name="options_show_statusbar" />
        <Action name="options_show_toolbar" />
        <Action name="editorwindow_showthumbs" />
        <Separator/>
        <Action name="theme_menu" />
        <Action name="options_configure_keybinding" />
        <Action name="options_configure_toolbars" />
        <Action name="options_configure" />
    </Menu>

    <Menu name="help" ><text>&amp;Help</text>
        <Action name="help_rawcameralist" />
        <Action name="help_librariesinfo" />
        <Separator/>
        <Action name="help_donatemoney" />
        <Action name="help_recipesbook" />
        <Action name="help_contribute" />
        <Action name="help_handbook" />
    </Menu>

    <Merge/>

</MenuBar>

<ToolBar name="mainToolBar"><text>Main Toolbar</text>
    <Action name="editorwindow_first" />
    <Action name="editorwindow_backward" />
    <Action name="editorwindow_forward" />
    <Action name="editorwindow_last" />
    <Separator/>
    <Action name="showfoto_open_file" />
    <Action name="showfoto_open_folder" />
    <Action name="editorwindow_save" />
    <Action name="editorwindow_saveas" />
    <Action name="editorwindow_undo" />
    <Action name="editorwindow_redo" />
    <Action name="editorwindow_revert" />
    <Separator/>
    <Action name="editorwindow_transform_rotateleft" />
    <Action name="editorwindow_transform_rotateright" />
    <Action name="editorwindow_transform_crop" />
    <Separator/>
    <Action name="editorwindow_fullscreen" />
    <Action name="editorwindow_slideshow" />
    <Merge />
    <WeakSeparator/>
    <Action name="logo_action" />
</ToolBar>

<ActionProperties/>

</gui>
