[Desktop Entry]
Name=ImagePlugin_FilmGrain
Name[bg]=Приставка за снимки - Филмово зърно
Name[de]=Bildmodul_Filmkörnung
Name[el]=ΠρόσθετοΕικόνας_ΚόκκοςΦιλμ
Name[fi]=Filmirakeet
Name[he]=תוסף תמונה - פילם מגורען
Name[it]=Grana della pellicola
Name[nl]=Afbeeldingsplugin_Filmkorrel
Name[sk]=ObrazovýModul_FilmovéZrno
Name[sv]=Insticksprogram för filmkorn
Name[tr]=GörüntüEklentisi_FilmGreni
Name[x-test]=xxImagePlugin_FilmGrainxx

Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Film grain image effect plugin for digiKam
Comment[bg]=Приставка на digiKam за наподобяване на филмово зърно
Comment[ca]=Connector pel digiKam d'efecte d'imatge de gra de pel·lícula
Comment[cs]=Efektový modul digiKamu pro tvorbu filmového zrna
Comment[da]=digiKam-plugin til filmkorn-effekt på billeder
Comment[de]=digiKam-Modul für Filmkörnungseffekte
Comment[el]=Πρόσθετο εφέ κόκκου φιλμ για το digiKam
Comment[es]=Complemento para digiKam de efectos de imagen tipo grano fino de película
Comment[et]=DigiKami teralisuse pildiefektiplugin
Comment[fa]=وصلۀ جلوۀ تصویر خرده فیلم برای digiKam
Comment[fi]=Filmikuvien rakeisuuden jäljittelijä
Comment[fr]=Module d'effet de l'image de type grain de film pour Digikam
Comment[gl]=Unha extensión de digiKam para o efecto de grao de filme
Comment[he]=תוסף Digikam המיישם אפקט של צילום בפילם מגורען
Comment[it]=Estensione di digiKam per l'effetto di grana della pellicola
Comment[ja]=digiKam フィルム粒子効果プラグイン
Comment[km]=កម្មវិធី​បែបផែន​រូបភាព​ហ្វីល​​សម្រាប់ digiKam
Comment[lv]=DigiKam spraudnis filmas graudainības efekta pievienošanai attēlam
Comment[nb]=digiKam programtillegg for filmkorn
Comment[nds]=digiKam-Moduul för Effekten vun körnig Film
Comment[ne]=डिजिक्यामका लागि फिल्म ग्रेन छवि प्रभाव प्लगइन
Comment[nl]=Digikam-plugin voor filmkorrel
Comment[pl]=Wtyczka do programu digiKam oferujÄca efekty znieksztaÅceÅ
Comment[pt]=Um 'plugin' do digiKam para o efeito de grão de filme
Comment[pt_BR]=Plug-in do digiKam para o efeito de grão de filme
Comment[ro]=Modul digiKam pentru efectul de granularizare a imaginii
Comment[ru]=Расширение digiKam для создания эффекта зернистости изображения
Comment[sk]=Zásuvný modul digiKam - Efekt filmového zrna
Comment[sv]=Digikam insticksprogram för filmkornsbildeffekt
Comment[th]=ส่วนเสริมหลักของ digiKam สำหรับลูกเล่นสร้างเกรนของฟิล์ม
Comment[tr]=digiKam için film gren efekti eklentisi
Comment[uk]=Втулка ефекту зернистості зображення digiKam
Comment[vi]=Bổ sung hiệu ứng chạm mịn mặt màng ảnh cho digiKam
Comment[x-test]=xxFilm grain image effect plugin for digiKamxx
Comment[zh_CN]=digiKam 胶片纹理化图像效果插件

X-KDE-Library=digikamimageplugin_filmgrain
author=Gilles Caulier, caulier dot gilles at gmail dot com
