[Desktop Entry]
Name=ImagePlugin_FilmGrain
Name[da]=Kornet film
Name[it]=PluginImmagini_GranaPellicola
Name[nl]=Afbeeldingplugin_filmkorreligheid
Name[pt]='Plugin' de Grão de Filme
Name[pt_BR]='Plugin' de Grão de Filme
Name[sv]=Insticksprogram för filmkorn
Name[ta]=பிம்பசொருகுப்பொருள்_ ஃபிலிம்க்ரைன்

Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Film grain image effect plugin for digiKam
Comment[nl]=Digikam-effectplugin voor filmkorreligheid
Comment[pt]='Plugin' de efeito de grão de filme para o digiKam
Comment[pt_BR]='Plugin' de efeito de grão de filme para o digiKam

X-KDE-Library=digikamimageplugin_filmgrain
author=Gilles Caulier, caulier dot gilles at free dot fr
