[Desktop Entry]
Name=ImagePlugin_FilmGrain
Name[bg]=Приставка за снимки - Филмово зърно
Name[da]=Billedplugin_Filmkorn
Name[el]=ΠρόσθετοΕικόνας_ΚόκκοςΦιλμ
Name[fi]=Rakeisuus
Name[hr]=Zrnatost
Name[it]=PluginImmagini_GranaPellicola
Name[nl]=Afbeeldingsplugin_filmkorrel
Name[pt_BR]=Plug-in para efeito granulado
Name[sr]=Зрнаст филм
Name[sr@Latn]=Zrnast film
Name[sv]=Insticksprogram för filmkorn
Name[ta]=பிம்பசொருகுப்பொருள்_ ஃபிலிம்க்ரைன்
Name[tr]=ResimEklentisi_FilmTanecikleri
Name[xx]=xxImagePlugin_FilmGrainxx

Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Film grain image effect plugin for digiKam
Comment[bg]=Приставка на digiKam за наподобяване на филмово зърно
Comment[da]=Plugin til filmkorn-effekt på billeder i Digikam
Comment[de]=digiKam-Modul zum Erzeugen eines Effektes von körnigem Film
Comment[el]=Πρόσθετο εφέ κόκκου φιλμ για το digiKam
Comment[es]=Plugin de efecto de grano de película para digiKam
Comment[et]=DigiKami teralisuse pildiefektiplugin
Comment[fi]=Jäljittelee filmirakeisuutta
Comment[fr]=Module externe pour ajouter un effet de grain de film dans une image
Comment[gl]=Un plugin de digiKam para o efeito de grao de filme
Comment[hr]=digiKam dodatak za efekt zrnatosti filma
Comment[is]=Íforrit fyrir digiKam sem líkir eftir filmukornum
Comment[it]=Plugin per l'effetto di grana della pellicola delle immagini per digiKam
Comment[ja]=digiKam フィルム粒子効果プラグイン
Comment[ms]=Plugin kesan imej film grain untuk digiKam
Comment[nl]=Digikam-plugin voor filmkorrel
Comment[pl]=Wtyczka do programu digiKam dodająca ziarno kliszy do obrazu
Comment[pt]=Um 'plugin' do digiKam para o efeito de grão de filme
Comment[pt_BR]=Plug-in para o efeito de granulado na imagem para o digiKam
Comment[sk]=digiKam obrázkový plugin pre efekt filmového zrna
Comment[sr]=digiKam-ов прикључак за ефекат зрнастости филма
Comment[sr@Latn]=digiKam-ov priključak za efekat zrnastosti filma
Comment[sv]=Digikam insticksprogram för filmkornsbildeffekt
Comment[ta]=டிஜிகாமிற்கான ஃபிலிம் சிறுபுள்ளிகள் உள்ள பிம்ப விளைவு பொருள்
Comment[tr]=digiKam için film tanecikleri etkisi eklentisi
Comment[vi]=Bổ sung hiệu ứng chạm mịn mặt màng ảnh cho digiKam
Comment[xx]=xxFilm grain image effect plugin for digiKamxx

X-KDE-Library=digikamimageplugin_filmgrain
author=Gilles Caulier, caulier dot gilles at free dot fr
