<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui version="8" name="digikamimageplugin_border" >

 <MenuBar>

  <Menu name="Decorate" ><text>&amp;Decorate</text>
   <Action name="imageplugin_border" />
  </Menu>

 </MenuBar>

 <ToolBar name="mainToolBar" >
  <text>Main Toolbar</text>
 </ToolBar>

 <ActionProperties>
     <Action name="imageplugin_border" />
 </ActionProperties>

</gui>
