[Desktop Entry]
Name=ImagePlugin_Charcoal
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Charcoal drawing image effect plugin for digiKam

X-KDE-Library=digikamimageplugin_charcoal
author=Gilles Caulier, caulier dot gilles at free dot fr
