[Desktop Entry]
Name=ImagePlugin_Charcoal
Name[bg]=Приставка за снимки - Въглен
Name[da]=Billedplugin_Kultegning
Name[el]=ΠρόσθετοΕικόνας_Κάρβουνο
Name[fi]=Hiilipiirros
Name[hr]=Crtež ugljenom
Name[it]=PluginImmagini_Carboncino
Name[ms]=ImagePlugin_Arang
Name[nl]=Afbeeldingsplugin_Houtskool
Name[pt_BR]=Plug-in de efeito carvão
Name[sk]=Modul_KresbaUhlíkom
Name[sr]=Угљен
Name[sr@Latn]=Ugljen
Name[sv]=Insticksprogram för kolteckning
Name[ta]=பிம்பசொருகுப்பொருள்_கார்கோல்
Name[tr]=ResimEklentisi_Karakalem
Name[xx]=xxImagePlugin_Charcoalxx
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Charcoal drawing image effect plugin for digiKam
Comment[bg]=Приставка на digiKam за наподобяване на рисуване с въглен върху снимки
Comment[ca]=Connector pel digiKam d'efecte d'imatge de dibuix al carbonet
Comment[cs]=digiKam modul pro efekt kresby uhlem
Comment[da]=Plugin til kultegningseffekt på billeder i Digikam
Comment[de]=digiKam-Modul zum Erzeugen eines Kohlezeichnungseffektes
Comment[el]=Πρόσθετο εφέ σχεδίασης με κάρβουνο για το digiKam
Comment[es]=Plugin de efecto de imagen dibujada al carboncillo para digiKam
Comment[et]=DigiKami söejoonistuse pildiefektiplugin
Comment[fi]=Jäljittelee hiiliviivapiirrosta
Comment[fr]=Module externe pour ajouter un effet de dessin au fusain dans une image
Comment[gl]=Un plugin de digiKam para o efeito de debuxo ao carbón
Comment[hr]=digiKam dodatak za efekt crtanja ugljenom
Comment[is]=Íforrit fyrir digiKam sem líkir eftir viðarkolateikningu
Comment[it]=Plugin di effetto di disegno dell'immagine con carboncino per digiKam
Comment[ja]=digiKam 木炭画効果プラグイン
Comment[ms]=Plugin kesan imej lukisan arang untuk digiKam
Comment[nl]=Digikam-plugin voor houtskooltekeningen
Comment[pa]=ਡਿਜ਼ੀਕੈਮ ਲਈ ਚਿੱਤਰ ਉੱਤੇ ਚਾਰਕੋਲ ਡਰਾਇੰਗ ਪਰਭਾਵ ਦੇਣ ਲਈ ਪਲੱਗਿੰਨ
Comment[pl]=Wtyczka do programu digiKam imitująca szkice węglem
Comment[pt]=Um 'plugin' do digiKam para o efeito de imagem de desenho a carvão
Comment[pt_BR]=Plug-in de efeito carvão na imagem para o digiKam
Comment[sk]=digiKam plugin pre efekt kreslenia kriedou
Comment[sr]=Прикључак ефекта цртежа угљеном за digiKam
Comment[sr@Latn]=Priključak efekta crteža ugljenom za digiKam
Comment[sv]=Digikam insticksprogram för kolteckningsbildeffekt
Comment[ta]=டிஜிகாமிற்கான சார்க்கோல் வரையும் படிம விளைவு சொருகுப்பொருள்
Comment[tr]=digiKam için karakalem resim etkisi eklentisi
Comment[uk]=Втулок digiKam для створення ефекту малювання вугільним олівцем
Comment[vi]=Bổ sung hiệu ứng vẽ ảnh than gỗ cho digiKam
Comment[xx]=xxCharcoal drawing image effect plugin for digiKamxx

X-KDE-Library=digikamimageplugin_charcoal
author=Gilles Caulier, caulier dot gilles at free dot fr
