[Desktop Entry]
Name=ImagePlugin_Core
Name[el]=ΠρόσθετοΕικόνας_Πυρήνας
Name[hr]=Jezgra
Name[it]=PluginImmagini_Nocciolo
Name[nl]=Afbeeldingsplugin_Kern
Name[sr]=Језгро прикључака
Name[sr@Latn]=Jezgro priključaka
Name[sv]=Insticksprogram med bildkärna
Name[tr]=ResimEklentisi_Çekirdek
Name[xx]=xxImagePlugin_Corexx
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=digiKam Core Image Plugin
Comment[bg]=Основна приставка за снимки на digiKam
Comment[da]=Grundlæggende Digikam billed-plugin
Comment[de]=digiKam Kernmodul
Comment[el]=Πρόσθετο εικόνων πυρήνα digiKam
Comment[es]=Plugin fundamental de digiKam de imágenes
Comment[et]=DigiKami peamine pildiplugin
Comment[gl]=Plugin de Imaxe Básico de digiKam
Comment[hr]=digiKam dodatak za slike
Comment[it]=Plugin delle immagini centrale di digiKam
Comment[ja]=digiKam コア画像プラグイン
Comment[nl]=Digikam kernafbeeldingsplugin
Comment[pa]=ਡਿਜ਼ੀਕੈਮ ਕੋਰ ਚਿੱਤਰ ਪਲੱਗਿੰਨ
Comment[pl]=Podstawowa wtyczka obrazu digiKama
Comment[pt]='Plugin' de Imagem Básico do digiKam
Comment[ru]=Модуль digiKam основная работа с изображением
Comment[sr]=Језгро digiKam-ових сликовних прикључака
Comment[sr@Latn]=Jezgro digiKam-ovih slikovnih priključaka
Comment[sv]=Insticksprogram med bildkärna för Digikam
Comment[tr]=digiKam Çekirdek Resim Eklentisi
Comment[uk]=Втулок основи зображення для digiKam
Comment[vi]=Bổ sung ảnh lõi digiKam
Comment[xx]=xxdigiKam Core Image Pluginxx

X-KDE-Library=digikamimageplugin_core
author=Renchi Raju, renchi@pooh.tam.uiuc.edu
