<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui version="1" name="digikamimageplugin_core" >

 <MenuBar>

  <Menu name="Fix" >
   <text>Fi&amp;x</text>
   <Menu name="Colors" icon="blend">
     <text>&amp;Colors</text>
      <Action name="implugcore_bcg" /> 
      <Action name="implugcore_hsl" /> 
      <Action name="implugcore_rgb" /> 
      <Separator />
      <Action name="implugcore_normalize" /> 
      <Action name="implugcore_equalize" /> 
      <Action name="implugcore_autolevels" /> 
      <Action name="implugcore_stretch_contrast" /> 
      <Separator />
      <Action name="implugcore_invert" /> 
   </Menu>
    <Action name="implugcore_colors" /> 
    <Separator />
    <Action name="implugcore_blur" /> 
    <Action name="implugcore_sharpen" /> 
    <Separator />
    <Action name="implugcore_redeye" /> 
  </Menu>

  <Menu name="Transform" >
   <text>&amp;Transform</text>
   <Action name="implugcore_ratiocrop" /> 
  </Menu>

  <Menu name="Filters">
   <text>Fi&amp;lters</text>
   <Action name="implugcore_blackwhite" /> 
  </Menu>


 </MenuBar>

 <ToolBar name="ToolBar" >
  <text>Main Toolbar</text>
 </ToolBar>

 <ActionProperties/>

</kpartgui>
