[Desktop Entry]
Name=ImagePlugin_Core
Name[el]=ΠρόσθετοΕικόνας_Πυρήνας
Name[hr]=Jezgra
Name[it]=PluginImmagini_Nocciolo
Name[ka]=გამოსახულების მოდულის ბირთვი
Name[km]=កម្មវិធី​ជំនួយ​រូបភាព_ស្នូល
Name[ne]=छवि प्लगइन कोर
Name[nl]=Afbeeldingsplugin_Kern
Name[sr]=Језгро прикључака
Name[sr@Latn]=Jezgro priključaka
Name[sv]=Insticksprogram med bildkärna
Name[tr]=ResimEklentisi_Çekirdek
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=digiKam Core Image Plugin
Comment[bg]=Основна приставка за снимки на digiKam
Comment[bn]=ডিজিক্যাম মূল ছবি প্লাগিন
Comment[ca]=Connector d'imatges bàsic del digiKam
Comment[cs]=Obrázkový plugin digiKam
Comment[da]=Grundlæggende Digikam billed-plugin
Comment[de]=digiKam Kernmodul
Comment[el]=Πρόσθετο εικόνων πυρήνα digiKam
Comment[es]=Plugin fundamental de imágenes de digiKam 
Comment[et]=DigiKami peamine pildiplugin
Comment[eu]=irudientzako digiKam-en plugin-en motorra
Comment[fa]=وصلۀ تصویر هستۀ digiKam
Comment[gl]=Plugin de Imaxe Básico de digiKam
Comment[hr]=digiKam dodatak za slike
Comment[hu]=digiKam alap képbővítmény
Comment[it]=Plugin delle immagini centrale di digiKam
Comment[ja]=digiKam コア画像プラグイン
Comment[ka]=digiKam გამოსახულების მოდულის ბირთვი
Comment[km]=កម្មវិធី​ជំនួយ​រូបភាព​ស្នូល​សម្រាប់ digiKam
Comment[lt]=digiKam paveikslėlių rodytuvė (programos branduolys)
Comment[mk]=Основен приклучок за слики на дигиКам
Comment[ms]=Plugin Imej Teras digiKam
Comment[nds]=Karn-Bildmoduul vun digiKam
Comment[ne]=डिजिक्याम कोर छवि प्लगइन
Comment[nl]=Digikam kernafbeeldingsplugin
Comment[nn]=digiKam Core programtillegg
Comment[pa]=ਡਿਜ਼ੀਕੈਮ ਕੋਰ ਚਿੱਤਰ ਪਲੱਗਿੰਨ
Comment[pl]=Podstawowa wtyczka obrazu digiKama
Comment[pt]='Plugin' de Imagem Básico do digiKam
Comment[pt_BR]=Plugin de Imagem digiKam
Comment[ru]=Модуль digiKam основная работа с изображением
Comment[sk]=Základný obrázkový plugin digiKamu
Comment[sr]=Језгро digiKam-ових сликовних прикључака
Comment[sr@Latn]=Jezgro digiKam-ovih slikovnih priključaka
Comment[sv]=Insticksprogram med bildkärna för Digikam
Comment[tr]=digiKam Çekirdek Resim Eklentisi
Comment[uk]=Втулок основи зображення для digiKam
Comment[vi]=Bổ sung ảnh lõi digiKam
Comment[wa]=Tchôke-divins di cour d' imådje digiKam

X-KDE-Library=digikamimageplugin_core
author=Renchi Raju, renchi@pooh.tam.uiuc.edu
