<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui version="4" name="digikamimageplugin_core" >

 <MenuBar>

  <Menu name="Fix" >
   <text>Fi&amp;x</text>
   <Menu name="Colors" icon="blend">
     <text>&amp;Colors</text>
      <Action name="implugcore_bcg" /> 
      <Action name="implugcore_hsl" /> 
      <Action name="implugcore_rgb" /> 
      <Separator />
      <Action name="implugcore_autocorrection" /> 
      <Action name="implugcore_invert" /> 
      <Menu name="Depth">
        <text>&amp;Depth</text>
        <Action name="implugcore_convertto8bits" />
        <Action name="implugcore_convertto16bits" />
      </Menu>
      <Separator />
      <Action name="implugcore_colormanagement" />
      <Separator />
   </Menu>
    <Action name="implugcore_colors" /> 
    <Separator />
    <Action name="implugcore_blur" /> 
    <Action name="implugcore_sharpen" /> 
    <Separator />
    <Action name="implugcore_redeye" /> 
  </Menu>

  <Menu name="Transform" >
   <text>&amp;Transform</text>
   <Action name="implugcore_ratiocrop" /> 
  </Menu>

  <Menu name="Filters">
   <text>Filte&amp;rs</text>
   <Action name="implugcore_blackwhite" /> 
  </Menu>


 </MenuBar>

 <ToolBar name="ToolBar" >
  <text>Main Toolbar</text>
 </ToolBar>

 <ActionProperties/>

</kpartgui>
