[Desktop Entry]
Name=ImagePlugin_BlurFX
Name[bg]=Приставка за снимки - Ефекти за замъгляване
Name[el]=ΠρόσθετοΕικόνας_ΕφέΘολώματος
Name[hr]=Zamućenje
Name[it]=PluginImmagini_EffettiDiSfocatura
Name[nl]=Afbeeldingsplugin_VervaagFX
Name[pt_BR]=Plug-in de borrão
Name[sr]=Ефекти замућења
Name[sr@Latn]=Efekti zamućenja
Name[sv]=Insticksprogram för oskärpeeffekt
Name[tr]=ResimEklentisi_Bulanıklaştır
Name[xx]=xxImagePlugin_BlurFXxx
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Blur special effects plugin for digiKam
Comment[bg]=Приставка на digiKam с ефекти за замъгляване на снимки
Comment[da]=Digikam plugin med specialeffekter for udviskning
Comment[de]=digiKam-Modul zum Verwackeln von Bildern
Comment[el]=Πρόσθετο ειδικών εφέ θολώματος για το digiKam
Comment[es]=Plugin de efectos especiales de desenfoque para digiKam
Comment[et]=DigiKami spetsiaalsete hägustamisefektide plugin
Comment[fr]=Module externe pour ajouter un effet de flou dans une image
Comment[gl]=Un plugin de digiKam para efeitos de borrón
Comment[hr]=digiKam dodatak za efekt zamućenja
Comment[it]=Plugin degli effetti speciali di sfocatura per digiKam
Comment[ja]=digiKam ぼかし特殊効果プラグイン
Comment[ka]=დაბინდვის სპეციალური ეფექტების მოდული  digiKam-თვის
Comment[nl]=digiKam-plugin voor vervaageffect
Comment[pa]=ਡਿਜ਼ੀਕੈਮ ਲਈ ਧੱਬੇਦਾਰ ਪਰਭਾਵ ਦੇਣ ਵਾਲੀ ਪਲੱਗਿੰਨ ਹੈ
Comment[pl]=Wtyczka specjalnych efektów rozmycia do programu digiKam
Comment[pt]=Um 'plugin' do digiKam para efeitos especiais de borrão
Comment[pt_BR]=Plug-in de efeitos especiais de borrão para o digikam
Comment[sr]=Прикључци ефекта замућења за digiKam
Comment[sr@Latn]=Priključci efekta zamućenja za digiKam
Comment[sv]=Digikam insticksprogram med specialeffekter för oskärpa
Comment[tr]=digiKam için bulanıklaştırma eklentisi
Comment[xx]=xxBlur special effects plugin for digiKamxx

X-KDE-Library=digikamimageplugin_blurfx
author=Gilles Caulier, caulier dot gilles at free dot fr
