[Desktop Entry]
Name=ImagePlugin_AntiVignetting
Name[bg]=Приставка за снимки - Премахване на винетиране
Name[da]=Billedplugin_Anti-vignettering
Name[el]=ΠρόσθετοΕικόνας_Αντισκίασης
Name[fi]=ImagePlugin_ReunatummentumienPoisto
Name[hr]=Uklanjanje vinjeta
Name[it]=PluginImmagini_Antivignettatura
Name[nl]=Afbeeldingsplugin_AntiVignetting
Name[pt_BR]=Plug-in anti-vinheta
Name[sr]=Девињетизација
Name[sr@Latn]=Devinjetizacija
Name[sv]=Insticksprogram för antivinjettering
Name[tr]=ResimEklentisi_KenarKararmalarınıDüzelt
Name[xx]=xxImagePlugin_AntiVignettingxx
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Anti Vignetting image effect plugin for digiKam
Comment[bg]=Приставка на digiKam за намаляване на винетирането на снимки
Comment[cs]=digiKam modul pro opravu vinětace
Comment[da]=Anti-vignetteringsplugin for Digikam
Comment[de]=digiKam-Modul zur Reduzierung von Vignettierung im Bild
Comment[el]=Πρόσθετο εφέ αντισκίασης εικόνας για το digiKam
Comment[es]=Plugin de efecto de anti-viñeta para digiKam
Comment[et]=DigiKami pildi vinjeti kohendamise plugin
Comment[fi]=Keskialueen portaaton tummennus
Comment[fr]=Module externe pour corriger le vignettage d'une image
Comment[gl]=Un plugin de digiKam para efeitos antiviñeta de imaxe
Comment[hr]=digiKam dodatak za efekt protiv vinjeta
Comment[is]=Íforrit fyrir digiKam sem minnkar linsuskyggingu í hornum
Comment[it]=Plugin per l'effetto delle immagini di antivignettatura per digiKam
Comment[ja]=digiKam 口径食補正プラグイン
Comment[ms]=Plugin kesan imej Anti Vignetting untuk digiKam
Comment[nl]=Digikam-plugin voor anti-vignetting
Comment[pl]=Wtyczka do programu digiKam usuwająca efekt winietowania
Comment[pt]=Um 'plugin' do digiKam para efeitos anti-vinheta de imagem
Comment[pt_BR]=Plug-in para o efeito de anti-vinheta em imagens para o digiKam
Comment[sk]=Plugin korekcie vignetácie obrázku pre digiKam
Comment[sr]=Digikam-ов прикључак за ефекат девињетизације
Comment[sr@Latn]=Digikam-ov priključak za efekat devinjetizacije
Comment[sv]=Digikam insticksprogram för antivinjetteringsbildeffekt
Comment[tr]=digiKam için kenar kararmalarını düzeltme eklentisi
Comment[vi]=Bổ sung hiệu ứng chống làm mờ nét ảnh cho digiKam
Comment[xx]=xxAnti Vignetting image effect plugin for digiKamxx

X-KDE-Library=digikamimageplugin_antivignetting
author=Gilles Caulier, caulier dot gilles at free dot fr
