body {
    background-color: #dddcca;
    color: black;
    margin: 0;
	padding: 0;
}

a {
    color: #2f5d9c;
	text-decoration: none;
}

a:hover {
    color: #456ff3;
	text-decoration: underline;
}

h1 {
	padding: 0;
	margin: 0;
	padding-top: 0.5em;
	padding-bottom: 0.5em;

	color: #460;
    font-size: 120%;
	font-family: Bitstream Vera Serif, serif;
	background-color: #fbfaf4;
    border-bottom: 1px dashed #cccbb9;
	text-align: center;
}

#content {
	padding-top: 0.5em;
	margin: 0 auto;
	width: 95%;
	text-align: center;
}

ul {
    list-style-type: none;
}

li {
	float: left;
}

li a {
    display: block;
	margin: 6px;
	padding: 5px;
	background-color: #eee;
	border: 1px solid #cccbb9;
	text-align: center;
}

li a:hover {
	border: 1px solid #456ff3;
}

/* Image page */
#imagePage h1 {
	text-align:left;
}
#nav {
	float: right;
}

#imagePage img {
	padding: 5px;
	background-color: #eee;
	border: 1px solid #cccbb9;
}
