[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=Digikam/ImagePlugin
X-KDE-DerivedName=Digikam ImagePlugin
Comment=A digiKam Image Plugin
Comment[bg]=Приставка за снимки в digiKam
Comment[br]=Ul lugent skeudenn digiKam
Comment[cs]=Modul pro digiKam
Comment[da]=Et Digikam billed-plugin
Comment[de]=Ein digiKam Bild-Modul
Comment[el]=Ένα πρόσθετο εικόνας digiKam
Comment[es]=un plugin de digiKam para imagenes
Comment[et]=DigiKami pildiplugin
Comment[it]=Un plugin per le immagini di digiKam
Comment[ja]=digiKam 画像プラグイン
Comment[nl]=Een plugin voor digiKam
Comment[pa]=ਇੱਕ ਡਿਜ਼ੀਕੈਮ ਚਿੱਤਰ ਪਲੱਗਿੰਨ
Comment[pl]=Wtyczka obrazu digiKama
Comment[pt]=Um 'Plugin' de Imagem do digiKam
Comment[ru]=Модуль изображений digiKam
Comment[sr]=digiKam-ов сликовни прикључак
Comment[sr@Latn]=digiKam-ov slikovni priključak
Comment[sv]=Ett bildinsticksprogram för Digikam
Comment[tr]=Bir digiKam Resim Eklentisi
Comment[xx]=xxA digiKam Image Pluginxx
