[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=Digikam/ImagePlugin
X-KDE-DerivedName=Digikam ImagePlugin
Comment=A digiKam Image Plugin
Comment[br]=Ul lUgent skeudenn digiKam
Comment[cs]=Modul pro digiKam
Comment[da]=Et Digikam billed-plugin
Comment[de]=Ein digiKam Bild Plugin
Comment[es]=Un complemento de imagen de digiKam
Comment[et]=Digikami pildiplugin
Comment[fr]=Un module externe de digiKam
Comment[it]=Un plugin per le immagini di digiKam
Comment[nl]=Een plugin voor digiKam
Comment[pt]=Um 'Plugin' de Imagem do digiKam
Comment[pt_BR]=Um 'Plugin' de Imagem do digiKam
Comment[ru]=Модуль Digikam
Comment[sl]=Slikovni vstavek za digiKam
Comment[sv]=Ett bildinsticksprogram för Digikam
Comment[ta]=ஒரு டிஜிகேம் படிம செருகு பொருள்
Comment[tr]=Bir digiKam Resim Eklentisi
Comment[zh_CN]=digiKam 图像插件
