[Desktop Entry]
Name=ImagePlugin_LocalContrast
Name[bg]=Приставка за снимки - Локален контраст
Name[ca]=ConnectorD'Imatge_ContrastLocal
Name[da]=ImagePlugin_LocalContrast
Name[en_GB]=ImagePlugin_LocalContrast
Name[et]=ImagePlugin_LocalContrast
Name[gl]=ImagePlugin_LocalContrast
Name[nb]=ImagePlugin_LocalContrast
Name[nds]=ImagePlugin_LocalContrast
Name[nl]=Afbeeldingsplugin_LokaalContrast
Name[pt]=ImagePlugin_LocalContrast
Name[pt_BR]=ImagePlugin_LocalContrast
Name[sv]=Bildinsticksprogram lokal kontrast
Name[tr]=GörüntüEklentisi_YerelKarşıtlık
Name[uk]=ImagePlugin_LocalContrast
Name[x-test]=xxImagePlugin_LocalContrastxx
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Local contrast plugin for Digikam
Comment[bg]=Приставка на digiKam с ефекти за локален контраст
Comment[ca]=Connector pel DigiKam de contrast local
Comment[da]=digiKam-plugin til lokal kontrast
Comment[en_GB]=Local contrast plugin for Digikam
Comment[et]=DigiKami kohaliku kontrasti plugin
Comment[gl]=Un engadido de digiKam para efectos especiais nas cores
Comment[nb]=digKam programtillegg for lokal kontrast
Comment[nds]=digiKam-Moduul för lokaal Kontrast
Comment[nl]=Digikam-plugin voor lokaal contrast
Comment[pt]=Um 'plugin' do contraste local para o Digikam
Comment[pt_BR]=Plug-in de contraste local para o digiKam
Comment[sv]=Digikam insticksprogram för lokal kontrast
Comment[tr]=DigiKam için yerel karşıtlık eklentisi
Comment[uk]=Додаток виправлення локальної контрастності для digiKam
Comment[x-test]=xxLocal contrast plugin for Digikamxx

X-KDE-Library=digikamimageplugin_localcontrast
author=Pontabry Julien, julien dot pontabry at gmail dot com
