[Desktop Entry]
Type=Theme
Name=Blue Frames
Name[de]=Blaue Rahmen
Name[el]=\u039c\u03c0\u03bb\u03b5 \u03c0\u03bb\u03b1\u03af\u03c3\u03b9\u03b1
Name[es]=Marcos Azules
Name[et]=Sinine Raamid
Name[it]=Strutture Blu
Name[pt]=Molduras Azuis
Name[pt_BR]=Molduras Azuis
Comment=A frame theme based on Ruediger Bente's frame theme
Comment[de]=Ein Rahmen-Stil
Comment[el]=Ένα θέμα καρέ
Comment[es]=Un tema con marcos
Comment[et]=Raamiteema
Comment[it]=Un tema a riquadri
Comment[nl]=Een frame-thema
Comment[pt]=Um tema de molduras
Comment[pt_BR]=Um tema de molduras

[X-HTMLExport Author]
Name=Elizabeth Marmorstein
Url=mailto:purplegamba@cox.net
