<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui version="2" name="digikamimageplugin_superimpose" >

 <MenuBar>

  <Menu name="Image" >
   <text>&amp;Image</text>
   <Action name="imageplugin_superimpose" />
  </Menu>

 </MenuBar>
 
 <ToolBar name="ToolBar" >
  <text>Main Toolbar</text>
 </ToolBar>
 
 <ActionProperties>
  <Action shortcut="" name="imageplugin_superimpose" />
 </ActionProperties>

</kpartgui>
