[Desktop Entry]
Name=ImagePlugin_SuperImpose
Name[bg]=Приставка за снимки - Налагане
Name[da]=Billedplugin_Indkopiering
Name[el]=ΠρόσθετοΕικόνας_Υπερέκθεση
Name[it]=PluginImmagini_Sovrapposizione
Name[nl]=Afbeeldingsplugin_SjabloonToevoegen
Name[pt_BR]=Plug-in de sobreposição
Name[sr]=Надоградња
Name[sr@Latn]=Nadogradnja
Name[sv]=Insticksprogram för överlagring
Name[tr]=ResimEklentisi_Büyüt
Name[xx]=xxImagePlugin_SuperImposexx

Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Template superimpose plugin for digiKam
Comment[bg]=Приставка на digiKam за налагане на снимки една върху друга
Comment[da]=Plugin til skabelon-indkopiering i Digikam
Comment[de]=digiKam-Modul zum Anwenden von Schablonen auf ein Bild
Comment[el]=Πρόσθετο πρότυπης υπερέκθεσης για το digiKam
Comment[es]=Plugin de superposición de plantillas para digiKam
Comment[et]=DigiKami pildile malli lisamise plugin
Comment[fr]=Module externe pour superposer un modèle sur une image
Comment[it]=Plugin di sovrapposizione di modelli per digiKam
Comment[ja]=digiKam 重ね合わせテンプレートプラグイン
Comment[nl]=digiKam-plugin voor het aanbrengen van een sjabloon op de afbeelding
Comment[pl]=Wtyczka do programu digiKam umożliwiająca nałożenie szablonu na obraz
Comment[pt]=Um 'plugin' do digiKam para sobrepor modelos
Comment[pt_BR]=Plug-in de modelo de sobreposição para o digiKam
Comment[sr]=digiKam-ов прикључак надоградњу шаблонима
Comment[sr@Latn]=digiKam-ov priključak nadogradnju šablonima
Comment[sv]=Digikam insticksprogram för överlagringsmall
Comment[tr]=digiKam için şablon büyütme eklentisi
Comment[xx]=xxTemplate superimpose plugin for digiKamxx

X-KDE-Library=digikamimageplugin_superimpose
author=Gilles Caulier, caulier dot gilles at free dot fr
