[Desktop Entry]
Name=ImagePlugin_SuperImpose
Name[da]=Billedplugin_Indkopiering
Name[it]=PluginImmagini_Sovrapposizione
Name[nl]=Afbeeldingsplugin_SjabloonToevoegen
Name[sv]=Insticksprogram för överlagring

Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Template superimpose plugin for digiKam
Comment[da]=Plugin til skabelon-indkopiering i Digikam
Comment[de]=digKam Plugin zum Anwenden von Schablonen auf ein Bild
Comment[es]=Complemento de superposición de plantillas para digiKam
Comment[et]=Digikami pildile malli lisamise plugin
Comment[fr]=Module externe de digiKam pour superposer des patrons
Comment[it]=Plugin di sovrapposizione di modelli per digiKam
Comment[nl]=digiKam-plugin voor het aanbrengen van een sjabloon op de afbeelding
Comment[pt]='Plugin' de sobreposição de modelos para o digiKam
Comment[pt_BR]='Plugin' de sobreposição de modelos para o digiKam
Comment[sv]=Digikam insticksprogram för överlagringsmall

X-KDE-Library=digikamimageplugin_superimpose
author=Gilles Caulier, caulier dot gilles at free dot fr
