[Desktop Entry]
Name=ImagePlugin_SuperImpose
Name[bg]=Приставка за снимки - Налагане
Name[ca]=ImagePlugin_SuperImpose
Name[cs]=ImagePlugin_SuperImpose
Name[da]=ImagePlugin_SuperImpose
Name[de]=Bildmodul_Schablone
Name[el]=ΠρόσθετοΕικόνας_Υπερέκθεση
Name[en_GB]=ImagePlugin_SuperImpose
Name[es]=ImagePlugin_SuperImpose
Name[et]=ImagePlugin_SuperImpose
Name[fi]=SuperImpose
Name[fr]=ImagePlugin_SuperImpose
Name[ga]=ImagePlugin_SuperImpose
Name[gl]=ImagePlugin_SuperImpose
Name[he]=תוסף תמונה - תבנית עליונה
Name[hne]=इमेज-प्लगइन_सुपरइम्पोज
Name[it]=Sovrapposizione
Name[ja]=ImagePlugin_SuperImpose
Name[km]=ImagePlugin_SuperImpose
Name[lv]=ImagePlugin_SuperImpose
Name[nb]=ImagePlugin_SuperImpose
Name[nds]=ImagePlugin_SuperImpose
Name[ne]=ImagePlugin_SuperImpose
Name[nl]=Afbeeldingsplugin_SjabloonAanbrengen
Name[pa]=ImagePlugin_SuperImpose
Name[pl]=ImagePlugin_SuperImpose
Name[pt]=ImagePlugin_SuperImpose
Name[pt_BR]=ImagePlugin_SuperImpose
Name[ro]=ImagePlugin_SuperImpose
Name[sk]=ObrazovýModul_PrekrytieŠablónou
Name[sv]=Insticksprogram för överlagring
Name[th]=ImagePlugin_SuperImpose
Name[tr]=GörüntüEklentisi_Büyüt
Name[uk]=ImagePlugin_SuperImpose
Name[vi]=ImagePlugin_SuperImpose
Name[x-test]=xxImagePlugin_SuperImposexx
Name[zh_CN]=ImagePlugin_SuperImpose
Name[zh_TW]=影像特效_重疊

Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Template superimpose plugin for digiKam
Comment[bg]=Приставка на digiKam за налагане на снимки една върху друга
Comment[ca]=Connector pel digiKam per sobreimposar una plantilla
Comment[cs]=Modul digiKamu pro překrytí šablonou
Comment[da]=digiKam-plugin til indkopiering af skabeloner
Comment[de]=digiKam-Modul zum Überlagern mittels einer Schablone
Comment[el]=Πρόσθετο πρότυπης υπερέκθεσης για το digiKam
Comment[en_GB]=Template superimpose plugin for digiKam
Comment[es]=Complemento de digiKam para superponer una plantilla sobre la imagen
Comment[et]=DigiKami pildile malli lisamise plugin
Comment[fa]=وصلۀ افزودن قالب برای digiKam
Comment[fi]=Liittää useampia kuvia päällekäin
Comment[fr]=Module modèle de surimpression pour Digikam
Comment[gl]=Un engadido de digiKam para sobrepor modelos
Comment[he]=תוסף Digikam להצגת תמונה בתוך תבנית קיימת
Comment[hne]=डिजीकैम बर टैम्प्लेट सुपरइम्पोज प्लगइन
Comment[it]=Estensione di digiKam per la sovrapposizione di modelli
Comment[ja]=digiKam テンプレート重ね合わせプラグイン
Comment[km]=កម្មវិធី​ជំនួយខាង​លើ​ពុម្ព​សម្រាប់ digiKam
Comment[nb]=digiKam programtillegg for å legge på et mønster
Comment[nds]=digiKam-Moduul för't Vörblennen vun Vörlagen
Comment[ne]=डिजिक्यामका लागि टेम्प्लेट सुपरइम्पोज प्लगइन
Comment[nl]=Digikam-plugin voor het aanbrengen van een sjabloon op de afbeelding
Comment[pl]=Comment=Wtyczka do programu digiKam umoÅ¼liwiajÄca naÅoÅ¼enie szablonu na obraz
Comment[pt]=Um 'plugin' do digiKam para sobrepor modelos
Comment[pt_BR]=Plug-in do digiKam para sobrepor modelo
Comment[ro]=Modul digiKam de suprapunere a modelului
Comment[ru]=Модуль накладывания шаблона для digiKam
Comment[sk]=Zásuvný modul digiKam - Prekrytie fotografie šablónou
Comment[sv]=Digikam insticksprogram för överlagringsmall
Comment[th]=ส่วนเสริมของ digiKam สำหรับสร้างภาพประทับใจจากแม่แบบ
Comment[tr]=digiKam için büyütme şablonu eklentisi
Comment[uk]=Втулка шаблону накладання зображення digiKam
Comment[vi]=Bổ sung đặt biểu mẫu trên cho digiKam
Comment[x-test]=xxTemplate superimpose plugin for digiKamxx
Comment[zh_CN]=digiKam 模板叠加插件
Comment[zh_TW]=digiKam 使用的樣板重疊特效外掛程式

X-KDE-Library=digikamimageplugin_superimpose
author=Gilles Caulier, caulier dot gilles at gmail dot com
