[Desktop Entry]
Name=8 x 10" (1 photo)
Name[ca]=8 x 10" (1 foto)
Name[ca@valencia]=8 x 10" (1 foto)
Name[cs]=8 x 10" (1 fotografie)
Name[fr]=8 x 10 pouces (1 photo)
Name[nl]=8 x 10" (1 foto)
Name[pt]=8 x 10" (1 fotografia)
Name[sv]=8 x 10 tum (1 foto)
Name[uk]=8×10" (1 фотографія)
Name[x-test]=xx8 x 10" (1 photo)xx

