[Desktop Entry]
Name=9x13 cm (1 photo)
Name[ca]=9x13 cm (1 foto)
Name[ca@valencia]=9x13 cm (1 foto)
Name[cs]=9x13 cm (1 fotografie)
Name[fr]=9 x 13 cm (1 photo)
Name[nl]=9x13 cm (1 foto)
Name[pt]=9x13 cm (1 fotografia)
Name[sv]=9 x 13 cm (1 foto)
Name[uk]=9×13 см (1 фотографія)
Name[x-test]=xx9x13 cm (1 photo)xx
