[Desktop Entry]
Name=10x15 cm (1 photo)
Name[ca]=10x15 cm (1 fotografia)
Name[ca@valencia]=10x15 cm (1 fotografia)
Name[cs]=10x15 cm (1 fotografie)
Name[el]=10x15 cm (1 φωτογραφία)
Name[en_GB]=10x15 cm (1 photo)
Name[es]=10x15 cm (1 foto)
Name[fr]=10 x 15 cm (1 photo)
Name[is]=10x15 cm (1 mynd)
Name[it]=10x15 cm (1 foto)
Name[nb]=10x15 cm (1 bilde)
Name[nl]=10x15 cm (1 foto)
Name[pl]=10x15 cm (1 zdjęcie)
Name[pt]=10x15 cm (1 fotografia)
Name[ru]=10×15 см (1 фотография)
Name[sv]=10 x 15 cm (1 foto)
Name[tr]=10x15 cm (1 fotoğraf)
Name[uk]=10×15 см (1 фотографія)
Name[x-test]=xx10x15 cm (1 photo)xx
Name[zh_CN]=10x15 cm (1 张照片)

