[Desktop Entry]
Name=10.5x14.8 cm (1 photo)
Name[ca]=10.5x14.8 cm (1 foto)
Name[ca@valencia]=10.5x14.8 cm (1 foto)
Name[cs]=10.5x14.8 cm (1 fotografie)
Name[fr]=10.5 x 14.8 cm (1 photo)
Name[nl]=10.5x14.8 cm (1 foto)
Name[pt]=10,5x14,8 cm (1 fotografia)
Name[sv]=10,5 x 14,8 cm (1 foto)
Name[uk]=10,5×14,8 см (1 фото)
Name[x-test]=xx10.5x14.8 cm (1 photo)xx

