[Desktop Entry]
Name=10x15 cm (1 photo)
Name[ca]=10x15 cm (1 foto)
Name[ca@valencia]=10x15 cm (1 foto)
Name[cs]=10x15 cm (1 fotografie)
Name[fr]=10 x 15 cm (1 photo)
Name[nl]=10x15 cm (1 foto)
Name[pt]=10x15 cm (1 fotografia)
Name[sv]=10 x 15 cm (1 foto)
Name[uk]=10×15 см (1 фотографія)
Name[x-test]=xx10x15 cm (1 photo)xx

