[Desktop Entry]
Name=20x25 cm (1 photo)
Name[ca]=20x25 cm (1 foto)
Name[ca@valencia]=20x25 cm (1 foto)
Name[cs]=20x25 cm (1 fotografie)
Name[fr]=20 x 25 cm (1 photo)
Name[nl]=20x25 cm (1 foto)
Name[pt]=20x25 cm (1 fotografia)
Name[sv]=20 x 25 cm (1 foto)
Name[uk]=20×25 см (1 фотографія)
Name[x-test]=xx20x25 cm (1 photo)xx

