[Desktop Entry]
Name=20x25 cm (1 photo)
Name[ca]=20x25 cm (1 fotografia)
Name[ca@valencia]=20x25 cm (1 fotografia)
Name[cs]=20x25 cm (1 fotografie)
Name[el]=20x25 cm (1 φωτογραφία)
Name[en_GB]=20x25 cm (1 photo)
Name[es]=20x25 cm (1 foto)
Name[fr]=20 x 25 cm (1 photo)
Name[is]=20x25 cm (1 mynd)
Name[it]=20x25 cm (1 foto)
Name[nb]=20x25 cm (1 bilde)
Name[nl]=20x25 cm (1 foto)
Name[pl]=20x25 cm (1 zdjęcie)
Name[pt]=20x25 cm (1 fotografia)
Name[ru]=20×25 см (1 фотография)
Name[sv]=20 x 25 cm (1 foto)
Name[tr]=20x25 cm (1 fotoğraf)
Name[uk]=20×25 см (1 фотографія)
Name[x-test]=xx20x25 cm (1 photo)xx
Name[zh_CN]=20x25 cm (1 张照片)

