[Desktop Entry]
Name=10.5x14.8 cm (1 photo)
Name[ca]=10.5x14.8 cm (1 fotografia)
Name[ca@valencia]=10.5x14.8 cm (1 fotografia)
Name[cs]=10.5x14.8 cm (1 fotografie)
Name[el]=10.5x14.8 cm (1 φωτογραφία)
Name[en_GB]=10.5x14.8 cm (1 photo)
Name[es]=10,5x14,8 cm (1 foto)
Name[fr]=10.5 x 14.8 cm (1 photo)
Name[is]=10.5x14.8 cm (1 mynd)
Name[it]=10,5x14,8 cm (1 foto)
Name[nb]=10.5x14.8 cm (1 bilde)
Name[nl]=10.5x14.8 cm (1 foto)
Name[pl]=10.5x14.8 cm (1 zdjęcie)
Name[pt]=10,5x14,8 cm (1 fotografia)
Name[ru]=10,5×14,8 см (1 фотография)
Name[sv]=10,5 x 14,8 cm (1 foto)
Name[tr]=10.5x14.8 cm (1 fotoğraf)
Name[uk]=10,5×14,8 см (1 фото)
Name[x-test]=xx10.5x14.8 cm (1 photo)xx
Name[zh_CN]=10.5x14.8 cm (1 张照片)

