[Desktop Entry]
Name=13x18 cm (2 photos)
Name[ca]=13x18 cm (2 fotos)
Name[ca@valencia]=13x18 cm (2 fotos)
Name[cs]=13x18 cm (2 fotografie)
Name[fr]=13 x 18 cm (2 photos)
Name[nl]=13x18 cm (2 foto's)
Name[pt]=13x18 cm (2 fotografias)
Name[sv]=13 x 18 cm (2 foton)
Name[uk]=13×18 см (2 фотографії)
Name[x-test]=xx13x18 cm (2 photos)xx

