[Desktop Entry]
Name=5 x 7" (2 photos)
Name[ca]=5 x 7" (2 fotos)
Name[ca@valencia]=5 x 7" (2 fotos)
Name[cs]=5 x 7" (2 fotografie)
Name[fr]=5 x 7 pouces (2 photos)
Name[nl]=5 x 7" (2 foto's)
Name[pt]=5 x 7" (2 fotografias)
Name[sv]=5 x 7 tum (2 foton)
Name[uk]=5×7" (2 фотографії)
Name[x-test]=xx5 x 7" (2 photos)xx

