[Desktop Entry]
Name=4 x 6" (3 photos)
Name[ca]=4 x 6" (3 fotos)
Name[ca@valencia]=4 x 6" (3 fotos)
Name[cs]=4 x 6" (3 fotografie)
Name[fr]=4 x 6 pouces (3 photos)
Name[nl]=4 x 6" (3 foto's)
Name[pt]=4 x 6" (3 fotografias)
Name[sv]=4 x 6 tum (3 foton)
Name[uk]=4×6" (3 фотографії)
Name[x-test]=xx4 x 6" (3 photos)xx

