[Desktop Entry]
Name=10x15 cm (3 photos)
Name[ca]=10x15 cm (3 fotos)
Name[ca@valencia]=10x15 cm (3 fotos)
Name[cs]=10x15 cm (3 fotografie)
Name[fr]=10 x 15 cm (3 photos)
Name[nl]=10x15 cm (3 foto's)
Name[pt]=10x15 cm (3 fotografias)
Name[sv]=10 x 15 cm (3 foton)
Name[uk]=10×15 см (3 фотографії)
Name[x-test]=xx10x15 cm (3 photos)xx

