[Desktop Entry]
Name=10x15 cm (3 photos)
Name[ca]=10x15 cm (3 fotografies)
Name[ca@valencia]=10x15 cm (3 fotografies)
Name[cs]=10x15 cm (3 fotografie)
Name[el]=10x15 cm (3 φωτογραφίες)
Name[en_GB]=10x15 cm (3 photos)
Name[es]=10x15 cm (3 fotos)
Name[fr]=10 x 15 cm (3 photos)
Name[is]=10x15 cm (3 myndir)
Name[it]=10x15 cm (3 foto)
Name[nb]=10x15 cm (3 bilder)
Name[nl]=10x15 cm (3 foto's)
Name[pl]=10x15 cm (3 zdjęcia)
Name[pt]=10x15 cm (3 fotografias)
Name[ru]=10×15 см (3 фотографии)
Name[sv]=10 x 15 cm (3 foton)
Name[tr]=10x15 cm (3 fotoğraf)
Name[uk]=10×15 см (3 фотографії)
Name[x-test]=xx10x15 cm (3 photos)xx
Name[zh_CN]=10x15 cm (3 张照片)

