[Desktop Entry]
Name=Passport photos - 4.5x5cm (4 photos)
Name[ca]=Fotos de passaport - 4,5x5cm (4 fotos)
Name[ca@valencia]=Fotos de passaport - 4,5x5cm (4 fotos)
Name[cs]=Fotografie na pas - 4.5x5cm (4 fotografie)
Name[fr]=Photographies pour passeport - 4.5 x 5 cm (4 photos)
Name[nl]=Paspoortfoto's - 4.5x5cm (4 foto's)
Name[pt]=Fotografias de passaporte - 4.5x5cm (4 fotografias)
Name[sv]=Passfoton - 4,5 x 5 cm (4 foton)
Name[uk]=Фотографії для паспорта — 4,5×5 см (4 фотографії)
Name[x-test]=xxPassport photos - 4.5x5cm (4 photos)xx

