[Desktop Entry]
Name=10x13.33 cm (4 photos)
Name[ca]=10x13,33 cm (4 fotos)
Name[ca@valencia]=10x13,33 cm (4 fotos)
Name[cs]=10x13.33 cm (4 fotografie)
Name[fr]=10 x 13.33 cm (4 photos)
Name[nl]=10x13.33 cm (4 foto's)
Name[pt]=10x13,33 cm (4 fotografias)
Name[sv]=10 x 13,33 cm (4 foton)
Name[uk]=10×13,33 см (4 фотографії)
Name[x-test]=xx10x13.33 cm (4 photos)xx

