[Desktop Entry]
Name=9x13 cm (4 photos)
Name[ca]=9x13 cm (4 fotos)
Name[ca@valencia]=9x13 cm (4 fotos)
Name[cs]=9x13 cm (4 fotografie)
Name[fr]=9 x 13 cm (4 photos)
Name[nl]=9x13 cm (4 foto's)
Name[pt]=9x13 cm (4 fotografias)
Name[sv]=9 x 13 cm (4 foton)
Name[uk]=9×13 см (4 фотографій)
Name[x-test]=xx9x13 cm (4 photos)xx
