[Desktop Entry]
Name=3.5 x 5" (4 photos)
Name[ca]=3,5 x 5" (4 fotos)
Name[ca@valencia]=3,5 x 5" (4 fotos)
Name[cs]=3.5 x 5" (4 fotografie)
Name[fr]=3.5 x 5 pouces (4 photos)
Name[nl]=3.5 x 5" (4 foto's)
Name[pt]=3,5 x 5" (4 fotografias)
Name[sv]=3,5 x 5 tum (4 foton)
Name[uk]=3,5×5" (4 фотографії)
Name[x-test]=xx3.5 x 5" (4 photos)xx

