[Desktop Entry]
Name=3.5 x 5" (4 photos)
Name[ca]=3,5 x 5" (4 fotografies)
Name[ca@valencia]=3,5 x 5" (4 fotografies)
Name[cs]=3.5 x 5" (4 fotografie)
Name[el]=3.5 x 5" (4 φωτογραφίες)
Name[en_GB]=3.5 x 5" (4 photos)
Name[es]=3,5x5" (4 fotos)
Name[fr]=3.5 x 5 pouces (4 photos)
Name[is]=3.5 x 5" (4 myndir)
Name[it]=3.5 x 5" (4 foto)
Name[nb]=3.5 x 5" (4 bilder)
Name[nl]=3.5 x 5" (4 foto's)
Name[pl]=3.5 x 5" (4 zdjęcia)
Name[pt]=3,5 x 5" (4 fotografias)
Name[ru]=3,5×5 дюймов (4 фотографии)
Name[sv]=3,5 x 5 tum (4 foton)
Name[tr]=3.5 x 5" (4 fotoğraf)
Name[uk]=3,5×5" (4 фотографії)
Name[x-test]=xx3.5 x 5" (4 photos)xx
Name[zh_CN]=3.5 x 5" (4 张照片)

