[Desktop Entry]
Name=4 x 6" Album
Name[ca]=Àlbum de 4 x 6"
Name[ca@valencia]=Àlbum de 4 x 6"
Name[cs]=4 x 6" Album
Name[fr]=Album 4 x 6 pouces
Name[nl]=4 x 6" Album
Name[pt]=Álbum de 4 x 6"
Name[sv]=4 x 6 tum album
Name[uk]=4×6" альбом
Name[x-test]=xx4 x 6" Albumxx

