[Desktop Entry]
Name=Passport photos UK - 3.5x4.5cm (6 photos)
Name[ca]=Fotografies de passaport del Regne Unit - 3,5x4,5cm (6 fotografies)
Name[ca@valencia]=Fotografies de passaport del Regne Unit - 3,5x4,5cm (6 fotografies)
Name[cs]=Fotografie na pas - 3,5x4,5cm (6 fotografií)
Name[el]=Φωτογραφίες διαβατηρίου UK - 3.5x4.5cm (6 φωτογραφίες)
Name[en_GB]=Passport photos UK - 3.5x4.5cm (6 photos)
Name[es]=Fotos de pasaporte Reino Unido - 3,5x4,5 cm (6 fotos)
Name[fr]=Photographies pour passeport anglais - 3.5 x 4 cm (6 photos)
Name[is]=Passamyndir - 3.5x4.5cm (6 myndir)
Name[it]=Passaporto UK - 3.5x4.5cm (6 foto)
Name[nb]=Passbilder UK – 3,5×4 cm (6 bilder)
Name[nl]=Paspoort foto's in UK - 3.5x4cm (6 foto's)
Name[pl]=Zdjęcia paszportowe (UK) - 3.5x4.5cm (6 zdjęć)
Name[pt]=Fotografias de passaporte da GB - 3,5x4,5cm (6 fotografias)
Name[ru]=Фотографии на паспорт Великобритании 3,5×4,5 см (6 фотографий)
Name[sv]=Passfoton Storbritannien - 3,5 x 4,5 cm (6 foton)
Name[tr]=Pasaport fotoğrafları Birleşik Krallık - 3.5x4.5cm (6 fotoğraf)
Name[uk]=Фотографії для паспорта — 3,5×4,5 см (6 фотографій)
Name[x-test]=xxPassport photos UK - 3.5x4.5cm (6 photos)xx
