[Desktop Entry]
Name=Passport photos UK - 3.5x4.5cm (6 photos)
Name[ca]=Fotos de passaport del Regne Unit - 3,5x4,5cm (6 fotos)
Name[ca@valencia]=Fotos de passaport del Regne Unit - 3,5x4,5cm (6 fotos)
Name[cs]=Fotografie na pas - 3,5x4,5cm (6 fotografií)
Name[fr]=Photographies pour passeport anglais - 3.5 x 4 cm (6 photos)
Name[nl]=Paspoort foto's in UK - 3.5x4cm (6 foto's)
Name[pt]=Fotografias de passaporte da GB - 3,5x4,5cm (6 fotografias)
Name[sv]=Passfoton Storbritannien - 3,5 x 4,5 cm (6 foton)
Name[uk]=Фотографії для паспорта — 3,5×4,5 см (6 фотографій)
Name[x-test]=xxPassport photos UK - 3.5x4.5cm (6 photos)xx
