[Desktop Entry]
Name=6x9 cm (8 photos)
Name[ca]=6x9 cm (8 fotografies)
Name[ca@valencia]=6x9 cm (8 fotografies)
Name[cs]=6x9 cm (8 fotografií)
Name[el]=x9 cm (8 φωτογραφίες)
Name[en_GB]=6x9 cm (8 photos)
Name[es]=6x9 cm (8 fotos)
Name[fr]=6 x 9 cm (8 photos)
Name[is]=6x9 cm (8 myndir)
Name[it]=6x9 cm (8 foto)
Name[nb]=6x9 cm (8 bilder)
Name[nl]=6x9 cm (8 foto's)
Name[pl]=6x9 cm (8 zdjęć)
Name[pt]=6x9 cm (8 fotografias)
Name[ru]=6×9 см (8 фотографий)
Name[sv]=6 x 9 cm (8 foton)
Name[tr]=6x9cm (8 fotoğraf)
Name[uk]=6×9 см (8 фотографій)
Name[x-test]=xx6x9 cm (8 photos)xx
Name[zh_CN]=6x9 cm (8 张照片)

