[Desktop Entry]
Name=6x9 cm (8 photos)
Name[ca]=6x9 cm (8 fotos)
Name[ca@valencia]=6x9 cm (8 fotos)
Name[cs]=6x9 cm (8 fotografií)
Name[fr]=6 x 9 cm (8 photos)
Name[nl]=6x9 cm (8 foto's)
Name[pt]=6x9 cm (8 fotografias)
Name[sv]=6 x 9 cm (8 foton)
Name[uk]=6×9 см (8 фотографій)
Name[x-test]=xx6x9 cm (8 photos)xx

