[Desktop Entry]
Name=Album Collage 1 (9 photos)
Name[ca]=Collage d'àlbum 1 (9 fotografies)
Name[ca@valencia]=Collage d'àlbum 1 (9 fotografies)
Name[cs]=Koláž alba 1 (9 fotografií)
Name[el]=Κολάζ άλμπουμ 1 (9 φωτογραφίες)
Name[en_GB]=Album Collage 1 (9 photos)
Name[es]=Collage de álbum 1 (9 fotos)
Name[fr]=Collage d'album 1 (9 photos)
Name[is]=Albúmsuppsetning 1 (9 myndir)
Name[it]=Album Collage 1 (9 foto)
Name[nb]=Albumkollasje 1 (9 bilder)
Name[nl]=Albumverzameling 1 (9 foto's)
Name[pl]=Album Kolażu 1 (9 zdjęć)
Name[pt]=Colagem de Álbum 1 (9 fotografias)
Name[ru]=Коллаж 1 (9 фотографий)
Name[sv]=Albumkollage 1 (9 foton)
Name[tr]=Albüm Kolajı 1 (9 fotoğraf)
Name[uk]=Альбомний колаж 1 (9 фотографій)
Name[x-test]=xxAlbum Collage 1 (9 photos)xx
Name[zh_CN]=相册拼贴 1 (9 张照片)

