[Desktop Entry]
Name=10x15 cm Album
Name[ca]=Àlbum de 10x15 cm
Name[ca@valencia]=Àlbum de 10x15 cm
Name[cs]=10x15 cm Album
Name[es]=Álbum 10x15 cm
Name[fr]=Album 10 x 15 cm
Name[nb]=10x15 cm Album
Name[nl]=10x15 cm Album
Name[pl]=10x15 cm Album
Name[pt]=Álbum de 10x15 cm
Name[sv]=10 x 15 cm album
Name[uk]=10×15 см альбом
Name[x-test]=xx10x15 cm Albumxx
Name[zh_CN]=10x15 cm 相册

