[Desktop Entry]
Name=Album Collage 1 (9 photos)
Name[ca]=Collage d'àlbum 1 (9 fotos)
Name[ca@valencia]=Collage d'àlbum 1 (9 fotos)
Name[cs]=Koláž alba 1 (9 fotografií)
Name[fr]=Collage d'album 1 (9 photos)
Name[nl]=Albumverzameling 1 (9 foto's)
Name[pt]=Colagem de Álbum 1 (9 fotografias)
Name[sv]=Albumkollage 1 (9 foton)
Name[uk]=Альбомний колаж 1 (9 фотографій)
Name[x-test]=xxAlbum Collage 1 (9 photos)xx

