[Desktop Entry]
Name=11.5x15 cm Album
Name[ca]=Àlbum de 11,5x15 cm
Name[ca@valencia]=Àlbum de 11,5x15 cm
Name[cs]=11.5x15 cm Album
Name[fr]=Album 11.5 x 15 cm
Name[nl]=11,5x15 cm Album
Name[pt]=Álbum de 11,5x15 cm
Name[sv]=11,5 x 15 cm album
Name[uk]=11,5×15 см альбом
Name[x-test]=xx11.5x15 cm Albumxx

