[Desktop Entry]
Name=Album Collage 2 (6 photos)
Name[ca]=Collage d'àlbum 2 (6 fotos)
Name[ca@valencia]=Collage d'àlbum 2 (6 fotos)
Name[cs]=Koláž alb 2 (6 fotografií)
Name[fr]=Collage d'album 2 (6 photos)
Name[nl]=Albumverzameling 2 (6 foto's)
Name[pt]=Colagem de Álbum 2 (6 fotografias)
Name[sv]=Albumkollage 2 (6 foton)
Name[uk]=Альбомний колаж 2 (6 фотографій)
Name[x-test]=xxAlbum Collage 2 (6 photos)xx

