[Desktop Entry]
Name=Full page
Name[ca]=Pàgina sencera
Name[ca@valencia]=Pàgina sencera
Name[cs]=Celá stránka
Name[el]=Πλήρης σελίδα
Name[en_GB]=Full page
Name[es]=Página completa
Name[fr]=Page entière
Name[is]=Heilsíða
Name[it]=Pagina intera
Name[nb]=Helside
Name[nl]=Volledige pagina
Name[pl]=Pełna strona
Name[pt]=Página completa
Name[ru]=Фотография на всю страницу
Name[sv]=Hel sida
Name[tr]=Tam sayfa
Name[uk]=Вся сторінка
Name[x-test]=xxFull pagexx
Name[zh_CN]=整页

