[Desktop Entry]
Name=Full page
Name[ca]=Pàgina sencera
Name[ca@valencia]=Pàgina sencera
Name[cs]=Celá stránka
Name[fr]=Page entière
Name[nl]=Volledige pagina
Name[pt]=Página completa
Name[sv]=Hel sida
Name[uk]=Вся сторінка
Name[x-test]=xxFull pagexx

