[Desktop Entry]
Name=Photoframe (5 photos)
Name[ca]=Marc de fotos (5 fotos)
Name[ca@valencia]=Marc de fotos (5 fotos)
Name[cs]=Foto-rámečky (5 fotografií)
Name[fr]=Cadre photo (5 photos)
Name[nl]=Fotoframe (5 foto's)
Name[pt]=Moldura fotográfica (5 fotografias)
Name[sv]=Fotoram (5 foton)
Name[uk]=Фотонабір (5 фотографій)
Name[x-test]=xxPhotoframe (5 photos)xx

