[Desktop Entry]
Name=Thumbnails 6x5 photos
Name[ca]=Fotografies 6x5 miniatures
Name[ca@valencia]=Fotografies 6x5 miniatures
Name[cs]=Náhledy - 6x5 fotografií
Name[el]=Προεπισκόπηση 6x5 φωτογραφίες
Name[en_GB]=Thumbnails 6x5 photos
Name[es]=Miniaturas 6x5 fotos
Name[fr]=Photos en vignette 6 x 5
Name[is]=Smámyndir 6x5 myndir
Name[it]=Miniature 6x5
Name[nb]=Miniatyrer 6×5 bilder
Name[nl]=Miniaturen 6x5 foto's
Name[pl]=Miniaturki 6x5 zdjęć
Name[pt]=6x5 fotografias em miniatura
Name[ru]=Миниатюры (6×5 штук)
Name[sv]=Miniatyrbilder 6 x 5 foton
Name[tr]=6x5 küçük resimler
Name[uk]=Мініатюри фотографій 6x5
Name[x-test]=xxThumbnails 6x5 photosxx
Name[zh_CN]=缩略图 6x5 照片

