[Desktop Entry]
Name=Thumbnails 5x4 photos
Name[ca]=Fotos 5x4 miniatures
Name[ca@valencia]=Fotos 5x4 miniatures
Name[cs]=Náhledy - 5x4 fotografie
Name[fr]=Photos en vignettes 5 x 4
Name[nl]=Miniaturen 5x4 foto's
Name[pt]=5x4 fotografias em miniatura
Name[sv]=Miniatyrbilder 5 x 4 foton
Name[uk]=Мініатюри фотографій 5x4
Name[x-test]=xxThumbnails 5x4 photosxx

