[Desktop Entry]
Name=Thumbnails 6x5 photos
Name[ca]=Fotos 6x5 miniatures
Name[ca@valencia]=Fotos 6x5 miniatures
Name[cs]=Náhledy - 6x5 fotografií
Name[fr]=Photos en vignette 6 x 5
Name[nl]=Miniaturen 6x5 foto's
Name[pt]=6x5 fotografias em miniatura
Name[sv]=Miniatyrbilder 6 x 5 foton
Name[uk]=Мініатюри фотографій 6x5
Name[x-test]=xxThumbnails 6x5 photosxx

