[Desktop Entry]
Name=ImagePlugin_Solarize
Name[bg]=Приставка за снимки - Преекспониране
Name[da]=Billedplugin_Solarisér
Name[el]=ΠρόσθετοΕικόνας_ΗλιακήςΈκθεσης
Name[en_GB]=ImagePlugin_Solarise
Name[gl]=ImagePlugin_Solarice
Name[hr]=Solarizacija
Name[it]=PluginImmagini_Solarizza
Name[nl]=Afbeeldingsplugin_Solarizeren
Name[pt_BR]=Plug-in de efeito de solarização
Name[sr]=Осунчавање
Name[sr@Latn]=Osunčavanje
Name[sv]=Insticksprogram för solarisering
Name[ta]=பிம்பசொருகுப்பொருள்_சாலரைஸ்
Name[tr]=ResimEklentisi_Soldurma
Name[xx]=xxImagePlugin_Solarizexx
Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=Image solarize effect plugin for digiKam
Comment[bg]=Приставка на digiKam за преекспониране на снимки
Comment[ca]=Connector pel digiKam d'efecte de solarització
Comment[da]=Solariseringsreffekt-plugin for Digikam
Comment[de]=digiKam-Modul zum Erzeugen eines Solarisierungseffektes
Comment[el]=Πρόσθετο εφέ ηλιακής έκθεσης εικόνας για το digiKam
Comment[en_GB]=Image solarise effect plugin for digiKam
Comment[es]=Plugin de efecto de solarización de imágenes para digiKam
Comment[et]=DigiKami ülesärituse pildiefektiplugin
Comment[fr]=Module externe pour ajouter un effet de solarisation dans une image
Comment[gl]=Un plugin de digiKam para solarizar a imaxe
Comment[hr]=digiKam dodatak za efekt solarizacije
Comment[is]=Íforrit fyrir digiKam sem líkir eftir kemískum "solarize" áhrifum
Comment[it]=Plugin di effetto di solarizzazione delle immagini per digiKam
Comment[ja]=digiKam フィルム感光効果プラグイン
Comment[ms]=Plugin kesan imej solarize untuk digiKam
Comment[nl]=Digikam-plugin voor solarizeereffecten
Comment[pl]=Wtyczka do programu digiKam oferująca efekt nasłonecznienia obrazu
Comment[pt]=Um 'plugin' do digiKam para solarizar a imagem
Comment[pt_BR]=Plug-in de efeitos de solarização (sol) em imagens para o digiKam
Comment[sk]=digiKam plugin pre efekt solarizácie
Comment[sr]=digiKam-ов прикључак за ефекат осунчавања слика
Comment[sr@Latn]=digiKam-ov priključak za efekat osunčavanja slika
Comment[sv]=Digikam insticksprogram för att solarisera bild
Comment[ta]=டிஜிகாமிற்கான பிம்ப கறுப்பாக்கும் விளைவு சொருகுப்பொருள்
Comment[tr]=digiKam için resim soldurma etkisi eklentisi
Comment[uk]=Втулок створення ефекту перетриманої фотографії для digiKam
Comment[vi]=Bổ sung hiệu ứng làm cho mặt trời ảnh cho digiKam
Comment[xx]=xxImage solarize effect plugin for digiKamxx

X-KDE-Library=digikamimageplugin_solarize
author=Renchi Raju, renchi@pooh.tam.uiuc.edu
