[Desktop Entry]
Name=ImagePlugin_Texture
Name[bg]=Приставка за снимки - Текстури
Name[el]=ΠρόσθετοΕικόνας_Υφή
Name[hr]=Tekstura
Name[it]=PluginImmagini_Trama
Name[nl]=Afbeeldingsplugin_Textuur
Name[pt_BR]=Plug-in de textura
Name[sr]=Текстуре
Name[sr@Latn]=Teksture
Name[sv]=Insticksprogram för struktur
Name[tr]=ResimEklentisi_Doku
Name[xx]=xxImagePlugin_Texturexx

Type=Service
ServiceTypes=Digikam/ImagePlugin
Encoding=UTF-8
Comment=digiKam plugin to apply texture on image
Comment[bg]=Приставка на digiKam за добавяне на текстури към снимки
Comment[da]=digiKam-plugin til at anvende tekstur på billedet
Comment[de]=digiKam-Modul zum Hinzufügen einer Textur zu einem Bild
Comment[el]=Πρόσθετο εφαρμογής υφής σε εικόνα για το digiKam
Comment[es]=Plugin de digiKam para aplicar una textura sobre una imagen
Comment[et]=DigiKami pildile tekstuuri lisamise plugin
Comment[fr]=Module externe pour appliquer une texture à une image
Comment[gl]=Un plugin de digiKam para aplicar unha textura nunha imaxe
Comment[hr]=digiKam dodatak za primjenu teksture u slici
Comment[it]=Plugin di digiKam per applicare una trama su un'immagine
Comment[ja]=digiKam テクスチャ適用プラグイン
Comment[ka]=გამოსახულებაზე ტექტურის დადების მოდული  digiKam-თვის
Comment[nl]=digiKam-pluin voor het toepassen van textuur op een afbeelding
Comment[pa]=ਚਿੱਤਰ ਉੱਤੇ ਪਾਠ ਲਿਖਣ ਲਈ ਡਿਜ਼ੀਕੈਮ ਪਲੱਗਿੰਨ
Comment[pl]=Wtyczka do programu digiKam pozwalająca na nakładanie tekstury na obraz
Comment[pt]=Um 'plugin' do digiKam para aplicar uma textura numa imagem
Comment[pt_BR]=Plug-in de aplicação de textura em imagens para o digiKam
Comment[ru]=Модуль digiKam для наложения текстур на изображение
Comment[sr]=digiKam-ов прикључак за додавање текстура у слику
Comment[sr@Latn]=digiKam-ov priključak za dodavanje tekstura u sliku
Comment[sv]=Digikam insticksprogram för att lägga till struktur på en bild
Comment[tr]=Bir resme doku eklemek için digiKam eklentisi
Comment[xx]=xxdigiKam plugin to apply texture on imagexx
Comment[zh_CN]=对图像应用纹理的 digiKam 插件

X-KDE-Library=digikamimageplugin_texture
author=Gilles Caulier, caulier dot gilles at free dot fr
