<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui version="6" name="digikamimageplugin_texture" >

 <MenuBar>

  <Menu name="Decorate" ><text>&amp;Decorate</text>
   <Action name="imageplugin_texture" />
  </Menu>

 </MenuBar>

 <ToolBar name="mainToolBar" >
  <text>Main Toolbar</text>
 </ToolBar>

 <ActionProperties>
  <Action shortcut="" name="imageplugin_texture" />
 </ActionProperties>

</gui>
