[Desktop Entry]
Name=Snow
Name[ca]=Neu
Name[ca@valencia]=Neu
Name[cs]=Sníh
Name[es]=Nieve
Name[it]=Neve
Name[nl]=Sneeuw
Name[nn]=Snø
Name[pt]=Neve
Name[sv]=Snö
Name[uk]=Сніг
Name[x-test]=xxSnowxx
Comment=A perfect match for your mountain holidays
Comment[ca]=Una coincidència perfecta per a les vostres vacances de muntanya
Comment[ca@valencia]=Una coincidència perfecta per a les vostres vacances de muntanya
Comment[cs]=Perfektně odpovídá vaší dovolené na horách
Comment[es]=Una pareja perfecta para las vacaciones en la montaña
Comment[it]=La scelta perfetta per le tue vacanze in montagna
Comment[nl]=Perfect voor uw skivakanties
Comment[nn]=Passar perfekt til vinterbilete
Comment[pt]=Uma correspondência perfeita às suas férias na montanha
Comment[sv]=En perfekt matchning till fjällsemestern
Comment[uk]=Прекрасно пасує до вашої відпустки в горах
Comment[x-test]=xxA perfect match for your mountain holidaysxx

[X-HTMLExport Author]
Name=Aurélien Gâteau
Name[ca]=Aurélien Gâteau
Name[ca@valencia]=Aurélien Gâteau
Name[cs]=Aurélien Gâteau
Name[es]=Aurélien Gâteau
Name[it]=Aurélien Gâteau
Name[nl]=Aurélien Gâteau
Name[nn]=Aurélien Gâteau
Name[pt]=Aurélien Gâteau
Name[sv]=Aurélien Gâteau
Name[uk]=Aurélien Gâteau
Name[x-test]=xxAurélien Gâteauxx
Url=mailto:aurelien.gateau@free.fr

[X-HTMLExport Preview]
Name=Snow
Name[ca]=Neu
Name[ca@valencia]=Neu
Name[cs]=Sníh
Name[es]=Nieve
Name[it]=Neve
Name[nl]=Sneeuw
Name[nn]=Snø
Name[pt]=Neve
Name[sv]=Snö
Name[uk]=Сніг
Name[x-test]=xxSnowxx
Url=preview.png
